<section id="noticias-main-container" class="pr pt-141">
  <div id="noticias-content-container">
    <div class="noticias-data dfr">
      <!-- Detail Post Card -->
      <div class="card sticky-action" style="width: calc(100% - 430px);">
        <div class="card-header card-content">
          <div class="card-date">
            <div class="card-day">
              <span>{{ post?.created_at | date: "dd" }}</span>
            </div>
            <div class="card-month">
              <span>{{ post?.created_at | date: "MMM" }}</span>
            </div>
          </div>
          <div class="card-title-new">
            <span class="card-title">{{ post?.title }}</span>
            <span class="card-autor"
              >{{ post?.user?.firstName }} {{ post?.user?.lastName }}</span
            >
          </div>
        </div>
        <div
          class="card-body-container card-body card-content grey lighten-4 dfc"
        >
          <div class="card-data">
            <div
              class="card-img centered-img-bg card-image waves-effect waves-block waves-light"
            >
              <img [src]="post?.img | img: 'post':true" />
            </div>
            <span class="card-data-container">
              <span class="card-information" [innerHTML]="post?.content"></span>
              <span
                *ngIf="post?.external_sources"
                class="card-external-sources"
              >
                {{ post?.external_sources }}
              </span>
            </span>
          </div>
        </div>
        <div class="card-footer card-action">
          <div class="card-show-more">
            <a
              class="btn-news waves-effect waves-light btn gradient-45deg-dark-blue"
              (click)="goBack()"
            >
              <i class="material-icons">reply</i>
              <span>Regresar</span>
            </a>
          </div>
          <div class="card-social-network">
            <div class="like">
              <a>
                <i class="waves-effect material-icons new-like">thumb_up</i>
                <span>201</span>
              </a>
            </div>
            <div class="dislike">
              <a>
                <i class="waves-effect material-icons new-dislike"
                  >thumb_down</i
                >
                <span style="margin-top: -5px;">23</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Last Posts Card -->
      <div class="card sticky-action" style="width: 400px; margin-left: 30px;">
        <div class="card-header last-articles-title card-content">
          <span>Últimos Artículos</span>
        </div>
        <div
          class="card-body last-article-body card-content grey lighten-4 dfc"
        >
          <!-- Last Articles List -->
          <div class="card-data-container dfc">
            <div *ngFor="let post of lastposts" class="article-container dfr">
              <a
                class="article-content dfr"
                [routerLink]="['/articulo-detalle', post._id]"
              >
                <div class="last-article-img centered-img-bg">
                  <img
                    [src]="post?.img | img: 'post':false"
                    [alt]="post?.title"
                  />
                </div>
                <div class="last-article-data dfc">
                  <div class="last-article-name">
                    <span>{{ post?.title }}</span>
                  </div>
                  <div class="last-article-author">
                    <span
                      >{{ post?.user?.firstName }}
                      {{ post?.user?.lastName }}</span
                    >
                  </div>
                  <div class="last-article-rm dfr">
                    <span>Leer más</span>

                    <i class="material-icons">chevron_right</i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="card-footer card-action"></div>
      </div>
    </div>

    <!-- Comments Card -->
    <div class="col s12 m7" id="comments-box">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="comment-card-header card-content">
            <div class="comments-number"><span>120 Comentarios</span></div>
            <div class="filter-comments"><span>Filtrar Comentarios</span></div>
          </div>
          <div class="card-comment card-content">
            <div
              class="card-comment-content dfr"
              style="align-items: flex-start;"
            >
              <div class="user-icon">
                <img src="../../../assets/images/user.jpg" />
              </div>
              <div class="input-field col s12">
                <input
                  id="comment"
                  name="comment"
                  type="text"
                  required
                  [readonly]="!this._usersS.isLogged()"
                  (click)="
                    this._usersS.isLogged() ? showCommentButtons() : showM()
                  "
                />
                <label class="comment-label" for="comment"
                  >Agregar comentario</label
                >
              </div>
            </div>
            <div class="comment-buttons">
              <button
                class="cancel-comment waves-effect waves-light orange darken-1 btn"
                type="submit"
              >
                Cancelar
              </button>
              <button
                class="send-comment waves-effect waves-light btn gradient-45deg-dark-blue"
                type="submit"
                [class.button.disabled]
              >
                Comentar
              </button>
            </div>
          </div>
          <!-- Comments Card Content -->
          <app-comments></app-comments>
        </div>
      </div>
    </div>
  </div>
</section>
