<ul class="contact-list display-grid">
  <li class="sidebar-title">Filtros</li>
  <li class="active" id="all-users">
    <a class="text-sub"
      ><i class="material-icons mr-2">
        perm_identity
      </i>
      Todos los Usuarios</a
    >
  </li>
  <li id="frequent-users">
    <a class="text-sub"
      ><i class="material-icons mr-2"> history </i> Frecuentes</a
    >
  </li>
  <li id="featured-users">
    <a class="text-sub"
      ><i class="material-icons mr-2"> star_border </i> Usuarios Destacados</a
    >
  </li>
  <li class="sidebar-title">Rol</li>
  <li id="admin-users">
    <a class="text-sub"
      ><i class="purple-text material-icons small-icons mr-2">
        fiber_manual_record
      </i>
      Administrador</a
    >
  </li>
  <li id="client-users">
    <a class="text-sub"
      ><i class="amber-text material-icons small-icons mr-2">
        fiber_manual_record
      </i>
      Cliente</a
    >
  </li>
  <li id="normal-users">
    <a class="text-sub"
      ><i class="light-green-text material-icons small-icons mr-2">
        fiber_manual_record
      </i>
      Normal</a
    >
  </li>
</ul>
