<div class="profile-container dfr">
  <perfect-scrollbar
    class="scroll-container"
    fxFlex="auto"
    [config]="config"
    [scrollIndicators]="false"
  >
    <div class="scrollable-content dfr">
      <div class="profile-personal-data-container profile-card dfc">
        <div class="profile-data-header dfr">
          <i class="fas fa-user-circle big-icon"></i>
          <span>Imágen de perfil</span>
        </div>
        <div
          class="profile-image-container"
          matTooltip="Cambiar imagen de perfil"
          matTooltipPosition="below"
        >
          <div
            class="profile-image-fake-bg"
            (click)="userProfileAdminImg.click()"
          ></div>
          <div class="profile-image centered-img-bg">
            <img [src]="this._usersS.user.img | img: 'user'" />
          </div>
          <div
            class="profile-image-upload dfc"
            [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
            (click)="userProfileAdminImg.click()"
          >
            <i
              class="material-icons"
              [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
              >camera_alt</i
            >
            <input
              #userProfileAdminImg
              type="file"
              ng2FileSelect
              [uploader]="this._cloudinaryS.uploader"
              style="display: none"
              accept="image/png, image/jpg, image/jpeg"
              (onFileSelected)="this.onFileSelected($event)"
            />
          </div>
        </div>
      </div>
      <div class="profile-data-inputs-container dfc">
        <form ngNativeValidate #fAdmin="ngForm" class="col s12">
          <div class="profile-data-inputs-content profile-card dfc">
            <div class="profile-data-header dfr">
              <i class="fas fa-user-edit"></i>
              <span>Información personal</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminFirstName"
                    name="adminFirstName"
                    [ngModel]="user?.firstName"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Nombre(s)*
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminLastName"
                    name="adminLastName"
                    [ngModel]="user?.lastName"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Apellidos*
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminEmail"
                    name="adminEmail"
                    [ngModel]="user?.email"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Email*
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminCellPhone"
                    name="adminCellPhone"
                    [ngModel]="user?.cellPhone"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Telefono
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminAddress"
                    name="adminAddress"
                    [ngModel]="user?.address"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Domicilio
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue biography-textarea">
                  <textarea
                    id="biography"
                    name="biography"
                    [ngModel]="user?.biography"
                    class="materialize-textarea contact-input"
                    placeholder=" "
                  ></textarea>
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Biografia
                  </div>
                </div>
              </div>
            </div>
            <!--Save Data Button -->
            <div class="item-add-container profile-data-save-container">
              <button
                mat-icon-button
                class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
                [class.button-disabled]="!fAdmin.valid"
                matTooltip="Guardar cambios"
                matTooltipPosition="above"
                (click)="updateAdmin(fAdmin.value)"
              >
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
          <div class="profile-data-inputs-content profile-card dfc">
            <div class="profile-data-header dfr">
              <i class="fas fa-user-tie"></i>
              <span>Información profesional</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminExperience"
                    name="adminExperience"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Experiencia
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminSpecialty"
                    name="adminSpecialty"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Especialidad
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <div class="modal-input modal-input-blue">
                  <input
                    id="adminBiography"
                    name="adminBiography"
                    type="text"
                    class="validate"
                    placeholder=" "
                  />
                  <div
                    class="modal-input-placeholder modal-input-placeholder-blue"
                  >
                    Biografía
                  </div>
                </div>
              </div>
            </div>
            <!--Save Data Button -->
            <div class="item-add-container profile-data-save-container">
              <button
                mat-icon-button
                class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
                matTooltip="Guardar cambios"
                matTooltipPosition="above"
              >
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </perfect-scrollbar>
  <!-- <div class="profile-data-save-container">
    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="action"
      [class.button-disabled]="!fA.valid"
    >
      Guardar cambios
      <i class="material-icons right">send</i>
    </button>
  </div> -->
</div>
