<!-- Contenedor Listado Articulos -->
<div class="item-list-container">
  <mat-card class="item-list-container dfc">
    <!-- Files Filters Container  -->
    <mat-card-header class="item-filter-container">
      <mat-card
        class="item-filter-content dfr"
        [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
      >
        <!-- Entries And Status Filters Container -->
        <div class="entry-and-status-filters-container dfr">
          <!-- Entries Filter -->
          <div class="show-entries-filter dfr">
            <span class="entries-filter-text">Ver</span>
            <div class="entries-filter-select">
              <mat-form-field>
                <mat-select
                  disableOptionCentering
                  [(ngModel)]="selectedEntry"
                  (ngModelChange)="changeEntry($event)"
                >
                  <mat-option
                    *ngFor="let entry of entriesFilter"
                    [value]="entry"
                    [selected]="entry === 5"
                  >
                    {{ entry }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="entries-filter-text">Resultados</span>
          </div>
          <!-- Date Filter -->
          <div class="status-filter dfr">
            <span class="status-filter-text">Fecha</span>
            <div class="status-filter-select">
              <mat-form-field>
                <mat-select
                  [value]="this.innerScreenWidth <= 810 ? 'date' : 'any'"
                  disableOptionCentering
                >
                  <mat-option
                    value="date"
                    style="display: none"
                    *ngIf="this.innerScreenWidth <= 810"
                  >
                    Fecha
                  </mat-option>
                  <mat-option value="any"> Cualquiera </mat-option>
                  <mat-option value="recent"> Reciente </mat-option>
                  <mat-option value="old"> Antiguo </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search Filter -->
        <div class="search-filter dfr">
          <div class="search-input-filter dfc">
            <input
              (keyup)="filter($event.target.value)"
              placeholder="Filtrar por nombre"
            />
          </div>
          <div class="search-btn-filter">
            <button
              class="btn waves-effect waves-light dfc"
              (click)="handleMobileFilter(true)"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <!-- Search Filter Mobile -->
        <div
          class="search-filter-mobile dfr"
          [attr.isVisible]="this.mobileFilterActivated"
        >
          <div
            class="go-back-filter-mobile waves-effect waves-light dfc"
            *ngIf="this.mobileFilterActivated"
            (click)="handleMobileFilter(false)"
          >
            <i class="material-icons">arrow_back</i>
          </div>
          <div
            class="search-input-filter-mobile dfc"
            *ngIf="this.mobileFilterActivated"
          >
            <input placeholder="Filtrar por nombre" />
          </div>
        </div>
      </mat-card>
    </mat-card-header>

    <!-- Posts List Container  -->
    <mat-card-content class="item-list-content">
      <perfect-scrollbar
        *ngIf="posts.length > 0"
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <div class="item-acordion-card-container">
            <div
              class="item-acordion-card-box dfc"
              *ngFor="
                let post of posts
                  | filter: filterValue:'post'
                  | paginate
                    : {
                        itemsPerPage: selectedEntry,
                        currentPage: currentPage
                      }
              "
            >
              <div class="item-acordion-card-header dfr">
                <div class="item-acordion-card-header-icon centered-img-bg">
                  <img [src]="post.user?.img | img: 'user'" alt="" />
                </div>
                <div class="item-acordion-card-header-data dfc">
                  <div
                    class="item-acordion-card-state"
                    [attr.data-state]="post.processState"
                  >
                    <span>{{ this.getPostState(post?.processState) }}</span>
                  </div>
                  <div class="item-acordion-card-header-left dfr">
                    <div class="item-acordion-card-name">
                      <span>{{
                        post.user?.firstName + " " + post.user?.lastName
                      }}</span>
                    </div>
                    <div class="item-acordion-card-date">
                      <span>
                        {{
                          post?.created_at
                            ? (post?.created_at | date: "dd") +
                              "/" +
                              (post?.created_at | date: "MM") +
                              "/" +
                              (post?.created_at | date: "yyyy")
                            : "N/E"
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-acordion-card-body dfr">
                <div class="item-acordion-card-body-data dfc">
                  <div class="item-acordion-card-body-title">
                    <span>{{ post?.postTitle }}</span>
                  </div>
                  <div
                    class="item-acordion-card-body-content"
                    [innerHtml]="
                      post.postContent
                        ? (post.postContent | truncateHtml)
                        : 'N/E'
                    "
                  ></div>
                </div>
                <div class="item-acordion-card-body-image centered-img-bg dfr">
                  <img [src]="post?.postImage | img: 'post'" alt="" />
                </div>
              </div>
              <div class="item-acordion-body-actions dfr">
                <!-- Posts Status Button Trigger -->
                <button
                  *ngIf="this._usersS.user.role === 'ADMIN'"
                  class="header-item-btn btn posts-btn action-button dfc"
                  mat-icon-button
                  matTooltip="Estado del artículo"
                  matTooltipPosition="above"
                  [matMenuTriggerFor]="mainStatusMenu"
                >
                  <i class="fas fa-cogs"></i>
                </button>
                <!-- Post Status CRUD Menu Content -->
                <mat-menu #mainStatusMenu="matMenu" xPosition="before">
                  <ng-template matMenuContent>
                    <div class="dfc select-content-container">
                      <!-- Reviewing Option -->
                      <button
                        mat-menu-item
                        [attr.data-active]="
                          post.processState === 'REVIEWING' ? 'true' : 'false'
                        "
                        (click)="updatePostState(post._id, 'REVIEWING')"
                      >
                        <i class="fas fa-search"></i>
                        En revisión
                      </button>
                      <!-- Publish Option -->
                      <button
                        mat-menu-item
                        [attr.data-active]="
                          post.processState === 'PUBLISH' ? 'true' : 'false'
                        "
                        (click)="updatePostState(post._id, 'PUBLISH')"
                      >
                        <i class="fas fa-check"></i>
                        Publicar
                      </button>
                      <!-- Reject Option -->
                      <button
                        mat-menu-item
                        [attr.data-active]="
                          post.processState === 'REJECT' ? 'true' : 'false'
                        "
                        (click)="updatePostState(post._id, 'REJECT')"
                      >
                        <i class="fas fa-times"></i>
                        Rechazar
                      </button>
                    </div>
                  </ng-template>
                </mat-menu>
                <!-- Post Chat Button Trigger -->
                <button
                  class="header-item-btn btn posts-btn action-button dfc"
                  mat-icon-button
                  (click)="moveDown($event)"
                  matTooltip="Mensajes"
                  matTooltipPosition="above"
                >
                  <i class="far fa-comment"></i>
                </button>
                <!-- Post Details Button Trigger -->
                <button
                  class="header-item-btn btn posts-btn action-button dfc"
                  mat-icon-button
                  (click)="moveDown($event)"
                  matTooltip="Más detalles"
                  matTooltipPosition="above"
                >
                  <i class="material-icons big-icon">keyboard_arrow_down</i>
                </button>
                <!-- Post CRUD Button Trigger -->
                <button
                  class="header-item-btn important-action btn action-button dfc"
                  mat-icon-button
                  [matMenuTriggerFor]="actionsMenu"
                  (click)="moveDown($event)"
                  matTooltip="Más acciones"
                  matTooltipPosition="above"
                >
                  <i class="material-icons big-icon">more_vert</i>
                </button>
                <!-- Post CRUD Menu Content -->
                <mat-menu #actionsMenu="matMenu" xPosition="before">
                  <ng-template matMenuContent>
                    <div class="dfc select-content-container">
                      <!-- Edit Option -->
                      <button mat-menu-item (click)="openPostsModal(post)">
                        <i class="material-icons">edit</i>
                        <span>Editar</span>
                      </button>
                      <!-- Delete Option -->
                      <button mat-menu-item (click)="delete(post)">
                        <i class="material-icons">delete</i>
                        <span>Eliminar</span>
                      </button>
                      <!-- Favorite Option -->
                      <!-- <button mat-menu-item>
                        <i class="material-icons">star_border</i>
                        <span>Favorito</span>
                      </button> -->
                    </div>
                  </ng-template>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
      <div *ngIf="posts.length === 0" class="no-data-container">
        <div class="card sticky-action" style="width: 100%">
          <div class="card-body card-content no-data dfr">
            <div class="card-no-data-icon dfc">
              <span>i</span>
            </div>
            <div class="card-no-data-information">
              <span> No hay artículos escritos </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Open Post Creation Modal Button Trigger -->
      <div class="item-add-container">
        <button
          mat-icon-button
          class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
          (click)="openPostsModal()"
          matTooltip="Escribir artículo"
          matTooltipPosition="above"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
    </mat-card-content>

    <!-- Posts List Pagination -->
    <mat-card-actions
      *ngIf="posts.length > 0"
      class="item-list-pagination-container dfr"
    >
      <pagination-controls
        class="news-pagination"
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </mat-card-actions>
  </mat-card>
</div>
