<div
  *ngFor="let comment of comments | orderBy: filterVariable"
  class="comment-card-body card-content grey lighten-4"
>
  <div class="card-comment-content dfr">
    <div class="user-icon">
      <img [src]="comment.user?.img | img: 'user'" />
    </div>
    <div class="comment-body dfc">
      <div class="comment-info w-full dfr">
        <div class="comment-user-name">
          <a href=""
            ><span>{{
              comment.user.firstName + " " + comment.user.lastName
            }}</span></a
          >
        </div>
        <div class="comment-date">
          <span>{{ comment.date | dateAgo }}</span>
        </div>
      </div>
      <div class="user-comment-content">
        <span>{{ comment.comment }}</span>
      </div>
    </div>
  </div>
</div>
