/* - - - - - - - - - - - - - - - - - - - - - |
/*              COMMENTS QUERIES             |
/* - - - - - - - - - - - - - - - - - - - - - |

/* Media Queries */
@media only screen and (max-width: 499px) {
  .comment-date {
    font-size: 12px !important;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - |
/*           COMMENTS CARD STYLING           |
/* - - - - - - - - - - - - - - - - - - - - - |

/* General Display Content */
.card-comment-content,
.comment-body,
.comment-info {
  align-items: flex-start;
}

.comment-body {
  max-width: calc(100% - 56px);
}

/* Comment Date Styling*/
.comment-date {
  font-size: 14px;
  margin-left: 10px;
  color: var(--secondary-text);
  min-width: max-content;
}

.comment-user-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-user-name a span {
  color: var(--default-color);
  font-weight: 600;
}
