<mat-tab-group
  *ngIf="this._usersS.isLogged()"
  class="admin-tab chat"
  [selectedIndex]="chatTab.value"
  (selectedIndexChange)="chatTab.setValue($event)"
>
  <!-- Chat Messages Tab -->
  <mat-tab>
    <ng-template mat-tab-label> Chat List </ng-template>
    <div class="chat-sidenav-content">
      <!-- Chat List Header -->
      <div class="chat-sidenav-header dfr">
        <div class="chat-sidenav-header-text"><span>Mensajes</span></div>
        <div class="chat-sidenav-header-options dfr">
          <div
            class="chat-sidenav-header-option waves-effect waves-light dfc"
            matTooltip="Ver todo"
            matTooltipPosition="below"
          >
            <i class="material-icons show-all-option">zoom_out_map</i>
          </div>
          <div
            class="chat-sidenav-header-option waves-effect waves-light dfc"
            matTooltip="Nuevo mensaje"
            matTooltipPosition="below"
          >
            <i class="far fa-edit"></i>
          </div>
          <div
            class="chat-sidenav-header-option waves-effect waves-light dfc"
            (click)="toogleChatSidenav()"
            matTooltip="Minimizar"
            matTooltipPosition="below"
          >
            <i class="fas fa-minus"></i>
          </div>
        </div>
      </div>
      <!-- Chat List Filter -->
      <div class="chat-sidenav-search dfr" *ngIf="isSearchingUser">
        <div
          class="chat-sidenav-search-return waves-effect waves-light dfc"
          (click)="searchChatUser(false)"
          [attr.data-search]="isSearchingUser ? 'true' : 'false'"
        >
          <i class="material-icons">arrow_back</i>
        </div>
        <div class="chat-sidenav-search-input-container dfr">
          <label
            for="search-user"
            class="chat-sidenav-search-input-label dfr"
            (click)="searchChatUser(true)"
          >
            <div class="chat-sidenav-search-icon dfc">
              <i class="material-icons">search</i>
            </div>
            <div class="chat-sidenav-search-input dfc">
              <input id="search-user" placeholder="Buscar Contacto" />
            </div>
          </label>
        </div>
      </div>
      <!-- Chat List Body -->
      <div
        class="chat-sidenav-body"
        [attr.data-search]="isSearchingUser ? 'true' : 'false'"
        [attr.data-no-conversations]="
          roomsList.length === 0 && !isSearchingUser ? 'true' : 'false'
        "
        [attr.data-loading]="isLoading ? 'true' : 'false'"
      >
        <perfect-scrollbar
          *ngIf="!isLoading; else loadingChatData"
          class="scroll-container"
          fxFlex="auto"
          [config]="config"
          [scrollIndicators]="false"
        >
          <div class="scrollable-content">
            <mat-tab-group
              class="admin-tab chat"
              [selectedIndex]="usersTab.value"
              (selectedIndexChange)="usersTab.setValue($event)"
            >
              <!-- Chat Rooms Tab -->
              <mat-tab>
                <ng-template mat-tab-label> Lista Mensajes </ng-template>
                <div
                  class="chat-messages-list-container"
                  *ngIf="roomsList.length > 0"
                >
                  <!-- Rooms List -->
                  <div
                    *ngFor="let room of roomsList"
                    class="chat-message-item dfr"
                    (click)="
                      seeChatDetails(true, room.room, null, false);
                      getChatRoomMessages(room.room._id)
                    "
                  >
                    <div class="chat-message-image centered-img-bg dfc">
                      <img
                        [src]="
                          room.room.image
                            ? room.room.image
                            : (getChatRoomData(room.room.members).roomImg
                              | img: 'user')
                        "
                        alt="userImage"
                      />
                    </div>
                    <div class="chat-message-data dfc">
                      <div class="chat-message-header dfr">
                        <div class="chat-message-name">
                          <span>
                            {{
                              room.room.name
                                ? room.room.name
                                : getChatRoomData(room.room.members).roomName
                            }}
                          </span>
                        </div>
                        <div class="chat-message-date">
                          <span>{{
                            (room.lastMessage?.created_at | date: "dd") +
                              "/" +
                              (room.lastMessage?.created_at | date: "MM") +
                              "/" +
                              (room.lastMessage?.created_at | date: "yyyy")
                          }}</span>
                        </div>
                      </div>
                      <div class="chat-message-details dfr">
                        <div class="chat-message chat-message-body">
                          <span
                            *ngIf="
                              room.lastMessage.author_id._id ===
                              _usersS.user._id
                            "
                            class="chat-message-owner"
                            >Tú:
                          </span>
                          <span>{{ room.lastMessage.message }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="chat-message chat-message-new dfc">
                      <div class="chat-message-no-read dfc"></div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!-- Chat Contacts Tab -->
              <mat-tab>
                <ng-template mat-tab-label> Contactos </ng-template>
                <div class="chat-contacts-list-container">
                  <div
                    class="chat-contact-item dfr"
                    *ngFor="let user of contactsList"
                    (click)="seeChatDetails(true, null, user, true)"
                  >
                    <div class="chat-contact-image centered-img-bg dfc">
                      <img [src]="user.img | img: 'user'" alt="userImage" />
                    </div>
                    <div class="chat-contact-data dfc">
                      <div class="chat-contact-name">
                        <span>{{ user.firstName + " " + user.lastName }}</span>
                      </div>
                      <div class="chat-contact-role">
                        <span>
                          {{ _usersS.getUserRole(user, "list") }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </perfect-scrollbar>
        <!-- Loading Rooms  -->
        <ng-template #loadingChatData>
          <div
            #loaderChatContainer
            class="px-8"
            [class.overflow-hidden]="isLoading"
            style="height: calc(100% - 10px)"
          >
            <app-loading-data
              loaderType="common"
              [loaderContainer]="loaderChatContainer"
            ></app-loading-data>
          </div>
        </ng-template>
        <!-- Not Rooms Message -->
        <div
          *ngIf="roomsList.length === 0 && !isSearchingUser && !isLoading"
          class="no-data-container no-data-chat"
        >
          <div class="card sticky-action" style="width: 100%">
            <div class="card-body card-content no-data dfr">
              <div class="card-no-data-icon dfc">
                <span>i</span>
              </div>
              <div class="card-no-data-information">
                <span> Aún no tienes conversaciones iniciadas. </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Start Conversation Button Trigger -->
        <div class="item-add-container" *ngIf="!isSearchingUser && !isLoading">
          <button
            mat-icon-button
            class="item-add-button primary-text haizen-blue gradient-shadow dfc"
            matTooltip="Iniciar conversación"
            matTooltipPosition="above"
            (click)="searchChatUser(true)"
          >
            <i class="material-icons">comment</i>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Chat Conversation Tab -->
  <mat-tab>
    <ng-template mat-tab-label> Chat Details </ng-template>
    <div class="chat-sidenav-content" *ngIf="roomData">
      <!-- Chat Details Header -->
      <div class="chat-sidenav-header chat-conversation dfr">
        <div class="chat-sidenav-header-details dfr">
          <div
            class="chat-sidenav-header-return waves-effect waves-light dfc"
            (click)="seeChatDetails(false)"
          >
            <i class="material-icons">arrow_back</i>
          </div>
          <div
            class="chat-sidenav-header-user-data waves-effect waves-light dfr"
          >
            <div
              class="chat-sidenav-header-image centered-img-bg"
              *ngIf="roomHeader.image"
            >
              <img [src]="roomHeader.image | img: 'user'" alt="userImage" />
            </div>
            <div class="chat-sidenav-header-name">
              <span>
                {{ roomHeader.name }}
              </span>
            </div>
            <div class="dfc"><i class="material-icons">expand_more</i></div>
          </div>
        </div>
        <div class="chat-sidenav-header-options dfr">
          <div
            class="chat-sidenav-header-option waves-effect waves-light dfc"
            (click)="toogleChatSidenav()"
            matTooltip="Minimizar"
            matTooltipPosition="below"
          >
            <i class="fas fa-minus"></i>
          </div>
        </div>
      </div>
      <!-- Chat Details Body -->
      <div #chatBodyContainer class="chat-sidenav-body chat-details dfc">
        <div class="chat-sidenav-body chat-details chat-details-conversation">
          <perfect-scrollbar
            #chatBodyScrollbar
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content">
              <div style="height: 100%">
                <div
                  class="chat-convsersation ct"
                  *ngIf="roomMessagesList.length > 0"
                >
                  <div
                    *ngFor="let message of roomMessagesList"
                    class="chat chat-right dfr"
                    [class.chat-right]="
                      message.author_id._id === this._usersS.user._id
                    "
                  >
                    <div class="chat-avatar centered-img-bg">
                      <img [src]="message.author_id.img | img: 'user'" />
                    </div>
                    <div class="chat-body">
                      <div class="chat-text dfr">
                        <p>{{ message.message }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <!-- Chat Message Box -->
        <div class="chat-sidenav-footer chat-conversation dfr">
          <div class="chat-conversation-write-container dfr">
            <form
              id="sendMessage"
              ngNativeValidate
              [formGroup]="sendMessageForm"
            >
              <textarea
                id="messageField"
                name="message"
                formControlName="message"
                autosize
                [minRows]="1"
                [maxRows]="4"
                placeholder="Escribir mensaje"
              ></textarea>
            </form>
            <div
              class="chat-conversation-actions dfr"
              [style.width.px]="sendMessageForm.valid ? 32 : 64"
            >
              <div
                class="
                  chat-conversation-action-item
                  waves-effect waves-light
                  dfc
                "
                matTooltip="Adjuntar documento"
                matTooltipPosition="below"
              >
                <i class="material-icons">attach_file</i>
              </div>
              <div
                class="
                  chat-conversation-action-item
                  waves-effect waves-light
                  dfc
                "
                *ngIf="!sendMessageForm.valid"
                matTooltip="Adjuntar foto"
                matTooltipPosition="below"
              >
                <i class="material-icons">photo_camera</i>
              </div>
            </div>
          </div>
          <div
            class="chat-conversation-send-button waves-effect waves-light dfc"
            (click)="sendMsgChat()"
            [attr.data-disabled]="!sendMessageForm.valid ? 'true' : 'false'"
            matTooltip="Enviar"
            matTooltipPosition="below"
          >
            <i class="material-icons">send</i>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
