<div class="comment-card-body card-content grey lighten-4 ">
  <div class="card-comment-content dfr">
    <div class="user-icon">
      <img src="../../../assets/images/user.jpg" />
    </div>
    <div class="comment-body dfc">
      <div class="comment-info dfr">
        <div class="comment-user-name">
          <a href=""><span>Armando Lara</span></a>
        </div>
        <div class="comment-date"><span>Hace 4 semanas</span></div>
      </div>
      <div class="user-comment-content">
        <span
          >Primer comentario de la página. Since a long time ago i wanted to try
          this but i had had a lot of problems but now it already works..</span
        >
      </div>
    </div>
  </div>
</div>
