<div class="nav-fixed-option dfc" [attr.data-color]="color ? 'true' : 'false'">
  <button
    mat-button
    [matMenuTriggerFor]="beforeMenu"
    matTooltip="Notificaciones"
    matTooltipPosition="below"
  >
    <i class="material-icons" style="width: fit-content">
      notifications_none
    </i>
    <small class="notification-badge dfc">{{
      notificationsArray.length
    }}</small>
  </button>
  <!-- Dropdown Content -->
  <mat-menu
    #beforeMenu="matMenu"
    xPosition="before"
    backdropClass="full-width-menu"
  >
    <div class="notificationsMenu">
      <div class="notifications-menu-title" (click)="$event.stopPropagation()">
        <span> Notificaciones </span>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="!isLoading; else loadingData">
        <button
          *ngFor="let notification of notificationsArray"
          (click)="navigateToUrl(notification.url_path)"
          mat-menu-item
        >
          <div class="notificationMenu-item">
            <div class="notificationMenu-item-content">
              <div class="img-container dfc centered-img-bg border-none">
                <div class="img-content dfc">
                  <img [src]="notification.image | img: 'user'" alt="" />
                </div>
              </div>
              <div class="notificationMenu-item-body dfc">
                <span class="notificationMenu-item-body-text">
                  <span class="notificationMenu-item-body-text-bold">
                    <span class="notificationMenu-item-body-text-bold before">{{
                      getNotificationAuthorRole(notification.user_actor_role)
                    }}</span>
                    {{ notification.user_actor + " " }} </span
                  >{{ notification.title }}</span
                >
                <time class="media-meta grey-text darken-2">
                  {{
                    (notification?.created_at | date: "dd") +
                      " " +
                      (notification?.created_at | date: "MMM") +
                      ", " +
                      (notification?.created_at | date: "yyyy")
                  }}
                </time>
              </div>
              <div class="chat-message-new dfc">
                <div class="chat-message-no-read dfc"></div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <!-- Loading Notifications -->
      <ng-template #loadingData>
        <div
          class="
            notifications-loading
            loading-dots-container loading-dots
            w-full
            dfr
            jcc
          "
        ></div>
      </ng-template>

      <!-- Not Notifications Message -->
      <div
        *ngIf="notificationsArray.length === 0 && !isLoading"
        class="notifications-loading w-full dfc jcc"
      >
        <span class="secondary-text">No hay notificaciones</span>
      </div>
    </div>
  </mat-menu>
</div>
