<!-- Modal Structure -->
<div mat-dialog-title class="modal-header admin-modal-header dfc">
  <div class="modal-icon dfc">
    <i class="fas fa-filter filter-icon"></i>
  </div>
  <span class="client-action">
    {{
      this.dataFile?.typeUpload === "img"
        ? "Subir Imágen"
        : "Agregar Evidencias"
    }}</span
  >
  <i
    mat-dialog-close
    class="modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
    >close</i
  >
</div>
<mat-dialog-content class="mat-typography admin-modal-container file-upload">
  <!-- Modal Content -->
  <div class="modal-content admin-modal-content">
    <div class="upload-container">
      <!-- General Files Upload Container -->
      <div
        class="upload-inner-container dfc"
        [hidden]="
          this.previewUrl || this._cloudinaryS.uploader.queue.length > 0
        "
      >
        <div class="upload-content dfc">
          <div
            ng2FileDrop
            [uploader]="this._cloudinaryS.uploader"
            class="well my-drop-zone dfc"
          >
            <i class="material-icons">cloud_upload</i>
            Arrastrar y soltar archivos aquí
            <span class="file-upload-or" style="color: black">O</span>
            <div class="input-file-button">
              <!-- Images Upload Container -->
              <ng-container *ngIf="this.dataFile?.idImg">
                <button
                  class="waves-effect waves-light btn modal-upload-action"
                  (click)="uploadButton.click()"
                >
                  Buscar
                </button>

                <input
                  #uploadButton
                  name="uploadButton"
                  id="file-upload"
                  type="file"
                  style="display: none"
                  (change)="onFileSelected($event)"
                  ng2FileSelect
                  [uploader]="this._cloudinaryS.uploader"
                />
              </ng-container>
              <!-- Files Upload Container -->
              <ng-container *ngIf="!this.dataFile?.idImg">
                <button
                  class="waves-effect waves-light btn modal-upload-action"
                  (click)="uploadF.click()"
                >
                  Buscar
                </button>
                <input
                  #uploadF
                  name="uploadF"
                  id="file-upload2"
                  type="file"
                  style="display: none"
                  ng2FileSelect
                  [uploader]="this._cloudinaryS.uploader"
                  (onFileSelected)="this.onFileSelected($event)"
                  multiple
                />
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- Files List Container -->
      <div
        *ngIf="this._cloudinaryS.uploader.queue.length > 0"
        class="files-list-container"
      >
        <!-- File Item -->
        <div
          class="tracking-file-item-container dfr"
          *ngFor="let file of this._cloudinaryS.uploader.queue; let i = index"
        >
          <div class="tracking-file-item-content dfr">
            <div
              class="tracking-file-item-image dfr"
              [attr.data-format]="
                this._evidencesS.formatType(file?.file.name.split('.').pop())
              "
            >
              <div class="tracking-file-item-image-inner centered-img-bg">
                <img
                  *ngIf="
                    this._evidencesS.formatType(
                      file?.file.name.split('.').pop()
                    ) !== 'image'
                  "
                  [src]="
                    file?.file.name.split('.')[1].indexOf('doc') >= 0 ||
                    file?.file.name.split('.')[1].indexOf('docx') >= 0
                      ? '../../../assets/images/word_icon_2.png'
                      : '../../../assets/images/pdf_icon_2.png'
                  "
                />
                <img
                  *ngIf="
                    this._evidencesS.formatType(
                      file?.file.name.split('.').pop()
                    ) === 'image'
                  "
                  [src]="'../../../assets/images/img_icon.png'"
                  [alt]="file?.file?.name"
                />
              </div>
            </div>
            <div class="tracking-file-data-and-progress-container dfr">
              <div class="tracking-file-item-data dfc">
                <div class="tracking-file-item-name">
                  <span id="file-label">{{ file?.file.name }}</span>
                </div>
                <div class="tracking-file-item-size">
                  <span id="file-label">{{
                    this._evidencesS.formatBytes(file?.file.size)
                  }}</span>
                </div>
              </div>
              <div class="file-progress-bar-container">
                <app-progress
                  *ngIf="this._evidencesS.progressT >= 1"
                  [progress]="this._evidencesS.progressT"
                ></app-progress>
              </div>
            </div>

            <div
              class="tracking-file-item-delete dfc waves-effect waves-light"
              (click)="deleteFile(i)"
            >
              <i class="material-icons">close</i>
            </div>
          </div>
        </div>
        <!-- File Add Button -->
        <ng-container>
          <div class="file-add-button-container dfc">
            <button
              class="btn waves-effect waves-light"
              (click)="uploadMoreFiles.click()"
            >
              Agregar más archivos
            </button>
          </div>
          <input
            #uploadMoreFiles
            name="uploadMoreFiles"
            id="upload-more-files"
            type="file"
            style="display: none"
            ng2FileSelect
            [uploader]="this._cloudinaryS.uploader"
            (onFileSelected)="this.onFileSelected($event)"
            multiple
          />
        </ng-container>
      </div>
      <!-- Image Preview Container -->
      <div *ngIf="this.previewUrl" class="upload-img-preview centered-img-bg">
        <img [src]="this.previewUrl | img: 'file'" />
        <div class="img-delete-button">
          <div
            (click)="deleteImage()"
            class="img-delete waves-effect waves-light dfr"
          >
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="img-details dfc">
          <div class="top-img-details">
            <div class="img-name">
              {{
                (this.img?.file?.name.split("."))[0] +
                  "." +
                  (this.img?.file?.name.split("."))[1] | uppercase
              }}
            </div>
          </div>
          <div class="bottom-img-details">
            <div class="img-type">
              <i class="material-icons">image</i>
              {{ (this.img?.file?.name.split("."))[1] | uppercase }}
            </div>
            <div class="img-size">
              {{ this._evidencesS.formatBytes(this.img?.file?.size) }}
            </div>
          </div>
          <div class="file-progress-container">
            <!-- *ngIf="this._cloudinaryS.uploader.isUploading" -->
            <app-progress
              [progress]="this._cloudinaryS.uploader.progress"
            ></app-progress>
          </div>
        </div>
      </div>
      <!-- General Upload Progress Bar -->
      <div class="general-upload-progress-bar">
        <app-progress
          *ngIf="this._evidencesS.progressF >= 1"
          [progress]="this._evidencesS.progressF"
        ></app-progress>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer modal-actions admin-modal-footer">
    <button
      (click)="deleteImage()"
      class="modal-close waves-effect waves-light btn modal-close-action perfil-close-action"
      [disabled]="this._trackingS.disableCancelUpload"
    >
      Cancelar
    </button>
    <button
      type="submit"
      (click)="
        this.typeImg !== undefined && this.idImg !== undefined
          ? uploadImg()
          : addDocuments()
      "
      class="waves-effect waves-light btn modal-submit-action"
      [class.button-disabled]="
        this._evidencesS.evidences.length <= 0 && !this.previewUrl
      "
    >
      {{
        this.typeImg !== undefined && this.idImg !== undefined
          ? "Subir"
          : "Agregar"
      }}
    </button>
  </div> -->
  <div class="modal-footer modal-actions admin-modal-footer">
    <ng-container>
      <div class="modal-actions-container dfr">
        <div class="modal-actions-content">
          <button
            type="button"
            class="waves-effect waves-light btn modal-close-action"
            [disabled]="this._evidencesS.disableCancelUpload"
            mat-dialog-close
            (click)="deleteImage()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="waves-effect waves-light btn modal-submit-action"
            [class.button-disabled]="
              this._cloudinaryS.uploader.queue.length <= 0 && !this.previewUrl
            "
            (click)="
              this.dataFile?.typeUpload !== undefined &&
              this.dataFile?.typeUpload === 'evidences'
                ? addDocuments()
                : uploadImg()
            "
          >
            {{
              this.dataFile?.typeUpload !== undefined &&
              this.dataFile?.typeUpload === "evidences"
                ? "Guardar"
                : "Subir"
            }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
