<!-- Modal Structure -->
<div
  id="modal-File-Upload"
  class="modal border-radius-6 modal-fixed-footer"
  style="
    z-index: 1003;
    display: none;
    opacity: 0;
    top: 4%;
    transform: scaleX(0.8) scaleY(0.8);
  "
>
  <div class="modal-header">
    <span><span class="article-action">Subir</span> Imágen</span>
  </div>

  <div class="modal-content">
    <div class="upload-container">
      <div class="upload-inner-container dfc" [hidden]="this.previewUrl">
        <div class="upload-content dfc">
          <div
            appDragNDrop
            (onFileDropped)="onFileSelected($event)"
            class="well my-drop-zone dfc"
          >
            <i class="material-icons">cloud_upload</i>
            Arrastrar y soltar archivos aquí
            <span class="file-upload-or" style="color: black;">O</span>
            <div class="input-file-button" style="width: 30%;">
              <button
                class="waves-effect waves-light btn modal-upload-action"
                (click)="uploadButton.click()"
              >
                Buscar
              </button>
              <input
                #uploadButton
                name="uploadButton"
                id="file-upload"
                style="display: none;"
                type="file"
                (change)="onFileSelected($event.target.files)"
                multiple
              />
            </div>
          </div>
        </div>
      </div>
      <app-progress *ngIf="totalFiles > 0 && progressT !== 100" [progress]="progressT"></app-progress>
      <div *ngIf="this._trackingS.files.length > 0" class="upload-progress">
        <li *ngFor="let file of this._trackingS.files">

          <app-progress *ngIf="file.inProgress" [progress]="file.progress"></app-progress>
          <span id="file-label"> </span>
        </li>
      </div>
      <div *ngIf="this.previewUrl" class="upload-img-preview centered-img-bg">
        <img [src]="this.previewUrl" />
        <div class="img-delete-button">
          <div
            class="img-delete waves-effect waves-light dfr"
          >
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="img-details dfc">
          <div class="top-img-details">
            <div class="img-name">
              {{
                (this.img?.name.split("."))[0] +
                  "." +
                  (this.img?.name.split("."))[1] | uppercase
              }}
            </div>
          </div>
          <div class="bottom-img-details">
            <div class="img-type">
              <i class="material-icons">image</i>
              {{ (this.img?.name.split("."))[1] | uppercase }}
            </div>
            <div class="img-size">
              {{ this.formatBytes(this.img?.size) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-actions">
    <button
      class="modal-close waves-effect waves-light btn modal-close-action perfil-close-action"
    >
      Cancelar
    </button>
    <button
      type="submit"
      (click)="uploadFiles()"
      class="waves-effect waves-light btn modal-submit-action"
    >
      Subir
    </button>
  </div>
</div>
