/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL MEDIA QUERIES        |
/* - - - - - - - - - - - - - - - - - - |*/

@media only screen and (max-width: 992px) {
  .perfil-footer {
    font-size: 14px !important;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-media i {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .contact-media {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {
  .perfil-footer {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 550px) {
  .contact-media {
    display: none !important;
  }
  .perfil-navbar {
    justify-content: space-between !important;
  }
}

@media only screen and (min-width: 993px) {
  #perfil-sidebar {
    transform: translate(0%) !important;
  }
  #perfil-main-container {
    padding-left: 260px;
  }
  .perfil-footer {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 900px) {
  .app-sidebar {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}

/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL NAVBAR STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Navbar Container */
.perfil-navbar {
  width: 100%;
  height: 64px;
  padding: 0 20px;
  z-index: 2;
  color: white;
  justify-content: space-around;
}

#perfil-sidebar {
  border: none !important;
}

#perfil-sidebar-trigger {
  min-width: 40px;
  min-height: 40px;
  background: linear-gradient(45deg, #b72318 10%, #ff5722 62%) !important;
}

.perfil-fake-bg {
  width: 100%;
  height: 185px;
  min-height: 185px;
  z-index: 0;
  background: linear-gradient(45deg, #243393, #1976d2) !important;
  background: -webkit-linear-gradient(45deg, #243393, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #243393, #1976d2) !important;
  background: -o-linear-gradient(45deg, #243393, #1976d2) !important;
}

/* Site Contact Media */
.contact-media {
  display: flex;
  font-weight: 700;
  height: 40px !important;
  line-height: 40px !important;
}

.contact-media span a {
  color: white;
}

.contact-media #mail a:hover {
  color: aquamarine;
}

/* Perfil Dropdown */
.perfil-button-trigger {
  background: none;
  height: 64px;
  border-radius: 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #949ba1;
}

.avatar-status {
  position: relative;
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
}

.avatar-status .centered-img-bg {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.avatar-status i {
  background-color: #00e676;
  position: absolute;
  left: 26px;
  bottom: 3px;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #fff;
  border-radius: 100%;
}

/* - - - - - - - - - - - - - - - - - - |
/*        PERFIL SIDEBAR STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* SideBar Container */
.sidebar {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  margin: 0;
  background: white;
  transition: 0.3s ease all;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.01),
    0 3px 1px -2px rgba(0, 0, 0, 0.01), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

/* Sidebar Brand */
.brand-sidebar {
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.brand-sidebar .brand-logo {
  height: 100%;
  padding: 0 15px;
  justify-content: center;
}

.brand-sidebar .brand-logo .logo-text {
  font-size: 24px;
  padding-left: 8px;
  color: #333;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.09375rem;
}

/* Sidebar Button Trigger */
#sidenav-trigger-btn {
  position: absolute;
  top: 90px;
  left: 17px;
  display: none;
}

/* Sidebar Options */
.perfil-sidebar-options,
.perfil-sidebar-options .perfil-menu-option,
.perfil-sidebar-options .perfil-menu-option a {
  width: 100%;
}

.perfil-sidebar-options .perfil-menu-option {
  margin-bottom: 5px;
}

.perfil-sidebar-options .perfil-menu-option:hover {
  /* background: rgba(0, 0, 0, 0.2); */
  background: #26c5da9e;
}

.perfil-sidebar-options .perfil-menu-option a {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  color: #494949;
  font-size: 16px;
  font-family: sans-serif;
}

.perfil-sidebar-options .perfil-menu-option a i {
  margin-right: 15px;
}

.perfil-sidebar-options .perfil-menu-option:hover > a {
  color: white;
  background: #1a74d0;
}

.perfil-sidebar-options .perfil-menu-option a[data-active="on"] {
  background: linear-gradient(45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #1976d2) !important;
  color: white;
}

.perfil-sidebar-options .perfil-menu-option a[data-active="on"] > i {
  color: white;
}

/* - - - - - - - - - - - - - - - - - - |
/*       PERFIL CONTAINER STYLING      |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Container */
.container {
  width: 100%;
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

#perfil-main-container {
  height: 100%;
  z-index: 997;
  transition: 0.3s ease all;
}

#perfil-content-container {
  background: #ececec;
  width: 100%;
  margin-top: -165px;
  height: 100vh;
}

#perfil-content-container .card .card-tabs ul {
  background: #26aee4;
}

#perfil-content-container .card .card-tabs ul li a {
  color: white;
}

#perfil-content-container .card .card-tabs ul li a.active {
  background: #1a7092;
}

/* Perfil Prime Account Button */
.prime-account {
  background: #ff5722;
}

.prime-account:hover {
  background: #ff470f;
}

/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL FOOTER STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Footer Container */
.perfil-footer {
  width: 100%;
  height: 50px;
  min-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  justify-content: space-between;
  transition: 0.3s ease all;
}

.footer-author {
  color: white;
}
