<mat-sidenav-container class="sidenav-container">
  <!-- Main SideNav -->
  <mat-sidenav
    #perfilSidenav
    [mode]="sidenavMode"
    [opened]="showSidenav"
    class="main-perfil-sidenav dfc"
  >
    <!-- Perfil SideNav -->
    <aside
      id="perfil-sidebar"
      class="sidenav collapsible nav-collapsible sidenav-light sidenav-active-square nav-lock"
    >
      <!-- Sidebar Brand -->
      <div class="brand-sidebar">
        <a
          class="brand-logo darken-1 dfr sidenav-close"
          routerlink="/inicio"
          href="#/inicio"
          (click)="sidenavMode === 'push' ? perfilSidenav.toggle() : ''"
        >
          <img
            alt="site logo"
            [src]="
              this.isDarkThemeActive
                ? '/assets/images/logo.png'
                : '/assets/images/logo_dark.png'
            "
            style="width: 60%"
          />
        </a>
      </div>

      <!-- Sidebar Content -->
      <ul class="perfil-sidebar-options display-grid">
        <!-- Cases Option -->
        <li class="perfil-menu-option">
          <a
            class="text-sub sidenav-close"
            (click)="sidenavMode === 'push' ? perfilSidenav.toggle() : ''"
            [attr.data-active]="
              actSt === '/perfil/casos' || actSt.includes('caso-detalle')
                ? 'on'
                : 'off'
            "
            routerLink="/perfil/casos"
            ><i class="fas fa-folder-open"></i> Casos</a
          >
        </li>
        <!-- Messages Option -->
        <!-- <li class="perfil-menu-option">
          <a
            class="text-sub sidenav-close"
            [attr.data-active]="actSt === '/perfil/mensajes' ? 'on' : 'off'"
            routerLink="/perfil/mensajes"
            ><i class="material-icons"> question_answer </i> Mensajes</a
          >
        </li> -->
        <!-- Events Option -->
        <!-- <li class="perfil-menu-option">
          <a
            class="text-sub sidenav-close"
            [attr.data-active]="actSt === '/perfil/eventos' ? 'on' : 'off'"
            routerLink="/perfil/eventos"
            ><i class="material-icons"> insert_invitation </i> Eventos</a
          >
        </li> -->
        <!-- General Option -->
        <li class="perfil-menu-option">
          <a
            class="text-sub sidenav-close"
            (click)="sidenavMode === 'push' ? perfilSidenav.toggle() : ''"
            [attr.data-active]="
              actSt === '/perfil/general' || actSt === '/perfil' ? 'on' : 'off'
            "
            routerLink="/perfil/general"
            ><i class="material-icons"> person_outline </i> Perfil</a
          >
        </li>
        <!-- Information Option -->
        <!-- <li class="perfil-menu-option">
          <a
            class="text-sub sidenav-close"
            [attr.data-active]="actSt === '/perfil/informacion' ? 'on' : 'off'"
            routerLink="/perfil/informacion"
            ><i class="material-icons"> error_outline </i> Información</a
          >
        </li> -->
      </ul>
    </aside>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Perfil Main Container -->
    <section id="perfil-main-container" class="pr dfc">
      <!-- Perfil NavBar Container -->
      <div class="perfil-navbar gradient-pos-45deg-dark-blue dfr">
        <!-- Perfil Sidebar Button Trigger -->
        <a
          class="btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
          id="perfil-sidebar-trigger"
          (click)="sidenavMode === 'push' ? perfilSidenav.toggle() : ''"
          matTooltip="Menú"
          matTooltipPosition="below"
          ><i class="material-icons">menu</i></a
        >
        <!-- Navbar Options -->
        <div class="navbar-options dfr">
          <!-- Messages -->
          <div class="navbar-option waves-effect waves-light">
            <button
              class="perfil-button-trigger fa"
              mat-button
              (click)="toogleChatSidenav()"
              matTooltip="Mensajes"
              matTooltipPosition="below"
            >
              <i class="far fa-comment"></i>
            </button>
          </div>
          <!-- Notifications -->
          <app-notifications-dropdown
            [color]="true"
          ></app-notifications-dropdown>
          <!-- Perfil Dropdown -->
          <div class="navbar-option waves-effect account-option waves-light">
            <!-- Button Triger -->
            <button
              class="perfil-button-trigger account-button"
              mat-button
              [matMenuTriggerFor]="beforeMenu"
              matTooltip="Cuenta"
              matTooltipPosition="below"
            >
              <div class="avatar-status avatar-online dfr">
                <div class="centered-img-bg border-none dfc">
                  <img
                    [src]="this._usersS.user?.img | img: 'user':true"
                    alt="avatar"
                  />
                </div>
                <div class="avatar-name">
                  <span>{{ _usersS.user.firstName.split(" ")[0] }}</span>
                </div>
              </div>
            </button>
            <!-- Dropdown Content -->
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <div class="perfilMenu" (click)="$event.stopPropagation()">
                <!-- Perfil Information -->
                <div class="perfil-info dfr">
                  <div class="perfil-icon centered-img-bg">
                    <img
                      [src]="this._usersS.user?.img | img: 'user':true"
                      style="width: 100%"
                    />
                  </div>
                  <div class="perfil-text dfc">
                    <span class="perfil-name ff-rr">{{
                      this._usersS.user.firstName
                        .split(" ")[0]
                        .concat(" ", this._usersS.user.lastName.split(" ")[0])
                    }}</span>
                    <span class="perfil-email ff-rr">{{
                      this._usersS.user.email
                    }}</span>
                  </div>
                </div>
                <div class="divider"></div>
                <!-- FAQ Option -->
                <!-- <button mat-menu-item>
                   <i class="material-icons">help_outline</i>Ayuda
                </button> -->
                <!-- Change Theme Option -->
                <button
                  mat-menu-item
                  class="dfr"
                  style="justify-content: space-between"
                  (click)="changeTheme(); $event.stopPropagation()"
                >
                  <div class="dfr">
                    <i class="material-icons">brightness_4</i>Modo oscuro
                  </div>
                  <app-theme-switch></app-theme-switch>
                </button>
                <!-- Logout Option -->
                <button mat-menu-item (click)="_usersS.logout()">
                  <i class="material-icons">exit_to_app</i>Cerrar sesión
                </button>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
      <!-- Perfil Fake Background -->
      <div class="perfil-fake-bg"></div>

      <!-- Perfil Content Container -->
      <div id="perfil-content-container">
        <div class="row">
          <div class="col s12">
            <div class="container">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

      <!-- Perfil Footer -->
      <div class="perfil-footer ff-ss gradient-pos-45deg-dark-blue dfr">
        <span>
          © 2020
          <span class="footer-author"> Haizen</span>
          All rights reserved.
        </span>
        <span class="hide-on-small-only">
          Designed and Developed by
          <span class="footer-author">Armando Lara</span>
        </span>
      </div>
    </section>

    <!-- Prime Account Button -->
    <!-- <div
      style="bottom: 65px; right: 19px; z-index: 999;"
      class="fixed-action-btn direction-top active"
    >
      <a
        class="prime-account btn-floating btn-large primary-text gradient-shadow gradient-45deg-orange"
        (click)="openPrimeModal()"
      >
        <i class="fas fa-user-tie"></i>
      </a>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
