/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL MEDIA QUERIES        |
/* - - - - - - - - - - - - - - - - - - |*/

@media only screen and (max-width: 1105px) {
  .account-button {
    padding: 0 !important;
  }

  .avatar-status .avatar-name {
    display: none;
  }

  .avatar-status .centered-img-bg {
    height: 40px !important;
    width: 40px !important;
  }

  .avatar-status {
    height: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;
  }
}

@media only screen and (max-width: 992px) {
  .perfil-footer {
    font-size: 14px !important;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-media i {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .contact-media {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {
  .perfil-footer {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 550px) {
  .contact-media {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .perfil-navbar {
    justify-content: flex-end !important;
  }
  .perfil-footer {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 900px) {
  .app-sidebar {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}

/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL NAVBAR STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Navbar Container */
.perfil-navbar {
  width: 100%;
  min-height: 64px;
  padding: 0 20px;
  z-index: 2;
  color: white;
  justify-content: space-between;
}

#perfil-sidebar {
  border: none !important;
}

#perfil-sidebar-trigger {
  min-width: 40px;
  min-height: 40px;
  background: transparent;
  box-shadow: none;
}

.perfil-fake-bg {
  width: 100%;
  height: 185px;
  min-height: 185px;
  z-index: 0;
  background: linear-gradient(45deg, #243393, #2e89ff) !important;
  background: -webkit-linear-gradient(45deg, #243393, #2e89ff) !important;
  background: -moz-linear-gradient(45deg, #243393, #2e89ff) !important;
  background: -o-linear-gradient(45deg, #243393, #2e89ff) !important;
}

/* Site Contact Media */
.contact-media {
  display: flex;
  font-weight: 700;
  height: 40px !important;
  line-height: 40px !important;
}

.contact-media span a {
  color: white;
}

.contact-media #mail a:hover {
  color: aquamarine;
}

/* Navbar Options */
.navbar-options .navbar-option:not(:last-child) {
  margin-right: 10px;
}

.navbar-options .navbar-option {
  height: 40px;
  border-radius: 50%;
  /* background: #13287a; */
  background: linear-gradient(45deg, #b72318 10%, #ff5722 62%) !important;
  background: -moz-linear-gradient(45deg, #b72318 10%, #ff5722 62%) !important;
}

.navbar-options .navbar-option.account-option {
  width: max-content;
  background: transparent !important;
  border-radius: 40px;
}

.navbar-options .navbar-option:hover {
  /* background: #1a3499; */
  background: linear-gradient(45deg, #9e1b12 10%, #cc4117 62%) !important;
  background: -moz-linear-gradient(45deg, #9e1b12 10%, #cc4117 62%) !important;
}

/* Perfil Dropdown */
.perfil-button-trigger {
  background: transparent;
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0;
  border-radius: 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #949ba1;
}

.perfil-button-trigger.fa i {
  font-size: 21px;
  color: white;
}

.avatar-status {
  position: relative;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  z-index: 1;
}

.avatar-status .centered-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.avatar-status i {
  background-color: #00e676;
  position: absolute;
  left: 26px;
  bottom: 3px;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #fff;
  border-radius: 100%;
}

.avatar-status .avatar-name {
  width: max-content;
  max-width: 140px;
  margin: 0 5px;
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.avatar-status .avatar-name span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--white-color);
  display: block;
  line-height: 36px;
}

/* - - - - - - - - - - - - - - - - - - |
/*        PERFIL SIDEBAR STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* SideBar Container */
#perfil-sidebar {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  margin: 0;
  background: white;
  transition: 0.3s ease all;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.01),
    0 3px 1px -2px rgba(0, 0, 0, 0.01), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  transform: translateX(0);
}

.main-perfil-sidenav {
  width: 100px;
  min-width: 100px;
}

/* Sidebar Brand */
.brand-sidebar {
  height: 82px;
}

.brand-sidebar .brand-logo {
  height: 82px;
  line-height: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 15px 13px 15px;
}

.brand-sidebar .brand-logo .logo-text {
  font-size: 24px;
  padding-left: 8px;
  color: #333;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.09375rem;
}

/* Sidebar Button Trigger */
#sidenav-trigger-btn {
  position: absolute;
  top: 90px;
  left: 17px;
  display: none;
}

/* Sidebar Options */
.perfil-sidebar-options,
.perfil-sidebar-options .perfil-menu-option,
.perfil-sidebar-options .perfil-menu-option a {
  width: 100%;
}

.perfil-sidebar-options {
  padding-top: 3px;
  margin: 0;
}

.perfil-sidebar-options .perfil-menu-option {
  padding-bottom: 2px;
}

.perfil-sidebar-options .perfil-menu-option:first-child {
  padding-top: 1px;
}

.perfil-sidebar-options .perfil-menu-option a {
  font-weight: 400;
  line-height: 44px;
  padding: 0;
  width: 98px;
  height: 65px;
  justify-content: center;
  border-radius: 4px;
  margin: 0 1px;
}

.perfil-sidebar-options .perfil-menu-option a i {
  font-size: 2.1rem;
  line-height: initial;
  margin: 0;
  width: 100%;
  height: initial;
  text-align: center;
}

.perfil-sidebar-options .perfil-menu-option a span {
  line-height: initial;
}

.perfil-sidebar-options .perfil-menu-option:hover > a {
  color: white;
  background: #1a74d0;
}

.perfil-sidebar-options .perfil-menu-option a[data-active="on"] {
  background: linear-gradient(45deg, #303f9f, #2e89ff) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #2e89ff) !important;
  color: white;
}

.perfil-sidebar-options .perfil-menu-option a[data-active="on"] > i {
  color: white;
}

/* - - - - - - - - - - - - - - - - - - |
/*       PERFIL CONTAINER STYLING      |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Container */
.container {
  width: 100%;
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

#perfil-main-container {
  height: 100%;
  z-index: 997;
  transition: 0.3s ease all;
}

#perfil-content-container {
  background: #ececec;
  width: 100%;
  margin-top: -180px;
  height: 100vh;
  max-height: calc(100vh - 125px);
}

#perfil-content-container .card .card-tabs ul {
  background: #26aee4;
}

#perfil-content-container .card .card-tabs ul li a {
  color: white;
}

#perfil-content-container .card .card-tabs ul li a.active {
  background: #1a7092;
}

/* Perfil Prime Account Button */
.prime-account {
  background: #ff5722;
}

.prime-account:hover {
  background: #ff470f;
}

/* - - - - - - - - - - - - - - - - - - |
/*         PERFIL FOOTER STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Footer Container */
.perfil-footer {
  width: 100%;
  height: 50px;
  min-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  justify-content: space-between;
  transition: 0.3s ease all;
}

.footer-author {
  color: white;
}
