<!-- Modal Crear Nuevo Articulo -->
<div
  id="modal-Expediente"
  class="modal border-radius-6 modal-fixed-footer"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <!--Modal Fixed Header-->
  <div class="modal-header dfc">
    <div class="modal-icon dfc">
      <i class="material-icons">contact_mail</i>
    </div>
    <span><span class="file-action">Crear</span> Expediente</span>
    <i
      class="modal-close modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
      >close</i
    >
  </div>

  <!-- Modal Content -->
  <div class="modal-content">
    <div class="row" style="margin: 20px 0 0 0; height: calc(100% - 20px);">
      <form
        id="formExpedientes"
        class="col s12"
        style="padding: 0 30px; height: 100%;"
        ngNativeValidate
        [formGroup]="form"
        (ngSubmit)="crear()"
      >
        <!-- Inputs Container -->
        <div class="inputs-container">
          <!-- Select User Input Field -->
          <div class="select-user-input dfr" style="margin-bottom: 10px;">
            <div class="modal-input modal-input-pink" style="margin-bottom: 0;">
              <input
                id="assigned_client"
                name="assigned_client"
                type="text"
                class="modal-trigger user-input"
                href="#selectUser"
                formControlName="assigned_client"
                readonly
                required
                placeholder=" "
                [(ngModel)]="this.nombre"
                (click)="updateDataServiceAction()"
              />
              <div class="modal-input-placeholder modal-input-placeholder-pink">
                Seleccionar cliente*
              </div>
            </div>
            <button
              type="button"
              class="waves-effect waves-light btn modal-select-action modal-trigger pink accent-2"
              href="#selectUser"
              (click)="updateDataServiceAction()"
            >
              <i class="material-icons">person_add</i>
            </button>
          </div>

          <!-- External Key Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="extKey"
              name="extKey"
              formControlName="extKey"
              [(ngModel)]="extKey"
              type="text"
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="extKey"
            >
              Clave externa
            </div>
          </div>
          <!-- Actor Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="actor"
              name="actor"
              formControlName="actor"
              [(ngModel)]="actor"
              type="text"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="actor"
            >
              Actor(es)*
            </div>
          </div>
          <!-- Defendant Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="defendant"
              name="defendant"
              formControlName="defendant"
              [(ngModel)]="defendant"
              type="text"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="defendant"
            >
              Demandado(s)*
            </div>
          </div>
          <!-- Third Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="third"
              name="third"
              formControlName="third"
              [(ngModel)]="third"
              type="text"
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="third"
            >
              Terceros
            </div>
          </div>
          <!-- Affair Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="affair"
              name="affair"
              formControlName="affair"
              [(ngModel)]="affair"
              type="text"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="affair"
            >
              Asunto*
            </div>
          </div>
          <!-- Description Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              id="description"
              name="description"
              formControlName="description"
              [(ngModel)]="description"
              type="text"
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="description"
            >
              Descripción
            </div>
          </div>
        </div>
        <!-- Modal Actions -->
        <div class="modal-actions">
          <button
            type="button"
            class="modal-close waves-effect waves-light btn modal-close-action"
          >
            Cancelar
          </button>
          <button
            id="expediente-submit-button"
            type="submit"
            [class.button-disabled]="!form.valid"
            class="waves-effect waves-light btn modal-submit-action"
          >
            <span class="file-action">Crear</span> expediente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
