<!-- Eventos Header -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row" style="margin: 0;">
        <div class="col s12" style="padding: 0;">
          Últimos Eventos
        </div>
        <div class="col s12"></div>
      </div>
    </div>
  </div>
</div>

<!-- Eventos Calendar -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row">
        <div class="col s12">
          Calendario
        </div>
        <div class="col s12"></div>
      </div>
    </div>
  </div>
</div>
