<div id="contact-container" class="white pr pt-71">
  <div class="main-info">
    <div class="container">
      <div id="main-contact-content">
        <div id="left-contact-box" style="width: 35%">
          <div id="left-contact-content" style="width: 100%">
            <div class="contact-content-info">
              <span>
                <span> Datos de contacto </span>
              </span>
            </div>
            <div id="contact-content-img">
              <img src="../../../assets/images/Location.jpg" />
            </div>
            <div id="contact-location">
              <span><b>Arandas, Jalisco/México</b></span>
              <span
                ><i class="material-icons">location_on </i
                ><a href=""
                  >Francisco Mora #158-1 Colonia Centro CP: 47180</a
                ></span
              >
              <span
                ><i class="fab fa-whatsapp font-awesome-icons"></i>Celular At&t:
                348 105 5088</span
              >
              <span
                ><i class="material-icons">phone_android</i>Celular Telcel: 348
                124 8828</span
              >
              <span><i class="material-icons">print</i>Fax: 348 783 2055</span>
              <span
                ><i class="material-icons">mail</i
                ><a href="mailto:haizenabogados@gmail.com"
                  >haizenabogados@gmail.com</a
                ></span
              >
            </div>
          </div>
        </div>
        <div id="space-contact-contact"></div>
        <div id="right-contact-content">
          <div class="contact-content-info dfr" style="padding: 10px 0 0 20px">
            <span class="contact-form-title">
              Evaluación de tu caso gratuita
            </span>
          </div>
          <div id="contact-content-form">
            <div id="contanct-form" style="margin-top: 20px">
              <div class="row" style="margin-bottom: 0">
                <form
                  class="col s12 dfc"
                  ngNativeValidate
                  [formGroup]="form"
                  (ngSubmit)="send()"
                >
                  <div class="input-field input-outlined col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="nameContact"
                        name="nameContact"
                        formControlName="nameContact"
                        type="text"
                        class="validate contact-input"
                        placeholder=" "
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Nombre y Apellidos*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="emailContact"
                        name="emailContact"
                        formControlName="emailContact"
                        type="email"
                        class="validate contact-input"
                        placeholder=" "
                        required
                        email
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Email*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="phoneContact"
                        name="phoneContact"
                        formControlName="phoneContact"
                        type="number"
                        class="contact-input"
                        placeholder=" "
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Número
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <textarea
                        id="messageContact"
                        name="messageContact"
                        formControlName="messageContact"
                        class="materialize-textarea contact-input"
                        placeholder=" "
                        required
                      ></textarea>
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Cuentanos sobre tu caso*
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="contact-submit-button waves-effect waves-light btn ff-tss dfc"
                    [class.button-disabled]="!form.valid"
                  >
                    <span>Solicitar consulta gratuita</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
