<!-- Contenedor Listado Usuarios -->
<div class="item-list-container h-full">
  <mat-card class="item-list-container dfc">
    <!-- Users Filters Container  -->
    <mat-card-header class="item-filter-container">
      <mat-card
        class="item-filter-content dfr"
        [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
      >
        <!-- Entries And Status Filters Container -->
        <div class="entry-and-status-filters-container dfr">
          <!-- Entries Filter -->
          <div class="show-entries-filter dfr">
            <span class="entries-filter-text">Ver</span>
            <div class="entries-filter-select">
              <mat-form-field>
                <mat-select
                  disableOptionCentering
                  [(ngModel)]="selectedEntry"
                  (ngModelChange)="changeEntry($event)"
                >
                  <mat-option
                    *ngFor="let entry of entriesFilter"
                    [value]="entry"
                    [selected]="entry === 5"
                  >
                    {{ entry }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="entries-filter-text">Resultados</span>
          </div>
          <!-- Status Filter -->
          <div *ngIf="_usersS.user.role === 'ADMIN'" class="status-filter dfr">
            <span class="status-filter-text rol">Rol</span>
            <div class="status-filter-select">
              <mat-form-field>
                <mat-select
                  [value]="this.innerScreenWidth <= 810 ? 'role' : 'all'"
                  disableOptionCentering
                >
                  <mat-option
                    value="role"
                    style="display: none"
                    *ngIf="this.innerScreenWidth <= 810"
                  >
                    Rol
                  </mat-option>
                  <mat-option value="all"> Todos </mat-option>
                  <mat-option value="admin"> Administrador </mat-option>
                  <mat-option value="partner"> Asociado </mat-option>
                  <mat-option value="client"> Cliente </mat-option>
                  <mat-option value="new"> Nuevo </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search Filter -->
        <div class="search-filter dfr">
          <div class="search-input-filter dfc">
            <input
              (keyup)="filter($event.target.value)"
              placeholder="Filtrar por nombre"
            />
          </div>
          <div class="search-btn-filter">
            <button
              class="btn waves-effect waves-light dfc"
              (click)="handleMobileFilter(true)"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <!-- Search Filter Mobile -->
        <div
          class="search-filter-mobile dfr"
          [attr.isVisible]="this.mobileFilterActivated"
        >
          <div
            class="go-back-filter-mobile waves-effect waves-light dfc"
            *ngIf="this.mobileFilterActivated"
            (click)="handleMobileFilter(false)"
          >
            <i class="material-icons">arrow_back</i>
          </div>
          <div
            class="search-input-filter-mobile dfc"
            *ngIf="this.mobileFilterActivated"
          >
            <input placeholder="Filtrar por nombre" />
          </div>
        </div>
      </mat-card>
    </mat-card-header>

    <!-- Users List Container  -->
    <mat-card-content class="item-list-content">
      <perfect-scrollbar
        *ngIf="users.length > 0 && !isLoading; else loadingUsersData"
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <mat-accordion class="item-container dfc">
            <mat-expansion-panel
              class="item-content"
              *ngFor="
                let user of users
                  | filter: filterValue:'user'
                  | paginate
                    : {
                        itemsPerPage: selectedEntry,
                        currentPage: currentPage
                      }
              "
            >
              <!-- Users Expansion Header -->
              <mat-expansion-panel-header class="item-acordion-header">
                <mat-panel-title class="item-acordion-title dfr">
                  <div class="header-item-icon centered-img-bg">
                    <img [src]="user.img | img: 'user'" alt="" />
                  </div>
                  <div class="item-acordion-title-left general users dfr">
                    <div class="header-item-body dfc">
                      <div class="header-item-title dfr">
                        <div class="header-item-title-wrap">
                          <span>{{
                            user?.firstName + " " + user?.lastName
                          }}</span>
                        </div>
                        <div
                          *ngIf="this._usersS.user.role === 'ADMIN'"
                          class="header-item-subtitle dfr"
                          [attr.data-role]="
                            this._usersS.isExteralClient(user)
                              ? 'EXTERNAL-CLIENT'
                              : user.role
                          "
                        >
                          <span>{{
                            this._usersS.getUserRole(user, "list")
                          }}</span>
                        </div>
                      </div>
                      <div class="header-item-data dfr">
                        <span class="header-item-email">{{ user.email }}</span>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="!this._usersS.isExteralClient(user)"
                    class="header-item-actions general dfr"
                  >
                    <!-- Users Role Button Trigger -->
                    <button
                      *ngIf="_usersS.user.role === 'ADMIN'"
                      class="
                        header-item-btn
                        btn
                        waves-effect
                        mobile
                        waves-light
                        light-blue
                        dfc
                      "
                      mat-icon-button
                      [matMenuTriggerFor]="roleMenu"
                      (click)="moveDown($event)"
                      matTooltip="Rol del usuario"
                      matTooltipPosition="above"
                    >
                      <i class="fas fa-cogs"></i>
                    </button>
                    <!-- Users Role Menu Content -->
                    <mat-menu #roleMenu="matMenu" xPosition="before">
                      <ng-template matMenuContent>
                        <div class="dfc select-content-container">
                          <!-- Role Options -->
                          <button
                            mat-menu-item
                            *ngFor="let rol of role"
                            [attr.data-active]="
                              user.role === rol.value ? 'true' : 'false'
                            "
                            (click)="changeRol(user._id, rol.value)"
                          >
                            <i [class]="rol.icon"></i>
                            <span> {{ rol.viewValue }}</span>
                          </button>
                        </div>
                      </ng-template>
                    </mat-menu>
                    <!-- Users CRUD Button Trigger -->
                    <button
                      class="
                        header-item-btn
                        important-action
                        btn
                        waves-effect waves-light
                        light-blue
                        dfc
                      "
                      mat-icon-button
                      [matMenuTriggerFor]="actionsMenu"
                      (click)="moveDown($event)"
                      matTooltip="Más acciones"
                      matTooltipPosition="above"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <!-- Users CRUD Menu Content -->
                    <mat-menu #actionsMenu="matMenu" xPosition="before">
                      <ng-template matMenuContent>
                        <div class="dfc select-content-container">
                          <!-- Role Option -->
                          <button
                            mat-menu-item
                            class="mobile"
                            [matMenuTriggerFor]="roleMenu"
                          >
                            <span class="select-btn-item">Rol</span>
                          </button>
                          <!-- Role CRUD Menu Content -->
                          <mat-menu #roleMenu="matMenu">
                            <ng-template matMenuContent>
                              <div class="dfc select-content-container">
                                <!-- Review Option -->
                                <button
                                  mat-menu-item
                                  *ngFor="let rol of role"
                                  [attr.data-active]="
                                    user.role === rol.value ? 'true' : 'false'
                                  "
                                  (click)="changeRol(user._id, rol.value)"
                                >
                                  <i [class]="rol.icon"></i>
                                  <span> {{ rol.viewValue }}</span>
                                </button>
                              </div>
                            </ng-template>
                          </mat-menu>
                          <mat-divider class="mobile"></mat-divider>
                          <!-- Edit Option -->
                          <button
                            mat-menu-item
                            (click)="openUsersModal(user._id)"
                          >
                            <i class="material-icons">edit</i>
                            <span>Editar</span>
                          </button>
                          <!-- Delete Option -->
                          <button mat-menu-item (click)="delete(user)">
                            <i class="material-icons">delete</i>
                            <span>Eliminar</span>
                          </button>
                          <!-- Favorite Option -->
                          <!-- <button mat-menu-item>
                            <i class="material-icons">star_border</i>
                            <span>Favorito</span>
                          </button> -->
                        </div>
                      </ng-template>
                    </mat-menu>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- Users Expansion Body -->
              <mat-card class="item-body-data-container">
                <div class="item-body-data-content dfc">
                  <div class="item-body-row mobile dfr">
                    <span class="item-body-title">Rol</span>
                    <span
                      class="item-body-subtitle"
                      [attr.data-role]="user.role"
                      >{{ this._usersS.getUserRole(user, "list") }}</span
                    >
                  </div>
                  <div class="item-body-row dfr">
                    <span class="item-body-title">Fecha</span>
                    <span class="item-body-subtitle">{{
                      user?.created_at
                        ? (user?.created_at | date: "dd") +
                          "/" +
                          (user?.created_at | date: "MM") +
                          "/" +
                          (user?.created_at | date: "yyyy")
                        : "N/E"
                    }}</span>
                  </div>
                  <div class="item-body-row dfr">
                    <span class="item-body-title">Telefono</span>
                    <span class="item-body-subtitle">{{
                      user.cellPhone ? user.cellPhone : "N/E"
                    }}</span>
                  </div>
                  <div class="item-body-row dfr">
                    <span class="item-body-title">Dirección</span>
                    <span class="item-body-subtitle">{{
                      user.address ? user.address : "N/E"
                    }}</span>
                  </div>
                </div>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </perfect-scrollbar>
      <!-- Loading Data Animation -->
      <ng-template #loadingUsersData>
        <div
          #loaderUsersContainer
          class="h-full"
          [class.overflow-hidden]="isLoading"
        >
          <app-loading-data
            loaderType="common"
            [loaderContainer]="loaderUsersContainer"
          ></app-loading-data>
        </div>
      </ng-template>
      <!-- <div
        *ngIf="isLoading"
        class="h-full w-full loading-preview dfr"
        [attr.data-loaded]="isLoading ? 'true' : 'false'"
      >
        <mat-spinner
          class="loading-preview-spinner center-loading-spinner"
          strokeWidth="8"
        >
        </mat-spinner>
        <div class="loading-preview-img centered-img-bg">
          <img
            [src]="
              this.isDarkThemeActive
                ? '../../../assets/images/brand.png'
                : '../../../assets/images/brand_black.png'
            "
            alt=""
          />
        </div>
      </div> -->
      <!-- Not Users / Clients Registered Message -->
      <div *ngIf="!isLoading && users.length === 0" class="no-data-container">
        <div class="card sticky-action" style="width: 100%">
          <div class="card-body card-content no-data dfr">
            <div class="card-no-data-icon dfc">
              <span>i</span>
            </div>
            <div class="card-no-data-information">
              <span>
                No hay
                {{ _usersS.user.role === "ADMIN" ? "usuarios" : "clientes" }}
                registrados
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Open User Creation Modal Button Trigger -->
      <div *ngIf="!isLoading" class="item-add-container">
        <button
          mat-icon-button
          class="
            item-add-button
            primary-text
            gradient-45deg-orange gradient-shadow
            dfc
          "
          (click)="openUsersModal()"
          [matTooltip]="
            _usersS.user.role === 'ADMIN' ? 'Crear usuario' : 'Crear cliente'
          "
          matTooltipPosition="above"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
    </mat-card-content>

    <!-- Users List Pagination -->
    <mat-card-actions
      *ngIf="users.length > 0 && !isLoading"
      class="item-list-pagination-container dfr"
    >
      <pagination-controls
        class="news-pagination"
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </mat-card-actions>
  </mat-card>
</div>
