.user-role-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.header-item-subtitle[data-role="ADMIN"] {
  background: #2e89ff;
  color: var(--white-color);
}

.item-body-subtitle[data-role="ADMIN"] {
  color: #2e89ff;
  font-weight: 600;
}

.header-item-subtitle[data-role="ASSOCIATED"] {
  background: #ff0054;
  color: var(--white-color);
}

.item-body-subtitle[data-role="ASSOCIATED"] {
  color: #ff0054;
  font-weight: 600;
}

.header-item-subtitle[data-role="CLIENT"] {
  background: #ff6347;
  color: var(--white-color);
}

.item-body-subtitle[data-role="CLIENT"] {
  color: #ff6347;
  font-weight: 600;
}

.header-item-subtitle[data-role="EXTERNAL-CLIENT"] {
  background: #9c19d2;
  color: var(--white-color);
}

.item-body-subtitle[data-role="EXTERNAL-CLIENT"] {
  color: #9c19d2;
  font-weight: 600;
}

.header-item-subtitle[data-role="NEW"] {
  background: #00c68f;
  color: var(--white-color);
}

.item-body-subtitle[data-role="NEW"] {
  color: #00c68f;
  font-weight: 600;
}
