<!-- Tabla Listado Users -->
<table
  datatable
  id="users-tbl"
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover stripe"
  style="width: 100% !important;"
>
  <thead>
    <tr>
      <th class="users-tbl-user-th all no-sort">
        User
      </th>
      <th class="users-tbl-email-th">
        Email
      </th>
      <th class="users-tbl-tel-th">
        Teléfono
      </th>
      <th class="users-tbl-name-th all">
        Nombre
      </th>
      <th class="users-tbl-ape-th">
        Apellidos
      </th>
      <th class="users-tbl-add-th">
        Dirección
      </th>
      <th class="users-tbl-acc-th all no-sort">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <!-- User Image -->
      <td class="users-tbl-user-td">
        <div class="tbl-user-icon centered-img-bg dfc">
          <img [src]="user?.img | img: 'user':true" />
        </div>
      </td>
      <!-- User Email -->
      <td class="users-tbl-email-td t-o-h">
        {{ user?.email }}
      </td>
      <!-- User CellPhone -->
      <td class="users-tbl-tel-td t-o-h">
        {{ user?.cellPhone }}
      </td>
      <!-- User Name -->
      <td class="users-tbl-name-td t-o-h">
        {{ user?.firstName }}
      </td>
      <!-- User LastName -->
      <td class="users-tbl-ape-td t-o-h">
        {{ user?.lastName }}
      </td>
      <!-- User Address -->
      <td class="users-tbl-add-td t-o-h">
        {{ user?.address }}
      </td>
      <!-- User Actions -->
      <td class="users-tbl-acc-td">
        <!-- Actions Dropdown Trigger -->
        <button
          class="btn tbl-action-button waves-effect waves-light indigo darken-1"
          mat-icon-button
          [matMenuTriggerFor]="actionsMenu"
        >
          <i class="material-icons">more_vert</i>
        </button>
        <!-- Actions Dropdown -->
        <mat-menu #actionsMenu="matMenu" xPosition="before">
          <ng-template matMenuContent>
            <div class="dfc">
              <button
                class="modal-trigger"
                mat-menu-item
                href="#modalUsers"
                (click)="sendUserId(user?._id, false)"
              >
                <i class="material-icons" style="color: #ff4081;">edit</i>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="delete(user)">
                <i class="material-icons" style="color: #ff4081;">delete</i>
                <span>Eliminar</span>
              </button>
              <button mat-menu-item>
                <i class="material-icons" style="color: #ff4081;"
                  >star_border</i
                >
                <span>Favorito</span>
              </button>
            </div>
          </ng-template>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Create New User Modal Button Trigger -->
<div
  style="bottom: 61px; right: 19px; z-index: 999;"
  class="fixed-action-btn direction-top active"
>
  <a
    class="btn-floating btn-large primary-text gradient-pos-45deg-lighter-blue gradient-shadow modal-trigger"
    href="#modalUsers"
    (click)="sendUserId('', true)"
  >
    <i class="material-icons">person_add</i>
  </a>
</div>
