@media only screen and (max-width: 490px) {
  .modal-forgot-password {
    font-size: 11px !important;
  }
  .login-input-field {
    margin: 0 !important;
  }
  #login-button {
    margin: 20px auto !important;
  }
}

@media only screen and (max-width: 435px) {
  .login-actions {
    flex-direction: column !important;
  }
  .modal-forgot-password {
    margin-top: 10px;
    text-align: end;
  }
}

.login-content {
  margin-top: 30px;
  /* height: max-content; */
  height: 216px;
}

.login-content,
.login-content div:not(.modal-input-placeholder) {
  width: 100%;
}

.login-input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal-input {
  background: rgba(0, 0, 0, 0.05) !important;
  border: 1px solid rgb(0, 0, 0, 0.05) !important;
  margin-bottom: 25px !important;
}

.modal-input input {
  padding: 3px 10px !important;
  font-size: 12px !important;
}

.modal-input-placeholder {
  top: 8px !important;
  font-size: 12px !important;
}

.modal-input.modal-input-blue
  input:focus
  ~ .modal-input-placeholder.modal-input-placeholder-blue,
.modal-input.modal-input-blue
  input:not(:placeholder-shown)
  ~ .modal-input-placeholder.modal-input-placeholder-blue,
.modal-input.modal-input-blue
  textarea:focus
  ~ .modal-input-placeholder.modal-input-placeholder-blue,
.modal-input.modal-input-blue
  textarea:not(:placeholder-shown)
  ~ .modal-input-placeholder.modal-input-placeholder-blue {
  transform: scale(0.75) translatey(-20px) !important;
}

.login-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.switch {
  line-height: 0;
}

#login-button {
  width: 100%;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: none;
  height: auto;
  padding: 2px 0;
  margin: 0 auto 25px auto;
  font-weight: 600;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(50, 187, 250, 1)),
    color-stop(47%, rgba(9, 140, 240, 1)),
    color-stop(72%, rgba(0, 133, 222, 1)),
    color-stop(100%, rgba(4, 89, 201, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(50, 187, 250, 1) 0%,
    rgba(9, 140, 240, 1) 47%,
    rgba(0, 133, 222, 1) 72%,
    rgba(4, 89, 201, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(50, 187, 250, 1) 0%,
    rgba(9, 140, 240, 1) 47%,
    rgba(0, 133, 222, 1) 72%,
    rgba(4, 89, 201, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(50, 187, 250, 1) 0%,
    rgba(9, 140, 240, 1) 47%,
    rgba(0, 133, 222, 1) 72%,
    rgba(4, 89, 201, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(50, 187, 250, 1) 0%,
    rgba(9, 140, 240, 1) 47%,
    rgba(0, 133, 222, 1) 72%,
    rgba(4, 89, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bbfa', endColorstr='#0459c9', GradientType=1 );
}

#login-button:hover {
  border-color: #26aee4;
  -webkit-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.login-button-disabled {
  background: rgba(0, 0, 0, 0.09) !important;
  color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

.modal .modal-footer {
  text-align: center;
}

.modal .modal-footer {
  margin-bottom: 15px;
}

.modal .modal-footer > a {
  color: #c7c7c7;
}

.modal .modal-footer > a:hover {
  color: #26aee4;
}

.modal-forgot-password {
  width: max-content;
  padding: 0;
  font-size: 14px;
  line-height: initial;
  color: #2e89ff;
}

.modal-forgot-password:hover {
  text-decoration: underline;
}
