<form ngNativeValidate #f="ngForm" (ngSubmit)="logIn(f)">
  <div
    *ngIf="serverAlert.show"
    class="
      server-message-alert
      w-full
      dfr
      jcs
      ais
      py-07-r
      pr-2-r
      pl-1-r
      mt-2-r
      mx-auto
    "
  >
    <div class="server-message-alert-icon pt-3 dfc">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div class="server-message-alert-text dfc ais pl-05-r">
      <strong>{{ serverAlert.message }}</strong>
      <div>
        <!-- Create Account -->
        <p
          *ngIf="serverAlert.type === 'notExist'"
          class="secondary-text m-0 fs-13"
        >
          ¿Quieres
          <button
            class="server-message-alert-link link"
            type="button"
            (click)="setActiveTab()"
          >
            crear una nueva cuenta</button
          >?
        </p>
        <!-- Verify Account -->
        <p
          *ngIf="serverAlert.type === 'notConfirmed'"
          class="secondary-text m-0 fs-13"
        >
          ¿No recibiste un mensaje?
          <button
            class="server-message-alert-link link"
            type="button"
            (click)="resentConfirmationEmail(f)"
          >
            Reenviar
          </button>
        </p>
        <!-- Account Recovery -->
        <p
          *ngIf="serverAlert.type === 'wrongCredentials'"
          class="secondary-text m-0 fs-13"
        >
          <button
            class="server-message-alert-link link"
            type="button"
            [routerLink]="['c//user/account-recovery']"
            (click)="modalRef.close()"
          >
            ¿Has olvidado tu contraseña?
          </button>
        </p>
      </div>
    </div>
  </div>

  <div class="login-content">
    <!-- Email Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="email"
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder=" "
        required
        email
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Correo electronico
      </div>
    </div>
    <!-- Password Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="password"
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Contraseña
      </div>
    </div>
    <button
      type="submit"
      [class.login-button-disabled]="!f.valid"
      id="login-button"
      class="waves-effect waves-light btn"
    >
      Iniciar Sesión
    </button>
    <div class="login-actions">
      <a href="#!" class="modal-forgot-password modal-close waves-effect"
        >¿Tienes problemas para iniciar sesión?</a
      >
    </div>
  </div>
</form>
