<form ngNativeValidate #f="ngForm" (ngSubmit)="logIn(f)">
  <div class="login-content">
    <!-- Email Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="email"
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Correo electronico*
      </div>
    </div>
    <!-- Password Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="password"
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Contraseña*
      </div>
    </div>
    <div class="login-actions">
      <div class="switch">
        <label>
          Recordar Usuario
          <input type="checkbox" [(ngModel)]="remember" name="remember" />
          <span class="lever"></span>
        </label>
      </div>
      <a href="#!" class="modal-forgot-password modal-close waves-effect"
        >¿Has olvidado tu contraseña?</a
      >
    </div>
    <button
      type="submit"
      [class.login-button-disabled]="!f.valid"
      id="login-button"
      class="waves-effect waves-light btn"
    >
      Iniciar Sesión
    </button>
  </div>
</form>
