<div
  id="modal-Expediente"
  class="modal border-radius-6"
  tabindex="0"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <div class="modal-content">
    <h5 class="mt-0">Crear Nuevo - <span class="add-type">Expediente</span></h5>
    <hr />
    <!-- <div class="row"> -->
      <form ngNativeValidate [formGroup]="form" (ngSubmit)="crear()">
        <mat-form-field style="width: 100%;">
          <mat-label>Selecciona un Cliente</mat-label>
          <mat-select name="assigned_client" formControlName="assigned_client">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario._id">
              {{ usuario.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input
          id="affair"
          name="affair"
          formControlName="affair"
          placeholder="Asunto"
          type="text"
          required
        />
        <input
          id="description"
          name="description"
          formControlName="description"
          placeholder="Descripción"
          type="text"
          required
        />
        <div class="modal-footer">
          <button
            type="submit"
            class="modal-close waves-effect waves-light orange darken-1 btn"
          >
            Cancelar
          </button>
          <button
            id="expediente-submit-button"
            type="submit"
            class="waves-effect waves-light blue darken-1 btn"
          >
            Crear expediente
          </button>
        </div>
      </form>
    <!-- </div> -->
  </div>
</div>
