<!-- Caso Encabezado -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row" style="margin: 0">
        <div class="col s12" style="padding: 0">
          <div class="expedienteData">
            <div class="expedienteKeys">
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Asunto:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ caseData?.affair }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Clave Interna:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ caseData?.intKey }}</span>
                </div>
              </div>
            </div>
            <div class="expedienteDetails">
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Cliente:</span>
                </div>
                <div
                  *ngIf="caseData?.assigned_client"
                  class="expedienteSubtitle"
                >
                  <span>{{
                    caseData?.assigned_client[0]?.firstName +
                      " " +
                      caseData?.assigned_client[0]?.lastName
                  }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Actor(es):</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ caseData?.actor }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Demandado(s):</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{
                    caseData?.defendant ? caseData?.defendant : "N/E"
                  }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Terceros:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ caseData?.third ? caseData?.third : "N/E" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor Listado Seguimientos -->
<div class="item-list-container">
  <mat-card class="item-list-container dfc">
    <!-- Posts List Container  -->
    <mat-card-content class="item-list-content perfil-details">
      <perfect-scrollbar
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <!-- Tracking Cards -->
          <mat-card
            *ngFor="
              let track of tracksList
                | paginate
                  : {
                      itemsPerPage: 2,
                      currentPage: currentPage,
                      id: 'tracking-pagination-detail'
                    };
              let i = index
            "
            class="tracking-table-container dfr"
            [attr.data-show-more]="
              showMoreIndex === track?.index ? 'true' : 'false'
            "
          >
            <div class="tracking-table-content dfr">
              <div class="tracking-table-data dfr">
                <div class="tracking-table-number dfc">
                  <span>{{ track?.index }}</span>
                </div>
                <div class="tracking-table-body dfc">
                  <div class="tracking-table-data-item">
                    <span>{{ track?.date | date }}</span>
                  </div>
                  <div class="tracking-table-data-item dfr">
                    <div
                      *ngIf="tracksList.length > 0"
                      class="tracking-table-comment dfr"
                    >
                      <p>
                        {{ track?.message }}
                        <span
                          class="read-less"
                          (click)="_utilitiesS.setClientShowMoreIndexSub(null)"
                        >
                          Ver menos
                        </span>
                      </p>
                      <span
                        class="read-more"
                        (click)="
                          _utilitiesS.setClientShowMoreIndexSub(track?.index)
                        "
                      >
                        Ver más
                      </span>
                    </div>
                    <div *ngIf="tracksList.length === 0">
                      <p>Sin comentarios</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- File Tracking Actions -->
              <div class="header-item-actions general perfil-card-action dfr">
                <button
                  mat-icon-button
                  class="header-item-btn btn waves-effect waves-light dfc"
                  (click)="
                    moveDown($event);
                    openSelectEvidences('trackingDetails', track)
                  "
                  matTooltip="Ver más detalles"
                  matTooltipPosition="above"
                >
                  <i class="material-icons">expand_more</i>
                </button>
              </div>
              <!-- File Tracking Attached Documents Button -->
            </div>
          </mat-card>
        </div>
      </perfect-scrollbar>
      <div *ngIf="tracksList?.length === 0" class="no-data-container">
        <div class="card sticky-action no-data">
          <div class="card-body card-content no-data dfr">
            <div class="card-no-data-icon dfc">
              <span>i</span>
            </div>
            <div class="card-no-data-information">
              <span>
                No hay seguimientos realizados en este caso por el momento</span
              >
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <!-- Case List Pagination -->
    <mat-card-actions
      *ngIf="tracksList?.length > 0"
      class="item-list-pagination-container dfr"
    >
      <pagination-controls
        class="news-pagination"
        (pageChange)="currentPage = $event"
        id="tracking-pagination-detail"
      ></pagination-controls>
    </mat-card-actions>
  </mat-card>
</div>
