.lawyers-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 15px;
}

.item-acordion-card-body-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.item-acordion-card-inner-box:hover {
  border-color: hsl(214, 100%, 59%);
}

.item-acordion-card-inner-box:hover .item-acordion-card-body-image {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
