#lawyers-content-container {
  padding: 25px 0 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.item-acordion-card-box {
  height: 490px;
  min-height: 490px;
  background: transparent;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  padding: 0;
  box-shadow: none;
}

.item-acordion-card-inner-box {
  background: var(--medium-dark-bg-hover);
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-divider);
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 0 0 10px 0;
}

.item-acordion-card-body-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.item-acordion-card-inner-box:hover {
  border-color: hsl(214, 100%, 59%);
}

.item-acordion-card-inner-box:hover .item-acordion-card-body-image {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
