<!-- Modal Structure -->
<div mat-dialog-title class="modal-header admin-modal-header dfc">
  <div class="modal-icon dfc">
    <i
      *ngIf="to.role === 'ADMIN' || to.role === 'ASSOCIATED'"
      class="far fa-envelope"
    ></i>
    <i
      *ngIf="to.role !== 'ADMIN' && to.role !== 'ASSOCIATED'"
      class="material-icons"
      >forum</i
    >
  </div>
  <span class="client-action">
    {{
      to.role === "ADMIN" || to.role === "ASSOCIATED"
        ? action + " Mensaje"
        : action + " Comentario"
    }}
  </span>
  <i
    mat-dialog-close
    class="modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
    >close</i
  >
</div>

<mat-dialog-content class="mat-typography admin-modal-container">
  <!-- Modal Content -->
  <div class="modal-content admin-modal-content reply">
    <div class="row mb-0">
      <form
        id="commentForm"
        class="col s12"
        style="padding: 0 30px; height: 100%"
        ngNativeValidate
        [formGroup]="form"
      >
        <div class="comment-remitent">
          <span>Para:</span>
        </div>
        <div class="comment-divider"></div>
        <div class="comment-data dfr">
          <div class="comment-data-img centered-img-bg">
            <img [src]="to.img | img: 'user'" alt="" />
          </div>
          <div class="comment-data-info dfc">
            <div class="comment-data-name">
              <span>
                {{
                  to.role === "ADMIN" || to.role === "ASSOCIATED" ? "Lic" : null
                }}
                {{ to.firstName + " " + to.lastName }}
              </span>
            </div>
            <div class="comment-data-email">
              <span>{{ to.email }}</span>
            </div>
            <div class="comment-data-number">
              <span>
                {{
                  to.role === "ADMIN" || to.role === "ASSOCIATED"
                    ? to.cellPhone
                    : _usersS.getUserRole(to, "list")
                }}
              </span>
            </div>
          </div>
        </div>
        <!-- Inputs Container -->
        <div class="inputs-container">
          <!-- Email Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="contactEmail"
              formControlName="contactEmail"
              type="email"
              placeholder=" "
              required
              email
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Ingresa tu correo 
            </div>
          </div>
          <!-- Comment Input Field -->
          <div class="modal-input modal-input-pink notes-text-area">
            <textarea
              class="materialize-textarea expediente-input ng-pristine ng-touched"
              name="comment"
              formControlName="comment"
              id="Comment"
              placeholder=" "
              autosize
              [minRows]="4"
              [maxRows]="8"
              required
            ></textarea>
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Escribe tu mensaje
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer modal-actions admin-modal-footer">
    <ng-container>
      <div class="modal-actions-container dfr">
        <div class="modal-actions-content">
          <button
            type="button"
            class="mwaves-effect waves-light btn modal-close-action"
            mat-dialog-close
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="waves-effect waves-light btn modal-submit-action"
            [class.button-disabled]="!form.valid"
          >
            Envíar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
