<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <form ngNativeValidate #fA="ngForm" class="col s12">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                id="twitter"
                name="twitter"
                type="text"
                class="validate"
                placeholder=" "
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Twitter
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                id="facebook"
                name="facebook"
                type="text"
                class="validate"
                placeholder=" "
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Facebook
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                id="google+"
                name="google+"
                type="text"
                class="validate"
                placeholder=" "
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Google+
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                id="linkedIn"
                name="linkedIn"
                type="text"
                class="validate"
                placeholder=" "
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                LinkedIn
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                id="instagram"
                name="instagram"
                type="text"
                class="validate"
                placeholder=" "
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Instagram
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action perfil-card-action">
        <button
          class="btn waves-effect waves-light gradient-45deg-dark-blue"
          type="submit"
          name="action"
        >
          Guardar Cambios
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
