<section id="index-container" class="pr pt-141">
  <!-- Inicio Carousel Principal-->
  <div id="carouselPrincipal" class="carousel carousel-slider center " data-indicators="true">
    <hr class="carousel-progress-bar-timer animate" />
    <div class="carousel-fixed-item center middle-indicator">
      <div class="left">
        <a
          href="Previo"
          class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"
          ><i class="material-icons left  middle-indicator-text"
            >chevron_left</i
          ></a
        >
      </div>

      <div class="right">
        <a
          href="Siguiente"
          class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"
          ><i class="material-icons right middle-indicator-text"
            >chevron_right</i
          ></a
        >
      </div>
    </div>
    <div id="slideOne" class="carousel-item red white-text" href="#one!">
      <div class="container carousel-content">
        <h2>First Slide Text Example</h2>
        <p class="white-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
          <br />
          erat risus, eget sagittis dui mollis ac. Proin pellentesque, sapien
          vel
          <br />
          sollicitudin eleifend, leo quam pretium arcu, a luctus nibh leo quis
          tellus.
        </p>
        <span>First Text</span>
        <span>Second Text</span>
        <span>Third Text</span>
        <span>Fourth Text</span>
        <span>Fifth Text</span>
        <a class="waves-effect waves-light btn indigo darken-1"
          >Más información</a
        >
      </div>
    </div>
    <div id="slideTwo" class="carousel-item amber white-text" href="#two!">
      <div class="container carousel-content" style="align-items: center;">
        <h2>Second Slide Text Example</h2>
        <p class="white-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
          <br />
          erat risus, eget sagittis dui mollis ac. Proin pellentesque, sapien
          vel
          <br />
          sollicitudin eleifend, leo quam pretium arcu, a luctus nibh leo quis
          tellus.
        </p>
        <span>First Text</span>
        <span>Second Text</span>
        <span>Third Text</span>
        <span>Fourth Text</span>
        <span>Fifth Text</span>
        <a class="waves-effect waves-light btn indigo darken-1"
          >Más Información</a
        >
      </div>
    </div>
    <div id="slideThree" class="carousel-item green white-text" href="#three!">
      <div class="container carousel-content" style="align-items: flex-end;">
        <h2>Third Slide Text Example</h2>
        <p class="white-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
          <br />
          erat risus, eget sagittis dui mollis ac. Proin pellentesque, sapien
          vel
          <br />
          sollicitudin eleifend, leo quam pretium arcu, a luctus nibh leo quis
          tellus.
        </p>
        <span>First Text</span>
        <span>Second Text</span>
        <span>Third Text</span>
        <span>Fourth Text</span>
        <span>Fifth Text</span>
        <a class="waves-effect waves-light btn indigo darken-1"
          >Más información</a
        >
      </div>
    </div>
    <div
      id="slideFour"
      class="carousel-item cyan accent-3 white-text"
      href="#four!"
    >
      <div class="container carousel-content" style="align-items: center;">
        <h2>Fourth Slide Text Example</h2>
        <p class="white-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar
          <br />
          erat risus, eget sagittis dui mollis ac. Proin pellentesque, sapien
          vel
          <br />
          sollicitudin eleifend, leo quam pretium arcu, a luctus nibh leo quis
          tellus.
        </p>
        <span>First Text</span>
        <span>Second Text</span>
        <span>Third Text</span>
        <span>Fourth Text</span>
        <span>Fifth Text</span>
        <a class="waves-effect waves-light btn indigo darken-1"
          >Más información</a
        >
      </div>
    </div>
  </div>
  <!-- Fin Carousel Principal-->

  <!-- Inicio Carousel Partners-->
  <div class="container">
    <div id="partnersText">
      <span>Partners</span>
    </div>
    <div id="carouselPartner" class="carousel">
      <a class="carousel-item" href="#one!">
        <img src="../../../assets/images/carouselPartners/slide_1.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#two!">
        <img src="../../../assets/images/carouselPartners/slide_2.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#three!">
        <img src="../../../assets/images/carouselPartners/slide_3.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#four!">
        <img src="../../../assets/images/carouselPartners/slide_4.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#five!">
        <img src="../../../assets/images/carouselPartners/slide_5.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#six!">
        <img src="../../../assets/images/carouselPartners/slide_1.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
      <a class="carousel-item" href="#seven!">
        <img src="../../../assets/images/carouselPartners/slide_3.jfif" />
        <div class="carousel-item-text"><span>Texto</span></div>
      </a>
    </div>
  </div>
  <!-- Fin Carousel Partners-->
</section>
