<div class="item-list-container">
  <mat-card class="item-list-container dfc">
    <!-- File Notes Header  -->
    <mat-card-header class="item-filter-container">
      <mat-card class="item-filter-content list-files dfr">
        <div
          *ngIf="modeV === 'new'"
          class="item-filter-back waves-effect waves-light dfc"
          (click)="return()"
        >
          <i class="material-icons">arrow_back</i>
        </div>
        <div class="item-acordion-title-left list-files dfr">
          <div class="header-item-body dfc">
            <div class="header-item-title dfr">
              <div class="header-item-title-wrap">
                <span>{{ fileData?.affair }}</span>
              </div>
            </div>
            <div class="header-item-data">
              <span>
                {{
                  notes?.length === 1
                    ? notes?.length + " Nota"
                    : notes?.length + " Notas"
                }}
              </span>
            </div>
          </div>
        </div>
        <!-- Entries And Status Filters Container -->
        <div class="entry-and-status-filters-container list-files dfr">
          <!-- Entries Filter -->
          <div class="show-entries-filter list-files dfr">
            <span class="entries-filter-text list-files">Ver</span>
            <div class="entries-filter-select list-files">
              <mat-form-field>
                <mat-select
                  disableOptionCentering
                  [(ngModel)]="selectedEntry"
                  (ngModelChange)="changeEntry($event)"
                >
                  <mat-option
                    *ngFor="let entry of entriesFilter"
                    [value]="entry"
                    [selected]="entry === 5"
                  >
                    {{ entry }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="entries-filter-text list-files">Resultados</span>
          </div>
          <!-- Status Filter -->
          <div *ngIf="modeV === 'new'" class="status-filter dfr">
            <span class="status-filter-text file-type">Estado</span>
            <div class="status-filter-select file-type">
              <mat-form-field>
                <mat-select
                  disableOptionCentering
                  (valueChange)="change($event)"
                  value="all"
                >
                  <mat-option
                    value="status"
                    style="display: none"
                    *ngIf="this.innerScreenWidth <= 940"
                  >
                    Estado
                  </mat-option>
                  <mat-option value="all"> Todos </mat-option>
                  <mat-option value="private"> Privada </mat-option>
                  <mat-option value="public"> Pública </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search Filter -->
        <div class="search-filter list-files dfr">
          <div class="search-input-filter list-files dfc">
            <input
              (keyup)="filter($event.target.value)"
              placeholder="Filtrar por nombre"
            />
          </div>
          <div class="search-btn-filter list-files">
            <button
              class="filters-btn btn waves-effect waves-light dfc"
              (click)="openFilters()"
            >
              <i class="fas fa-filter"></i>
            </button>
            <button
              class="btn waves-effect waves-light dfc"
              (click)="handleMobileFilter(true)"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <!-- Search Filter Mobile -->
        <div
          class="search-filter-mobile dfr"
          [attr.isVisible]="this.mobileFilterActivated"
        >
          <div
            class="go-back-filter-mobile waves-effect waves-light dfc"
            *ngIf="this.mobileFilterActivated"
            (click)="handleMobileFilter(false)"
          >
            <i class="material-icons">arrow_back</i>
          </div>
          <div
            class="search-input-filter-mobile dfc"
            *ngIf="this.mobileFilterActivated"
          >
            <input placeholder="Filtrar por nombre" />
          </div>
        </div>
      </mat-card>
    </mat-card-header>

    <!-- File Notes List Container  -->
    <mat-card-content
      class="item-list-content"
      [attr.data-details]="modeV === 'select' ? 'true' : 'false'"
    >
      <perfect-scrollbar
        *ngIf="notes?.length > 0"
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <!-- Note Item Cards -->
          <div class="item-acordion-card-container">
            <div
              class="item-acordion-card-box dfc"
              *ngFor="
                let note of notes
                  | filter: filterValue:'note':statusNote
                  | paginate
                    : {
                        itemsPerPage: selectedEntry,
                        currentPage: currentPage
                      }
              "
            >
              <!-- Note Card Header -->
              <div
                class="item-acordion-card-header dfr"
                [attr.data-type]="modeV !== 'new' ? 'DETAILS' : 'LIST'"
              >
                <div
                  class="item-acordion-card-header-data note-card-header dfc"
                >
                  <div
                    class="note-action-check dfc"
                    [attr.data-added]="isNoteChecked(note._id) ? 'on' : 'off'"
                  >
                    <mat-checkbox
                      *ngIf="modeV === 'select'"
                      class="example-margin"
                      (click)="moveDown($event)"
                      (change)="addCheckedNotes($event, note)"
                      [checked]="isNoteChecked(note._id) ? true : false"
                    ></mat-checkbox>
                  </div>
                  <div
                    *ngIf="modeV === 'select'"
                    [attr.data-state]="
                      isNoteChecked(note._id) ? 'NOTE' : 'NOT-ADDED'
                    "
                    class="item-acordion-card-state"
                  >
                    <span>Incluida</span>
                  </div>
                  <div
                    class="item-acordion-card-header-left dfr"
                    [attr.data-state]="
                      isNoteChecked(note._id) ? 'NOTE' : 'NOT-ADDED'
                    "
                  >
                    <div class="item-acordion-card-name color">
                      <span>{{ note.affair }}</span>
                    </div>
                    <div class="item-acordion-card-date">
                      <span>{{ note.date | date }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Note Card Body -->
              <div
                class="item-acordion-card-body dfr"
                [attr.data-note-details]="modeV !== 'new' ? 'true' : 'false'"
              >
                <div class="item-acordion-card-body-data note-card dfc">
                  <div
                    class="item-acordion-card-body-content note-card-content"
                  >
                    <perfect-scrollbar
                      *ngIf="notes?.length > 0"
                      class="scroll-container"
                      fxFlex="auto"
                      [config]="config"
                      [scrollIndicators]="false"
                    >
                      <div class="scrollable-content not-margin">
                        <span>{{ note.message }}</span>
                      </div>
                    </perfect-scrollbar>
                  </div>
                </div>
              </div>
              <!-- Note Card Actions -->
              <div
                *ngIf="modeV === 'new' && !isCaseArchived"
                class="item-acordion-body-actions dfr"
              >
                <!-- Edit Note Button Trigger -->
                <button
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Editar"
                  matTooltipPosition="above"
                  (click)="
                    moveDown($event); openNotes(note._id); editNote(note)
                  "
                >
                  <i class="far fa-edit"></i>
                </button>
                <!-- Delete Note Button Trigger -->
                <button
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Eliminar"
                  matTooltipPosition="above"
                  (click)="moveDown($event); changeStatus(note._id, 'DELETED')"
                >
                  <i class="material-icons">delete</i>
                </button>
                <!-- Lock/Unluck Note Button Trigger -->
                <button
                  *ngIf="note.status === 'PRIVATE'"
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Cambiar estado"
                  matTooltipPosition="above"
                  (click)="
                    moveDown($event); changeStatus(note._id, note.status)
                  "
                >
                  <i class="material-icons">visibility_off</i>
                </button>
                <button
                  *ngIf="note.status === 'PUBLIC'"
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Cambiar estado"
                  matTooltipPosition="above"
                  (click)="
                    moveDown($event); changeStatus(note._id, note.status)
                  "
                >
                  <i class="material-icons">visibility</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
      <div *ngIf="notes?.length === 0" class="no-data-container">
        <div class="card sticky-action" style="width: 100%">
          <div class="card-body card-content no-data dfr">
            <div class="card-no-data-icon dfc">
              <span>i</span>
            </div>
            <div class="card-no-data-information">
              <span> No hay notas agregadas en este caso</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Open Notes Modal Button Trigger -->
      <div *ngIf="modeV === 'new' && !isCaseArchived" class="item-add-container">
        <button
          mat-icon-button
          class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
          (click)="openNotes()"
          matTooltip="Crear nota"
          matTooltipPosition="above"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
      <!-- Open Note Creation Modal Button Trigger -->
      <div
        *ngIf="modeV === 'select' && notes.length > 0"
        class="item-add-container"
      >
        <button
          mat-icon-button
          class="item-add-button primary-text light-blue dfc"
          (click)="addNotes()"
          matTooltip="Incluir seleccionadas"
          matTooltipPosition="above"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
    </mat-card-content>

    <!-- Notes Pagination -->
    <mat-card-actions
      *ngIf="notes?.length > 0"
      class="item-list-pagination-container dfr"
    >
      <pagination-controls
        class="news-pagination"
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </mat-card-actions>
  </mat-card>
</div>
