<section id="noticias-main-container" class="pr pt-71 dfc">
  <div class="search-main-menu">
    <div class="serach-main-menu-container container">
      <nav class="noticias-search">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input
                (keyup)="filter($event.target.value)"
                id="searchPost"
                type="search"
                placeholder="Buscar artículo"
                required
              />
              <label class="label-icon search-label-icon dfr" for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="search-close-icon material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div *ngIf="posts.length > 0" class="noticias-content-container container">
    <div
      *ngFor="
        let post of posts
          | stringFilter: filterValue:'postTitle':noDataContainer
          | paginate: { itemsPerPage: selectedEntry, currentPage: currentPage }
      "
      class="card sticky-action"
      style="width: 100%"
    >
      <div
        class="card-body card-content cursor-p"
        (click)="viewPostDetails(post._id); scrollToTop()"
      >
        <div class="date-img-container dfc">
          <div class="card-date dfc">
            <div class="card-autor list-author">
              <span
                >{{ post?.user?.firstName }} {{ post?.user?.lastName }}</span
              >
            </div>
            <div class="dfr">
              <span>{{
                (post?.created_at | date: "dd") +
                  " " +
                  (post?.created_at | date: "MMM") +
                  ", " +
                  (post?.created_at | date: "yyyy")
              }}</span>
            </div>
          </div>
          <div
            class="card-img card-image centered-img-bg ff-ur border-radius-auto"
          >
            <img
              [src]="post?.postImage | img: 'post'"
              alt="post-image"
              class="border-radius-auto"
            />
          </div>
        </div>

        <div class="card-information">
          <div class="card-title-content dfr">
            <a
              ><span class="card-title">{{ post?.postTitle }}</span></a
            >
          </div>
          <div
            class="noticia-content"
            [innerHtml]="
              post?.postContent ? (post?.postContent | truncateHtml) : 'N/E'
            "
          ></div>
        </div>
      </div>
      <div class="card-footer card-action">
        <div class="card-social-network">
          <div class="like-dislike-comments-section dfr">
            <div class="item-acordion-body-actions dfr">
              <!-- Post Read Button Trigger -->
              <button
                class="
                  header-item-btn
                  btn
                  posts-btn
                  action-button
                  important-action
                  dfc
                "
                mat-icon-button
                matTooltip="Leer Artículo"
                matTooltipPosition="above"
                [routerLink]="['/articulo-detalle', post._id]"
                (click)="scrollToTop()"
              >
                <i class="far fa-eye"></i>
              </button>
              <!-- Post Comments Button Trigger -->
              <button
                class="header-item-btn btn posts-btn action-button dfc"
                mat-icon-button
                matTooltip="Ver Comentarios"
                matTooltipPosition="above"
                (click)="goToComments(post._id)"
              >
                <i class="material-icons">forum</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- No Data Found Message -->
    <div
      #noDataContainer
      class="noticias-content-container w-full no-data hidden p0"
    >
      <div class="card sticky-action" style="width: 100%">
        <div class="card-body card-content no-data">
          <div class="card-no-data-icon dfc">
            <span>i</span>
          </div>
          <div class="card-information no-data">
            <span>No se encontraron resultados</span>
          </div>
        </div>
      </div>
    </div>
    <!-- No Posts Published Message -->
    <div
      *ngIf="posts.length === 0"
      class="noticias-content-container w-full no-data p0"
    >
      <div class="card sticky-action" style="width: 100%">
        <div class="card-body card-content no-data">
          <div class="card-no-data-icon dfc">
            <span>i</span>
          </div>
          <div class="card-information no-data">
            <span>No hay artículos publicados</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    *ngIf="posts.length > 0"
    class="news-pagination"
    (pageChange)="currentPage = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</section>
