/* News Styling */

/* Media Queries */
@media only screen and (max-width: 600px) {
  .author-contact-btn span {
    display: none !important;
  }

  .card-author .author-contact-btn i {
    display: flex !important;
    margin-right: 0 !important;
  }
  .card-title-new .card-title-content {
    width: calc(100% - 10px) !important;
  }
  /* .comments {
    display: none;
  } */

  .card-title-content a {
    -webkit-line-clamp: 2 !important;
  }
}

@media only screen and (max-width: 499px) {
  .card-body {
    flex-direction: column !important;
  }
  .date-img-container {
    width: 100%;
    align-items: flex-start;
  }
  .card-img {
    width: 100% !important;
  }
  .card-reveal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-reveal-text > p:first-child {
    margin-bottom: 0px !important;
  }
  .card-reveal-img {
    padding-right: 0 !important;
  }
  #noticias-content-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  }
  .card-information {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 440px) {
  .like a,
  .dislike a {
    margin-right: 10px !important;
  }
  .card .card-action {
    padding: 16px 0;
  }
}

@media only screen and (max-width: 400px) {
  #noticias-content-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  }
}

/* General Display Styling */
.noticias-main-menu-container,
.card-header,
.card-body,
.card-footer,
.card-reveal-header,
.card-reveal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#noticias-main-container {
  min-height: 350px;
}

#noticias-content-container {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 10px;
}

#noticias-content-container.no-data {
  margin-bottom: 15px;
  display: flex;
}

/* Card Styling */

.card-body {
  padding: 0 24px 10px 24px;
  align-items: flex-start;
  min-height: 248px;
}

.card-body.no-data {
  padding-top: 15px;
  flex-direction: row !important;
  min-height: 100px;
  border-radius: 8px;
  align-items: center;
}

.card.sticky-action {
  transition: all 0.3s ease-in-out;
  height: auto;
  overflow: auto;
  position: relative;
  margin: 0 !important;
}

.card-header {
  padding: 0;
}

.card-date {
  width: 100%;
  padding: 8px 0;
  color: #848484;
  border-top-left-radius: 3px;
  font-size: 15px;
  font-weight: 400;
  align-items: flex-start;
}

.card-date > i {
  font-size: 20px;
  margin-right: 3px;
}

.card-title-new {
  padding: 0 15px;
  width: 100%;
}

.card-title-content {
  padding: 8px 0 15px 0;
  align-items: flex-start;
}

.card-title-content a {
  overflow-y: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
}

.card-title,
.card-autor {
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
}

.card-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color:  #2e89ff;
  line-height: 20px !important;
  margin: 0 !important;
}

.card-title-new > .card-title-content .card-title:hover {
  color: #ee6e73;
}

.card-img {
  width: 150px;
  min-width: 150px;
  height: 150px;
  min-height: 150px;
  border-radius: 2px;
}

.card-no-data-icon {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #2e89ff;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
}

.card-information {
  width: 100%;
  padding-left: 15px;
  text-align: justify;
}

.card-information.no-data {
  padding: 10px 0 10px 15px !important;
}

.noticia-content {
  overflow: hidden;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  text-align: justify;
  height: 155px;
  max-height: 155px;
}

.card-title-content,
.card-title-content a,
.card-title,
.noticia-content {
  width: 100%;
}

.card-footer {
  justify-content: center;
  width: 100%;
  transition: none;
}

.card-footer .card-social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.like-dislike-comments-section {
  width: 100%;
}

.comments a {
  padding: 5px;
  border-radius: 5px;
}

.comments a span {
  text-transform: capitalize;
}

.comments i {
  margin-right: 5px;
}

.card-footer .card-show-more .btn-news {
  width: fit-content;
  border-radius: 5px;
}

.card-footer .card-show-more .btn-news:hover {
  color: aquamarine;
}

/* News Pagination Styling */
.news-pagination {
  flex: 100%;
}
