<div
  id="modalUsuarios"
  class="modal border-radius-6 modal-fixed-footer"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <!--Modal Fixed Header-->
  <div class="modal-header dfc">
    <div class="modal-icon dfc">
      <i class="material-icons">perm_identity</i>
    </div>
    <span>Crear Nuevo Usuario</span>
  </div>

  <!-- Modal Content -->
  <div class="modal-content">
    <div class="row" style="margin: 20px 0 0 0;">
      <form
        class="col s12" style="padding: 0 30px;"
        ngNativeValidate
        [formGroup]="form"
        (ngSubmit)="crear()"
      >
        <input
          name="address"
          formControlName="address"
          type="text"
          placeholder="Domicilio"
          required
        />
        <input
          name="cellPhone"
          formControlName="cellPhone"
          type="tel"
          placeholder="Telefono"
          required
        />
        <input
          name="email"
          formControlName="email"
          type="email"
          placeholder="Email"
          required
        />
        <input
          name="firstName"
          formControlName="firstName"
          type="text"
          placeholder="Nombre(s)"
          required
        />
        <input
          name="lastName"
          formControlName="lastName"
          type="text"
          placeholder="Apellido(s)"
          required
        />
        <input
          name="password"
          formControlName="password"
          type="password"
          placeholder="Contraseña"
          required
        />
        <div class="modal-actions">
          <button
            type="button"
            class="modal-close waves-effect waves-light btn modal-close-action"
          >
            Cancelar
          </button>
          <button
            type="submit"
            [class.button-disabled]="!form.valid"
            class="waves-effect waves-light btn modal-submit-action"
          >
            Crear Usuario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
