<div
  id="modalUsuarios"
  class="modal border-radius-6 modal-fixed-footer"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <!--Modal Fixed Header-->
  <div class="modal-header dfc">
    <div class="modal-icon dfc">
      <i class="material-icons">perm_identity</i>
    </div>
    <span><span class="client-action">Crear</span> Cliente</span>
    <i
      class="modal-close modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
      >close</i
    >
  </div>

  <!-- Modal Content -->
  <div class="modal-content">
    <div class="row" style="margin: 20px 0 0 0; height: calc(100% - 20px);">
      <form
        id="formUsuarios"
        class="col s12"
        style="padding: 0 30px; height: 100%;"
        ngNativeValidate
        [formGroup]="form"
        (ngSubmit)="crear()"
      >
        <!-- Inputs Container -->
        <div class="inputs-container">
          <div class="modal-input modal-input-pink">
            <input
              name="address"
              formControlName="address"
              type="text"
              [(ngModel)]="addressLabel"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="addressLabel"
            >
              Domicilio*
            </div>
          </div>
          <div class="modal-input modal-input-pink">
            <input
              name="cellPhone"
              formControlName="cellPhone"
              type="tel"
              [(ngModel)]="telephoneLabel"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="telephoneLabel"
            >
              Teléfono*
            </div>
          </div>
          <div class="modal-input modal-input-pink">
            <input
              name="email"
              formControlName="email"
              type="email"
              [(ngModel)]="emailLabel"
              required
              (ngModelChange)="this.userEmail.next($event)"
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="emailLabel"
            >
              Email*
            </div>
          </div>
          <div class="modal-input modal-input-pink">
            <input
              name="firstName"
              formControlName="firstName"
              type="text"
              [(ngModel)]="nameLabel"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="nameLabel"
            >
              Nombre(s)*
            </div>
          </div>
          <div class="modal-input modal-input-pink">
            <input
              name="lastName"
              formControlName="lastName"
              type="text"
              [(ngModel)]="lastnameLabel"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="lastnameLabel"
            >
              Apellido*
            </div>
          </div>
          <div id="userPassInput" class="modal-input modal-input-pink">
            <input
              name="password"
              formControlName="password"
              type="password"
              [(ngModel)]="passwordLabel"
              required
            />
            <div
              class="modal-input-placeholder modal-input-placeholder-pink"
              [class.modal-input-focused]="passwordLabel"
            >
              Contraseña*
            </div>
          </div>
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="modal-close waves-effect waves-light btn modal-close-action"
          >
            Cancelar
          </button>
          <button
            type="submit"
            [class.button-disabled]="!form.valid"
            class="waves-effect waves-light btn modal-submit-action"
          >
            <span class="client-action">Crear</span> Cliente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
