@media only screen and (max-width: 800px) {
  .filtros {
    flex-direction: column !important;
    border-bottom: none !important;
  }
  .filtros-group,
  .filtro-option,
  .filtro-buscador {
    width: 100% !important;
  }
  .filtros-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@media only screen and (max-width: 767px) {
  .file-details-btn {
    min-width: 40px !important;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 50%;
    padding: 0 !important;
  }
  .file-details-btn span {
    display: none !important;
  }
  .file-details-btn i.perfil {
    display: flex !important;
    font-size: 20px;
  }
}

/* Buscardor Styling */
.filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.filtro-buscador {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buscadorExpediente {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 50px;
}

.buscadorExpediente .filter-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  left: 5px;
  color: white;
}

.buscadorExpediente .filter-close {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  color: white;
}

/* Notification Table Styling */
.notification-table tr {
  cursor: pointer;
}

.notification-table tr:hover {
  background: rgba(0, 0, 0, 0.081);
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.notification-table .notification-checkbox label span {
  padding: 0;
  height: 15px;
}

.notification-table .notification-data,
.notification-table .notification-data a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.notification-table .notification-data {
  justify-content: space-between;
}

/* Checkbox Styling */
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #26aee4;
  background-color: #26aee4;
}

.file-details-btn {
  text-transform: capitalize;
  min-width: calc(100% - 30px);
}

.file-details-btn i.perfil {
  display: none;
}
