<!-- Perfil Dropdown -->
<ul id="dropdownPerfil" class="dropdown-content">
  <li><a href="#!">Configuración</a></li>
  <li><a href="#!">Notificaciones</a></li>
  <li class="divider"></li>
  <li><a href="#!">Cerrar Sesión</a></li>
</ul>

<nav class="nav-extended white text-grey darken-3 navbar-fixed">
  <div id="secondNavbar" class="nav-wrapper">
    <div
      class="container"
      style="display: flex; justify-content: space-between;"
    >
      <div class="contact-media">
        <i class="material-icons hide-on-med-and-down" style="padding: 0 5px;"
          >phone_in_talk</i
        >
        <span id="telefonos">
          <a href="sass.html">348 196 1337</a>
          <span style="margin: 0 5px;">|</span>
          <a href="sass.html">348 162 1446</a>
        </span>
      </div>
      <div class="contact-media">
        <i class="material-icons hide-on-med-and-down" style="padding: 0 5px;"
          >email</i
        >
        <span id="mail">
          <a href="sass.html">rorofernando@yahoo.com.mx</a>
        </span>
      </div>
      <div class="contact-media social-network hide-on-med-and-down">
        <div
          id="Facebook"
          class="social-media-item btn tooltipped "
          data-position="bottom"
          data-tooltip="Facebook"
          data-html="true"
        >
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="social-hidden fab fa-facebook-f"></i></a>
        </div>
        <div
          id="Twitter"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Twitter"
          data-html="true"
        >
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="social-hidden fab fa-twitter"></i></a>
        </div>
        <div
          id="LinkedIn"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="LinkedIn"
          data-html="true"
        >
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="social-hidden fab fa-linkedin-in"></i></a>
        </div>
        <div
          id="Google"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Google"
          data-html="true"
        >
          <a> <i class="fab fa-google-plus-g"></i></a>
          <a> <i class="social-hidden fab fa-google-plus-g"></i></a>
        </div>
        <div
          id="Youtube"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Facebook"
          data-html="true"
        >
          <a> <i class="fab fa-youtube"></i></a>
          <a> <i class="social-hidden fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="mainNavbar" class="nav-wrapper container">
    <div id="nav-menu-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <a routerLink="/inicio" class="brand-logo"
        ><img class="responsive-img" id="logo" src="/assets/images/logo.png"
      /></a>
    </div>
    <div id="nav-menu-items" class="hide-on-med-and-down">
      <ul class="left">
        <li>
          <a class="waves-effect waves-light" routerLink="/inicio">Inicio</a>
        </li>
        <li>
          <a class="waves-effect waves-light" routerLink="/contacto"
            >Contacto</a
          >
        </li>
        <li>
          <a class="waves-effect waves-light" routerLink="/noticias"
            >Noticias</a
          >
        </li>
        <li><a class="waves-effect waves-light" href="blog.html">Blog</a></li>
        <li>
          <a class="waves-effect waves-light" href="blog.html">Transparencia</a>
        </li>
        <!-- Perfil Dropdown -->
        <ng-container *ngIf="this._usuariosS.estaLogueado()">
          <li>
            <button mat-button [matMenuTriggerFor]="belowMenu">
              Perfil
            </button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <button mat-menu-item><span>Configuración</span></button>
              <button mat-menu-item>
                <span>Notificaciones</span>
                <span class="badge badge pill teal darken-1 float-right mr-10"
                  >5</span
                >
              </button>
              <button mat-menu-item>
                <span>Noticias Recientes</span>
                <span class="badge badge pill teal darken-1 float-right mr-10"
                  >5</span
                >
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="_usuariosS.logout()">
                <i class="material-icons">keyboard_tab</i>Cerrar Sesión
              </button>
            </mat-menu>
          </li>
        </ng-container>
        <ng-container *ngIf="!this._usuariosS.estaLogueado()">
          <li>
            <a class="modal-trigger" href="#modalRegistro">Iniciar Sesion</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<!-- SideNav Dropdown -->
<ul class="sidenav" id="mobile-demo">
  <li class="sidenav-logo">
    <h1 class="logo-wrapper">
      <a class="brand-logo darken-1" href="index.html"
        ><img src="../../../assets/images/brand.png" alt="site logo" /><span
          class="logo-text"
          >Pino Y Roble</span
        ></a
      >
    </h1>
  </li>
  <li>
    <a routerLink="/inicio"> <i class="material-icons mr-2"> home </i>Inicio</a>
  </li>
  <li>
    <a routerLink="/contacto"
      ><i class="material-icons mr-2"> contact_mail </i>Contacto</a
    >
  </li>
  <li>
    <a routerLink="/noticias"
      ><i class="material-icons mr-2"> fiber_new </i>Noticias</a
    >
  </li>
  <li>
    <a href="mobile.html"><i class="material-icons mr-2"> feedback </i>Blog</a>
  </li>
  <li>
    <a href="mobile.html"
      ><i class="material-icons mr-2"> remove_red_eye </i>Transparencia</a
    >
  </li>
  <ng-container *ngIf="this._usuariosS.estaLogueado()">
    <li>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons mr-2"> person</i>
              Perfil
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li>
              <a href="#!"
                ><i class="material-icons mr-2"> brightness_low </i
                >Configuración</a
              >
            </li>
            <li>
              <a href="#!"
                ><i class="material-icons mr-2"> notifications_none </i
                >Notificaciones
                <span class="badge badge pill teal darken-1 float-right mr-10"
                  >5</span
                ></a
              >
            </li>
            <li>
              <a href="#!"
                ><i class="material-icons mr-2"> fiber_new </i>Noticias
                Recientes
                <span class="badge badge pill teal darken-1 float-right mr-10"
                  >5</span
                ></a
              >
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <a (click)="_usuariosS.logout()"
                ><i class="material-icons mr-2">keyboard_tab</i>Cerrar Sesión</a
              >
            </li>
          </ul>
        </mat-expansion-panel>
        <!-- <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{ panelOpenState ? "open" : "closed" }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel> -->
      </mat-accordion>
    </li>
  </ng-container>
  <ng-container *ngIf="!this._usuariosS.estaLogueado()">
    <li>
      <a class="modal-trigger" href="#modalRegistro"
        ><i class="material-icons mr-2"> person </i>Iniciar Sesion</a
      >
    </li>
  </ng-container>
</ul>

<app-login></app-login>
