<!-- NavBar Container -->
<nav class="nav-extended text-grey darken-3 navbar-fixed">
  <!-- Second NavBar -->
  <div id="secondNavbar" class="nav-wrapper">
    <div
      class="container"
      style="display: flex; justify-content: space-between;"
    >
      <!-- Navbar Number Contact -->
      <div class="contact-media">
        <i class="material-icons hide-on-med-and-down" style="padding: 0 5px;"
          >phone_in_talk</i
        >
        <span id="telefonos">
          <a>348 196 1337</a>
          <span style="margin: 0 5px;">|</span>
          <a>348 162 1446</a>
        </span>
      </div>
      <!-- Navbar Mail Contact -->
      <div class="contact-media">
        <i class="material-icons hide-on-med-and-down" style="padding: 0 5px;"
          >email</i
        >
        <span id="mail">
          <a href="mailto:rorofernando@yahoo.com.mx"
            >rorofernando@yahoo.com.mx</a
          >
        </span>
      </div>
      <div class="contact-media social-network hide-on-med-and-down">
        <div
          id="Facebook"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Facebook"
          data-html="true"
        >
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="social-hidden fab fa-facebook-f"></i></a>
        </div>
        <div
          id="Twitter"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Twitter"
          data-html="true"
        >
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="social-hidden fab fa-twitter"></i></a>
        </div>
        <div
          id="LinkedIn"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="LinkedIn"
          data-html="true"
        >
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="social-hidden fab fa-linkedin-in"></i></a>
        </div>
        <div
          id="Google"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Google"
          data-html="true"
        >
          <a> <i class="fab fa-google-plus-g"></i></a>
          <a> <i class="social-hidden fab fa-google-plus-g"></i></a>
        </div>
        <div
          id="Youtube"
          class="social-media-item btn tooltipped"
          data-position="bottom"
          data-tooltip="Facebook"
          data-html="true"
        >
          <a> <i class="fab fa-youtube"></i></a>
          <a> <i class="social-hidden fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Navbar -->
  <div id="mainNavbar" class="nav-wrapper container">
    <div id="nav-menu-logo">
      <!-- Main Client Sidebar Button Trigger -->
      <a href="#" data-target="main-client-sidebar" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <a routerLink="/inicio" class="brand-logo dfr" (click)="scrollToTop()"
        ><img class="responsive-img" id="logo" src="/assets/images/logo.png"
      /></a>
    </div>
    <div id="nav-menu-items" class="dfr">
      <ul class="left">
        <li class="hide-on-med-and-down">
          <a
            class="waves-effect waves-light"
            routerLink="/inicio"
            (click)="scrollToTop()"
          >
            <span>Inicio</span>
          </a>
        </li>
        <li class="hide-on-med-and-down">
          <a
            class="waves-effect waves-light"
            routerLink="/contacto"
            (click)="scrollToTop()"
          >
            <span>Contacto</span>
          </a>
        </li>
        <li class="hide-on-med-and-down">
          <a
            class="waves-effect waves-light"
            routerLink="/articulos"
            (click)="scrollToTop()"
          >
            <span>Articulos</span>
          </a>
        </li>
        <!-- <li class="hide-on-med-and-down">
          <a
            class="waves-effect waves-light"
            (click)="scrollToTop()"
            href="blog.html"
            >Blog</a
          >
        </li> -->
        <!-- <li class="hide-on-med-and-down">
          <a
            class="waves-effect waves-light nav-menu-item-transparency"
            (click)="scrollToTop()"
            href="blog.html"
            ><div>Transparencia</div>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="nav-fixed-options-container dfr">
      <!-- Notifications Dropdown -->
      <ng-container *ngIf="this._usersS.isLogged()">
        <div class="nav-fixed-option dfc">
          <button mat-button [matMenuTriggerFor]="beforeMenu">
            <i class="material-icons" style="width: fit-content;">
              notifications_none
            </i>
            <small class="notification-badge dfc">5</small>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div class="notificationsMenu">
              <button mat-menu-item>
                <span style="text-transform: uppercase; font-size: 1.15rem;">
                  Notificaciones
                </span>
                <span class="new badge">5</span>
              </button>
              <mat-divider></mat-divider>
              <button routerLink="/perfil/general" mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="material-icons icon-bg-circle cyan small"
                      >add_shopping_cart</span
                    >
                    A new order has been placed!
                  </div>
                  <time class="media-meta grey-text darken-2">2 hours ago</time>
                </div>
              </button>
              <button routerLink="/perfil/general" mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="material-icons icon-bg-circle red small"
                      >stars</span
                    >
                    Completed the task
                  </div>
                  <time class="media-meta grey-text darken-2">3 days ago</time>
                </div>
              </button>
              <button routerLink="/perfil/general" mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="material-icons icon-bg-circle teal small"
                      >settings</span
                    >
                    Settings updated
                  </div>
                  <time class="media-meta grey-text darken-2">4 days ago</time>
                </div>
              </button>
              <button routerLink="/perfil/general" mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span
                      class="material-icons icon-bg-circle deep-orange small"
                      >today</span
                    >
                    Director meeting started
                  </div>
                  <time class="media-meta grey-text darken-2">6 days ago</time>
                </div>
              </button>
              <button routerLink="/perfil/general" mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="material-icons icon-bg-circle amber small"
                      >trending_up</span
                    >
                    Generate monthly report
                  </div>
                  <time class="media-meta grey-text darken-2">1 week ago</time>
                </div>
              </button>
            </div>
          </mat-menu>
        </div>
      </ng-container>

      <!-- Perfil Dropdown -->
      <ng-container *ngIf="this._usersS.isLogged()">
        <div class="nav-fixed-option dfc">
          <button mat-button [matMenuTriggerFor]="beforeMenu">
            <div class="avatar-status avatar-online">
              <div class="centered-img-bg dfc">
                <img
                  [src]="_usersS.user?.img | img: 'user':true"
                  alt="avatar"
                />
              </div>
              <i></i>
            </div>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div class="perfilMenu" (click)="$event.stopPropagation()">
              <!-- Perfil Information -->
              <div class="perfil-info dfr">
                <div class="perfil-icon centered-img-bg dfc">
                  <img
                    [src]="_usersS.user?.img | img: 'user':true"
                    style="width: 100%;"
                  />
                </div>
                <div class="perfil-text dfc">
                  <span class="perfil-name ff-rr">{{
                    this._usersS.user.firstName
                      .split(" ")[0]
                      .concat(" ", this._usersS.user.lastName.split(" ")[0])
                  }}</span>
                  <span class="perfil-email ff-rr">{{
                    this._usersS.user.email
                  }}</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <!-- Editar Perfil Option -->
              <button routerLink="/perfil/general" mat-menu-item>
                <i class="material-icons">person_outline</i>
                <span>Editar Perfil</span>
              </button>
              <!-- Expedientes Option -->
              <button mat-menu-item routerLink="/perfil/expedientes">
                <i class="material-icons">contact_mail</i>
                <span>Expedientes</span>
              </button>
              <!-- Eventos Option -->
              <button mat-menu-item routerLink="/perfil/eventos">
                <i class="material-icons">insert_invitation </i>
                <span>Eventos</span>
                <span class="badge badge pill perfil-badge mr-10">5</span>
              </button>
              <mat-divider></mat-divider>
              <!-- FAQ Option -->
              <!-- <button mat-menu-item>
                  <i class="material-icons">help_outline</i>Ayuda
                </button> -->
              <!-- Change Theme Option -->
              <button
                mat-menu-item
                class="dfr"
                style="justify-content: space-between;"
              >
                <div class="dfr">
                  <i class="material-icons">brightness_4</i>Tema Oscuro
                </div>
                <app-theme-switch></app-theme-switch>
              </button>
              <mat-divider></mat-divider>
              <!-- Logout Option -->
              <button mat-menu-item (click)="_usersS.logout()">
                <i class="material-icons">exit_to_app</i>Cerrar Sesión
              </button>
            </div>
          </mat-menu>
        </div>
      </ng-container>
      <ng-container *ngIf="!this._usersS.isLogged()">
        <div class="nav-fixed-opcions-register-login-container dfr">
          <a
            class="nav-option-btn login-btn modal-trigger"
            (click)="form('login')"
            href="#modalRegistro"
            >Iniciar Sesion</a
          >
          <a
            class="nav-option-btn register-btn modal-trigger"
            (click)="form('register')"
            href="#modalRegistro"
            >Registrarse</a
          >
        </div>
      </ng-container>
    </div>
  </div>
</nav>

<!-- Main Client Sidebar -->
<ul class="sidenav gradient-pos-45deg-light-blue" id="main-client-sidebar">
  <!-- Sidebar Logo -->
  <li class="sidenav-logo dfc">
    <div class="sidenav-logo-after"></div>
    <div class="sidenav-logo-wrapper">
      <a
        class="brand-logo darken-1 dfc sidenav-close"
        routerLink="/inicio"
        (click)="scrollToTop()"
      >
        <img src="../../../assets/images/brand.png" alt="site logo" />
        <span class="logo-text">Haizen</span>
      </a>
    </div>
  </li>
  <div class="sidenav-options-container">
    <!-- Sidebar Option -->
    <li [attr.data-active]="this.router.url === '/inicio' ? 'on' : 'off'">
      <a routerLink="/inicio" class="sidenav-close" (click)="scrollToTop()"
        >Inicio</a
      >
    </li>
    <!-- Sidebar Option -->
    <li [attr.data-active]="this.router.url === '/contacto' ? 'on' : 'off'">
      <a routerLink="/contacto" class="sidenav-close" (click)="scrollToTop()"
        >Contacto</a
      >
    </li>
    <!-- Sidebar Option -->
    <li
      [attr.data-active]="
        this.router.url === '/articulos' ||
        this.router.url.includes('articulo-detalle')
          ? 'on'
          : 'off'
      "
    >
      <a routerLink="/articulos" class="sidenav-close" (click)="scrollToTop()"
        >Articulos</a
      >
    </li>
    <!-- Sidebar Option -->
    <!-- <li [attr.data-active]="this.router.url === '/blog' ? 'on' : 'off'">
      <a routerLink="/blog" class="sidenav-close" (click)="scrollToTop()"
        >Blog</a
      >
    </li> -->
    <!-- Sidebar Option -->
    <!-- <li
      [attr.data-active]="this.router.url === '/transparencia' ? 'on' : 'off'"
    >
      <a
        routerLink="/transparencia"
        class="sidenav-close"
        (click)="scrollToTop()"
        >Transparencia</a
      >
    </li> -->
    <!-- Sidebar Footer -->
    <li class="sidebar-footer dfr">
      <div>
        <span
          >Designed and Developed by
          <span style="color: white;">Armando Lara</span></span
        >
      </div>
    </li>
  </div>
</ul>

<!-- Login Modal Content -->
<app-login [tForm]="tFo"></app-login>
