/*NAVBAR STYLING */

/* Media Queries */
@media only screen and (max-width: 1105px) {
  #nav-menu-items > ul > li .modal-trigger {
    line-height: initial;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-fixed-options-container .nav-fixed-option button.accout-button {
    padding: 0 !important;
  }

  .nav-fixed-options-container .avatar-name {
    display: none;
  }

  .nav-fixed-options-container .avatar-status .centered-img-bg {
    height: 40px !important;
    width: 40px !important;
  }

  .nav-fixed-option button.accout-button span {
    height: 40px !important;
  }
}

@media only screen and (max-width: 992px) {
  #mainNavbar #nav-menu-items {
    display: none !important;
  }

  #nav-menu-logo {
    width: 100% !important;
    margin: auto !important;
  }
  nav .brand-logo {
    width: 100%;
    left: 80px;
  }
  #nav-menu-items ul {
    float: right !important;
  }
  nav a.sidenav-btn {
    display: block !important;
  }
}

@media only screen and (max-width: 650px) {
  #telefonos a,
  #mail a {
    color: white !important;
    background: #2e89ff;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    line-height: initial;
  }
}

@media only screen and (max-width: 580px) {
  .nav-fixed-opcions-register-login-container {
    flex-direction: column !important;
    align-items: center;
  }
  .nav-fixed-opcions-register-login-container button {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 3px;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  nav .brand-logo {
    left: 60px;
  }
  nav .brand-logo img {
    height: 55px !important;
  }
}

@media only screen and (max-width: 415px) {
  #telefonos a,
  #mail a {
    font-size: 10px;
    padding: 2px 5px;
  }
  .notificationsMenu {
    width: 310px !important;
  }
}

@media only screen and (max-width: 355px) {
  #telefonos a:first-child {
    margin-right: 2px;
  }
  #telefonos span {
    display: none;
  }
}

@media only screen and (max-width: 345px) {
  #telefonos {
    display: flex;
    flex-direction: column;
  }
  #telefonos a:first-child {
    margin: 2px 0;
  }
}

.nav-extended {
  background-color: #ffffffeb;
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

/* Contact Options*/
.contact-media {
  display: flex;
  font-weight: 700;
  height: 40px !important;
  line-height: 40px !important;
}

.contact-media > i {
  height: 40px !important;
  line-height: 40px !important;
  font-size: 20px;
}

/* Main & Second Navbar styling */

#nav-menu-logo {
  width: 190px;
  min-width: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-menu-logo > .brand-logo {
  height: 100%;
  position: relative;
}

#nav-menu-logo > .brand-logo > img {
  height: 64px;
  margin: auto;
}

#nav-menu-items {
  text-transform: uppercase;
  width: 100%;
  justify-content: center;
  margin: 0 25px;
}

#nav-menu-items > ul > li {
  height: 60px;
  margin-left: 5px;
  min-width: 110px;
  max-width: 110px;
  text-align: center;
  display: flex;
}

#nav-menu-items > ul > li[data-active="on"] {
  height: 72px;
  margin-bottom: -2px;
  border-bottom: 3px solid hsl(214, 100%, 59%);
}

.nav-fixed-options-container {
  justify-content: center;
  min-width: max-content;
}

.nav-fixed-options-container .nav-fixed-option {
  width: 40px;
  height: 70px;
  margin-right: 8px;
  justify-content: center;
}

.nav-fixed-options-container .nav-fixed-option.accout-option {
  width: max-content;
}

.nav-fixed-options-container .nav-fixed-option button {
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: var(--nav-fixed-option-bg) !important;
}

.nav-fixed-options-container .nav-fixed-option button:hover {
  transition: cubic-bezier(0, 0, 1, 1);
  transition-duration: 100ms;
  background: var(--nav-fixed-option-bg-hover) !important;
}

.nav-fixed-options-container .nav-fixed-option button[aria-expanded="true"] {
  background: var(--nav-fixed-option-bg-extended) !important;
  color: hsl(214, 100%, 59%);
}

.nav-fixed-options-container .nav-fixed-option .notification-badge {
  position: absolute;
  height: 19px;
  width: 19px;
  top: -6px;
  left: 26px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-fixed-options-container .avatar-status {
  line-height: 0px;
  position: relative;
  display: inline-block;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.nav-fixed-options-container .avatar-status .centered-img-bg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.nav-fixed-options-container .avatar-name {
  width: max-content;
  max-width: 140px;
  margin: 0 5px;
}

.nav-fixed-options-container .avatar-name span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--default-color);
  display: block;
  line-height: 36px;
}

#nav-menu-items > ul > li > a {
  color: #949ba1;
  font-size: 12px;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  height: inherit;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-menu-items > ul > li > a > .lh-20 {
  line-height: 20px;
}

#nav-menu-items > ul > li a[data-active="on"] {
  color: hsl(214, 100%, 59%) !important;
  border-radius: 0 !important;
}

#nav-menu-items > ul > li a[data-active="off"]:hover {
  background: var(--item-hover) !important;
}

#nav-menu-items > ul > li a[data-active="on"]:hover {
  background: transparent !important;
}

#nav-menu-items > ul > li > ul > li > a {
  font-size: 12px;
  color: #2e89ff;
}

nav .sidenav-btn {
  color: var(--default-color);
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: none;
  display: none;
  margin-right: 15px;
  z-index: 1;
  cursor: pointer;
}

nav .sidenav-btn i {
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
}

#mainNavbar {
  height: 70px;
  min-height: 70px;
  color: #949ba1;
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

#secondNavbar {
  height: 40px;
  line-height: 40px;
  min-height: 40px;
  color: #949ba1;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f5f5f5;
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}

.nav-option-btn {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.login-btn {
  background-color: #3a3a3d;
  color: white !important;
  outline: none;
  border-radius: 5px;
  height: 30px !important;
  text-transform: capitalize;
  width: fit-content !important;
}

.register-btn {
  background-color: #2e89ff;
  color: white !important;
  outline: none;
  border-radius: 5px;
  height: 30px !important;
  text-transform: capitalize;
  width: fit-content !important;
}

#mobile-demo .ng-star-inserted .mat-accordion .mat-expansion-panel {
  box-shadow: none;
}

/* Notification and Perfil Badge Styling */
.perfil-badge {
  float: right;
  border-radius: 10px;
  line-height: 20px;
  height: 18px;
  color: white;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #2e89ff;
  position: absolute;
  right: 16px;
}
