<div class="item-list-container">
  <!-- Evidences List -->
  <mat-card
    *ngIf="modeV === 'new' || modeV === 'select'"
    class="item-list-container dfc"
  >
    <!-- File Evidences Header  -->
    <mat-card-header class="item-filter-container">
      <mat-card class="item-filter-content list-files dfr">
        <div
          class="item-filter-back waves-effect waves-light dfc"
          (click)="return()"
          *ngIf="modeV === 'new'"
        >
          <i class="material-icons">arrow_back</i>
        </div>
        <div class="item-acordion-title-left list-files dfr">
          <div class="header-item-body dfc">
            <div class="header-item-title dfr">
              <div class="header-item-title-wrap">
                <span>{{ fileData?.affair }}</span>
              </div>
            </div>
            <div class="header-item-data">
              <span>
                {{
                  evidences?.length === 1
                    ? evidences?.length + " Evidencia"
                    : evidences?.length + " Evidencias"
                }}
              </span>
            </div>
          </div>
        </div>
        <!-- Entries And Status Filters Container -->
        <div class="entry-and-status-filters-container list-files dfr">
          <!-- Entries Filter -->
          <div class="show-entries-filter list-files dfr">
            <span class="entries-filter-text list-files">Ver</span>
            <div class="entries-filter-select list-files">
              <mat-form-field>
                <mat-select
                  [value]="this.innerScreenWidth <= 940 ? 'Ver' : '5'"
                  disableOptionCentering
                >
                  <mat-option
                    value="Ver"
                    style="display: none"
                    *ngIf="this.innerScreenWidth <= 940"
                  >
                    Ver
                  </mat-option>
                  <mat-option value="5"> 5 </mat-option>
                  <mat-option value="10"> 10 </mat-option>
                  <mat-option value="25"> 25 </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="entries-filter-text list-files">Resultados</span>
          </div>
          <!-- Status Filter -->
          <div class="status-filter dfr">
            <span class="status-filter-text file-type">Formato</span>
            <div class="status-filter-select file-type">
              <mat-form-field>
                <mat-select
                  [value]="this.innerScreenWidth <= 940 ? 'Formato' : 'Todos'"
                  disableOptionCentering
                  (valueChange)="change($event)"
                >
                  <mat-option
                    value="Formato"
                    style="display: none"
                    *ngIf="this.innerScreenWidth <= 940"
                  >
                    Formato
                  </mat-option>
                  <mat-option value="all"> Todos </mat-option>
                  <mat-option value="pdf"> PDF </mat-option>
                  <mat-option value="word"> Word </mat-option>
                  <mat-option value="image"> Imagen </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Search Filter -->
        <div class="search-filter list-files dfr">
          <div class="search-input-filter list-files dfc">
            <input
              (keyup)="filter($event.target.value)"
              placeholder="Filtrar por nombre"
            />
          </div>
          <div class="search-btn-filter list-files">
            <button class="filters-btn btn waves-effect waves-light dfc">
              <i class="fas fa-filter"></i>
            </button>
            <button
              class="btn waves-effect waves-light dfc"
              (click)="handleMobileFilter(true)"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <!-- Search Filter Mobile -->
        <div
          class="search-filter-mobile dfr"
          [attr.isVisible]="this.mobileFilterActivated"
        >
          <div
            class="go-back-filter-mobile waves-effect waves-light dfc"
            *ngIf="this.mobileFilterActivated"
            (click)="handleMobileFilter(false)"
          >
            <i class="material-icons">arrow_back</i>
          </div>
          <div
            class="search-input-filter-mobile dfc"
            *ngIf="this.mobileFilterActivated"
          >
            <input placeholder="Filtrar por nombre" />
          </div>
        </div>
      </mat-card>
    </mat-card-header>

    <!-- File Evidences List Container  -->
    <mat-card-content
      class="item-list-content"
      [attr.data-details]="modeV === 'select' ? 'true' : 'false'"
    >
      <perfect-scrollbar
        *ngIf="evidences.length > 0 && !isLoading; else loadingEvidencesData"
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <!-- Evidence Item Cards -->
          <div class="item-acordion-card-container">
            <div
              class="item-acordion-card-box dfc"
              [attr.data-evidence-box]="modeV === 'select' ? 'true' : 'false'"
              *ngFor="
                let evidence of evidences
                  | filter: filterValue:'evidence':typeDoc
                  | paginate
                    : {
                        itemsPerPage: selectedEntry,
                        currentPage: currentPage
                      }
              "
            >
              <!-- Evidence Card Header -->
              <div
                class="item-acordion-card-header dfr"
                [attr.data-type]="modeV !== 'new' ? 'DETAILS' : 'LIST'"
              >
                <div
                  class="item-acordion-card-header-data note-card-header dfc"
                >
                  <div
                    class="note-action-check dfc"
                    [attr.data-added]="
                      isEvidenceChecked(evidence._id) ? 'on' : 'off'
                    "
                  >
                    <mat-checkbox
                      *ngIf="modeV === 'select'"
                      class="example-margin"
                      (click)="moveDown($event)"
                      (change)="addCheckedEvidences($event, evidence)"
                      [checked]="isEvidenceChecked(evidence._id) ? true : false"
                    ></mat-checkbox>
                  </div>
                  <div
                    *ngIf="modeV === 'select'"
                    [attr.data-state]="
                      isEvidenceChecked(evidence._id) ? 'NOTE' : 'NOT-ADDED'
                    "
                    class="item-acordion-card-state"
                  >
                    <span>Incluida</span>
                  </div>
                  <div
                    class="item-acordion-card-header-left dfr"
                    [attr.data-state]="
                      isEvidenceChecked(evidence._id) ? 'NOTE' : 'NOT-ADDED'
                    "
                  >
                    <div class="item-acordion-card-name">
                      <span>{{
                        this._evidencesS.formatBytes(evidence?.size)
                      }}</span>
                    </div>
                    <div class="item-acordion-card-date">
                      <span>{{ evidence?.date | date }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Evidence Card Body -->
              <div
                class="item-acordion-card-body dfr"
                [attr.data-note-details]="modeV !== 'new' ? 'true' : 'false'"
              >
                <div class="item-acordion-card-body-data dfc">
                  <div class="item-acordion-card-body-title break-spaces">
                    <span class="item-acordion-card-body-title-span">{{
                      evidence?.name
                    }}</span>
                  </div>
                </div>
                <div
                  class="
                    item-acordion-card-body-image
                    centered-img-bg
                    border-radius-auto
                    dfr
                  "
                  [attr.data-type]="formatType(evidence.path.split('.').pop())"
                >
                  <img
                    *ngIf="formatType(evidence.path.split('.').pop()) === 'pdf'"
                    src="../../../assets/images/pdf_icon_2.png"
                    class="border-radius-auto"
                  />
                  <img
                    *ngIf="
                      formatType(evidence.path.split('.').pop()) === 'word'
                    "
                    src="../../../assets/images/word_icon_2.png"
                    class="border-radius-auto"
                  />
                  <img
                    *ngIf="
                      formatType(evidence.path.split('.').pop()) === 'image'
                    "
                    [src]="evidence?.path"
                    class="border-radius-auto"
                  />
                </div>
              </div>
              <!-- Evidence Card Actions -->
              <div
                *ngIf="modeV === 'new'"
                class="item-acordion-body-actions dfr"
              >
                <!-- Delete Evidence Button Trigger -->
                <button
                  *ngIf="!isCaseArchived"
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Eliminar"
                  matTooltipPosition="above"
                  (click)="changeStatus(evidence._id, 'DELETED')"
                >
                  <i class="material-icons">delete</i>
                </button>
                <!-- See Evidence Button Trigger -->
                <button
                  class="header-item-btn btn action-button dfc"
                  mat-icon-button
                  matTooltip="Ver"
                  matTooltipPosition="above"
                  (click)="openFileViewModal(evidence?.path, evidence?.name)"
                >
                  <i class="material-icons">visibility</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
      <!-- Loading Data Animation -->
      <ng-template #loadingEvidencesData>
        <div
          #loaderEvidencesContainer
          class="h-full"
          [class.overflow-hidden]="isLoading"
        >
          <app-loading-data
            loaderType="complex"
            [loaderContainer]="loaderEvidencesContainer"
          ></app-loading-data>
        </div>
      </ng-template>
      <!-- Not Notes Created Message -->
      <div
        *ngIf="evidences.length === 0 && !isLoading"
        class="no-data-container"
      >
        <div class="card sticky-action" style="width: 100%">
          <div class="card-body card-content no-data dfr">
            <div class="card-no-data-icon dfc">
              <span>i</span>
            </div>
            <div class="card-no-data-information">
              <span> No hay evidencias agregadas en este caso</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Open Evidences Modal Button Trigger -->
      <div
        *ngIf="modeV === 'new' && !isCaseArchived && !isLoading"
        class="item-add-container"
      >
        <button
          mat-icon-button
          class="
            item-add-button
            primary-text
            gradient-45deg-orange gradient-shadow
            dfc
          "
          matTooltip="Agregar evidencia"
          matTooltipPosition="above"
          (click)="openFileUploadModal()"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
      <!-- Open File Creation Modal Button Trigger -->
      <div
        *ngIf="modeV === 'select' && evidences.length > 0 && !isLoading"
        class="item-add-container"
      >
        <button
          mat-icon-button
          class="item-add-button primary-text light-blue dfc"
          (click)="addEvidences()"
          matTooltip="Incluir seleccionadas"
          matTooltipPosition="above"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
    </mat-card-content>
    <!-- Evidences Pagination -->
    <mat-card-actions
      *ngIf="evidences.length > 0 && !isLoading"
      class="item-list-pagination-container dfr"
    >
      <pagination-controls
        class="news-pagination"
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </mat-card-actions>
  </mat-card>

  <!-- Case Event Details -->
  <mat-card *ngIf="modeV === 'trackingDetails'" class="item-list-container dfc">
    <!-- Tracking Evidences Header  -->
    <mat-card-header class="item-filter-container">
      <mat-card class="item-filter-content list-files dfr">
        <div class="tracking-item-title-content dfr">
          <div class="header-item-icon centered-img-bg">
            <img
              *ngIf="this.currentCase?.assigned_client"
              [src]="this.currentCase?.assigned_client[0]?.img | img: 'user'"
              alt=""
            />
          </div>
          <div class="tracking-item-body">
            <div class="header-item-title dfr">
              <span>{{ this.currentCase?.affair }}</span>
            </div>
            <div class="header-item-data">
              <span>
                Evento #{{ this.currentTracking.index }} > Lista de antecedentes
              </span>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-card-header>

    <div class="tracking-details-container dfc">
      <perfect-scrollbar
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content">
          <!-- Tracking Evidences List Container  -->
          <mat-card-content
            class="item-list-content tracking-details"
            [attr.data-active]="
              this.currentTracking.trackingEvidences !== null ? 'true' : 'false'
            "
            *ngIf="this.currentTracking.trackingEvidences !== null"
          >
            <div class="item-list-content-title dfr">
              <span>Lista de Evidencias</span>
              <div
                class="item-list-content-controls evidences-controls dfr"
              ></div>
            </div>
            <!-- Evidence Item Cards -->
            <div class="item-acordion-card-container horizontal dfr">
              <!-- Evidences Left Arrow Indicator -->
              <div
                class="item-acordion-card-left-indicator evidence-row-indicator"
              >
                <button (click)="scrollCarouselToLeft('evidences')">
                  <i class="fas fa-angle-left"></i>
                </button>
              </div>
              <!-- Evidences Cards -->
              <div class="item-acordion-card-carousel" #evidencesCarousel>
                <div
                  class="item-acordion-card-box evidence-card-box dfc"
                  *ngFor="
                    let evidence of this.currentTracking.trackingEvidences
                  "
                  #evidencesArray
                >
                  <!-- Evidence Card Header -->
                  <div class="item-acordion-card-header dfr">
                    <div
                      class="
                        item-acordion-card-header-data
                        note-card-header
                        dfc
                      "
                    >
                      <div class="item-acordion-card-header-left dfr">
                        <div class="item-acordion-card-name">
                          <span>{{
                            this._evidencesS.formatBytes(evidence?.size)
                          }}</span>
                        </div>
                        <div class="item-acordion-card-date">
                          <span>{{ evidence?.date | date }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Evidence Card Body -->
                  <div
                    class="item-acordion-card-body dfr"
                    data-note-details="true"
                  >
                    <div class="item-acordion-card-body-data dfc">
                      <div class="item-acordion-card-body-title break-spaces">
                        <span>{{ evidence?.name }}</span>
                      </div>
                    </div>
                    <div
                      class="
                        item-acordion-card-body-image
                        centered-img-bg
                        border-radius-auto
                        dfr
                      "
                      [attr.data-type]="
                        formatType(evidence.path.split('.').pop())
                      "
                    >
                      <img
                        *ngIf="
                          formatType(evidence.path.split('.').pop()) === 'pdf'
                        "
                        src="../../../assets/images/pdf_icon_2.png"
                        class="border-radius-auto"
                      />
                      <img
                        *ngIf="
                          formatType(evidence.path.split('.').pop()) === 'word'
                        "
                        src="../../../assets/images/word_icon_2.png"
                        class="border-radius-auto"
                      />
                      <img
                        *ngIf="
                          formatType(evidence.path.split('.').pop()) === 'image'
                        "
                        [src]="evidence?.path"
                        class="border-radius-auto"
                      />
                    </div>
                  </div>
                  <!-- Evidence Card Actions -->
                  <div class="item-acordion-body-actions dfr">
                    <!-- Dowload Evidence Button Trigger -->
                    <button
                      class="header-item-btn btn action-button dfc"
                      mat-icon-button
                      matTooltip="Descargar"
                      matTooltipPosition="above"
                      (click)="
                        this._evidencesS.downloadEvidence(
                          evidence.path,
                          evidence.path.split('.').pop()
                        )
                      "
                    >
                      <i class="material-icons">file_download</i>
                    </button>
                    <!-- See Evidence Button Trigger -->
                    <button
                      class="header-item-btn btn action-button dfc"
                      mat-icon-button
                      matTooltip="Ver"
                      matTooltipPosition="above"
                      (click)="
                        openFileViewModal(evidence?.path, evidence?.name)
                      "
                    >
                      <i class="material-icons">visibility</i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Evidences Right Arrow Indicator -->
              <div
                class="
                  item-acordion-card-right-indicator
                  evidence-row-indicator
                "
              >
                <button (click)="scrollCarouselToRight('evidences')">
                  <i class="fas fa-angle-right"></i>
                </button>
              </div>
            </div>
          </mat-card-content>
          <!-- Tracking Notes List Container  -->
          <mat-card-content
            class="item-list-content tracking-details note"
            [attr.data-active]="
              this.currentTracking.trackingNotes !== null ? 'true' : false
            "
            *ngIf="this.currentTracking.trackingNotes !== null"
          >
            <div class="item-list-content-title">
              <div class="item-list-content-title dfr">
                <span>Lista de Notas</span>
                <div
                  class="item-list-content-controls notes-controls dfr"
                ></div>
              </div>
              <!-- Note Item Cards -->
              <div class="item-acordion-card-container horizontal dfr">
                <!-- Evidences Left Arrow Indicator -->
                <div
                  class="item-acordion-card-left-indicator note-row-indicator"
                >
                  <button (click)="scrollCarouselToLeft('notes')">
                    <i class="fas fa-angle-left"></i>
                  </button>
                </div>
                <div class="item-acordion-card-carousel" #notesCarousel>
                  <div
                    class="item-acordion-card-box dfc"
                    *ngFor="
                      let note of this.currentTracking.trackingNotes;
                      let i = index
                    "
                    #notesArray
                  >
                    <!-- Note Card Header -->
                    <div class="item-acordion-card-header dfr">
                      <div
                        class="
                          item-acordion-card-header-data
                          note-card-header
                          dfc
                        "
                      >
                        <div class="item-acordion-card-header-left dfr">
                          <div class="item-acordion-card-name color">
                            <span>{{ note.affair }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Note Card Body -->
                    <div
                      class="item-acordion-card-body dfr"
                      data-note-details="true"
                    >
                      <div class="item-acordion-card-body-data note-card dfc">
                        <div
                          class="
                            item-acordion-card-body-content
                            note-card-content
                          "
                        >
                          <perfect-scrollbar
                            class="scroll-container"
                            fxFlex="auto"
                            [config]="config"
                            [scrollIndicators]="false"
                          >
                            <div class="scrollable-content not-margin">
                              <span>{{ note.message }}</span>
                            </div>
                          </perfect-scrollbar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Evidences Right Arrow Indicator -->
              <div
                class="item-acordion-card-right-indicator note-row-indicator"
              >
                <button (click)="scrollCarouselToRight('notes')">
                  <i class="fas fa-angle-right"></i>
                </button>
              </div>
            </div>
          </mat-card-content>
        </div>
      </perfect-scrollbar>
    </div>

    <!-- Open Evidences Modal Button Trigger -->
    <div class="item-add-container">
      <button
        mat-icon-button
        class="
          item-add-button
          primary-text
          gradient-45deg-orange gradient-shadow
          dfc
        "
        matTooltip="Agregar evidencia"
        matTooltipPosition="above"
        (click)="openFileUploadModal()"
      >
        <i class="material-icons">add</i>
      </button>
    </div>
  </mat-card>
</div>
