<!-- Expediente Encabezado -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row" style="margin: 0;">
        <div class="col s12" style="padding: 0;">
          <div class="expedienteData">
            <div class="expedienteKeys">
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Clave Externa:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ file?.extKey !== null ? file?.extKey : "N/E" }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Clave Interna:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ file?.intKey }}</span>
                </div>
              </div>
            </div>
            <div class="expedienteDetails">
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Cliente:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{
                    file?.assigned_client?.firstName +
                      " " +
                      file?.assigned_client?.lastName
                  }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Actor(es):</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ file?.actor }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Demandado(s):</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ file?.defendant }}</span>
                </div>
              </div>
              <div class="expedienteDetailGroup">
                <div class="expedienteTitle">
                  <span>Terceros:</span>
                </div>
                <div class="expedienteSubtitle">
                  <span>{{ file?.third !== null ? file?.third : "N/E" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Expediente Contenido -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content expedienteDetailContent">
      <div class="row" style="margin: 0;">
        <div class="col s12" style="padding: 0;">
          <table
            datatable
            [dtOptions]="dtOptions"
            class="row-border hover stripe"
            style="width: 100%;"
          >
            <thead>
              <tr>
                <th class="all">#</th>
                <th class="all">Fecha</th>
                <th>Comentarios</th>
                <th class="all">Archivos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let track of trackings">
                <td>{{ track?.track }}</td>
                <td>{{ track?.date | date }}</td>
                <td>{{ track.comments[0].comment }}</td>
                <td>
                  <span *ngIf="track?.documents.length < 1">Ninguno</span>
                  <span *ngIf="track?.documents.length >= 1">
                    {{ track?.documents.length }} Archivos
                    <i class="material-icons">visibility</i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
