@media only screen and (max-width: 800px) {
  .expedienteKeys {
    flex-direction: column !important;
  }
  .expedienteData .expedienteSubtitle {
    min-width: calc(100% - 120px) !important;
  }
}

@media only screen and (max-width: 500px) {
  .expedienteDetailGroup {
    margin: 0 !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .expedienteData .expedienteSubtitle {
    min-width: 100% !important;
  }
}

.card-stacked {
  width: 100%;
}

.expedienteDetailContent {
  padding: 0;
}

.expedienteData,
.expedienteDetails {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.expedienteKeys,
.expedienteDetailGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.expedienteData .expedienteDetailGroup {
  margin: 10px 0;
}

.expedienteKeys {
  justify-content: space-between;
}

.expedienteData .expedienteTitle {
  font-weight: 600;
  min-width: 120px;
}

.expedienteData .expedienteSubtitle {
  font-weight: 100;
  padding: 5px 10px;
  min-width: 200px;
  background: #26aee41c;
  border-radius: 5px;
}
