<div class="col s12 m7">
  <!-- Filtros Card -->
  <div class="card horizontal">
    <div class="card-image"></div>
    <div class="card-stacked">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12" style="padding: 0;">
            <div class="filtros">
              <div class="filtros-group">
                <div class="filtro-option">
                  <i class="material-icons mr-2"> folder_open </i>
                  <span>En proceso</span>
                </div>
                <div class="filtro-option">
                  <i class="material-icons mr-2"> check_box </i>
                  <span>Finalizado</span>
                </div>
              </div>

              <div class="filtro-buscador">
                <div class="buscadorExpediente input-field">
                  <input
                    id="searchExpediente"
                    name="searchExpediente"
                    type="search"
                    placeholder="Buscar Expediente"
                    class="validate"
                  />
                  <button
                    class="btn waves-effect waves-light"
                    type="submit"
                    name="action"
                  >
                    <i class="material-icons prefix">search</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Card -->
  <div class="card horizontal">
    <div class="card-image"></div>
    <div class="card-stacked">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12" style="padding: 0;">
            <div class="notification-content">
              <table
                datatable
                class="notification-table row-border hover stripe"
                style="width: 100%; margin: 0 !important;"
              >
                <thead>
                  <tr>
                    <th>Clave</th>
                    <th>Asunto</th>
                    <th>Descripción</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of files" (click)="goToExpediente(file._id)">
                    <td class="notification-file">
                      <span>{{ file.key }}</span>
                    </td>
                    <td class="notification-data">
                      <span> {{ file.affair }}</span>
                    </td>
                    <td class="notification-description">
                      <span> {{ file.description }}</span>
                    </td>
                    <td class="notification-time">
                      <time class="left">{{ file.start_date | date }}</time>
                    </td>
                    <td class="notification-time">
                      <time class="left">{{ file.end_date | date }}</time>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
