<!-- Filtros Card -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row" style="margin: 0;">
        <div class="col s12" style="padding: 0;">
          <div class="filtros">
            <div class="filtro-buscador">
              <div class="buscadorExpediente input-field">
                <i class="filter-search material-icons">search</i>
                <i class="filter-close material-icons waves-effect">close</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Card -->
<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <div class="card-content">
      <div class="row" style="margin: 0;">
        <div class="col s12" style="padding: 0;">
          <div class="notification-content">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="notification-table row-border hover stripe"
              style="width: 100%; margin: 0 !important;"
            >
              <thead>
                <tr>
                  <th>Clave Externa</th>
                  <th class="all">Clave Interna</th>
                  <th>Asunto</th>
                  <th>Fecha Inicio</th>
                  <th>Observaciones</th>
                  <th class="userFiles-tbl-acc-th all no-sort">Detalles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of files">
                  <td class="notification-file">
                    {{ file?.extKey !== null ? file?.extKey : "N/E" }}
                  </td>
                  <td class="notification-file">
                    <span>{{ file?.intKey }}</span>
                  </td>
                  <td class="notification-data">
                    <span> {{ file?.affair }}</span>
                  </td>
                  <td class="notification-time">
                    <time>{{ file?.start_date | date }}</time>
                  </td>
                  <td class="notification-description">
                    <span> {{ file?.observations }}</span>
                  </td>
                  <td class="userFiles-tbl-acc-td">
                    <button
                      class="btn waves-effect waves-light file-details-btn gradient-45deg-dark-blue"
                      (click)="goToFile(file?._id)"
                    >
                      <span>
                        Más Detalles
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>