<mat-sidenav-container class="sidenav-container admin-sidenav-container">
  <!-- Main SideNav -->
  <mat-sidenav
    #adminSidenav
    [mode]="sidenavMode"
    [opened]="showSidenav"
    class="main-admin-sidenav dfc"
  >
    <!-- Admin SideNav -->
    <aside
      class="sidenav-main nav-collapsible sidenav-light sidenav-active-square nav-lock"
    >
      <!-- Main Navbar Brand -->
      <div class="brand-sidebar">
        <a
          class="brand-logo darken-1"
          routerLink="/inicio"
          (click)="sidenavMode === 'push' ? adminSidenav.toggle() : ''"
          ><img
            [src]="
              this.isDarkThemeActive
                ? '../../../assets/images/brand.png'
                : '../../../assets/images/brand_black.png'
            "
            alt="site logo"
            style="width: 86%"
        /></a>
      </div>

      <div id="admin-sidenav" class="sidenav collapsible dfc">
        <!-- Main Navbar Options Container -->
        <div class="main-navbar-container-wrapper custom-scroll-y">
          <div class="main-navbar-container dfc">
            <div class="dfr" style="width: 100%; position: relative">
              <!-- Main Navbar Principal Options -->
              <ul class="main-sidenav-principal-options">
                <!-- DashBoard -->
                <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/dashboard"
                    [attr.data-active]="actSt === '/dashboard' ? 'on' : 'off'"
                    (click)="
                      sidenavMode === 'push' ? adminSidenav.toggle() : ''
                    "
                  >
                    <i class="material-icons">dashboard</i>
                    <span>Tablero</span>
                  </a>
                </li>
                <!-- Messages -->
                <!-- <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/mensajes"
                    [attr.data-active]="actSt === '/mensajes' ? 'on' : 'off'"
                    (click)="
                      sidenavMode === 'push' ? adminSidenav.toggle() : ''
                    "
                  >
                    <i class="far fa-comment"></i>
                    <span>Mensajes</span>
                  </a>
                </li> -->
                <!-- Users -->
                <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/usuarios"
                    [attr.data-active]="actSt === '/usuarios' ? 'on' : 'off'"
                    (click)="
                      sidenavMode === 'push' ? adminSidenav.toggle() : ''
                    "
                  >
                    <i class="material-icons">perm_identity</i>
                    <span>Usuarios</span>
                  </a>
                </li>
                <!-- Posts -->
                <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/posts"
                    [attr.data-active]="actSt === '/posts' ? 'on' : 'off'"
                    (click)="
                      sidenavMode === 'push' ? adminSidenav.toggle() : ''
                    "
                  >
                    <i class="material-icons">import_contacts</i>
                    <span>Artículos</span>
                  </a>
                </li>
                <!-- Cases -->
                <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/casos"
                    [attr.data-active]="actSt === '/casos' ? 'on' : 'off'"
                    (click)="
                      sidenavMode === 'push' ? adminSidenav.toggle() : ''
                    "
                  >
                    <i class="fas fa-folder-open"></i>
                    <span>Casos</span>
                  </a>
                </li>
                <!-- <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/notificaciones"
                    [attr.data-active]="actSt === '/notificaciones' ? 'on' : 'off'"
                    (click)="sidenavMode === 'push' ? adminSidenav.toggle() : ''"
                  >
                    <i class="material-icons">notifications_none</i>
                    <span>Notificaciones</span>
                  </a>
                </li>
                <li class="bold">
                  <a
                    class="waves-effect waves-cyan dfc"
                    routerLink="/posts"
                    [attr.data-active]="actSt === '/posts' ? 'on' : 'off'"
                    (click)="sidenavMode === 'push' ? adminSidenav.toggle() : ''"
                  >
                    <i class="material-icons">insert_invitation </i>
                    <span>Eventos</span>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </mat-sidenav>

  <!-- Chat Sidenav -->
  <mat-sidenav
    #adminChatSidenav
    mode="over"
    position="end"
    class="chat-sidenav"
  >
    <app-chat-sidenav *ngIf="this._usersS.isLogged()"></app-chat-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Modal Seleccionar Cliente -->
    <app-select-user></app-select-user>

    <!-- Modal Seleccionar Expediente -->
    <app-select-file></app-select-file>

    <!-- Admin NavBar -->
    <header class="page-topbar" id="header">
      <div class="navbar navbar-fixed">
        <!-- gradient-45deg-indigo-purple -->
        <nav
          class="navbar-main navbar-color nav-collapsible navbar-dark gradient-pos-45deg-dark-blue no-shadow sideNav-lock"
        >
          <div class="nav-wrapper dfr">
            <!-- Main Navbar Trigger Button -->
            <a
              id="main-sidenav-trigger"
              class="btn-sidenav-toggle btn-floating btn-medium gradient-45deg-orange waves-effect waves-light hide-on-large-only"
              style="position: fixed"
              (click)="adminSidenav.toggle(); this.showSidenav = true"
              matTooltip="Menú"
              matTooltipPosition="below"
              ><i class="material-icons">menu</i></a
            >
            <!-- Navbar Title Container -->
            <div class="sidebar-fixed section-title">
              <div class="sidebar">
                <div class="sidebar-content">
                  <div class="sidebar-header">
                    <div class="sidebar-details">
                      <app-breadcrumbs
                        class="sidebar-cuantity"
                      ></app-breadcrumbs>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Admin Navbar Options Container -->
            <ul class="navbar-list right">
              <!-- Messages Option -->
              <li>
                <!-- Button Triger -->
                <button
                  class="nav-messages-button-trigger"
                  mat-button
                  (click)="this._chatS.toggleChat(false)"
                  matTooltip="Mensajes"
                  matTooltipPosition="below"
                >
                  <div class="nav-option-container">
                    <a
                      class="waves-effect waves-block waves-light messages-button dropdown-trigger fa dfc"
                      data-target="messages-dropdown"
                    >
                      <div>
                        <i class="far fa-comment"></i>
                      </div> </a
                    ><small class="notification-badge admin dfc">2</small>
                  </div>
                </button>
              </li>
              <!-- Notifications Option -->
              <li>
                <app-notifications-dropdown
                  [color]="true"
                ></app-notifications-dropdown>
              </li>
              <!-- Perfil Option -->
              <li>
                <div
                  class="waves-effect waves-light nav-perfil-button-trigger-container"
                >
                  <!-- Button Triger -->
                  <button
                    class="nav-perfil-button-trigger"
                    mat-button
                    [matMenuTriggerFor]="beforeMenu"
                    matTooltip="Cuenta"
                    matTooltipPosition="below"
                  >
                    <div class="avatar-status avatar-online">
                      <div class="centered-img-bg border-none dfc">
                        <img
                          *ngIf="this._usersS.user"
                          [src]="this._usersS.user?.img | img: 'user':true"
                          alt="avatar"
                        />
                      </div>
                    </div>
                  </button>
                  <!-- Dropdown Content -->
                  <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <div class="perfilMenu">
                      <!-- Perfil Information -->
                      <div
                        class="perfil-info dfr"
                        (click)="$event.stopPropagation()"
                      >
                        <div class="perfil-icon centered-img-bg">
                          <img
                            *ngIf="this._usersS.user"
                            [src]="this._usersS.user?.img | img: 'user':true"
                            style="width: 100%"
                          />
                        </div>
                        <div class="perfil-text dfc">
                          <span class="perfil-name ff-rr">{{
                            this._usersS.user?.firstName
                              .split(" ")[0]
                              .concat(
                                " ",
                                this._usersS.user?.lastName.split(
                                  "
                            "
                                )[0]
                              )
                          }}</span>
                          <span class="perfil-email ff-rr">{{
                            this._usersS.user?.email
                          }}</span>
                        </div>
                      </div>
                      <div
                        class="divider"
                        (click)="$event.stopPropagation()"
                      ></div>
                      <button mat-menu-item routerLink="/profile">
                        <i class="material-icons">person_outline</i>Perfil
                      </button>
                      <!-- FAQ Option -->
                      <!-- <button mat-menu-item>
                    <i class="material-icons">help_outline</i>Ayuda
                  </button> -->
                      <!-- Change Theme Option -->
                      <button
                        mat-menu-item
                        class="dfr"
                        style="justify-content: space-between"
                        (click)="changeTheme(); $event.stopPropagation()"
                      >
                        <div class="dfr">
                          <i class="material-icons">brightness_4</i>Modo oscuro
                        </div>
                        <app-theme-switch
                          [obtainedTheme]="this.isDarkThemeActive"
                        ></app-theme-switch>
                      </button>
                      <!-- Logout Option -->
                      <button
                        mat-menu-item
                        (click)="_usersS.logout(); $event.stopPropagation()"
                      >
                        <i class="material-icons">exit_to_app</i>Cerrar sesión
                      </button>
                    </div>
                  </mat-menu>
                </div>
              </li>

              <!-- Messages Right Sidebar -->
              <!-- <li>
              <a
                class="waves-effect waves-block waves-light sidenav-trigger"
                data-target="slide-out-right"
                ><i class="material-icons">format_indent_increase</i></a
              >
            </li> -->
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- Admin Main Content -->
    <div id="main">
      <div class="row">
        <!-- gradient-45deg-indigo-purple -->
        <div class="content-wrapper-before gradient-pos-45deg-dark-blue"></div>
        <div class="col s12">
          <div class="container">
            <!-- Content Area Starts -->
            <div class="content-area content-right">
              <div class="table-content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Admin Footer -->
    <!-- gradient-45deg-indigo-purple -->
    <div class="admin-footer ff-ss gradient-pos-45deg-dark-blue dfr">
      <span
        >© 2020 <span class="footer-author">Haizen</span> All rights
        reserved.</span
      >
      <span class="hide-on-small-only"
        >Designed and Developed by
        <span class="footer-author">Armando Lara</span></span
      >
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
