<!-- Modal Seleccionar Cliente -->
<app-seleccionar-usuario></app-seleccionar-usuario>

<!-- Modal Seleccionar Expediente -->
<app-seleccionar-expediente></app-seleccionar-expediente>

<!-- Modal Formulario Usuario -->
<app-usuarios-form></app-usuarios-form>

<!-- Modal Formulario Articulos -->
<app-articulos-form></app-articulos-form>

<!-- Modal Formulario Expediente -->
<app-expedientes-form></app-expedientes-form>

<!-- Admin NavBar -->
<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav
      class="navbar-main navbar-color nav-collapsible navbar-dark gradient-45deg-indigo-purple no-shadow sideNav-lock"
    >
      <div class="nav-wrapper">
        <!-- Admin Navbar Container -->
        <ul class="navbar-list right">
          <!-- Toggle Full Screen Option -->
          <li class="hide-on-med-and-down">
            <a
              class="waves-effect waves-block waves-light toggle-fullscreen"
              (click)="!isfullscreen ? openfullscreen() : closefullscreen()"
              href="javascript:void(0);"
              ><i class="material-icons">settings_overscan</i></a
            >
          </li>
          <!-- Search Option -->
          <li class="hide-on-large-only">
            <a
              class="waves-effect waves-block waves-light search-button"
              href="javascript:void(0);"
              ><i class="material-icons">search</i></a
            >
          </li>
          <!-- Notifications Option -->
          <li>
            <a
              class="waves-effect waves-block waves-light notification-button dropdown-trigger"
              href="javascript:void(0);"
              data-target="notifications-dropdown"
              ><i class="material-icons"
                >notifications_none<small class="notification-badge">{{
                  notifications?.total
                }}</small></i
              ></a
            >
            <ul
              class="dropdown-content"
              id="notifications-dropdown"
              style="width: fit-content;"
            >
              <li>
                <div class="notificaciones-header">
                  <span class="notificaciones-header-title">NOTIFICACIONES</span
                  ><span class="new badge">{{ notifications?.total }}</span>
                </div>
              </li>
              <li class="divider"></li>
              <li *ngFor="let notification of notifications?.docs">
                <div class="notification-item">
                  <span class="material-icons icon-bg-circle cyan small"
                    >add_shopping_cart</span
                  >
                  {{ notification.title }}
                </div>
                <time class="media-meta grey-text">{{
                  notification.created_at | date
                }}</time>
              </li>
            </ul>
          </li>
          <!-- Perfil Option -->
          <li>
            <!-- Perfil Dropdown Trigger -->
            <a
              class="waves-effect waves-block waves-light profile-button dropdown-trigger"
              href="javascript:void(0);"
              data-target="profile-dropdown"
              ><span class="avatar-status avatar-online"
                ><img
                  src="../../../assets/images/user.jpg"
                  alt="avatar"/><i></i></span
            ></a>
            <!-- Perfil Dropdown Container -->
            <ul class="dropdown-content" id="profile-dropdown">
              <!-- Perfil Information -->
              <li>
                <div class="perfil-info dfr">
                  <div class="perfil-icon">
                    <img
                      src="../../../assets/images/user.jpg"
                      style="width: 100%;"
                    />
                  </div>
                  <div class="perfil-text dfc">
                    <span class="perfil-name ff-rr">{{
                      this._usuariosS.user.firstName
                        .split(" ")[0]
                        .concat(
                          " ",
                          this._usuariosS.user.lastName.split(" ")[0]
                        )
                    }}</span>
                    <span class="perfil-email ff-rr">{{
                      this._usuariosS.user.email
                    }}</span>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <!-- Perfil Option -->
              <li>
                <a class="grey-text text-darken-1" href="user-profile-page.html"
                  ><i class="material-icons">person_outline</i> Perfil</a
                >
              </li>
              <!-- FAQ Option -->
              <li>
                <a class="grey-text text-darken-1" href="page-faq.html"
                  ><i class="material-icons">help_outline</i> Ayuda</a
                >
              </li>
              <!-- Change Theme Option -->
              <li>
                <a
                  class="grey-text text-darken-1 dfr"
                  style="justify-content: space-between;"
                  ><div class="dfr">
                    <i
                      class="material-icons"
                      style="height: fit-content; line-height: inherit;"
                      >brightness_4</i
                    >Tema Oscuro
                  </div>
                  <div class="switch">
                    <label>
                      <input
                        name="remember"
                        type="checkbox"
                        class="ng-valid ng-dirty ng-touched"/><span
                        class="lever"
                      ></span
                    ></label></div
                ></a>
              </li>
              <li class="divider"></li>
              <!-- Logout Option -->
              <li>
                <a class="grey-text text-darken-1" (click)="_usuariosS.logout()"
                  ><i class="material-icons">exit_to_app</i> Cerrar Sesión</a
                >
              </li>
            </ul>
          </li>
          <!-- Messages Right Sidebar -->
          <li>
            <a
              class="waves-effect waves-block waves-light sidenav-trigger"
              data-target="slide-out-right"
              ><i class="material-icons">format_indent_increase</i></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- Admin SideNav -->
<aside
  class="sidenav-main nav-collapsible sidenav-light sidenav-active-square nav-lock"
>
  <!-- Main Navbar Brand -->
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a class="brand-logo darken-1" routerLink="/dashboard"
        ><img
          src="../../../assets/images/brand.png"
          alt="site logo"
          style="width: 20%;"
        /><span class="logo-text hide-on-med-and-down">Pino Y Roble</span></a
      >
    </h1>
  </div>

  <div
    id="slide-out"
    class="sidenav collapsible sidenav-fixed dfc"
    style="transform: translateX(-105%);"
  >
    <!-- Inner Navbar Brand -->
    <div class="inner-sidebar-brand dfr">
      <a class="brand-logo darken-1 dfr" routerLink="/dashboard"
        ><img
          src="../../../assets/images/brand.png"
          alt="site logo"
          style="width: 20%;"
        /><span class="logo-text">Pino Y Roble</span></a
      >
    </div>
    <!-- Main Navbar Options Container -->
    <div class="main-navbar-container-wrapper custom-scroll-y">
      <div class="main-navbar-container dfr">
        <div class="dfr" style="width: 100%; height: 100%; position: relative;">
          <!-- Main Navbar Principal Options -->
          <ul class="main-sidenav-principal-options">
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/dashboard' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan dfr"
                routerLink="/dashboard"
                [attr.data-active]="actSt === '/dashboard' ? 'on' : 'off'"
              >
                <i class="material-icons">pie_chart</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/mensajes' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan dfr"
                routerLink="/mensajes"
                [attr.data-active]="actSt === '/mensajes' ? 'on' : 'off'"
              >
                <i class="material-icons">mail_outline</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/usuarios' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan "
                routerLink="/usuarios"
                [attr.data-active]="actSt === '/usuarios' ? 'on' : 'off'"
              >
                <i class="material-icons">perm_identity</i>
              </a>
            </li>
            <li class="active bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/articulos' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan "
                routerLink="/articulos"
                [attr.data-active]="actSt === '/articulos' ? 'on' : 'off'"
              >
                <i class="material-icons">import_contacts</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/expedientes' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan"
                routerLink="/expedientes"
                [attr.data-active]="actSt === '/expedientes' ? 'on' : 'off'"
              >
                <i class="material-icons">contact_mail</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="
                  actSt === '/seguimiento-expediente' ? 'on' : 'off'
                "
              ></div>
              <a
                class="waves-effect waves-cyan"
                routerLink="/seguimiento-expediente"
                [attr.data-active]="
                  actSt === '/seguimiento-expediente' ? 'on' : 'off'
                "
              >
                <i class="material-icons">visibility</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/notificaciones' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan"
                routerLink="/notificaciones"
                [attr.data-active]="actSt === '/notificaciones' ? 'on' : 'off'"
              >
                <i class="material-icons">notifications_none</i>
              </a>
            </li>
            <li class="bold">
              <div
                class="principal-option-active"
                [attr.data-active]="actSt === '/articulos' ? 'on' : 'off'"
              ></div>
              <a
                class="waves-effect waves-cyan"
                routerLink="/articulos"
                [attr.data-active]="actSt === '/articulos' ? 'on' : 'off'"
              >
                <i class="material-icons">insert_invitation </i>
              </a>
            </li>
          </ul>

          <!-- Main Navbar Filter Options -->
          <ul class="main-sidenav-filter-options">
            <li class="filter-options-title dfr">
              <span class="filter-title">Usuarios</span>
              <span class="badge new-badge pill pink accent-2 float-right"
                >5</span
              >
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Todos</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Nuevos</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Frecuentes</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Destacados</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Administradores</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Asociados</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Clientes</span>
            </li>
            <li class="filter-options-item dfr">
              <span class="filter-title">Normales</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navbar Trigger Button -->
  <a
    id="main-sidenav-trigger"
    class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium pink accent-2 waves-effect waves-light hide-on-large-only"
    href="#"
    data-target="slide-out"
    style="position: fixed;"
    ><i class="material-icons">menu</i></a
  >
</aside>

<!-- Admin Main Content -->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
      <div class="container">
        <!-- Sidebar Area Starts -->
        <div class="sidebar-left sidebar-fixed">
          <div class="sidebar">
            <div class="sidebar-content">
              <div class="sidebar-header">
                <div class="sidebar-details">
                  <app-breadcrumbs class="sidebar-cuantity"></app-breadcrumbs>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Area Starts -->
        <div class="content-area content-right">
          <div class="table-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admin Footer -->
<div class="admin-footer ff-ss gradient-45deg-indigo-purple dfr">
  <span
    >© 2020 <span class="footer-author">PINOYROBLE</span> All rights
    reserved.</span
  >
  <span class="hide-on-small-only"
    >Design and Developed by
    <span class="footer-author">Armando Lara</span></span
  >
</div>
