<!-- Modal Seleccionar Cliente -->
<app-select-user></app-select-user>

<!-- Modal Seleccionar Expediente -->
<app-select-file></app-select-file>

<!-- Modal Formulario User -->
<app-users-form></app-users-form>

<!-- Modal Formulario Articulos -->
<app-posts-form></app-posts-form>

<!-- Modal Formulario Expediente -->
<app-files-form></app-files-form>

<!-- Admin NavBar -->
<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav
      class="navbar-main navbar-color nav-collapsible navbar-dark gradient-45deg-indigo-purple no-shadow sideNav-lock"
    >
      <div class="nav-wrapper">
        <!-- Admin Navbar Container -->
        <ul class="navbar-list right">
          <!-- Toggle Full Screen Option -->
          <li class="hide-on-med-and-down">
            <a
              class="waves-effect waves-block waves-light toggle-fullscreen"
              (click)="!isfullscreen ? openfullscreen() : closefullscreen()"
              href="javascript:void(0);"
              ><i class="material-icons">settings_overscan</i></a
            >
          </li>
          <!-- Search Option -->
          <li class="hide-on-large-only">
            <a
              class="waves-effect waves-block waves-light search-button"
              href="javascript:void(0);"
              ><i class="material-icons">search</i></a
            >
          </li>
          <!-- Notifications Option -->
          <li>
            <a
              class="waves-effect waves-block waves-light notification-button dropdown-trigger"
              href="javascript:void(0);"
              data-target="notifications-dropdown"
              ><i class="material-icons"
                >notifications_none<small class="notification-badge">{{
                  notifications?.total
                }}</small></i
              ></a
            >
            <!-- Notifications Dropdown -->
            <ul
              class="dropdown-content"
              id="notifications-dropdown"
              style="width: fit-content;"
            >
              <li>
                <div class="notificaciones-header">
                  <span class="notificaciones-header-title">NOTIFICACIONES</span
                  ><span class="new badge">{{ notifications?.total }}</span>
                </div>
              </li>
              <li class="divider"></li>
              <li *ngFor="let notification of notifications?.docs">
                <div class="notification-item">
                  <span class="material-icons icon-bg-circle cyan small"
                    >add_shopping_cart</span
                  >
                  {{ notification?.title }}
                </div>
                <time class="media-meta grey-text">{{
                  notification?.created_at | date
                }}</time>
              </li>
            </ul>
          </li>
          <!-- Perfil Option -->
          <li>
            <!-- Perfil Dropdown Trigger -->
            <a
              class="waves-effect waves-block waves-light profile-button dropdown-trigger dfc"
              href="javascript:void(0);"
              data-target="profile-dropdown"
              ><div class="avatar-status avatar-online">
                <div class="centered-img-bg dfc">
                  <img
                    [src]="_usersS.user?.img | img: 'user':true"
                    alt="avatar"
                  />
                </div>
                <i></i></div
            ></a>
            <!-- Perfil Dropdown Container -->
            <ul class="dropdown-content" id="profile-dropdown">
              <!-- Perfil Information -->
              <li>
                <div class="perfil-info dfr">
                  <div class="perfil-icon centered-img-bg dfc">
                    <img [src]="_usersS.user?.img | img: 'user':true" />
                  </div>
                  <div class="perfil-text dfc">
                    <span class="perfil-name ff-rr">{{
                      this._usersS.user?.firstName
                        .split(" ")[0]
                        .concat(
                          " ",
                          (this._usersS.user?.lastName.split(" "))[0]
                        )
                    }}</span>
                    <span class="perfil-email ff-rr">{{
                      this._usersS.user?.email
                    }}</span>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <!-- Perfil Option -->
              <li>
                <a class="grey-text text-darken-1" routerLink="/perfil"
                  ><i class="material-icons">person_outline</i> Perfil</a
                >
              </li>
              <!-- FAQ Option -->
              <li>
                <a class="grey-text text-darken-1" href="page-faq.html"
                  ><i class="material-icons">help_outline</i> Ayuda</a
                >
              </li>
              <!-- Change Theme Option -->
              <li>
                <a
                  class="grey-text text-darken-1 dfr"
                  style="justify-content: space-between;"
                  ><div class="dfr">
                    <i
                      class="material-icons"
                      style="height: 0; line-height: 0;"
                      >brightness_4</i
                    >Tema Oscuro
                  </div>
                  <app-theme-switch></app-theme-switch>
              </a>
              </li>
              <li class="divider"></li>
              <!-- Logout Option -->
              <li>
                <a class="grey-text text-darken-1" (click)="_usersS.logout()"
                  ><i class="material-icons">exit_to_app</i> Cerrar Sesión</a
                >
              </li>
            </ul>
          </li>
          <!-- Messages Right Sidebar -->
          <li>
            <a
              class="waves-effect waves-block waves-light sidenav-trigger"
              data-target="slide-out-right"
              ><i class="material-icons">format_indent_increase</i></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- Admin SideNav -->
<aside
  class="sidenav-main nav-collapsible sidenav-light sidenav-active-square nav-lock"
>
  <!-- Main Navbar Brand -->
  <div class="brand-sidebar">
    <a class="brand-logo darken-1" routerLink="/dashboard"
      ><img
        src="../../../assets/images/brand.png"
        alt="site logo"
        style="width: 100%;"
    /></a>
  </div>

  <div id="slide-out" class="sidenav collapsible dfc">
    <!-- Inner Navbar Brand -->
    <div class="inner-sidebar-brand dfr">
      <a class="brand-logo darken-1 dfr" routerLink="/dashboard"
        ><img
          src="../../../assets/images/brand.png"
          alt="site logo"
          style="width: 100%;"
      /></a>
    </div>
    <!-- Main Navbar Options Container -->
    <div class="main-navbar-container-wrapper custom-scroll-y">
      <div class="main-navbar-container dfc">
        <div class="dfr" style="width: 100%; position: relative;">
          <!-- Main Navbar Principal Options -->
          <ul class="main-sidenav-principal-options">
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/dashboard"
                [attr.data-active]="actSt === '/dashboard' ? 'on' : 'off'"
              >
                <i class="material-icons">pie_chart</i>
                <span>Tablero</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/mensajes"
                [attr.data-active]="actSt === '/mensajes' ? 'on' : 'off'"
              >
                <i class="material-icons">mail_outline</i>
                <span>Mensajes</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/usuarios"
                [attr.data-active]="actSt === '/usuarios' ? 'on' : 'off'"
              >
                <i class="material-icons">perm_identity</i>
                <span>Usuarios</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/posts"
                [attr.data-active]="actSt === '/posts' ? 'on' : 'off'"
              >
                <i class="material-icons">import_contacts</i>
                <span>Artículos</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/expedientes"
                [attr.data-active]="actSt === '/expedientes' ? 'on' : 'off'"
              >
                <i class="material-icons">contact_mail</i>
                <span>Expedientes</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/seguimiento-expediente"
                [attr.data-active]="
                  actSt === '/seguimiento-expediente' ? 'on' : 'off'
                "
              >
                <i class="material-icons">visibility</i>
                <span>Seguimiento</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/notificaciones"
                [attr.data-active]="actSt === '/notificaciones' ? 'on' : 'off'"
              >
                <i class="material-icons">notifications_none</i>
                <span>Notificaciones</span>
              </a>
            </li>
            <li class="bold">
              <a
                class="waves-effect waves-cyan dfc"
                routerLink="/posts"
                [attr.data-active]="actSt === '/posts' ? 'on' : 'off'"
              >
                <i class="material-icons">insert_invitation </i>
                <span>Eventos</span>
              </a>
            </li>
          </ul>

          <!-- Main Navbar Filter Options -->
          <ul class="main-sidenav-filter-options"></ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navbar Trigger Button -->
  <a
    id="main-sidenav-trigger"
    class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium gradient-pos-45deg-lighter-blue waves-effect waves-light hide-on-large-only"
    href="#"
    data-target="slide-out"
    style="position: fixed;"
    ><i class="material-icons">menu</i></a
  >
</aside>

<!-- Admin Main Content -->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
      <div class="container">
        <!-- Sidebar Area Starts -->
        <div class="sidebar-left sidebar-fixed">
          <div class="sidebar">
            <div class="sidebar-content">
              <div class="sidebar-header">
                <div class="sidebar-details">
                  <app-breadcrumbs class="sidebar-cuantity"></app-breadcrumbs>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Area Starts -->
        <div class="content-area content-right">
          <div class="table-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admin Footer -->
<div class="admin-footer ff-ss gradient-45deg-indigo-purple dfr">
  <span
    >© 2020 <span class="footer-author">Haizen</span> All rights reserved.</span
  >
  <span class="hide-on-small-only"
    >Designed and Developed by
    <span class="footer-author">Armando Lara</span></span
  >
</div>
