/* - - - - - - - - - - - - - - - - - |
/*            MEDIA QUERIES          |
/* - - - - - - - - - - - - - - - - - |*/

@media only screen and (min-width: 993px) {
  #main {
    padding-left: 100px !important;
  }
  .admin-footer {
    padding: 0 20px 0 124px;
  }
  .inner-sidebar-brand {
    display: none !important;
  }
  .sidenav-main .sidenav {
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 14.5px;
  }

  .container {
    width: 100%;
  }

  .sidenav-main {
    width: auto !important;
    height: 0 !important;
  }

  .sidenav-main .sidenav {
    top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    width: 100px;
  }

  .sidenav-main .sidenav:not(.sidenav-active) {
    -webkit-transform: translateX(-105%) !important;
    -moz-transform: translateX(-105%) !important;
    -ms-transform: translateX(-105%) !important;
    -o-transform: translateX(-105%) !important;
    transform: translateX(-105%) !important;
  }

  .sidenav-main .btn-sidenav-toggle {
    position: relative;
    top: 10px;
    left: 10px;
  }

  .brand-sidebar {
    background: transparent !important;
    box-shadow: none !important;
    left: 50px !important;
  }

  .sidenav-main .brand-sidebar .logo-wrapper {
    padding: 0 !important;
  }

  .brand-sidebar .brand-logo {
    padding: 10px !important;
  }

  .brand-sidebar .brand-logo img {
    width: 50px !important;
  }
  .admin-footer {
    padding: 0 20px;
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 900px) {
  .app-sidebar {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}

@media only screen and (max-width: 899px) {
  #sidenav-trigger-btn {
    top: 89px !important;
    display: block !important;
    position: absolute;
  }

  .sidebar .sidebar-content .sidebar-header {
    z-index: -1;
  }

  .scroll-sidenav {
    position: absolute !important;
    top: 56px;
    left: 0;
    overflow: hidden !important;
    height: calc(100% - 56px) !important;
  }

  #sidebar-list {
    position: absolute !important;
    overflow: hidden !important;
    height: 100% !important;
  }

  #sidebar-list.sidebar-show {
    z-index: 996;
  }

  #contact-sidenav {
    position: absolute;
    z-index: 998;
    top: 8px;
    width: 300px;
    height: 100%;
    padding-right: 1rem;
    padding-left: 25px;
    background: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .sidenav-main .btn-sidenav-toggle {
    position: relative;
    top: 6px;
    left: 6px;
  }

  .brand-sidebar {
    background: transparent !important;
    box-shadow: none !important;
    left: 50px !important;
  }

  .brand-sidebar .brand-logo {
    padding: 8px !important;
  }

  .container {
    width: 100%;
  }

  .dropdown-content {
    left: 25px !important;
    min-width: calc(100% - 47px) !important;
  }
  .admin-footer {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 450px) {
  ul#notifications-dropdown,
  #profile-dropdown {
    width: calc(96vw) !important;
    left: 2vw !important;
  }
}

@media only screen and (max-height: 1000px) and (max-width: 850px) {
  #main {
    min-height: calc(100vh - 116px) !important;
  }
}

@media only screen and (max-height: 570px) {
  .main-sidenav-principal-options {
    padding-top: 0px !important;
  }
}

/* - - - - - - - - - - - - - - - - - |
/*           NAVBAR STYLING          |
/* - - - - - - - - - - - - - - - - - |
/* NavBar */

.navbar-fixed {
  z-index: 998;
}

.navbar .no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .header-search-wrapper {
  position: relative;
  display: inline-block;
  width: -webkit-calc(100% - 600px);
  width: -moz-calc(100% - 600px);
  width: calc(100% - 600px);
  height: 40px;
  margin: 10px auto 0 285px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar .navbar-dark .header-search-wrapper i {
  color: #fff;
}

.navbar .header-search-wrapper i {
  font-size: 24px;
  line-height: 32px !important;
  position: absolute;
  top: 6px;
  left: 24px;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input:hover,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:active,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:focus {
  border: 1px solid rgba(230, 230, 230, 0.1);
  background: rgba(230, 230, 230, 0.1);
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input {
  color: #fff;
  border: 1px solid rgba(230, 230, 230, 0.05);
  background: rgba(230, 230, 230, 0.3);
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input:hover,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:active,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:focus {
  border: 1px solid rgba(230, 230, 230, 0.1);
  background: rgba(230, 230, 230, 0.1);
}

.navbar input.header-search-input {
  font-size: 16px;
  font-weight: 400;
  display: block;
  width: 87%;
  height: 24px;
  padding: 8px 8px 8px 72px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  border-radius: 3px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.navbar .notification-badge {
  font-family: "Muli", sans-serif;
  position: relative;
  top: -20px;
  right: 5px;
  margin: 0 -0.8em;
  padding: 2px 5px;
  color: #fff;
  border-radius: 50%;
  background-color: #26c6da;
  -webkit-box-shadow: 0 0 10px 0 #26c6da;
  box-shadow: 0 0 10px 0 #26c6da;
}

/* - - - - - - - - - - - - - - - - - |
/*       NAVBAR AVATAR STYLING       |
/* - - - - - - - - - - - - - - - - - |*/

.avatar-status {
  position: relative;
  width: 28px;
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  min-height: 28px;
  max-height: 28px;
}

.avatar-status .centered-img-bg {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.navbar .navbar-dark ul:not(#profile-dropdown):not(#notifications-dropdown),
.navbar
  .navbar-dark
  ul:not(#profile-dropdown):not(#notifications-dropdown)
  > li {
  height: 100%;
}

.navbar .navbar-dark ul li .profile-button {
  height: 100%;
  justify-content: center;
}

.navbar .navbar-dark ul a {
  color: #fff;
}

.avatar-status i {
  background-color: #00e676;
  position: absolute;
  right: -2px;
  bottom: 0;
  width: 9px !important;
  height: 9px !important;
  border: 1px solid #fff;
  border-radius: 100%;
}

/* - - - - - - - - - - - - - - - - - |
/*      MAIN SIDENAVBAR STYLING      |
/* - - - - - - - - - - - - - - - - - |*/

/* SideNav */
.sidenav {
  top: 60px;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100px;
  position: fixed;
  align-items: flex-start;
  overflow: visible;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.sidenav-main {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100px;
  height: 100%;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.sidenav-active {
  -webkit-transform: translateX(0%) !important;
  -moz-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  -o-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
}

/* Sidebar Main Brand */

.brand-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 60px;
  background: #fff;
  -webkit-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.brand-sidebar .logo-wrapper {
  font-size: 3rem;
  line-height: 17px !important;
  margin: 0;
  white-space: nowrap;
}

.brand-sidebar .brand-logo {
  line-height: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 15px 13px 15px;
}

.brand-sidebar span.logo-text,
.inner-sidebar-brand span {
  font-size: 24px;
  visibility: visible;
  padding-left: 8px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
  color: #333;
  font-family: "Muli", sans-serif;
  letter-spacing: normal;
}

/* Sidebar Inner Brand */
.inner-sidebar-brand {
  min-height: 60px;
  margin-top: -60px;
}

.inner-sidebar-brand a {
  padding: 7px 15px 13px 15px;
}

.collapsible {
  border-top: none;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.01),
    0 3px 1px -2px rgba(0, 0, 0, 0.01), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

#sidenav-trigger-btn {
  color: white;
  display: none;
}

/* Main Sidenav Trigger Button*/
nav .sidenav-trigger {
  display: inherit;
  margin: 0;
}

/* Main Navbar Container*/
.main-navbar-container-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.main-navbar-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* Main Sidenav Principal Options Container*/
.main-sidenav-principal-options {
  margin: 0;
  height: 100%;
  padding-top: 10px;
}

/* Main Sidenav Option Styling */
.sidenav li {
  position: relative;
  padding: 1px 0;
}

.sidenav li > a {
  font-weight: 400;
  line-height: 44px;
  padding: 0;
  width: 100px;
  height: 60px;
  padding: 3px 0 5px 0;
}

.sidenav li > a:hover {
  background: #8100dc;
  color: white;
}

.sidenav li > a:hover > i {
  color: white;
}

.sidenav li > a[data-active="on"] {
  background: #303f9f;
  background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -moz- oldlinear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -o-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  color: white;
  box-shadow: none;
}

.sidenav li a[data-active="on"] > i {
  color: white;
}

.principal-option-active[data-active="on"] {
  position: absolute;
  width: 120%;
  height: 100%;
  border-radius: 50% 0 0 50%;
  background: white;
}

/* .principal-option-active[data-active="on"]::before {
  content: "";
  position: absolute;
  right: 2px;
  top: -36px;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 7px 22.5px 0 0 white;
  transform: rotate(333deg);
}

.principal-option-active[data-active="on"]::after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -37px;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 7px 22.5px 0 0 white;
  transform: rotate(245deg);
} */

/* .sidenav ul li:last-child > .principal-option-active[data-active="on"]::after {
  display: none;
} */

.sidenav li a i {
  font-size: 2.1rem;
  line-height: initial;
  margin: 0 0 5px 0;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.sidenav li a span {
  line-height: initial;
}

.nav-collapsible span.badge.pill {
  position: absolute;
  right: 4px;
  visibility: visible;
  float: none;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}
.sidenav-main span.badge.new {
  line-height: 20px;
  margin: 0;
}
.nav-collapsible span.badge {
  color: #fff;
}
span.badge.pill {
  font-size: 0.8rem;
  line-height: 20px;
  min-width: 1rem;
  height: 20px;
  border-radius: 9px;
}

/* Main Sidenav Filter Options Container*/
.main-sidenav-filter-options {
  margin: 0;
  padding-top: 30px;
  height: 100%;
  width: 100%;
}

.main-sidenav-filter-options li {
  width: 100% !important;
}

.filter-options-title {
  margin: 0 !important;
  background: linear-gradient(45deg, #383c9f, #a34de3);
  color: white;
  border-radius: 50px 0 0 50px;
  box-shadow: 3px 0px 0px 0px #9e4ce0;
  padding: 2px 5px;
}

.filter-options-title,
.filter-options-item {
  height: 35px !important;
}

.filter-options-title .filter-title,
.filter-options-item span {
  line-height: initial;
  font-size: 14px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.filter-options-title .new-badge {
  margin-top: 0;
}

.main-sidenav-filter-options .filter-options-item {
  margin: 15px;
  background: #494949;
  height: 60px;
  color: white;
  border-radius: 50px 0 0 50px;
  box-shadow: 3px 0px 0px 0px #b166ef;
  padding: 2px 5px;
  width: calc(100% - 10px) !important;
}

.main-sidenav-filter-options .filter-options-item:hover {
  background: #b166ef;
}

/* - - - - - - - - - - - - - - - - - |
/*      MAIN CONTAINER STYLING       |
/* - - - - - - - - - - - - - - - - - |*/

/* Main Content */

#main {
  background: #ececec;
  min-height: -webkit-calc(100vh - 124px);
  min-height: -moz-calc(100vh - 124px);
  min-height: calc(100vh - 124px);
  padding-left: 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#main .content-wrapper-before {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 185px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.row .col {
  padding: 0 1rem;
}

/* Container */
.container {
  width: 100%;
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - |
/*     SECOND SIDENAVBAR STYLING     |
/* - - - - - - - - - - - - - - - - - |*/

/* SideBar Left */
.sidebar-left {
  float: left;
  z-index: 1;
}

.sidebar {
  width: 100%;
}

.sidebar .sidebar-content .sidebar-header {
  position: relative;
  height: 185px;
  width: fit-content;
}

.sidebar .sidebar-content .sidebar-header .sidebar-details > app-breadcrumbs {
  color: white;
}

#sidebar-list {
  position: relative;
  width: 100%;
  height: -webkit-calc(100vh - 325px);
  height: -moz-calc(100vh - 325px);
  height: calc(100vh - 325px);
  padding-left: 1.4rem;
}

.scroll-sidenav {
  position: relative;
  width: 280px;
  min-width: 280px;
  margin-right: 1.4rem;
  margin-left: -1.4rem;
}

#contact-sidenav {
  top: 0;
  overflow: unset;
  box-shadow: none;
  width: 280px;
}

#contact-sidenav ul .sidebar-title {
  font-weight: 500;
  text-transform: uppercase;
  color: #212121;
  margin-left: 1.4rem;
}

#contact-sidenav ul {
  line-height: inherit;
}

#contact-sidenav ul li {
  margin-right: 20px;
  cursor: pointer;
}

#contact-sidenav ul li a i {
  font-size: 21px;
  vertical-align: middle;
}

#contact-sidenav ul li.active {
  margin-left: -1.8rem;
  padding-left: 1.8rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #2196f3;
  -webkit-box-shadow: 0 0 8px 0 #2196f3;
  box-shadow: 0 0 8px 0 #2196f3;
}

#contact-sidenav ul li.active a {
  color: #fff;
}

#contact-sidenav ul a {
  padding: 0.5rem;
  vertical-align: top;
  color: #757575;
  line-height: 40px;
  height: 40px;
}

#contact-sidenav ul li a i {
  line-height: inherit;
  height: inherit;
}

#contact-sidenav ul li.active a i {
  color: white;
}

/* - - - - - - - - - - - - - - - - - |
/*     CONTENT CONTAINER STYLING     |
/* - - - - - - - - - - - - - - - - - |*/

/* Content Area */
.content-area {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

#contact-sidenav ul li {
  color: rgba(0, 0, 0, 0.87);
}

.table-content {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 260px);
  padding-top: 10px;
  border-radius: 6px;
  background: white;
  margin-top: -120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* - - - - - - - - - - - - - - - - - |
/*     PROFILE DROPDOWN STYLING      |
/* - - - - - - - - - - - - - - - - - |*/

/* Profile Dropdown Styling */
#profile-dropdown {
  width: 160px !important;
}

#profile-dropdown li a i {
  margin: 0 10px 0 0 !important;
}

/* - - - - - - - - - - - - - - - - - |
/*   NOTIFICATION DROPDOWN STYLING   |
/* - - - - - - - - - - - - - - - - - |*/

/* Notifications Dropdown Styling */
#notifications-dropdown {
  width: 350px !important;
}

#notifications-dropdown li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  justify-content: center;
  min-height: 50px;
  line-height: 1.5rem;
  height: auto;
  font-family: Muli, sans-serif !important;
}

.dropdown-content li.divider {
  min-height: 0 !important;
  height: 1.5px !important;
  padding: 0 !important;
}

#notifications-dropdown li .notificaciones-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#notifications-dropdown li .notification-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  font-size: 1.1rem;
  color: black;
}

#notifications-dropdown li .notification-item span {
  font-size: 1rem !important;
  padding: 0.4rem;
  color: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

#notifications-dropdown li time {
  line-height: normal;
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
  top: -4px;
  margin-left: 38px;
  padding: 4px 0;
}

#notifications-dropdown li span.new {
  background-color: #26c6da;
}

#notifications-dropdown li .notificaciones-header-title {
  color: #757575;
  width: inherit;
  text-transform: uppercase;
  font-size: 1.15rem;
}

#notifications-dropdown li a {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* - - - - - - - - - - - - - - - - - - |
/*         ADMIN FOOTER STYLING        |
/* - - - - - - - - - - - - - - - - - - |

/* Perfil Footer Container */
.admin-footer {
  width: 100%;
  height: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  justify-content: space-between;
  transition: 0.3s ease all;
}

.footer-author {
  color: white;
}
