<!-- Modal Structure -->
<div
  id="selectFile"
  class="modal border-radius-6 modal-fixed-footer"
  style="
    z-index: 1003;
    display: none;
    opacity: 0;
    top: 4%;
    transform: scaleX(0.8) scaleY(0.8);
  "
>
  <div class="modal-header">
    <!-- Table Filter Box -->
    <div class="card horizontal header-card">
      <div class="card-stacked">
        <div class="card-content">
          <div class="filtro-buscador">
            <div class="buscadorAdminFiles input-field">
              <i class="filter-search material-icons">search</i>
              <i class="filter-close material-icons waves-effect">close</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-content">
    <!-- Table List Container -->
    <div class="row" style="margin: 20px 0 0 0;">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <table
                class="row-border hover stripe"
                style="width: 100% !important;"
              >
                <thead>
                  <tr>
                    <th class="th-custom-checkbox"></th>
                    <th>Cliente Asignado</th>
                    <th>Asunto</th>
                    <th>Clave Interna</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of files">
                    <td class="dfr" style="width: fit-content;">
                      <label class="custom-checkbox dfr">
                        <input
                          name="filesGroup"
                          type="radio"
                          (click)="this.isCheckedFunction(file)"
                        />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      {{ file?.assigned_client?.firstName }}
                      {{ file?.assigned_client?.lastName }}
                    </td>
                    <td>{{ file?.affair }}</td>
                    <td>{{ file?.intKey }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-actions">
    <button class="modal-close waves-effect waves-light btn modal-close-action">
      Cancelar
    </button>
    <button
      type="submit"
      class="waves-effect waves-light btn modal-submit-action modal-close"
      [class.button-disabled]="!this.isChecked"
      (click)="this.printData()"
    >
      Seleccionar
    </button>
  </div>
</div>
