<!-- Modal Structure -->
<div mat-dialog-title class="modal-header admin-modal-header dfc">
  <div class="modal-icon dfc">
    <i class="material-icons">contact_mail</i>
  </div>
  <span
    ><span class="article-action">{{ this.postModalTitle }}</span>
    Articulo</span
  >
  <i
    mat-dialog-close
    class="modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
    >close</i
  >
</div>

<mat-dialog-content class="mat-typography admin-modal-container">
  <!-- Modal Content -->
  <div class="modal-content admin-modal-content">
    <perfect-scrollbar
      class="scroll-container be-prime-scroll-content"
      [config]="config"
    >
      <div class="scrollable-content">
        <div class="row">
          <form
            id="formArticulos"
            class="col s12"
            style="padding: 0 30px; height: 100%;"
            ngNativeValidate
            [formGroup]="form"
          >
            <!-- Inputs Container -->
            <div class="inputs-container">
              <div class="upload-img-container dfr">
                <div class="upload-img centered-img-bg dfc">
                  <img
                    *ngIf="this._cloudinaryS.image"
                    [src]="this._cloudinaryS.image | img: 'post'"
                  />
                  <div
                    id="articleImgSelect"
                    class="select-img dfr"
                    [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
                    (click)="articleImg.click()"
                  >
                    <i
                      class="material-icons"
                      [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
                      >camera_alt</i
                    >
                    <input
                      #articleImg
                      ng2FileSelect
                      type="file"
                      [uploader]="this._cloudinaryS.uploader"
                      style="display: none;"
                      accept="image/png, image/jpg, image/jpeg"
                    />
                  </div>
                </div>
                <div class="dfc" style="width: 100%;">
                  <div class="modal-input modal-input-pink">
                    <input
                      id="title"
                      name="title"
                      formControlName="title"
                      placeholder=" "
                      type="text"
                      required
                    />
                    <div
                      class="modal-input-placeholder modal-input-placeholder-pink"
                    >
                      Titulo*
                    </div>
                  </div>
                  <div class="modal-input modal-input-pink">
                    <input
                      id="external_sources"
                      name="external_sources"
                      formControlName="external_sources"
                      placeholder=" "
                      type="text"
                    />
                    <div
                      class="modal-input-placeholder modal-input-placeholder-pink"
                    >
                      Fuentes Externas
                    </div>
                  </div>
                </div>
              </div>

              <angular-editor
                name="content"
                formControlName="content"
                (viewMode)="(true)"
                [config]="editorConfig"
                class="articuloEditor"
                required
              ></angular-editor>
            </div>
          </form>
        </div>
        <div
          *ngIf="this._cloudinaryS.uploader?.isUploading"
          class="upload-progress-container inner-progress dfc"
        >
          <div class="upload-progress modal-footer-upload-progress">
            <app-progress
              [progress]="this._cloudinaryS.uploader?.progress"
            ></app-progress>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="modal-footer modal-actions admin-modal-footer">
    <ng-container>
      <div class="modal-actions-container dfr">
        <div
          *ngIf="this._cloudinaryS.uploader?.isUploading"
          class="upload-progress-container dfc"
        >
          <div class="upload-progress modal-footer-upload-progress">
            <app-progress
              [progress]="this._cloudinaryS.uploader?.progress"
            ></app-progress>
          </div>
        </div>

        <div class="modal-actions-content">
          <button
            type="button"
            class="waves-effect waves-light btn modal-close-action"
            mat-dialog-close
            (click)="clearImg()"
          >
            Cancelar
          </button>
          <button
            id="contact-submit-button"
            type="submit"
            class="waves-effect waves-light btn modal-submit-action"
            [class.button-disabled]="!form.valid"
            (click)="create()"
          >
            Guardar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
