/* - - - - - - - - - - - - - - - - - |
/*      MAIN CONTAINER STYLING       |
/* - - - - - - - - - - - - - - - - - |*/

.dashboard-container {
  padding: 5px 15px 15px 15px;
}

/* Main Content */

/* - - - - - - - - - - - - - - - - - |
/*   SUPERIOR GRAPHICS CONTAINER     |
/* - - - - - - - - - - - - - - - - - |*/

/* Superior Graphics Container */
.superior-graphic-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.graphic-box {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  justify-self: center;
}
