<!-- Main Dashboard Container -->
<div class="dashboard-container dfc">
  <!-- Superior Graphics Container -->
  <div class="superior-graphic-container">
    <div class="graphic-box"><div></div></div>
    <div class="graphic-box"><span>Grafica 2</span></div>
    <div class="graphic-box"><span>Grafica 3</span></div>
  </div>
  <!-- Middle Graphics Container -->
  <div class="middle-graphic-container"></div>
  <!-- Bottom Graphics Container -->
  <div class="bottom-graphic-container"></div>
</div>
