<div class="card horizontal w-full" [attr.show-data-bg]="showBg">
  <div class="card-stacked w-full">
    <div class="comment-card-header card-content">
      <div
        *ngIf="showTitle"
        class="card-header review-title card-content p0 dfc jcc ais"
      >
        <span>Comentarios de los clientes</span>
      </div>
      <!-- Simple Filter Main Controls -->
      <div *ngIf="filterType === 'simple'" class="dfr w-full mt-1_2-r">
        <div class="comments-number">
          <span>12 Comentarios</span>
        </div>
        <div class="filter-comments ml-25">
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              border-radius-4
              color-secondary
            "
            mat-icon-button
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="filterMenu"
          >
            <i class="material-icons big-icon mr-8">sort</i>
            <span>Filtrar comentarios</span>
          </button>
          <!-- Attached File Actions Menu Content -->
          <mat-menu #filterMenu="matMenu" xPosition="before">
            <ng-template matMenuContent>
              <div class="dfc select-content-container">
                <!-- Newest Option -->
                <button
                  mat-menu-item
                  (click)="filterVariable = '-date'"
                  [attr.data-active]="
                    filterVariable === '-date' ? 'true' : 'false'
                  "
                >
                  Más recientes
                </button>
                <!-- Oldest Option -->
                <button
                  mat-menu-item
                  (click)="filterVariable = 'date'"
                  [attr.data-active]="
                    filterVariable === 'date' ? 'true' : 'false'
                  "
                >
                  Más antiguos
                </button>
              </div>
            </ng-template>
          </mat-menu>
        </div>
      </div>
      <!-- Full Filter Main Controls -->
      <div *ngIf="filterType === 'full'" class="dfr w-full mt-1_2-r mb-35">
        <!-- Average Text -->
        <div class="review-number-container dfc jcc">
          <div class="review-average">
            <span>{{
              reviewData ? reviewData.ratingAvg.toFixed(1) : "0.0"
            }}</span>
          </div>
          <div class="review-stars my-10">
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="reviewData ? reviewData.ratingAvg : 0"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
          </div>
          <div class="review-average-text">
            <span>Valoración del abogado</span>
          </div>
        </div>
        <!-- Average Buttons -->
        <div class="review-controls dfc jcc ml-25">
          <!-- 5 Stars -->
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              p0
              mb-10
              dfr
              jcc
            "
          >
            <mat-progress-bar
              mode="determinate"
              [value]="reviewData ? reviewData.fiveStarsAvg : 0"
              class="review-progress-bar"
            ></mat-progress-bar>
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="5"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
            <span *ngIf="reviewData" class="review-progress-percentage">
              {{
                reviewData.fiveStarsAvg > 0 ? reviewData.fiveStarsAvg : "< 1"
              }}%
            </span>
            <span *ngIf="!reviewData" class="review-progress-percentage">
              0%
            </span>
          </button>
          <!-- 4 Stars -->
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              p0
              mb-10
              dfr
              jcc
            "
          >
            <mat-progress-bar
              mode="determinate"
              [value]="reviewData ? reviewData.fourStarsAvg : 0"
              class="review-progress-bar"
            ></mat-progress-bar>
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="4"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
            <span *ngIf="reviewData" class="review-progress-percentage">
              {{
                reviewData.fourStarsAvg > 0 ? reviewData.fourStarsAvg : "< 1"
              }}%
            </span>
            <span *ngIf="!reviewData" class="review-progress-percentage">
              0%
            </span>
          </button>
          <!-- 3 Stars -->
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              p0
              mb-10
              dfr
              jcc
            "
          >
            <mat-progress-bar
              mode="determinate"
              [value]="reviewData ? reviewData.threeStarsAvg : 0"
              class="review-progress-bar"
            ></mat-progress-bar>
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="3"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
            <span *ngIf="reviewData" class="review-progress-percentage">
              {{
                reviewData.threeStarsAvg > 0 ? reviewData.threeStarsAvg : "< 1"
              }}%
            </span>
            <span *ngIf="!reviewData" class="review-progress-percentage">
              0%
            </span>
          </button>
          <!-- 2 Stars -->
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              p0
              mb-10
              dfr
              jcc
            "
          >
            <mat-progress-bar
              mode="determinate"
              [value]="reviewData ? reviewData.twoStarsAvg : 0"
              class="review-progress-bar"
            ></mat-progress-bar>
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="2"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
            <span *ngIf="reviewData" class="review-progress-percentage">
              {{ reviewData.twoStarsAvg > 0 ? reviewData.twoStarsAvg : "< 1" }}%
            </span>
            <span *ngIf="!reviewData" class="review-progress-percentage">
              0%
            </span>
          </button>
          <!-- 1 Star -->
          <button
            class="
              btn
              action-button
              transparent-bg
              border-none
              bs-none
              line-h-i
              w-full
              h-min
              p0
              dfr
              jcc
            "
          >
            <mat-progress-bar
              mode="determinate"
              [value]="reviewData ? reviewData.oneStarAvg : 0"
              class="review-progress-bar"
            ></mat-progress-bar>
            <ngx-stars
              [color]="'#eb8a2f'"
              [initialStars]="1"
              [readonly]="true"
              [size]="1"
            ></ngx-stars>
            <span *ngIf="reviewData" class="review-progress-percentage">
              {{ reviewData.oneStarAvg > 0 ? reviewData.oneStarAvg : "< 1" }}%
            </span>
            <span *ngIf="!reviewData" class="review-progress-percentage">
              0%
            </span>
          </button>
        </div>
      </div>
      <!-- Full Filter Secondary Controls -->
      <div *ngIf="filterType === 'full'" class="dfc w-full mb-35">
        <span class="review-title w-full">Valoraciones</span>
        <div class="w-full dfr jcc mt-1-r">
          <form
            ngNativeValidate
            [formGroup]="filterReviewsForm"
            class="dfr jcc w-full"
          >
            <div class="search-input-container w-full dfr jcs">
              <input
                type="text"
                name="serach-input"
                id="reviewSearch"
                formControlName="filterValue"
                (enter)="filterReviews()"
                placeholder="Buscar reseñas"
                class="
                  search-input
                  dfc
                  flex-1
                  m-0
                  bs-none
                  border-radius-auto border-radius-tr-none border-radius-br-none
                "
              />
              <button
                *ngIf="filterReviewsForm.valid"
                class="
                  search-input-button
                  btn
                  waves-effect waves-light
                  color-secondary
                  dfc
                  jcc
                  bs-none
                  border-radius-none
                  border-left-none
                  border-right-none
                  border-visible
                  transparent-bg
                "
                (click)="filterReviewsForm.reset()"
              >
                <i class="material-icons icon">close</i>
              </button>
              <button
                class="
                  search-input-button
                  btn
                  waves-effect waves-light
                  light-blue
                  title-white
                  dfc
                  jcc
                  bs-none
                  border-radius-auto border-radius-tl-none border-radius-bl-none
                "
                (click)="filterReviews()"
              >
                <i class="material-icons icon">search</i>
              </button>
            </div>
            <div class="search-filter-select border-radius-auto">
              <mat-form-field class="h-full">
                <mat-select
                  value="all"
                  required
                  disableOptionCentering
                  (selectionChange)="filterReviews($event)"
                >
                  <mat-option value="all"> Todas las valoraciones </mat-option>
                  <mat-option value="five"> Cinco estrellas </mat-option>
                  <mat-option value="four"> Cuatro estrellas </mat-option>
                  <mat-option value="three"> Tres estrellas </mat-option>
                  <mat-option value="two"> Dos estrellas </mat-option>
                  <mat-option value="one"> Una estrella </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <!-- Comments Card Content -->
      <div *ngIf="reviewData?.comments; else loadingCommentsData">
        <div
          *ngFor="let comment of reviewData.comments"
          class="comment-card-body card-content"
          [class.transparent-bg]="showBg === 'false'"
          [class.pt-0]="showBg === 'false'"
        >
          <div class="card-comment-content dfr ais">
            <div class="user-icon">
              <img [src]="comment?.img | img: 'user'" />
            </div>
            <div class="comment-body dfc ais">
              <div class="comment-info w-full mb-5 dfc ais">
                <div class="comment-user-name mb-5">
                  <span>
                    {{ comment?.firstName + " " + comment?.lastName }}
                  </span>
                </div>
                <div class="dfr jcc">
                  <div class="ranking-percentage-stars dfr">
                    <ngx-stars
                      [color]="'#eb8a2f'"
                      [initialStars]="
                        comment.ratingValue ? comment.ratingValue : 0
                      "
                      [readonly]="true"
                      [size]="1"
                    ></ngx-stars>
                  </div>
                  <div class="comment-date ml-5 secondary-text">
                    <span>{{ comment.date | dateAgo }}</span>
                  </div>
                </div>
              </div>
              <div
                #commentBox
                class="user-comment-content"
                [class.show-full-comment]="commentBox | showFullMessage"
              >
                <span>{{ comment.comment }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer card-action" [class.px-0]="showBg === 'false'">
          <div class="add-item-to-accordion-container m-0 dfc">
            <!-- See More Posts Button Trigger -->
            <button
              class="btn bs-none transparent-bg w-full max-width-full dfr"
              mat-icon-button
            >
              <span>Ver más reseñas</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Loading Comments -->
  <ng-template #loadingCommentsData>
    <div
      class="
        notifications-loading
        loading-dots-container loading-dots
        transparent-bg
        w-full
        dfr
        jcc
      "
    ></div>
  </ng-template>
</div>
