<form ngNativeValidate [formGroup]="form" (ngSubmit)="create()">
  <div class="login-content">
    <!-- Email Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="emailRegister"
        name="email"
        formControlName="email"
        type="email"
        placeholder=" "
        required
        (ngModelChange)="this.userEmail.next($event)"
        email
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Correo electronico*
      </div>
    </div>
    <div class="emailError" [ngStyle]="errorEmail ? { height: '23px' } : ''">
      <div *ngIf="errorEmail" style="margin-top: 5px;">
        *Este email no está disponible
      </div>
    </div>
    <!-- FirstName Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="nameRegister"
        name="firstName"
        formControlName="firstName"
        type="text"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Nombre(s)*
      </div>
    </div>
    <!-- LastName Input -->
    <div class="modal-input modal-input-blue">
      <input
        id="lastNameRegister"
        name="lastName"
        formControlName="lastName"
        type="text"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Apellidos*
      </div>
    </div>
    <!-- Password Input -->
    <div class="modal-input last modal-input-blue">
      <input
        id="passwordRegister"
        formControlName="password1"
        type="password"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Contraseña*
      </div>
      <div *ngIf="this.form.get('password1').errors?.minlength" class="form-control-feedback">
        Por lo menos 9 caracteres
      </div>
    </div>
    <!-- Password2 Input -->
    <div class="modal-input last modal-input-blue">
      <input
        id="passwordRegister2"
        formControlName="password2"
        type="password"
        placeholder=" "
        required
      />
      <div class="modal-input-placeholder modal-input-placeholder-blue">
        Repetir la Contraseña*
      </div>
      <div *ngIf="this.form.get('password2').errors?.notEqual" class="form-control-feedback">
        Las contraseñas deben ser iguales
      </div>
    </div>
    <button
      type="submit"
      [class.register-button-disabled]="!form.valid || errorEmail === true"
      id="register-button"
      class="waves-effect waves-light btn"
    >
      Registrarse
    </button>
  </div>
</form>
