<section id="index-container" class="pr pt-71">
  <!-- Inicio Carousel Principal-->
  <div id="carouselPrincipal" class="carousel carousel-slider center">
    <div
      class="carousel-fixed-item center middle-indicator"
      style="height: fit-content"
    >
      <div class="left">
        <a
          href="Previo"
          class="
            movePrevCarousel
            middle-indicator-text
            waves-effect waves-light
            content-indicator
          "
          ><i class="material-icons left middle-indicator-text"
            >chevron_left</i
          ></a
        >
      </div>

      <div class="right">
        <a
          href="Siguiente"
          class="
            moveNextCarousel
            middle-indicator-text
            waves-effect waves-light
            content-indicator
          "
          ><i class="material-icons right middle-indicator-text"
            >chevron_right</i
          ></a
        >
      </div>
    </div>
    <div id="main-slide" class="carousel-item dfr">
      <div class="main-slide-box-shadow"></div>
      <div class="centered-img-bg border-none dfc">
        <img src="../../../assets/images/carouselPartners/slide_1.png" alt="" />
      </div>
      <div class="container carousel-content">
        <!-- <h2>"Precio justo, servicio extraordinario"</h2>
        <a
          class="waves-effect waves-light btn gradient-45deg-dark-blue"
          routerLink="/contacto"
          (click)="this._utilitiesS.scrollToTop()"
        >
          <span>Contactanos</span>
        </a> -->
      </div>
    </div>
  </div>
  <!-- Fin Carousel Principal-->

  <!-- Inicio Carousel Partners-->
  <div *ngIf="lawyers.length > 0" id="partners-carousel-container" class="dfc">
    <div id="carousel-Partners" class="carousel carousel-slider">
      <mat-card-content class="item-list-content tracking-details lawyer-card">
        <div id="partnersText" class="item-list-content-title dfc">
          <div class="partner-icon-container">
            <span class="partner-icon dfc">
              <i class="fas fa-user-tie"></i>
            </span>
          </div>
          <span class="partner-title">Abogados Asociados</span>
          <button
            class="see-all btn waves-effect waves-light"
            routerLink="/abogados"
          >
            Ver todos
          </button>
        </div>
        <!-- Partners Item Cards -->
        <div class="item-acordion-card-main-container lawyer-card dfc">
          <div class="partners-carousel-item item-acordion-card-container dfr">
            <owl-carousel-o [options]="partnersCarosuelOptions" class="w-full">
              <ng-container *ngFor="let lawyer of lawyers">
                <ng-template carouselSlide [id]="lawyer._id">
                  <div
                    class="
                      item-acordion-card-box
                      evidence-card-box
                      partnersArray
                      lawyer-card
                      dfc
                    "
                  >
                    <div class="item-acordion-card-inner-box">
                      <!-- Partner Card Body -->
                      <div
                        class="
                          item-acordion-card-body
                          lawyer-card
                          cursor-grab
                          dfr
                        "
                        data-note-details="true"
                      >
                        <div
                          class="
                            item-acordion-card-body-image
                            lawyer-card
                            centered-img-bg
                            dfr
                          "
                        >
                          <img [src]="lawyer.img | img: 'user'" />
                        </div>
                      </div>
                      <!-- Partner Card Header -->
                      <div class="item-acordion-card-header lawyer-card dfr">
                        <div
                          class="
                            item-acordion-card-header-data
                            note-card-header
                            lawyer-card
                            dfc
                          "
                        >
                          <div class="item-acordion-card-header-left dfr">
                            <div
                              class="
                                item-acordion-card-name
                                lawyer-name lawyer-card
                              "
                            >
                              <span>
                                {{ lawyer.firstName + " " + lawyer.lastName }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Partner Card Actions -->
                      <div class="item-acordion-body-actions lawyer-card dfr">
                        <!-- Partner Rating Stars -->
                        <button
                          class="
                            header-item-btn
                            btn
                            action-button
                            w-fit
                            bs-none
                            border-none border-radius-4
                            px-5
                            transparent-bg
                            text-button
                            dfc
                            jcc
                          "
                          mat-icon-button
                          (click)="
                            this._usersS.isLogged()
                              ? openRateModal(
                                  lawyer.isRated ? 'update' : 'create',
                                  lawyer,
                                  lawyers
                                )
                              : showAlertModal('rate', $event)
                          "
                        >
                          <!-- Logged In Stars -->
                          <ngx-stars
                            *ngIf="_usersS.isLogged()"
                            [color]="'#eb8a2f'"
                            [initialStars]="
                              lawyer.ratingData?.rating
                                ? lawyer.ratingData.rating
                                : 0
                            "
                            [readonly]="true"
                            [size]="1"
                          ></ngx-stars>
                          <!-- Logged Out Stars -->
                          <ngx-stars
                            *ngIf="!_usersS.isLogged()"
                            [color]="'#eb8a2f'"
                            [initialStars]="0"
                            [readonly]="true"
                            [size]="1"
                          ></ngx-stars>
                          <span class="w-full button-text">{{
                            this._usersS.isLogged()
                              ? lawyer.isRated
                                ? "Editar calificación"
                                : "Calificar abogado"
                              : "Calificar abogado"
                          }}</span>
                        </button>
                        <!-- Partner Email Button Trigger -->
                        <button
                          *ngIf="
                            this._usersS.isLogged()
                              ? lawyer._id !== this._usersS.user._id
                              : true
                          "
                          class="header-item-btn btn action-button dfc"
                          mat-icon-button
                          matTooltip="Contactar por correo"
                          matTooltipPosition="above"
                          (click)="
                            this._usersS.isLogged()
                              ? openReplyModal(lawyer)
                              : showAlertModal('contactEmail', $event)
                          "
                        >
                          <i class="far fa-envelope"></i>
                        </button>
                        <!-- Partner Message Button Trigger -->
                        <button
                          *ngIf="
                            this._usersS.isLogged()
                              ? lawyer._id !== this._usersS.user._id
                              : true
                          "
                          class="header-item-btn btn action-button dfc"
                          mat-icon-button
                          matTooltip="Contactar por mensaje"
                          matTooltipPosition="above"
                          (click)="
                            this._usersS.isLogged()
                              ? openChat(lawyer)
                              : showAlertModal('contactLawyer', $event)
                          "
                        >
                          <i class="far fa-comment"></i>
                        </button>
                        <!-- Partner View Profile Button Trigger -->
                        <button
                          class="
                            header-item-btn
                            btn
                            action-button
                            important-action
                            dfc
                          "
                          (click)="
                            viewLawyerDetails(lawyer._id);
                            this._utilitiesS.scrollToTop()
                          "
                          mat-icon-button
                          matTooltip="Ver Perfil"
                          matTooltipPosition="above"
                        >
                          <i class="far fa-eye"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
  <!-- Fin Carousel Partners-->

  <!-- Inicio Carousel Posts-->
  <div *ngIf="posts.length > 0" id="partners-carousel-container" class="dfc">
    <div id="carousel-Posts" class="carousel carousel-slider">
      <mat-card-content class="item-list-content tracking-details post-card">
        <div id="partnersText" class="item-list-content-title dfc">
          <div class="partner-icon-container">
            <span class="partner-icon dfc">
              <i class="material-icons">import_contacts</i>
            </span>
          </div>
          <span class="partner-title">Artículos Destacados</span>
          <button
            class="see-all btn waves-effect waves-light"
            routerLink="/articulos"
          >
            Ver todos
          </button>
        </div>
        <!-- Posts Item Cards -->
        <div class="item-acordion-card-main-container dfc">
          <div class="partners-carousel-item item-acordion-card-container dfr">
            <owl-carousel-o [options]="postsCarosuelOptions" class="w-full">
              <ng-container *ngFor="let post of posts">
                <ng-template carouselSlide [id]="post._id">
                  <div
                    class="
                      item-acordion-card-box
                      evidence-card-box
                      cursor-p
                      dfc
                    "
                  >
                    <!-- Post Card Header -->
                    <div class="item-acordion-card-header dfr">
                      <div
                        class="
                          item-acordion-card-header-data
                          note-card-header
                          dfc
                        "
                      >
                        <div class="item-acordion-card-header-left dfr">
                          <div class="item-acordion-card-name lawyer-name">
                            <span>{{ post?.postTitle }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Card Body -->
                    <div class="item-acordion-card-body dfr">
                      <div
                        class="
                          item-acordion-card-body-data
                          lawyer-acordion-body
                          dfc
                        "
                      >
                        <div
                          class="
                            item-acordion-card-body-content
                            lawyer-acordion-content
                          "
                        >
                          <span
                            [innerHtml]="
                              post?.postContent
                                ? (post?.postContent | truncateHtml)
                                : 'N/E'
                            "
                          ></span>
                        </div>
                      </div>
                      <div
                        class="
                          item-acordion-card-body-image
                          centered-img-bg
                          border-radius-auto border-none
                          dfr
                        "
                      >
                        <img
                          [src]="post?.postImage | img: 'post'"
                          alt="post-image"
                          class="border-radius-auto"
                        />
                      </div>
                    </div>
                    <!-- Post Card Actions -->
                    <div class="item-acordion-body-actions dfr">
                      <!-- Post Go To Comments Button Trigger -->
                      <button
                        class="header-item-btn btn action-button dfc"
                        mat-icon-button
                        matTooltip="Ver Comentarios"
                        matTooltipPosition="above"
                        (click)="goToComments(post._id)"
                      >
                        <i class="material-icons">forum</i>
                      </button>
                      <!-- Post Read Button Trigger -->
                      <button
                        class="
                          header-item-btn
                          btn
                          action-button
                          important-action
                          dfc
                        "
                        mat-icon-button
                        matTooltip="Leer Artículo"
                        matTooltipPosition="above"
                        [routerLink]="['/articulo-detalle', post._id]"
                        (click)="this._utilitiesS.scrollToTop()"
                      >
                        <i class="far fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
            <!-- Posts Cards -->
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
  <!-- Fin Carousel Posts-->

  <!-- Inicio Carousel Practice Areas-->
  <div
    *ngIf="practiceAreasList.length > 0"
    id="home-practice-areas-container"
    class="dfc"
  >
    <div class="home-pracice-area-header dfc">
      <div class="home-pracice-area-slogan">
        <span
          >"Nuestros abogados asociados brindan asesoramiento profesional en
          diversas áreas jurídicas."</span
        >
      </div>
      <div class="home-practice-area-buttons dfr">
        <button
          class="btn waves-effect waves-light"
          routerLink="/areas-practica"
          (click)="_utilitiesS.scrollToTop()"
        >
          <span>Ver todas las áreas de práctica</span>
        </button>
      </div>
    </div>
    <div class="home-practice-area-body w-full dfr">
      <div class="home-practice-areas-list">
        <div
          *ngFor="let practiceArea of practiceAreasList"
          class="home-practice-area-box"
        >
          <div class="home-practice-area-box-header dfc">
            <div class="home-practice-area-box-name">
              <span>{{ practiceArea.name }}</span>
            </div>
            <div
              class="
                home-practice-area-box-actions
                item-acordion-body-actions
                dfr
              "
            >
              <!-- Practice Area Lawyers Button Trigger -->
              <button
                class="header-item-btn btn action-button dfc"
                mat-icon-button
                matTooltip="Ver abogados especializados"
                matTooltipPosition="above"
                [routerLink]="['/area-detalle', practiceArea._id]"
                [queryParams]="{ abogados: true }"
                (click)="_utilitiesS.scrollToTop()"
              >
                <i class="fas fa-user-tie"></i>
              </button>
              <!-- Practice Area Details Button Trigger -->
              <button
                class="header-item-btn btn action-button important-action dfc"
                mat-icon-button
                matTooltip="Leer más"
                matTooltipPosition="above"
                [routerLink]="['/area-detalle', practiceArea._id]"
                (click)="_utilitiesS.scrollToTop()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="home-practice-area-box-description">
            <span>
              {{ practiceArea.review }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Carousel Practice Areas-->
</section>
