<div class="messages-container dfr">
  <!-- Chat Users -->
  <div class="chat-users dfc hide-on-med-and-down">
    <!-- Chat User From Area -->
    <div class="chat-from-user dfr p-1 ct">
      <div class="current-user-icon">
        <img
          src="../../../assets/images/user.jpg"
          style="width: 100%; height: 100%;"
        />
      </div>
      <div class="current-user-info o-t-h dfc">
        <span class="user-name blue-grey-text o-t-h text-darken-4"
          >Armando Lara</span
        >
        <span class="user-rol o-t-h">Administrador</span>
      </div>
    </div>
    <!-- Chat Search Area -->
    <div class="chat-search-user dfr p-1 ct">
      <div class="search-area dfr">
        <i class="material-icons search-icon">search</i>
        <div class="chat-search-input dfr"></div>
      </div>
      <div class="add-user dfr waves-effect waves-light">
        <i class="material-icons">person_add</i>
      </div>
    </div>
    <!-- Chat User List Area -->
    <div class="chat-user-list ct custom-scroll-y">
      <!-- Tabla Listado Users -->
      <table
        datatable
        [dtOptions]="dtOptions"
        id="chat-users-tbl"
        class="row-border hover"
        style="width: 100%; height: calc(100% - 59px);"
      >
        <thead style="display: none;">
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr active" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Katth Flores</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="dfr" style="">
              <div class="current-user-icon">
                <img
                  src="../../../assets/images/user_2.jpg"
                  style="width: 100%; height: 100%;"
                />
              </div>
              <div class="current-user-info dfc o-t-h">
                <span class="user-name blue-grey-text text-darken-4 o-t-h"
                  >Armando Lara</span
                >
                <span class="user-rol o-t-h">Cliente</span>
              </div>
              <div class="user-more-info dfc">
                <div class="star-hour dfr">
                  <div class="favorite"><i class="material-icons">star</i></div>
                  <div class="time dfr"><span>12:30 am</span></div>
                </div>
                <div class="messages-counter dfr">
                  <span>3</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Chat Area -->
  <div class="chat-area dfc">
    <!-- Chat User To Area -->
    <div class="chat-to-user dfr p-1 ct">
      <div class="user-to-icon">
        <img
          src="../../../assets/images/user_2.jpg"
          style="width: 100%; height: 100%;"
        />
      </div>
      <div class="current-user-info o-t-h dfc">
        <span class="user-name blue-grey-text o-t-h text-darken-4"
          >Katth Flores</span
        >
        <span class="user-rol o-t-h">Cliente</span>
      </div>
      <div class="user-actions dfr">
        <div class="favorite"><i class="material-icons">star_outline</i></div>
        <i class="material-icons">delete</i>
        <i class="material-icons">more_vert</i>
      </div>
    </div>
    <!-- Chat Convsersation Area -->
    <div class="chat-convsersation ct custom-scroll-y">
      <div class="chat-convsersation-wrapper p-1">
        <div class="chat chat-right dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>How can we help? We're here for you!</p>
            </div>
          </div>
        </div>
        <div class="chat dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user_2.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>
                Hey John, I am looking for the best admin template. Could you
                please help me to find it out?
              </p>
            </div>
            <div class="chat-text dfr">
              <p>It should be material css compatible.</p>
            </div>
          </div>
        </div>
        <div class="chat chat-right dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>How can we help? We're here for you!</p>
            </div>
          </div>
        </div>
        <div class="chat dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user_2.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>
                Hey John, I am looking for the best admin template. Could you
                please help me to find it out?
              </p>
            </div>
            <div class="chat-text dfr">
              <p>It should be material css compatible.</p>
            </div>
          </div>
        </div>
        <div class="chat chat-right dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>How can we help? We're here for you!</p>
            </div>
          </div>
        </div>
        <div class="chat dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user_2.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>
                Hey John, I am looking for the best admin template. Could you
                please help me to find it out?
              </p>
            </div>
            <div class="chat-text dfr">
              <p>It should be material css compatible.</p>
            </div>
          </div>
        </div>
        <div class="chat chat-right dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>How can we help? We're here for you!</p>
            </div>
          </div>
        </div>
        <div class="chat dfr">
          <div class="chat-avatar">
            <img src="../../../assets/images/user_2.jpg" />
          </div>
          <div class="chat-body">
            <div class="chat-text dfr">
              <p>
                Hey John, I am looking for the best admin template. Could you
                please help me to find it out?
              </p>
            </div>
            <div class="chat-text dfr">
              <p>It should be material css compatible.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Write Area -->
    <div class="chat-write-message dfr p-1 ct">
      <!-- <form onsubmit=""> -->
      <i class="material-icons mr-2">attachment</i>
      <input
        type="text"
        placeholder="Escribe tu mensaje aquí.."
        class="chat-message"
      />
      <button
        class="submit send-chat-message-btn dfc waves-effect btn waves-light"
      >
        Enviar
      </button>
      <!-- </form> -->
    </div>
  </div>
</div>
