@media only screen and (max-width: 900px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .current-user-info {
    width: 157px !important;
  }
}

/* - - - - - - - - - - - - - - - - - |
  /*          GENERAL CLASES           |
  /* - - - - - - - - - - - - - - - - - |*/

/* Padding 1rem */
.p-1 {
  padding: 1rem;
}

/* Overflow Text Hidden */
.o-t-h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* Chat User / Area Container */
.chat-users,
.chat-area {
  margin-top: -10px;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

.chat-users .ct,
.chat-area .ct {
  width: 100%;
}

/* Chat First Div Container Styling*/
.chat-from-user,
.chat-to-user {
  border-bottom: 1px solid #eee;
}

/* User Actions */
.favorite i,
.user-actions i {
  font-size: 24px;
  color: #6b6f82;
  cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - |
  /*      MAIN MESSAGES CONTAINER      |
  /* - - - - - - - - - - - - - - - - - |*/

/* Chat Users Container */

/* - - - - - - - - - - - - - - - - - |
  /*     MESSAGES CHAT USERS LIST      |
  /* - - - - - - - - - - - - - - - - - |*/

/* Chat Users Container */
.chat-users {
  width: 360px;
  min-width: 360px;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #eee;
}

/* Current User Icon */
.current-user-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* Current User Info */
.current-user-info {
  width: calc(100%);
  align-items: flex-start;
  padding: 0 1rem;
}

.user-rol {
  font-size: 0.85rem;
  overflow: hidden;
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #616161;
}

/* User More Info*/
.user-more-info {
  width: 75px;
  min-width: 75px;
  align-items: flex-end;
}

.star-hour {
  width: 75px;
  max-width: 75px;
}

.favorite {
  line-height: 0;
  margin-right: 0.35rem;
}

.time {
  font-size: 11px;
  height: 24px;
  color: #616161;
}

.messages-counter {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  background: #26c6da;
  color: white;
  font-weight: 600;
}

.messages-counter span {
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
}

/* Chat Search Area */
.search-area {
  width: calc(100% - 53px);
  height: 41px;
}

.search-area i {
  font-size: 1.45rem;
  height: 41px;
  margin-right: 0 !important;
  padding: 0.75rem 0.25rem 0.35rem 0.75rem;
  color: #9e9e9e;
  border-radius: 2rem 0 0 2rem;
  background-color: #eceff1;
}

.chat-search-input {
  height: 100%;
  margin-bottom: 0;
  padding: 0.2rem;
  color: #9e9e9e;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background-color: #eceff1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Chat Search Add User */
.add-user {
  width: 38px;
  height: 38px;
  color: white;
  background: linear-gradient(45deg, #0288d1, #26c6da) !important;
  border-radius: 50%;
  margin-left: 15px;
  justify-content: center;
  cursor: pointer;
}

.add-user i {
  font-size: 20px;
}

/* Chat Table List */
#chat-users-tbl_filter {
  background: red;
}

.chat-user-list {
  height: calc(100vh - 365px);
  position: relative;
}

tr {
  max-height: 75.5px;
  height: 75.5px;
}

td {
  border-right: 2px solid transparent !important;
  height: 100%;
}

td.active {
  border-right: 2px solid #26c6da !important;
  background-color: #eceff1;
}

td:focus {
  border-right: 2px solid #26c6da !important;
  background-color: #eceff1;
  outline: none !important;
}

/* - - - - - - - - - - - - - - - - - |
  /*        MESSAGES CHAT AREA         |
  /* - - - - - - - - - - - - - - - - - |*/

/* Chat Area Container */
.chat-area {
  width: 100%;
  border-radius: 0 6px 6px 0;
}

/* User To Icon */
.user-to-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* User Actions */
.user-actions {
  justify-content: space-around;
  width: 125px;
  min-width: 125px;
}

/* Chat Conversation Area */
.chat-convsersation {
  height: calc(100vh - 380px);
  width: 100%;
  background: url(../../../assets/images/chat-bg.jpg);
  position: relative;
}

.chat-convsersation-wrapper {
  height: 100%;
  width: calc(100% + 14px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Chat Box Styling*/
.chat {
  margin: 0.5rem 1rem;
  align-items: flex-start;
}

.chat.chat-right {
  justify-content: flex-end;
}

.chat .chat-body .chat-text {
  margin: 0 1rem 1rem;
}

.chat.chat-right .chat-body .chat-text {
  flex-direction: row-reverse;
}

.chat.chat-right .chat-body .chat-text:first-child:before {
  content: "";
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  transform-origin: 4px -3px;
  background: #1e88e5;
  box-shadow: 2px -2px 4px -2px rgba(0, 0, 0, 0.4);
}

.chat .chat-body .chat-text:first-child:before {
  content: "";
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  transform-origin: 25px 10px;
  background: white;
  box-shadow: -2px 3px 4px -3px rgba(0, 0, 0, 0.4);
}

.chat .chat-body .chat-text:not(:first-child) {
  margin-left: 2rem;
}

.chat.chat-right .chat-body .chat-text:not(:first-child) {
  margin-right: 2rem;
}

.chat-text p {
  max-width: 400px;
  padding: 0.4rem 1rem;
  margin: 0;
  font-size: 13px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.14);
}

.chat.chat-right .chat-text p {
  color: #fff;
  background-color: #1e88e5;
}

/* Chat Avatar */
.chat-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.chat.chat-right .chat-avatar {
  order: 2;
}

.chat-avatar img {
  width: 100%;
  height: 100%;
}

/* Chat Write Message Area */
.chat-write-message {
  justify-content: space-between;
  color: #6b6f82;
}

.chat-message {
  width: calc(100% - 140px) !important;
  margin: 3px 1.5rem 2px 0 !important;
  padding: 1px 1.5rem !important;
  color: -internal-light-dark-color(black, white);
  border-bottom: 0 !important;
  border-radius: 5px !important;
  background-color: #eceff1 !important;
}

.chat-message:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

/* Chat Send Message Button */
.send-chat-message-btn {
  height: 42px;
  line-height: 34px;
  padding: 0.3rem 2.3rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  background: linear-gradient(45deg, #0288d1, #26c6da) !important;
}
