<mat-dialog-content id="modalRegistro" class="mat-typography dfc jcc">
  <div class="modal-content dfc jcc h-full">
    <div class="modal-container">
      <div class="titulo-Modal">
        <img
          class="responsive-img"
          id="logo"
          [src]="
            this.isDarkThemeActive
              ? '/assets/images/logo.png'
              : '/assets/images/logo_dark.png'
          "
        />
      </div>
      <div class="contenido-Modal-Text">
        <div class="register-login">
          <div
            (click)="selected.setValue(0)"
            [class.login-option-active]="selected.value === 0"
            class="register-btn login-option"
          >
            <span>Iniciar sesión</span>
          </div>
          <div
            (click)="selected.setValue(1)"
            [class.login-option-active]="selected.value === 1"
            class="login-btn login-option"
          >
            <span>Registrarse</span>
          </div>
        </div>
        <mat-tab-group
          class="lawyer-tab"
          [selectedIndex]="selected.value"
          (selectedIndexChange)="selected.setValue($event)"
        >
          <mat-tab>
            <ng-template mat-tab-label> Login </ng-template>
            <app-login-form
              style="width: 100%"
              [modalRef]="modalRef"
            ></app-login-form>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label> Register </ng-template>
            <app-register-form style="width: 100%"></app-register-form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="close-modal-btn dfc jcc">
    <i
      mat-dialog-close
      class="material-icons waves-effect waves-light dfr"
      >close</i
    >
  </div>
</mat-dialog-content>
