<!-- Modal Structure -->
<div
  id="selectFile"
  class="modal border-radius-6 modal-fixed-footer"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <div class="modal-header">
    <!-- Table Filter Box -->
    <div class="card horizontal header-card">
      <div class="card-stacked">
        <div class="card-content">
          <div class="filtro-buscador">
            <div class="buscadorAdminFiles input-field">
              <i class="filter-search material-icons">search</i>
              <i class="filter-close material-icons waves-effect">close</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-content">
    <!-- Table List Container -->
    <div class="row" style="margin: 20px 0 0 0;">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <table
                datatable
                id="select-files-tbl"
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover stripe"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th class="th-custom-checkbox"></th>
                    <th>Cliente Asignado</th>
                    <th>Asunto</th>
                    <th>Clave Interna</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let expediente of expedientes">
                    <td class="dfr" style="width: fit-content;">
                      <label class="custom-checkbox dfr">
                        <input type="checkbox" />
                        <span></span>
                      </label>
                    </td>
                    <td>{{ expediente.assigned_client }}</td>
                    <td>{{ expediente.affair }}</td>
                    <td>{{ expediente.key }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button
        class="modal-close waves-effect waves-light btn modal-close-action"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="waves-effect waves-light btn modal-submit-action"
      >
        Seleccionar
      </button>
    </div>
  </div>
</div>
