/* Modal Submit Button Styling */
.modal-footer {
  padding: 0;
  margin-top: 30px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.modal .modal-footer .btn {
  border-radius: 5px;
  text-transform: capitalize;
  font-size: medium;
  margin-left: 8px;
}

.add-type {
  color: #1e88e5;
}

/* Cards Styling */
.card-content {
  padding: 0;
}
.card-stacked {
  width: 100%;
}

/* Datatable Styling */
table,
.dataTables_scrollHeadInner {
  width: 100% !important;
}

/* Buscardor Styling */
.filtro-buscador {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #303f9f, #7b1fa2);
  color: white;
  border-radius: 3px;
}

.buscadorExpediente {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 50px;
}

.buscadorExpediente input {
  padding-right: 15px;
  padding-left: 35px;
  margin: 0;
  box-shadow: none;
  border-radius: 2px;
  height: 100%;
  border: none;
  color: white;
}

.buscadorExpediente input:focus {
  color: black;
}

.buscadorExpediente input::placeholder {
  color: white;
  opacity: 1;
}

.buscadorExpediente input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.buscadorExpediente .filter-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  left: 5px;
  color: white;
}

.buscadorExpediente .filter-close {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
