<!-- Contenedor Listado Expedientes -->
<mat-tab-group
  class="admin-tab h-full"
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <!-- Cases List Tab -->
  <mat-tab>
    <ng-template mat-tab-label> Cases List </ng-template>
    <div class="item-list-container">
      <mat-card class="item-list-container bs-none dfc">
        <!-- Cases Filters Container  -->
        <mat-card-header class="item-filter-container">
          <mat-card
            class="item-filter-content dfr"
            [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
          >
            <!-- Entries And Status Filters Container -->
            <div class="entry-and-status-filters-container dfr">
              <!-- Entries Filter -->
              <div class="show-entries-filter dfr">
                <span class="entries-filter-text">Ver</span>
                <div class="entries-filter-select">
                  <mat-form-field>
                    <mat-select
                      disableOptionCentering
                      [(ngModel)]="selectedEntry"
                      (ngModelChange)="changeEntry($event)"
                    >
                      <mat-option
                        *ngFor="let entry of entriesFilter"
                        [value]="entry"
                        [selected]="entry === 5"
                      >
                        {{ entry }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="entries-filter-text">Resultados</span>
              </div>
              <!-- Status Filter -->
              <div class="status-filter dfr">
                <span class="status-filter-text">Estado</span>
                <div class="status-filter-select">
                  <mat-form-field>
                    <mat-select
                      [value]="this.innerScreenWidth <= 810 ? 'Estado' : 'all'"
                      disableOptionCentering
                    >
                      <mat-option
                        value="Estado"
                        style="display: none"
                        *ngIf="this.innerScreenWidth <= 810"
                      >
                        Estado
                      </mat-option>
                      <mat-option value="all"> Todos </mat-option>
                      <mat-option value="Activo"> Activo </mat-option>
                      <mat-option value="Archivado"> Archivado </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Search Filter -->
            <div class="search-filter dfr">
              <div class="search-input-filter dfc">
                <input
                  (keyup)="filter($event.target.value)"
                  placeholder="Filtrar por nombre"
                />
              </div>
              <div class="search-btn-filter">
                <button
                  class="btn waves-effect waves-light dfc"
                  (click)="handleMobileFilter(true)"
                >
                  <i class="material-icons">search</i>
                </button>
              </div>
            </div>
            <!-- Search Filter Mobile -->
            <div
              class="search-filter-mobile dfr"
              [attr.isVisible]="this.mobileFilterActivated"
            >
              <div
                class="go-back-filter-mobile waves-effect waves-light dfc"
                *ngIf="this.mobileFilterActivated"
                (click)="handleMobileFilter(false)"
              >
                <i class="material-icons">arrow_back</i>
              </div>
              <div
                class="search-input-filter-mobile dfc"
                *ngIf="this.mobileFilterActivated"
              >
                <input placeholder="Filtrar por nombre" />
              </div>
            </div>
          </mat-card>
        </mat-card-header>

        <!-- Cases List Container  -->
        <mat-card-content class="item-list-content">
          <perfect-scrollbar
            *ngIf="cases.length > 0 && !isLoading; else loadingCasesData"
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content">
              <mat-accordion class="item-container dfc">
                <mat-expansion-panel
                  class="item-content"
                  *ngFor="
                    let caseData of cases
                      | filter: filterValue:'case'
                      | paginate
                        : {
                            itemsPerPage: selectedEntry,
                            currentPage: currentPage
                          };
                    trackBy: trackItem
                  "
                >
                  <!-- File Expansion Header -->
                  <mat-expansion-panel-header class="item-acordion-header">
                    <mat-panel-title class="item-acordion-title dfr">
                      <div class="item-acordion-title-left dfr">
                        <div class="header-item-body dfc">
                          <div class="header-item-title dfr">
                            <div class="header-item-title-wrap">
                              <span>{{ caseData?.affair }}</span>
                            </div>
                            <div class="header-item-int-key dfr">
                              <span>({{ caseData?.intKey }})</span>
                            </div>
                          </div>
                          <div class="header-item-data dfr">
                            <span
                              >{{ (caseData?.assigned_client)[0].firstName }}
                              {{
                                (caseData?.assigned_client)[0].lastName
                              }}</span
                            >
                            <div
                              class="tracking-item-file-header-status dfr"
                              [attr.data-status]="caseData?.status"
                            >
                              <span>{{
                                caseData?.status === "ACTIVE"
                                  ? "Activo"
                                  : "Archivado"
                              }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="header-item-actions general dfr">
                        <!-- File Status Button Trigger -->
                        <button
                          class="
                            header-item-btn
                            btn
                            waves-effect waves-light
                            mobile
                            light-blue
                            dfc
                          "
                          *ngIf="caseData.status !== 'ARCHIVED'"
                          (click)="
                            changeCaseStatus(caseData, 'ARCHIVED');
                            moveDown($event)
                          "
                          matTooltip="Archivar caso"
                          matTooltipPosition="above"
                        >
                          <i class="far fa-folder"></i>
                        </button>
                        <button
                          class="
                            header-item-btn
                            btn
                            waves-effect waves-light
                            mobile
                            light-blue
                            dfc
                          "
                          *ngIf="caseData.status !== 'ACTIVE'"
                          (click)="
                            changeCaseStatus(caseData, 'ACTIVE');
                            moveDown($event)
                          "
                          matTooltip="Activar caso"
                          matTooltipPosition="above"
                        >
                          <i class="far fa-folder-open"></i>
                        </button>
                        <!-- Events Button Trigger -->
                        <button
                          (click)="
                            viewCaseTrackingList(caseData); moveDown($event)
                          "
                          class="
                            header-item-btn
                            mobile
                            btn
                            waves-effect waves-light
                            mobile
                            light-blue
                            dfc
                          "
                          matTooltip="Ver lista de eventos"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">visibility</i>
                        </button>
                        <!-- File Evidences Button Trigger -->
                        <button
                          (click)="
                            viewEvidencesList(caseData);
                            this.selected.setValue(1);
                            moveDown($event)
                          "
                          matTooltip="Evidencias"
                          matTooltipPosition="above"
                          class="
                            header-item-btn
                            mobile
                            btn
                            waves-effect waves-light
                            light-blue
                            dfc
                          "
                        >
                          <i class="fas fa-paperclip"></i>
                        </button>
                        <!-- File Notes Button Trigger -->
                        <button
                          (click)="
                            viewNotesList(caseData);
                            this.selected.setValue(2);
                            moveDown($event)
                          "
                          matTooltip="Notas"
                          matTooltipPosition="above"
                          class="
                            header-item-btn
                            mobile
                            btn
                            waves-effect waves-light
                            light-blue
                            dfc
                          "
                        >
                          <i class="fas fa-file-alt"></i>
                        </button>
                        <!-- File CRUD Button Trigger -->
                        <button
                          class="
                            header-item-btn
                            important-action
                            btn
                            waves-effect waves-light
                            light-blue
                            dfc
                          "
                          mat-icon-button
                          [matMenuTriggerFor]="actionsMenu"
                          (click)="moveDown($event)"
                          matTooltip="Más acciones"
                          matTooltipPosition="above"
                          *ngIf="caseData.status === 'ACTIVE'"
                        >
                          <i class="material-icons">more_vert</i>
                        </button>
                        <!-- File CRUD Menu Content -->
                        <mat-menu #actionsMenu="matMenu" xPosition="before">
                          <ng-template matMenuContent>
                            <div class="dfc select-content-container">
                              <!-- Notes Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="
                                  viewNotesList(caseData);
                                  this.selected.setValue(2)
                                "
                              >
                                <i class="fas fa-file-alt"></i>
                                <span>Notas</span>
                              </button>
                              <!-- Evidences Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="
                                  viewEvidencesList(caseData);
                                  this.selected.setValue(1)
                                "
                              >
                                <i class="fas fa-paperclip"></i>
                                <span>Evidencias</span>
                              </button>
                              <!-- Events Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="viewCaseTrackingList(caseData)"
                              >
                                <i class="material-icons">visibility</i>
                                <span>Eventos</span>
                              </button>
                              <!-- Status Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                [matMenuTriggerFor]="statusMenu"
                              >
                                <span class="select-btn-item">Estado</span>
                              </button>
                              <!-- Status CRUD Menu Content -->
                              <mat-menu #statusMenu="matMenu">
                                <ng-template matMenuContent>
                                  <div class="dfc select-content-container">
                                    <!-- Archive Option -->
                                    <button
                                      *ngIf="caseData.status === 'ACTIVE'"
                                      mat-menu-item
                                      (click)="
                                        changeCaseStatus(caseData, 'ARCHIVED')
                                      "
                                    >
                                      <i class="far fa-folder"></i>
                                      Archivar
                                    </button>
                                    <!-- Active Option -->
                                    <button
                                      *ngIf="caseData.status === 'ARCHIVED'"
                                      mat-menu-item
                                      (click)="
                                        changeCaseStatus(caseData, 'ACTIVE')
                                      "
                                    >
                                      <i class="far fa-folder-open"></i>
                                      Activar
                                    </button>
                                  </div>
                                </ng-template>
                              </mat-menu>
                              <mat-divider class="mobile"></mat-divider>
                              <!-- Edit Option -->
                              <button
                                mat-menu-item
                                (click)="openCasesModal(caseData)"
                              >
                                <i class="material-icons">edit</i>
                                <span>Editar</span>
                              </button>
                              <!-- Delete Option -->
                              <button mat-menu-item (click)="delete(caseData)">
                                <i class="material-icons">delete</i>
                                <span>Eliminar</span>
                              </button>
                              <!-- Favorite Option -->
                              <!-- <button mat-menu-item>
                                <i class="material-icons">star_border</i>
                                <span>Favorito</span>
                              </button> -->
                            </div>
                          </ng-template>
                        </mat-menu>
                        <!-- File Details Button Trigger -->
                        <button
                          *ngIf="caseData.status === 'ARCHIVED'"
                          class="
                            header-item-btn
                            important-action
                            show-on-mobile
                            btn
                            waves-effect waves-light
                            light-blue
                            dfc
                          "
                          [matMenuTriggerFor]="detailsMenu"
                          (click)="moveDown($event)"
                          matTooltip="Más acciones"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">expand_more</i>
                        </button>
                        <!-- File Details Menu Content -->
                        <mat-menu #detailsMenu="matMenu" xPosition="before">
                          <ng-template matMenuContent>
                            <div class="dfc select-content-container">
                              <!-- Notes Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="
                                  viewNotesList(caseData);
                                  this.selected.setValue(2)
                                "
                              >
                                <i class="fas fa-file-alt"></i>
                                <span>Notas</span>
                              </button>
                              <!-- Evidences Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="
                                  viewEvidencesList(caseData);
                                  this.selected.setValue(1)
                                "
                              >
                                <i class="fas fa-paperclip"></i>
                                <span>Evidencias</span>
                              </button>
                              <!-- Events Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                (click)="viewCaseTrackingList(caseData)"
                              >
                                <i class="material-icons">visibility</i>
                                <span>Eventos</span>
                              </button>
                              <!-- Status Option -->
                              <button
                                mat-menu-item
                                class="mobile"
                                [matMenuTriggerFor]="statusMenuDetails"
                              >
                                <span class="select-btn-item">Estado</span>
                              </button>
                              <!-- Status CRUD Menu Content -->
                              <mat-menu #statusMenuDetails="matMenu">
                                <ng-template matMenuContent>
                                  <div class="dfc select-content-container">
                                    <!-- Archive Option -->
                                    <button
                                      *ngIf="caseData.status === 'ACTIVE'"
                                      mat-menu-item
                                      (click)="
                                        changeCaseStatus(caseData, 'ARCHIVED')
                                      "
                                    >
                                      <i class="far fa-folder"></i>
                                      Archivar
                                    </button>
                                    <!-- Active Option -->
                                    <button
                                      *ngIf="caseData.status === 'ARCHIVED'"
                                      mat-menu-item
                                      (click)="
                                        changeCaseStatus(caseData, 'ACTIVE')
                                      "
                                    >
                                      <i class="far fa-folder-open"></i>
                                      Activar
                                    </button>
                                  </div>
                                </ng-template>
                              </mat-menu>
                            </div>
                          </ng-template>
                        </mat-menu>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- File Expansion Body -->
                  <mat-card class="item-body-data-container">
                    <div class="item-body-data-content dfc">
                      <div class="item-body-row dfr">
                        <span class="item-body-title">Fecha</span>
                        <span class="item-body-subtitle">{{
                          caseData?.start_date
                            ? (caseData?.start_date | date: "dd") +
                              "/" +
                              (caseData?.start_date | date: "MM") +
                              "/" +
                              (caseData?.start_date | date: "yyyy")
                            : "N/E"
                        }}</span>
                      </div>
                      <div class="item-body-row mobile dfr">
                        <span class="item-body-title">Clave Interna</span>
                        <span class="item-body-subtitle">{{
                          caseData.intKey ? caseData.intKey : "N/E"
                        }}</span>
                      </div>
                      <div class="item-body-row dfr">
                        <span class="item-body-title">Clave Externa</span>
                        <span class="item-body-subtitle">{{
                          caseData.extKey ? caseData.extKey : "N/E"
                        }}</span>
                      </div>
                      <div class="item-body-row dfr">
                        <span class="item-body-title">Actor(es)</span>
                        <span class="item-body-subtitle">{{
                          caseData.actor
                        }}</span>
                      </div>
                      <div class="item-body-row dfr">
                        <span class="item-body-title">Demandado(s)</span>
                        <span class="item-body-subtitle">{{
                          caseData.defendant
                        }}</span>
                      </div>
                      <div class="item-body-row dfr">
                        <span class="item-body-title">Terceros</span>
                        <span class="item-body-subtitle">{{
                          caseData.third ? caseData.third : "N/E"
                        }}</span>
                      </div>
                    </div>
                  </mat-card>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </perfect-scrollbar>
          <!-- Loading Data Animation -->
          <ng-template #loadingCasesData>
            <div
              #loaderCasesContainer
              class="h-full"
              [class.overflow-hidden]="isLoading"
            >
              <app-loading-data
                loaderType="common"
                [loaderContainer]="loaderCasesContainer"
              ></app-loading-data>
            </div>
          </ng-template>
          <!-- Not Cases Registered Message -->
          <div
            *ngIf="cases.length === 0 && this.userClientExist && !isLoading"
            class="no-data-container"
          >
            <div class="card sticky-action" style="width: 100%">
              <div class="card-body card-content no-data dfr">
                <div class="card-no-data-icon dfc">
                  <span>i</span>
                </div>
                <div class="card-no-data-information">
                  <span> No hay casos creados</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Not Clients Registered Message -->
          <div
            *ngIf="cases.length === 0 && !this.userClientExist && !isLoading"
            class="no-data-container"
          >
            <div class="card sticky-action" style="width: 100%">
              <div class="card-body card-content no-data dfr">
                <div class="card-no-data-icon dfc">
                  <span>i</span>
                </div>
                <div class="card-no-data-information dfr">
                  <div class="card-no-data-information-text">
                    <span>
                      Para abrir nuevos casos es necesario crear clientes
                      primero. Puedes crear nuevos clientes o actualizar el rol
                      de un usuario existente en la sección de
                    </span>

                    <span class="card-no-data-information-subtext">
                      "Usuarios"</span
                    >
                  </div>
                  <button
                    routerLink="/usuarios"
                    class="btn waves-effect waves-light light-blue"
                  >
                    Crear o actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Open File Creation Modal Button Trigger -->
          <div
            *ngIf="this.userClientExist && !isLoading"
            class="item-add-container"
          >
            <button
              mat-icon-button
              class="
                item-add-button
                primary-text
                gradient-45deg-orange gradient-shadow
                dfc
              "
              (click)="openCasesModal()"
              matTooltip="Abrir caso"
              matTooltipPosition="above"
            >
              <i class="material-icons">add</i>
            </button>
          </div>
        </mat-card-content>

        <!-- Cases List Pagination -->
        <mat-card-actions
          *ngIf="cases.length > 0 && !isLoading"
          class="item-list-pagination-container dfr"
        >
          <pagination-controls
            class="news-pagination"
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <!-- Evidences List Tab -->
  <mat-tab>
    <ng-template mat-tab-label> Evidences List </ng-template>
    <app-evidences modeV="new"></app-evidences>
  </mat-tab>

  <!-- Notes List Tab -->
  <mat-tab>
    <ng-template mat-tab-label> Notes List </ng-template>
    <app-notes modeV="new"></app-notes>
  </mat-tab>

  <!-- Case Trackings List -->
  <mat-tab *ngIf="this.currentCaseData">
    <ng-template mat-tab-label> Tracking Details </ng-template>
    <div class="tracking-list-container">
      <mat-card class="tracking-list-container dfc">
        <!-- Case Tracking Header  -->
        <mat-card-header class="tracking-list-filter-container">
          <mat-card
            class="tracking-list-filter-content case-tracking dfr"
            [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
          >
            <div class="tracking-item-header case-tracking">
              <div class="tracking-item-title case-tracking-title dfc">
                <div class="tracking-item-title-content dfr">
                  <div
                    class="tracking-item-back waves-effect waves-light dfc"
                    (click)="this.selected.setValue(0)"
                  >
                    <i class="material-icons">arrow_back</i>
                  </div>
                  <div class="tracking-item-client-icon centered-img-bg mobile">
                    <img
                      *ngIf="this.currentCaseData?.assigned_client"
                      [src]="
                        this.currentCaseData?.assigned_client[0]?.img
                          | img: 'user'
                      "
                      alt=""
                    />
                  </div>
                  <div class="tracking-item-body mobile">
                    <div class="tracking-item-file-name dfr">
                      <div class="tracking-item-file-name-text volumes dfr">
                        <span>{{ this.currentCaseData?.affair }}</span>
                      </div>
                      <!-- Volume Select -->
                      <mat-form-field
                        class="
                          tracking-item-file-volume
                          waves-effect waves-light
                          dfr
                        "
                        floatLabel="never"
                        matTooltip="Tomos"
                        matTooltipPosition="below"
                      >
                        <mat-select
                          disableOptionCentering
                          value="tomo#1"
                          class="custom-select"
                          [(value)]="lastVolume"
                        >
                          <mat-option
                            *ngFor="let volume of volumes; let i = index"
                            [value]="volume._id"
                            class="custom-select-icon dfr"
                          >
                            <i class="fas fa-book"></i>
                            Tomo {{ i + 1 }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      *ngIf="this.currentCaseData?.assigned_client"
                      class="tracking-item-client-data"
                    >
                      <span
                        >{{
                          (this.currentCaseData?.assigned_client)[0].firstName
                        }}
                        {{
                          (this.currentCaseData?.assigned_client)[0].lastName
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-card-header>

        <!-- Case Tracking List Container  -->
        <mat-card-content class="tracking-list-content case-tracking">
          <perfect-scrollbar
            *ngIf="tracksList.length > 0"
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content">
              <!-- Tracking Cards -->
              <mat-card
                *ngFor="
                  let track of tracksList
                    | paginate
                      : {
                          itemsPerPage: selectedEntry2,
                          currentPage: currentPage3,
                          id: 'tracking-pagination3'
                        };
                  let i = index
                "
                class="tracking-table-container dfr"
                [attr.data-show-more]="
                  showMoreIndex === track?.index ? 'true' : 'false'
                "
              >
                <div class="tracking-table-content dfr">
                  <div class="tracking-table-data dfr">
                    <div class="tracking-table-number dfc">
                      <span class="tracking-table-number-title">Evento</span>
                      <span>{{ track?.index }}</span>
                    </div>
                    <div class="tracking-table-body dfc">
                      <div class="tracking-table-data-item">
                        <span>{{ track?.date | date }}</span>
                      </div>
                      <div class="tracking-table-data-item dfr">
                        <div
                          *ngIf="tracksList.length > 0"
                          class="tracking-table-comment dfr"
                        >
                          <p>
                            {{ track?.message }}
                            <span
                              class="read-less"
                              (click)="_utilitiesS.setShowMoreIndexSub(null)"
                            >
                              Ver menos
                            </span>
                          </p>
                          <span
                            class="read-more"
                            (click)="
                              _utilitiesS.setShowMoreIndexSub(track?.index)
                            "
                          >
                            Ver más
                          </span>
                        </div>
                        <div *ngIf="tracksList.length === 0">
                          <p>Sin comentarios</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- File Tracking Actions -->
                  <div class="header-item-actions general dfr">
                    <!-- File Tracking Details Button -->
                    <button
                      class="
                        header-item-btn
                        mobile
                        btn
                        waves-effect waves-light
                        light-blue
                        dfc
                      "
                      (click)="
                        moveDown($event);
                        this.openSelectEvidences('trackingDetails', track)
                      "
                      [attr.data-archived]="
                        currentCaseData.status === 'ARCHIVED' ? 'true' : 'false'
                      "
                      matTooltip="Ver más detalles"
                      matTooltipPosition="above"
                    >
                      <i class="material-icons">expand_more</i>
                    </button>
                    <!-- File Tracking CRUD Button Trigger -->
                    <button
                      *ngIf="currentCaseData.status === 'ACTIVE'"
                      class="
                        header-item-btn
                        important-action
                        btn
                        waves-effect waves-light
                        light-blue
                        dfc
                      "
                      [matMenuTriggerFor]="actionsMenuT"
                      matTooltip="Más acciones"
                      matTooltipPosition="above"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <!-- File Tracking CRUD Menu Content -->
                    <mat-menu #actionsMenuT="matMenu" xPosition="before">
                      <ng-template matMenuContent>
                        <div class="dfc select-content-container">
                          <!-- File Tracking Details Button -->
                          <button
                            mat-menu-item
                            class="mobile"
                            (click)="
                              this.openSelectEvidences('trackingDetails', track)
                            "
                          >
                            <i class="material-icons">expand_more</i>
                            <span>Más detalles</span>
                          </button>
                        </div>
                      </ng-template>
                      <button mat-menu-item (click)="editTrack(track)">
                        <i class="material-icons">edit</i>
                        <span>Editar</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="changeStatus('DELETED', track)"
                      >
                        <i class="material-icons">delete</i>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </mat-card>
            </div>
          </perfect-scrollbar>
          <div *ngIf="tracksList.length === 0" class="no-data-container">
            <div class="card sticky-action" style="width: 100%">
              <div class="card-body card-content no-data dfr">
                <div class="card-no-data-icon dfc">
                  <span>i</span>
                </div>
                <div class="card-no-data-information">
                  <span> No hay seguimientos realizados en este caso </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Create Tracking Tab Handler -->
          <div class="tracking-item-add-container case-tracking-add">
            <button
              *ngIf="currentCaseData.status === 'ACTIVE'"
              mat-icon-button
              class="
                add-tracking-btn
                primary-text
                gradient-45deg-orange gradient-shadow
                dfc
              "
              (click)="createTracking(); moveDown($event)"
              matTooltip="Nuevo seguimiento"
              matTooltipPosition="above"
            >
              <i class="material-icons">add</i>
            </button>
          </div>
        </mat-card-content>

        <!-- Case Tracking Pagination -->
        <mat-card-actions
          *ngIf="tracksList.length > 0"
          class="item-list-pagination-container dfr"
        >
          <pagination-controls
            *ngIf="tracksList?.length >= 1"
            class="news-pagination"
            (pageChange)="currentPage3 = $event"
            id="tracking-pagination3"
          ></pagination-controls>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <!-- Case Tracking Creation Tab -->
  <mat-tab *ngIf="this.currentCaseData">
    <ng-template mat-tab-label class="admin-tab-label">
      Seguimiento Expediente
    </ng-template>
    <div class="seguimiento-expediente-container">
      <div class="card card-container">
        <!-- Cases Card Container -->
        <div class="file-card-container dfc">
          <div class="card horizontal user-card">
            <div class="card-stacked" style="max-width: 100%">
              <!-- Cases Content Container -->
              <div class="card-content" style="padding: 0px !important">
                <!-- Cases Header -->
                <div
                  class="card-header card-header-expedient"
                  style="justify-content: space-between"
                >
                  <div class="add-file-tracking-container dfr">
                    <div
                      class="
                        add-file-tracking-return
                        waves-effect waves-light
                        dfc
                      "
                      (click)="selected.setValue(3)"
                    >
                      <i class="material-icons">arrow_back</i>
                    </div>
                    <div class="add-file-tracking-img centered-img-bg">
                      <img
                        [src]="
                          (this.currentCaseData?.assigned_client)[0]?.img
                            | img: 'user'
                        "
                        alt=""
                      />
                    </div>
                    <div class="add-file-tracking-data dfc">
                      <div class="add-file-tracking-file-name">
                        <span class="expedient-name"
                          >{{ this.currentCaseData?.affair }}
                        </span>
                      </div>
                      <div class="add-file-tracking-file-client">
                        <span
                          >{{
                            (this.currentCaseData?.assigned_client)[0]
                              ?.firstName
                          }}
                          {{
                            (this.currentCaseData?.assigned_client)[0]?.lastName
                          }}</span
                        >
                      </div>
                      <div class="add-file-tracking-file-key expediente-status">
                        <div class="status-icon">
                          <i class="material-icons mr-2">lock_open</i>
                        </div>
                        <span class="status-text">{{
                          this.currentCaseData?.intKey
                        }}</span>
                      </div>
                      <div class="add-file-tracking-file-actions dfr">
                        <!-- Volume Select -->
                        <mat-form-field
                          class="
                            tracking-item-file-volume
                            waves-effect waves-light
                            dfr
                          "
                          floatLabel="never"
                          matTooltip="Tomos"
                          matTooltipPosition="below"
                        >
                          <mat-select
                            disableOptionCentering
                            value="tomo#1"
                            class="custom-select"
                            [(value)]="lastVolume"
                          >
                            <mat-option
                              *ngFor="
                                let volume of this.currentCaseData.volumes;
                                let i = index
                              "
                              [value]="volume._id"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-book"></i>
                              Tomo {{ i + 1 }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Tracking Type Select -->
                        <mat-form-field
                          class="
                            tracking-item-file-volume
                            type
                            waves-effect waves-light
                            dfr
                          "
                          floatLabel="never"
                          matTooltip="Tipo de seguimiento"
                          matTooltipPosition="below"
                        >
                          <mat-select
                            disableOptionCentering
                            value="tomo#1"
                            class="custom-select"
                          >
                            <mat-option
                              value="tomo#1"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-square"></i>
                              Evento Simple
                            </mat-option>
                            <mat-option
                              value="tomo#2"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-clone"></i>
                              Evento Múltiple
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="add-file-tracking-number-and-actions dfc">
                      <div class="add-file-tracking-number dfc">
                        <span class="add-file-tracking-number-title"
                          >Evento</span
                        >
                        <span
                          >#{{
                            this.caseTrackingIndex
                              ? this.caseTrackingIndex
                              : this.currentCaseData?.tracks?.length + 1
                          }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- File Tracking File Upload & Commentary -->
          <div
            class="card horizontal file-tracking-card dfr"
            *ngIf="this.currentCaseData?.status === 'ACTIVE'"
          >
            <!-- File Tracking Sidenav -->
            <div class="file-tracking-sidenav dfc">
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(0)"
              >
                <i class="fas fa-paperclip"></i>
                <span>Evidencias</span>
              </div>
              <div class="file-sidenav-divider"></div>
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(1)"
              >
                <i class="fas fa-file-alt"></i>
                <span>Notas</span>
              </div>
              <div class="file-sidenav-divider"></div>
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(2)"
              >
                <i class="far fa-comment"></i>
                <span>Mensaje</span>
              </div>
            </div>
            <!-- File Tracking Content -->
            <div class="file-tracking-content dfc">
              <div
                class="add-tracking-header-actions-container dfr"
                [style.justify-content]="
                  trakingActionTab.value === 2 ? 'flex-end' : ''
                "
              >
                <button
                  class="select-file-btn waves-effect waves-light dfc"
                  (click)="openSelectEvidences()"
                  *ngIf="trakingActionTab.value === 0"
                >
                  Incluir evidencia
                </button>
                <button
                  class="select-file-btn waves-effect waves-light dfc"
                  (click)="openSelectNotes()"
                  *ngIf="trakingActionTab.value === 1"
                >
                  Incluir notas
                </button>
                <button
                  class="select-file-btn waves-effect waves-light dfc"
                  (click)="finish()"
                >
                  Enviar
                </button>
              </div>
              <mat-tab-group
                class="admin-tab tracking"
                [selectedIndex]="trakingActionTab.value"
                (selectedIndexChange)="trakingActionTab.setValue($event)"
              >
                <!-- Evidences Tab -->
                <mat-tab>
                  <ng-template mat-tab-label> Evidences </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div
                        *ngIf="this.selectedEvidences.length > 0"
                        class="file-chooser-files"
                      >
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div
                              class="file-chooser-file file-box"
                              *ngFor="let evidence of selectedEvidences"
                            >
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/word_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      {{ evidence?.name }}
                                    </span>
                                    <div class="file-format">
                                      <span>{{
                                        evidence?.path
                                          .split(".")
                                          .pop()
                                          .toUpperCase()
                                      }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <i
                                  (click)="this.updateListedEvidences(evidence)"
                                  class="remove-file-btn material-icons"
                                  matTooltip="Eliminar"
                                  matTooltipPosition="above"
                                  >close</i
                                >
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                      <div
                        *ngIf="this.selectedEvidences.length === 0"
                        class="no-data-container"
                      >
                        <div class="card sticky-action no-data">
                          <div class="card-body card-content no-data dfr">
                            <div class="card-no-data-icon dfc">
                              <span>i</span>
                            </div>
                            <div class="card-no-data-information">
                              <span>
                                No hay evidencias incluidas en este evento</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
                <!-- Notes Tab -->
                <mat-tab>
                  <ng-template mat-tab-label> Notes </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div
                        *ngIf="selectedNotes?.length > 0"
                        class="file-chooser-files"
                      >
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div
                              class="file-chooser-file file-box"
                              *ngFor="let note of selectedNotes"
                            >
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-name-and-format notes">
                                    <span>
                                      {{ note?.affair }}
                                    </span>
                                    <div class="file-format">
                                      <span>{{ note?.date | date }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <i
                                  (click)="this.updateListedNotes(note)"
                                  class="remove-file-btn material-icons"
                                  matTooltip="Eliminar"
                                  matTooltipPosition="above"
                                  >close</i
                                >
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                      <div
                        *ngIf="
                          selectedNotes?.length === 0 || selectedNotes === null
                        "
                        class="no-data-container"
                      >
                        <div
                          class="card sticky-action no-data"
                          style="width: 100%"
                        >
                          <div class="card-body card-content no-data dfr">
                            <div class="card-no-data-icon dfc">
                              <span>i</span>
                            </div>
                            <div class="card-no-data-information">
                              <span>
                                No hay notas incluidas en este evento</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
                <!-- Comments Tab -->
                <mat-tab>
                  <ng-template mat-tab-label> Comments </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div class="file-comments">
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div class="comment-progress">
                              <div class="comment-progress-content">
                                <form
                                  ngNativeValidate
                                  [formGroup]="form"
                                  style="width: 100%"
                                >
                                  <textarea
                                    class="
                                      materialize-textarea
                                      expediente-input
                                      ng-pristine ng-touched
                                    "
                                    name="message"
                                    formControlName="message"
                                    id="message"
                                    placeholder="Escribir mensaje..."
                                    (blur)="addMessage()"
                                    required
                                  ></textarea>
                                </form>
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
