@media only screen and (max-width: 700px) {
  .tracking-item-title-content .tracking-item-file-name,
  .tracking-item-file-name.volumes {
    font-size: 20px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .tracking-item-file-volume,
  .tracking-item-file-status {
    margin: 0 !important;
    font-size: 14px !important;
  }
  .tracking-item-file-name-text {
    width: 100% !important;
  }
  .tracking-item-file-header-status.mobile {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
}

@media (max-width: 678px) {
  .seguimiento-expediente-options a {
    line-height: 15px;
  }
  .file-card-stacked {
    flex-direction: column !important;
  }
  .card-data {
    margin: 0 !important;
  }
  .card-icon {
    margin-bottom: 15px;
  }
  .profile-header {
    text-align: center;
  }
}

@media (max-width: 620px) {
  .expedient-date {
    font-size: 16px !important;
    line-height: initial;
  }
  .card-header-expedient {
    padding-bottom: 0 !important;
  }
  .add-file-tracking-img {
    height: 110px !important;
    width: 120px !important;
    margin: 0 !important;
  }
  .add-file-tracking-container {
    flex-direction: column !important;
    align-items: center !important;
  }
  .add-file-tracking-file-name span {
    font-size: 18px !important;
  }
  .add-file-tracking-file-client {
    font-size: 13px !important;
    margin-bottom: 5px !important;
  }
  .add-file-tracking-number-and-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  .add-file-tracking-data {
    align-items: center !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 5px 0 !important;
  }
  .expediente-status {
    display: none !important;
  }
  .add-file-tracking-file-actions {
    margin-top: 5px !important;
  }
  .tracking-item-add-container.volumes {
    min-width: 35px !important;
    width: 35px !important;
    height: 100% !important;
    bottom: 0 !important;
    flex-direction: column !important;
    justify-content: center;
  }
  .tracking-item-add-container.volumes .add-tracking-btn {
    min-width: 30px !important;
    height: 30px !important;
    width: 30px;
  }
  .tracking-item-add-container.volumes .add-tracking-btn:last-child {
    margin-left: 0 !important;
    margin-top: 4px;
  }
  .tracking-list-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .card.file-tracking-card {
    flex-direction: column !important;
    max-height: calc(100% - 240px) !important;
    margin-bottom: 0;
  }
  .file-tracking-card .file-tracking-sidenav {
    flex-direction: row !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 40px !important;
    max-height: 40px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
  }
  .file-tracking-card .file-tracking-sidenav-item {
    padding: 0 10px !important;
    height: 30px !important;
    margin: 0 !important;
    justify-content: center !important;
  }
  .file-tracking-card .file-tracking-sidenav-item i {
    display: none !important;
  }
  .file-tracking-sidenav .file-sidenav-divider {
    height: 100%;
    width: 1px !important;
    margin: 0 5px !important;
    border-bottom-width: 0 !important;
    border-bottom-style: none !important;
    border-bottom-color: transparent !important;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--sidenav-divider-border-color);
  }

  .file-tracking-card .file-tracking-content {
    height: calc(100vh - 487px) !important;
    min-height: calc(100vh - 487px) !important;
    max-height: calc(100vh - 487px) !important;
  }
  .mat-tab-group.admin-tab:not(.chat).tracking {
    height: calc(100% - 45px) !important;
    min-height: calc(100% - 45px) !important;
    max-height: calc(100vh - 45px) !important;
  }

  .add-tracking-header-actions-container {
    height: 45px !important;
    min-height: 45px !important;
  }
  .add-tracking-header-actions-container .select-file-btn {
    padding: 4px 7px 7px 7px !important;
    width: 120px !important;
    justify-content: center;
    line-height: 0;
    height: 30px;
  }
  .seguimiento-expediente-actions,
  .seguimiento-expediente-actions .seguimiento-expediente-options {
    justify-content: center;
  }
  .seguimiento-expediente-data {
    flex-direction: column !important ;
  }
  .choose-files-container {
    width: 100% !important;
    margin: 0 !important;
  }
  .file-box {
    height: 45px !important;
  }
  .file-icon {
    width: 50px !important;
    height: 45px !important;
  }
  .file-icon img {
    width: 30px !important;
    max-width: 30px !important;
  }
  .comment-progress #commentProgress {
    min-height: calc(100vh - 545px) !important;
  }
}

@media (max-width: 520px) {
  .tabs .tab a {
    font-size: 12px !important;
  }
  .tracking-item-header {
    padding: 0 8px !important;
  }
  .tracking-item-title-content .tracking-item-back {
    position: absolute;
    min-width: 30px !important;
    min-height: 30px !important;
    top: 8px;
  }
  .add-file-tracking-return {
    min-width: 30px !important;
    min-height: 30px !important;
  }
  .tracking-item-client-icon.mobile {
    margin-left: 10px;
  }
  .tracking-item-file-volume {
    width: 100px !important;
  }
  .tracking-item-file-volume.type {
    width: 172px !important;
    margin-left: 5px !important;
  }
  .tracking-item-client-data {
    line-height: 16px !important;
    font-size: 14px !important;
  }
  .tracking-list-content.case-tracking {
    max-height: calc(100vh - 347px) !important;
    min-height: calc(100vh - 347px) !important;
  }
  .filetracking-btn.mobile {
    margin-bottom: 0 !important;
    margin-left: 5px;
  }
  .seguimiento-expediente-data {
    flex-direction: column !important;
    align-items: center !important;
    padding: 10px !important;
  }
  .choose-files {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 0 !important;
  }
  .seguimiento-expediente-options {
    flex-direction: column !important;
  }
  .seguimiento-expediente-options a {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0 !important;
  }
  .file-size {
    font-size: 12px !important;
  }
  .tracking-item-body.mobile {
    width: calc(100% - 75px) !important;
    max-width: calc(100% - 75px) !important;
  }
  .tracking-file-container .tracking-file-data {
    flex-direction: column !important;
    margin: 0 !important;
    width: 100% !important;
  }
  .tracking-file-number-box {
    margin: 0 0 10px 0 !important;
    flex-direction: row !important;
    width: 100% !important;
  }
  .tracking-date {
    margin: 0 0 0 10px !important;
    width: calc(100% - 130px);
  }
  .tracking-file-comment-box {
    width: 100% !important;
  }
  .tracking-item-add-container:not(.case-tracking-add):not(.volumes) {
    top: 12px !important;
    right: 18px !important;
  }
  .tracking-item-add-container:not(.volumes) .add-tracking-btn {
    height: 20px !important;
    width: 20px !important;
  }
  .tracking-item-add-container:not(.volumes) .add-tracking-btn i {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .card-header .profile-icon {
    height: 100px !important;
    width: 90px !important;
  }
  .card-content:not(.no-data) {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0 0 0 !important;
  }
  .data-header-container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .personal-data {
    font-size: 16px !important;
    line-height: 14px;
  }
  .profile-name {
    font-size: 20px !important;
  }
  .profile-rol {
    font-size: 16px !important;
  }
  a {
    font-size: 12px;
  }
  a i {
    font-size: 14px;
  }
  .card-action.seguimiento-expediente-data {
    padding: 10px !important;
  }
  .add-file-tracking-number-and-actions {
    height: 30px !important;
    width: 30px !important;
  }
  .add-file-tracking-number {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    font-size: 14px !important;
  }

  .user-card {
    padding-bottom: 5px !important;
  }
  .file-tracking-card .file-tracking-content {
    height: calc(100vh - 471px) !important;
    min-height: calc(100vh - 471px) !important;
    max-height: calc(100vh - 471px) !important;
  }
  .card.file-tracking-card {
    max-height: calc(100% - 224px) !important;
  }
  .file-chooser-files .scrollable-content {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)) !important;
    padding: 10px 5px !important;
  }
}

@media (max-width: 460px) {
  .tabs .tab a {
    word-wrap: break-word;
    white-space: normal;
    line-height: normal;
    display: flex;
  }
  .card-header-expedient {
    flex-direction: column !important;
    align-items: center !important;
    padding-bottom: 10px;
  }
}

a {
  border-radius: 5px;
  justify-content: center;
}

a:hover {
  color: white;
}

i {
  margin-right: 5px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card-container {
  padding: 0;
  box-shadow: none;
  margin-top: 0;
  width: 100%;
}

.card-content {
  padding: 24px 10px 1px 10px;
}

.tracking-list-container .no-data-container .card.no-data {
  width: calc(100% - 30px);
  margin: 15px;
}

.tracking-list-container .no-data-container .card.no-data .card-body {
  min-height: 70px !important;
}

.card-action {
  border: none;
}

.card-action.card-next {
  padding: 10px 0 0 0;
}

.card-action.card-next a {
  width: fit-content;
  float: right;
}

.data-headers {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  width: 100px;
  min-width: 100px;
  margin-right: 10px;
  color: #26c6da;
}

.data-headers.header-E {
  min-width: 110px;
  width: 100px;
}

.files-card-divider {
  margin: 15px 0;
}

.tabs .tab a.active {
  color: #3949ab;
}

.tabs .tab a {
  color: #4c59b1;
}

.tabs .tab.disabled a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #404aff11;
  outline: none;
}

.tabs.tabs-fixed-width {
  background: rgb(244, 244, 244);
}

.user-card {
  padding: 10px;
  max-height: max-content !important;
}

.file-actions-card {
  margin-top: 0;
}

.user-card,
.file-actions-card,
.file-tracking-card {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(160, 160, 160, 0.2) !important;
  /* max-height: calc(100vh - 521px); */
  width: 100%;
  margin-top: 0;
}

.file-tracking-card {
  max-height: calc(100% - 250px);
}

.file-tracking-card .card-stacked {
  display: contents !important;
}

/* Sidenav */
.file-tracking-card .file-tracking-sidenav {
  height: 100%;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  justify-content: flex-start;
  background: var(--filters-container-bg);
  padding: 5px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--dark-divider);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.file-tracking-card .file-tracking-sidenav-item {
  height: 60px;
  width: 100%;
  justify-content: flex-start;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.file-tracking-card .file-tracking-sidenav-item:hover {
  background: var(--search-input-filter-bg);
}

.file-tracking-sidenav .file-sidenav-divider {
  width: 100%;
  margin: 5px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--sidenav-divider-border-color);
}

/* Content */

.file-tracking-card .file-tracking-content {
  height: calc(100vh - 460px);
  min-height: calc(100vh - 460px);
  max-height: calc(100vh - 460px);
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

/* General Displaying */
a,
.seguimiento-expediente-actions,
.seguimiento-expediente-options,
.choose-option,
.card-header,
.close-card,
.comment-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seguimiento-expediente-container {
  margin: 15px;
  max-height: calc(100vh - 236px);
  min-height: calc(100% - 30px);
  overflow: auto;
  position: relative;
  display: flex;
}

.seguimiento-expediente-container .card-container {
  margin: 0;
}

.seguimiento-expediente-container .inner-admin-scrollable-content {
  padding: 0 3px;
}

.seguimiento-expediente-actions,
.seguimiento-expediente-actions .seguimiento-expediente-options {
  width: 100%;
}

.seguimiento-expediente-options a {
  margin-right: 10px;
}

.expedient-tracking-content {
  padding: 10px 24px;
}

/* Tacking Card List Styling */

.tracking-list-container,
.tracking-list-filter-container,
.tracking-list-filter-content,
.tracking-list-content,
.tracking-item-container,
.tracking-item-content {
  width: 100%;
}

.tracking-list-container {
  height: 100%;
  box-shadow: none;
}

.tracking-list-container .add-tracking {
  justify-content: flex-start;
  padding: 0 !important;
}

.add-tracking-header-actions-container {
  width: 100%;
  height: 50px;
  min-height: 50px;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--dark-divider);
}

.tracking-list-content {
  margin: 10px 0;
  max-height: calc(100vh - 347px);
  min-height: calc(100vh - 347px);
  overflow: auto;
  position: relative;
}

.tracking-list-content .scrollable-content:not(.tracking-list-scroll-content) {
  margin-bottom: 65px;
}

.tracking-list-scroll-content {
  padding: 0 2px;
}

.tracking-item-container {
  margin-bottom: 10px;
}

.tracking-item-header {
  height: 60px !important;
  padding: 0 24px;
  position: relative;
}

.tracking-item-header.case-tracking {
  width: 100%;
  padding: 0;
}

.tracking-item-header .mat-content,
.tracking-item-title,
.tracking-item-title-content,
.tracking-item-title-mobile {
  height: 100%;
}

.tracking-item-title.tracking-list {
  margin: 0;
}

.tracking-item-header:not(.case-tracking):hover,
.tracking-item-header.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused,
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
  background: var(--light-dark-bg-hover) !important;
}

.tracking-item-header.mat-expansion-panel-header.mat-expanded:hover
  .tracking-item-client-icon,
.tracking-item-header.mat-expansion-panel-header.mat-expanded
  .tracking-item-client-icon,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused
  .tracking-item-client-icon,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused
  .tracking-item-client-icon,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover
  .tracking-item-client-icon {
  border-color: white;
}

.tracking-item-title,
.tracking-item-title-content,
.tracking-item-title-mobile {
  align-items: center;
  width: 100%;
}

.tracking-item-title-mobile {
  padding-right: 10px;
}

.tracking-item-body {
  width: calc(100% - 114px);
  max-width: calc(100% - 114px);
  margin-right: 10px;
}

.tracking-item-back {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  color: white !important;
  background: #1976d2 !important;
  margin-right: 4px;
  justify-content: center;
}

.tracking-item-back.mobile {
  min-width: 30px;
  min-height: 30px;
  margin-right: 30px;
}

.tracking-item-back i {
  margin: 0;
}

.tracking-item-file-name {
  width: 100%;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #1e88e5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: normal;
}

.tracking-item-file-name-text {
  width: 100%;
}

.tracking-item-file-name-text span {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tracking-item-file-name-text.volumes {
  width: calc(100% - 110px);
}

.tracking-item-file-volume,
.tracking-item-file-status {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  color: #fff;
  background-color: #ff5722;
  padding: 0px 5px;
  border-radius: 4px;
}

.tracking-item-file-volume,
.tracking-item-file-volume.type {
  cursor: pointer;
  background-color: #1976d2;
}

.tracking-item-file-volume {
  width: 110px;
}

.tracking-item-file-volume.type {
  width: 192px;
}

.tracking-item-file-volume:hover,
.tracking-item-file-volume.mat-focused {
  background-color: #4d95dd;
}

.tracking-item-file-volume i {
  margin: 0;
}

.tracking-item-client-data {
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: normal;
}

.tracking-item-client-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #1976d2;
}

.tracking-item-add-container {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 8px;
  bottom: 8px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.tracking-item-add-container.volumes {
  position: relative;
  height: 40px;
  width: 40px;
  min-width: 40px;
  right: auto;
  bottom: auto;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.tracking-item-add-container.mobile {
  position: relative;
  top: 0 !important;
  right: 0 !important;
  margin-left: 10px;
}

.tracking-item-add-container .add-tracking-btn {
  border-radius: 0%;
  color: white;
  height: 35px;
  width: 35px;
  justify-content: center;
}

.tracking-item-add-container.case-tracking-add .add-tracking-btn {
  height: 50px !important;
  width: 50px !important;
}

.tracking-item-add-container.volumes .add-tracking-btn {
  min-width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 50%;
  white-space: break-spaces;
}

.tracking-item-add-container.mobile .add-tracking-btn {
  height: 40px !important;
  width: 40px !important;
}

.tracking-item-add-container .add-tracking-btn i {
  margin: 0;
  line-height: 40px !important;
}

.tracking-item-status.mobile {
  width: calc(100% - 110px);
}

.tracking-file-container {
  box-shadow: none;
}

.tracking-file-content {
  align-items: flex-start;
}

.tracking-file-container {
  margin-bottom: 10px;
  border: 1.3px solid rgba(0, 0, 0, 0.1);
}

.tracking-file-container .tracking-file-data {
  width: calc(100% - 60px);
  margin-right: 20px;
  align-items: flex-start;
}

.tracking-file-number-box {
  width: 70px;
  min-width: 70px;
  border-radius: 4px;
  margin-right: 15px;
}

.tracking-date {
  font-size: 12px;
  margin-top: 10px;
}

.tracking-file-comment-box {
  height: 80px;
  max-height: 80px;
  width: calc(100% - 85px);
  border-radius: 4px;
}

.tracking-file-main-title {
  color: white;
  background: #1976d2;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tracking-number {
  width: 40px;
  min-width: 40px;
  height: 35px;
  min-height: 35px;
  border-radius: 4px;
  justify-content: center;
  font-weight: bold;
  padding: 0 !important;
}

.tracking-file-subtitle {
  height: calc(100% - 10px);
  max-height: calc(100% - 10px);
  width: 100%;
  overflow: auto;
}

.tracking-file-comment-scroll-content {
  padding: 5px 10px;
}

.tracking-file-subtitle p {
  margin: 0;
}

.filetracking-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: 5px;
  color: var(--white-color);
}

.filetracking-btn i {
  margin: 0;
}

/* User Profile Card Styling */

.card-header .profile-icon {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  width: 180px;
  min-width: 50px;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
}

.card-header .profile-icon img {
  height: 100%;
  width: 100%;
}

.profile-header {
  align-items: flex-start;
  width: 100%;
}

.profile-name {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #1e88e5;
}

.profile-rol {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
}

.close-card {
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  border: 1px solid #26c6da;
  background: #26c6da;
  box-shadow: 0 0 8px 0 #26c6da;
}

.close-card i {
  margin: 0;
  font-size: 16px;
}

.card-data {
  width: 100%;
  margin-left: 30px;
  flex-grow: 1;
  -o-flex-grow: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
}

.personal-data {
  font-size: 18px;
  color: #1e88e5;
}

/* Expedient Card Styling */
.expedient-name {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #1e88e5;
}

.expedient-date {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
}

.expediente-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--nav-fixed-option-bg);
  border-radius: 5px;
  padding: 5px 8px;
}

.status-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--status-bg);
  border-radius: 50%;
  margin-right: 8px;
}

.expediente-status .status-icon i {
  color: var(--default-color);
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.expediente-status .status-text {
  font-weight: 500;
  color: var(--light-gray);
}

/* Tracking Expedient Styling */
.file-card-container {
  height: 100%;
}

.seguimiento-expediente-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.comment-progress {
  width: 100%;
  align-items: flex-start;
  height: calc(100vh - 522px);
}

.comment-progress-content,
.comment-progress-content form {
  position: relative;
  width: 100%;
  height: 100%;
}

.comment-progress-content:focus-within {
  border-color: #1976d2 !important;
  box-shadow: none;
  border-width: 2px !important;
}

.comment-progress #message {
  min-height: calc(100vh - 523px);
  width: 100%;
  padding: 10px;
  margin: 0;
  line-height: 1.3333;
  font-size: 15px;
  border: none !important;
  box-shadow: none !important;
  color: var(--default-color);
}

.comment-progress #message::placeholder {
  color: var(--medium-gray);
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.comment-progress-content .comment-progress-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.comment-progress-content .comment-progress-button button {
  background: transparent !important;
  border: none !important;
  color: #3949ab;
}

.choose-files-container {
  width: calc(50% - 60px);
  margin-left: 60px;
}

.choose-files-title {
  color: var(--default-color);
  width: 100%;
  justify-content: space-between;
}

.choose-files-title .main {
  font-size: 20px;
  font-weight: 500;
}

.choose-files-title .secondary {
  font-size: 16px;
  font-weight: 500;
}

.choose-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.file-chooser-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.file-chooser-files {
  width: 100%;
  max-height: calc(100vh - 510px);
  padding-bottom: 8px;
  overflow: auto;
}

.file-comments {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 510px);
  padding-bottom: 12px;
  overflow: auto;
}

.file-chooser-files .scrollable-content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.file-box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 61px;
  max-height: 61px;
}

.upload-file-btn {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-file-btn {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  background: #1976d2 !important;
  color: var(--white-color);
}

.send-file-btn {
  color: white;
}

.file-size {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.57);
}

.file-item {
  cursor: pointer;
  height: 100%;
  background: var(--attached-file-btn-bg);
  border-radius: 5px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-divider);
}

.file-icon {
  width: 65px;
  height: 60px;
  margin-right: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
}

.file-icon img {
  width: 40px;
  max-width: 40px;
}

.file-name-and-format {
  max-width: calc(100% - 108px);
  width: calc(100% - 108px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--default-color);
}

.file-name-and-format.notes {
  max-width: calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 0 10px;
}

.file-name {
  height: 100%;
}

.file-format {
  font-size: 13px;
}

.remove-file {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  height: 24px;
}

.remove-file i {
  font-weight: bolder;
  font-size: 18px;
  margin: 0;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  color: #757575;
}

.remove-file-btn:hover {
  color: var(--white-color) !important;
  background: var(--tracking-number-bg);
}

.watch-file {
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  color: #757575;
}

.watch-file:hover {
  color: var(--white-color);
  background: var(--tracking-number-bg);
}

.file-path-text {
  width: 100%;
  max-height: 105.6px;
  overflow: hidden;
}

.expediente-file-path {
  word-wrap: break-word;
  white-space: normal;
  line-height: normal;
}

/* File Tracking Button */
.btn-floating i {
  margin: 0;
}

/* File Tracking Creation Styling */
.add-file-tracking-container {
  position: relative;
  width: 100%;
  align-items: flex-start;
}

.add-file-tracking-return {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  color: white !important;
  background: #1976d2 !important;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.add-file-tracking-return i {
  margin: 0;
}

.add-file-tracking-img {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  margin-left: 10px;
}

.add-file-tracking-data {
  width: calc(100% - 290px);
  max-width: calc(100% - 290px);
  margin: 15px 30px;
  align-items: flex-start;
}

.add-file-tracking-file-name,
.add-file-tracking-file-client {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-file-tracking-file-client {
  color: var(--default-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-file-tracking-number-and-actions {
  width: 50px;
}

.add-file-tracking-number {
  width: 50px;
  height: 50px;
  background: var(--tracking-number-bg);
  color: white;
  border-radius: 8px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.add-file-tracking-number span {
  line-height: normal;
}

.add-file-tracking-number .add-file-tracking-number-title {
  font-size: 13px;
  font-weight: 500;
}

.add-file-tracking-file-actions {
  margin-top: 10px;
}
