@media (max-width: 678px) {
  .seguimiento-expediente-options a {
    line-height: 15px;
  }
  .file-card-stacked {
    flex-direction: column !important;
  }
  .card-data {
    margin: 0 !important;
  }
  .card-icon {
    margin-bottom: 15px;
  }
  .profile-header {
    text-align: center;
  }
}

@media (max-width: 620px) {
  .expedient-date {
    font-size: 16px !important;
    line-height: initial;
  }
}

@media (max-width: 520px) {
  .tabs .tab a {
    font-size: 12px !important;
  }
  .seguimiento-expediente-data {
    flex-direction: column !important;
    align-items: center !important;
  }
  .comment-progress {
    width: 100% !important;
    height: 120px !important;
  }
  .choose-files {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 0 !important;
  }
  .seguimiento-expediente-options {
    flex-direction: column !important;
  }
  .seguimiento-expediente-options a {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0 !important;
  }
  .file-size {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .card-header .profile-icon {
    height: 100px !important;
    width: 90px !important;
  }
  .card-content {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0 0 0 !important;
  }
  .data-header-container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .personal-data {
    font-size: 16px !important;
    line-height: 14px;
  }
  .profile-name {
    font-size: 20px !important;
  }
  .profile-rol {
    font-size: 16px !important;
  }
  a {
    font-size: 12px;
  }
  a i {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .tabs .tab a {
    word-wrap: break-word;
    white-space: normal;
    line-height: normal;
    display: flex;
  }
  .card-header-expedient {
    flex-direction: column !important;
    align-items: center !important;
    padding-bottom: 10px;
  }
  .expediente-status {
    margin-top: 10px;
  }
}

a {
  border-radius: 5px;
  justify-content: center;
}

a:hover {
  color: white;
}

i {
  margin-right: 5px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.card-container {
  padding: 0;
  box-shadow: none;
  margin-top: 0;
}

.card-content {
  padding: 24px 10px 1px 10px;
}

.card-action.card-next {
  padding: 10px 0 0 0;
}

.card-action.card-next a {
  width: fit-content;
  float: right;
}

.data-headers {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  width: 100px;
  min-width: 100px;
  margin-right: 10px;
  color: #26c6da;
}

.data-headers.header-E {
  min-width: 110px;
  width: 100px;
}

.files-card-divider {
  margin: 15px 0;
}

.tabs .tab a.active {
  color: #3949ab;
}

.tabs .tab a {
  color: #4c59b1;
}

.tabs .tab.disabled a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #404aff11;
  outline: none;
}

.tabs.tabs-fixed-width {
  background: rgb(244, 244, 244);
}

.user-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.file-actions-card {
  margin-top: 0;
}

.file-actions-card,
.file-tracking-card {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* General Displaying */
a,
.seguimiento-expediente-actions,
.seguimiento-expediente-options,
.choose-option,
.card-header,
.close-card,
.comment-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seguimiento-expediente-container {
  margin: 0 15px;
}

.seguimiento-expediente-actions,
.seguimiento-expediente-actions .seguimiento-expediente-options {
  width: 100%;
}

.seguimiento-expediente-options a {
  margin-right: 10px;
}

.expedient-tracking-content {
  padding: 10px 24px;
}

/* Tacking Card List Styling */

.tracking-list-container,
.tracking-list-filter-container,
.tracking-list-filter-content,
.tracking-list-content,
.tracking-item-container,
.tracking-item-content {
  width: 100%;
}

.tracking-list-container {
  height: 100%;
  box-shadow: none;
}

.tracking-list-content {
  margin-top: 15px;
}

.tracking-item-container {
  margin-bottom: 10px;
}

.tracking-item-header {
  height: 80px !important;
  padding: 0 24px;
}

.tracking-item-header .mat-content,
.tracking-item-title {
  height: 100%;
}

.tracking-item-header:hover,
.tracking-item-header.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: #1976d2;
}

.tracking-item-header.mat-expansion-panel-header.mat-expanded:hover
  .tracking-item-file-name,
.tracking-item-header.mat-expansion-panel-header.mat-expanded
  .tracking-item-file-name,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"])
  .tracking-item-file-name,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"])
  .tracking-item-file-name,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"])
  .tracking-item-file-name {
  color: white;
}

.tracking-item-header.mat-expansion-panel-header.mat-expanded:hover
  .tracking-item-client-icon,
.tracking-item-header.mat-expansion-panel-header.mat-expanded
  .tracking-item-client-icon,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"])
  .tracking-item-client-icon,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"])
  .tracking-item-client-icon,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"])
  .tracking-item-client-icon {
  border-color: white;
}

.tracking-item-header.mat-expansion-panel-header.mat-expanded:hover
  .tracking-item-client-data,
.tracking-item-header.mat-expansion-panel-header.mat-expanded
  .tracking-item-client-data,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"])
  .tracking-item-client-data,
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"])
  .tracking-item-client-data,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"])
  .tracking-item-client-data {
  color: rgba(255, 255, 255, 0.8);
}

.tracking-item-title {
  align-items: center;
}

.tracking-item-body {
  max-width: calc(100% - 75px);
}

.tracking-item-file-name {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: #1e88e5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tracking-item-client-data {
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tracking-item-client-icon {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #1976d2;
}

.tracking-file-container {
  box-shadow: none;
}

.tracking-file-content {
  align-items: flex-start;
}

.tracking-item-content .tracking-file-container {
  margin-bottom: 10px;
  border: 1.3px solid rgba(0, 0, 0, 0.1);
}

.tracking-item-content .tracking-file-container .tracking-file-data {
  width: calc(100% - 60px);
  margin-right: 20px;
  align-items: flex-start;
}

.tracking-file-number-box {
  width: 70px;
  min-width: 70px;
  border-radius: 4px;
  margin-right: 15px;
}

.tracking-date {
  font-size: 12px;
  margin-top: 10px;
}

.tracking-file-comment-box {
  height: 80px;
  max-height: 80px;
  width: calc(100% - 85px);
  border-radius: 4px;
}

.tracking-file-main-title {
  color: white;
  background: #1976d2;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tracking-number {
  width: 20px;
  min-width: 20px;
  height: 25px;
  border-radius: 4px;
  justify-content: center;
  font-weight: bold;
}

.tracking-file-subtitle {
  padding: 5px 10px;
  height: calc(100% - 10px);
  width: 100%;
}

.tracking-file-subtitle p {
  margin: 0;
}

.filetracking-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: 5px;
}

.filetracking-btn i {
  margin: 0;
}

/* User Profile Card Styling */

.card-header .profile-icon {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  width: 180px;
  min-width: 50px;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.5);
}

.card-header .profile-icon img {
  height: 100%;
  width: 100%;
}

.profile-header {
  align-items: flex-start;
  width: 100%;
}

.profile-name {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #1e88e5;
}

.profile-rol {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
}

.close-card {
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  border: 1px solid #26c6da;
  background: #26c6da;
  box-shadow: 0 0 8px 0 #26c6da;
}

.close-card i {
  margin: 0;
  font-size: 16px;
}

.card-data {
  width: 100%;
  margin-left: 30px;
  flex-grow: 1;
  -o-flex-grow: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
}

.personal-data {
  font-size: 18px;
  color: #1e88e5;
}

/* Expedient Card Styling */
.expedient-name {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #1e88e5;
}

.expedient-date {
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
}

.expediente-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1e88e5;
  border-radius: 5px;
  padding: 5px;
}

.status-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  border-radius: 50%;
  margin-right: 3px;
}

.expediente-status .status-icon i {
  color: #1e88e5;
  font-size: 18px;
  font-weight: 600;
  padding: 2px;
}

.expediente-status span {
  font-weight: 500;
}

/* Tracking Expedient Styling */
.seguimiento-expediente-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.comment-progress {
  width: 50%;
  height: 200px;
  max-height: 200px;
  align-items: flex-start;
}

.comment-progress-content {
  position: relative;
}

.comment-progress #commentProgress {
  height: 100%;
  border: 1.5px solid #80808057 !important;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  padding-right: 40px;
}

.comment-progress #commentProgress:focus {
  border-color: #3949ab !important;
  box-shadow: none;
}

.comment-progress-content .comment-progress-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.comment-progress-content .comment-progress-button button {
  background: transparent !important;
  border: none;
  color: #3949ab;
}

.choose-files-container {
  width: calc(50% - 60px);
  margin-left: 60px;
}

.choose-files-title {
  color: var(--default-color);
  width: 100%;
  justify-content: space-between;
}

.choose-files-title .main {
  font-size: 20px;
  font-weight: 500;
}

.choose-files-title .secondary {
  font-size: 16px;
  font-weight: 500;
}

.choose-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.file-chooser-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.file-box {
  border: 1px solid #80808057;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
}

.upload-file-btn {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-file-btn {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #80808057;
}

.send-file-btn {
  color: white;
}

.file-size {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.57);
}

.file-item {
  cursor: pointer;
}

.file-icon {
  width: 65px;
  height: 60px;
  margin-right: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
}

.file-icon img {
  width: 40px;
  max-width: 40px;
}

.file-format {
  font-size: 13px;
}

.remove-file {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  height: 24px;
}

.remove-file i {
  font-weight: bolder;
  font-size: 18px;
  margin: 0;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  color: #ff5722;
}

.watch-file {
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--default-color);
}

.file-box:hover .watch-file {
  color: #1e88e5;
}

.file-path-text {
  width: 100%;
  max-height: 105.6px;
  overflow: hidden;
}

.expediente-file-path {
  word-wrap: break-word;
  white-space: normal;
  line-height: normal;
}

/* File Tracking Button */
.btn-floating i {
  margin: 0;
}
