<!-- Contenedor Seguimiento Expediente -->

<mat-tab-group
  class="admin-tab"
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <!-- File Tracking List Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      Tabla
    </ng-template>
    <div class="tracking-list-container">
      <mat-card class="tracking-list-container dfc">
        <mat-card-header class="tracking-list-filter-container">
          <mat-card class="tracking-list-filter-content dfr"
            >Opciones de filtrado</mat-card
          >
        </mat-card-header>

        <mat-card-content class="tracking-list-content">
          <perfect-scrollbar
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content tracking-list-scroll-content">
              <mat-accordion class="tracking-item-container dfc">
                <mat-expansion-panel
                  class="tracking-item-content"
                  *ngFor="let file of filesAll"
                >
                  <mat-expansion-panel-header class="tracking-item-header">
                    <mat-panel-title class="tracking-item-title dfr">
                      <div class="tracking-item-client-icon centered-img-bg">
                        <img
                          [src]="
                            (file?.assigned_client)[0]?.img | img: 'user':true
                          "
                          alt=""
                        />
                      </div>
                      <div class="tracking-item-body">
                        <div class="tracking-item-file-name">
                          <span>{{ file?.affair }}</span>
                        </div>
                        <div class="tracking-item-client-data">
                          <span
                            >{{ (file?.assigned_client)[0].firstName }}
                            {{ (file?.assigned_client)[0].lastName }}</span
                          >
                        </div>
                      </div>
                      <div class="tracking-item-add-container">
                        <button
                          mat-icon-button
                          (click)="createTracking(file); moveDown($event)"
                          class="add-tracking-btn primary-text gradient-pos-45deg-lighter-blue gradient-shadow dfc"
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- Tracking Cards -->
                  <mat-card
                    *ngFor="let track of file?.tracks"
                    class="tracking-file-container"
                  >
                    <div class="tracking-file-content dfr">
                      <div class="tracking-file-data dfr">
                        <div class="tracking-file-number-box dfc">
                          <div
                            class="tracking-file-main-title tracking-number dfc"
                          >
                            <span>{{ track?.track }}</span>
                          </div>
                          <div class="tracking-date">
                            <span>{{
                              (track?.date | date: "dd") +
                                "/" +
                                (track?.date | date: "MM") +
                                "/" +
                                (track?.date | date: "yyyy")
                            }}</span>
                          </div>
                        </div>
                        <div class="tracking-file-comment-box dfr">
                          <div class="tracking-file-subtitle">
                            <perfect-scrollbar
                              class="scroll-container"
                              fxFlex="auto"
                              [config]="config"
                              [scrollIndicators]="false"
                            >
                              <div
                                class="scrollable-content tracking-file-comment-scroll-content"
                              >
                                <p>
                                  {{ track?.comment }}
                                </p>
                              </div></perfect-scrollbar
                            >
                          </div>
                        </div>
                        <div
                          *ngIf="track?.comment === ''"
                          class="tracking-file-comment-box dfr"
                        >
                          <div class="tracking-file-subtitle">
                            <p>Sin comentarios</p>
                          </div>
                        </div>
                      </div>

                      <div class="dfc">
                        <!-- File Tracking CRUD Button -->
                        <button
                          class="filetracking-btn btn waves-effect waves-light indigo darken-1 dfc"
                        >
                          <i class="material-icons">more_vert</i>
                        </button>
                        <!-- File Tracking Attached Documents Button -->
                        <div class="attached-file-actions">
                          <button
                            (click)="openDocuments(track?.documents)"
                            class="filetracking-btn btn waves-effect waves-light indigo darken-1 dfc"
                          >
                            <i class="material-icons">attach_file</i>
                          </button>
                          <div class="attached-files-quantity dfc">
                            {{ track?.documents.length }}
                          </div>
                        </div>
                        <!-- <button
                          (click)="openDocuments(track?.documents)"
                          class="filetracking-btn btn waves-effect waves-light indigo darken-1 dfc"
                        >
                          <i class="material-icons">attach_file</i>
                        </button> -->
                      </div>
                    </div>
                  </mat-card>
                  <mat-card
                    *ngIf="file?.tracks.length === 0"
                    class="tracking-file-container"
                  >
                    <div class="tracking-file-content dfr">
                      <div class="tracking-file-data dfr">
                        <span>Ningún seguimiento realizado</span>
                      </div>
                    </div>
                  </mat-card>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </perfect-scrollbar>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <!-- File Tracking Creation Tab -->
  <mat-tab>
    <ng-template mat-tab-label class="admin-tab-label">
      Seguimiento Expediente
    </ng-template>
    <div class="seguimiento-expediente-container">
      <div class="card card-container">
        <perfect-scrollbar
          class="scroll-container"
          fxFlex="auto"
          [config]="config"
          [scrollIndicators]="false"
        >
          <div class="scrollable-content inner-admin-scrollable-content">
            <!-- Files Card Container -->
            <div
              class="file-card-container"
              *ngIf="
                (this._trackingS.fileData !== '' &&
                  this._trackingS.fileData !== null) ||
                this._trackingS.fileStorage === true
              "
            >
              <div class="card horizontal user-card">
                <div class="card-stacked">
                  <!-- Files Content Container -->
                  <div class="card-content" style="padding: 0px !important;">
                    <!-- Files Header -->
                    <div
                      class="card-header card-header-expedient"
                      style="justify-content: space-between;"
                    >
                      <div class="add-file-tracking-container dfr">
                        <div class="add-file-tracking-img centered-img-bg">
                          <img
                            [src]="
                              (this._trackingS.fileData?.assigned_client)[0]
                                ?.img | img: 'user':true
                            "
                            alt=""
                          />
                        </div>
                        <div class="add-file-tracking-data dfc">
                          <div class="add-file-tracking-file-name">
                            <span class="expedient-name"
                              >{{ this._trackingS.fileData?.affair }}
                            </span>
                          </div>
                          <div class="add-file-tracking-file-client">
                            <span
                              >{{
                                (this._trackingS.fileData?.assigned_client)[0]
                                  ?.firstName
                              }}
                              {{
                                (this._trackingS.fileData?.assigned_client)[0]
                                  ?.lastName
                              }}</span
                            >
                          </div>
                          <div
                            class="add-file-tracking-file-key expediente-status"
                          >
                            <div class="status-icon">
                              <i class="material-icons mr-2">lock_open</i>
                            </div>
                            <span class="status-text">{{
                              this._trackingS.fileData?.intKey
                            }}</span>
                          </div>
                        </div>
                        <div class="add-file-tracking-number-and-actions dfc">
                          <div class="add-file-tracking-number dfc">
                            <span>{{
                              "#" +
                                (this._trackingS.fileData?.tracks?.length + 1)
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- File Tracking Actions -->
              <div class="card horizontal file-actions-card">
                <div class="card-stacked">
                  <div class="card-action">
                    <div class="seguimiento-expediente-actions">
                      <div class="seguimiento-expediente-options right">
                        <!-- <a
                         class="btn-finish btn-news waves-effect waves-light btn indigo darken-1"
                         (click)="send()"
                       >
                         Agregar Tomo
                       </a> -->
                        <a
                          class="btn-finish btn-news waves-effect waves-light btn indigo darken-1"
                          (click)="changeStatus('OPEN')"
                        >
                          Reabrir expediente
                        </a>
                        <a
                          class="btn-close btn-news waves-effect waves-light btn indigo darken-1"
                          (click)="changeStatus('CLOSED')"
                        >
                          Cerrar Expediente
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- File Tracking File Upload & Commentary -->
              <div class="card horizontal file-tracking-card">
                <div class="card-stacked">
                  <div class="card-action seguimiento-expediente-data">
                    <div class="comment-progress">
                      <form
                        ngNativeValidate
                        [formGroup]="form"
                        style="width: 100%;"
                      >
                        <div class="comment-progress-content">
                          <textarea
                            class="materialize-textarea expediente-input ng-pristine ng-touched"
                            name="commentProgress"
                            formControlName="commentProgress"
                            id="commentProgress"
                            placeholder="Agregar comentario"
                            (blur)="addComment()"
                            required
                          ></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="choose-files-container dfc">
                      <div class="choose-files-title dfr">
                        <div class="main"><span>Tu trabajo</span></div>
                        <div class="secondary"><span>Pendiente</span></div>
                      </div>
                      <button
                        href="#modal-File-Upload"
                        class="select-file-btn waves-effect waves-light modal-trigger centered-img-bg dfc"
                      >
                        Agregar documento
                      </button>
                      <div
                        *ngIf="this._trackingS.trackingStorage"
                        class="choose-files"
                      >
                        <div class="file-chooser-container">
                          <div class="file-chooser-files">
                            <div
                              *ngFor="
                                let doc of this.trackings?.documents;
                                let i = index
                              "
                              class="file-chooser-file file-box"
                            >
                              <div class="file-name">
                                <div
                                  class="file-item dfr"
                                  *ngIf="doc?.document.indexOf('pdf') >= 0"
                                  (click)="open(doc.document)"
                                >
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/pdf_icon.png"
                                      alt=""
                                    />
                                    <!-- <i class="fas fa-file-pdf"></i> -->
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      {{ (doc?.document.split("uploads/"))[1] }}
                                    </span>
                                    <div class="file-format">
                                      <span>PDF</span>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="file-item dfr"
                                  *ngIf="
                                    doc?.document.indexOf('doc') >= 0 ||
                                    doc?.document.indexOf('docx') >= 0
                                  "
                                  (click)="open(doc?.document)"
                                >
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/word_icon.png"
                                      alt=""
                                    />
                                    <!-- <i class="fas fa-file-word"></i> -->
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      {{ (doc?.document.split("uploads/"))[1] }}
                                    </span>
                                    <div class="file-format">
                                      <span>DOC</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div
                                  class="watch-file"
                                  (click)="open(doc?.document)"
                                >
                                  <span>Ver</span>
                                </div>
                                <i
                                  class="remove-file-btn material-icons"
                                  (click)="deleteDoc(doc._id)"
                                  >close</i
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        (click)="finish()"
                        class="select-file-btn send-file-btn waves-effect waves-light indigo darken-1 dfc"
                      >
                        Finalizar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- New Tracking Tab Button Trigger -->
<!-- <div
  [hidden]="selected.value === 1"
  style="bottom: 61px; right: 19px; z-index: 999;"
  class="fixed-action-btn direction-top"
>
  <a
    class="btn-floating btn-large primary-text gradient-pos-45deg-lighter-blue gradient-shadow"
    style="border-radius: 50%;"
    (click)="selected.value = 1"
  >
    <i class="material-icons">add</i>
  </a>
</div> -->

<!-- Trackings Tab Button Trigger -->
<div
  [hidden]="selected.value === 0"
  style="bottom: 61px; right: 19px; z-index: 999;"
  class="fixed-action-btn direction-top"
>
  <a
    class="btn-floating btn-large primary-text gradient-pos-45deg-lighter-blue gradient-shadow"
    style="border-radius: 50%;"
    (click)="selected.value = 0"
  >
    <i class="material-icons">reply</i>
  </a>
</div>
