<!-- Contenedor Seguimiento Expediente -->

<mat-tab-group
  class="admin-tab"
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <!-- Cases List Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      Tracking
    </ng-template>
    <div class="tracking-list-container">
      <mat-card class="tracking-list-container dfc">
        <!-- File Tracking Filters Container  -->
        <mat-card-header class="tracking-list-filter-container">
          <mat-card
            class="tracking-list-filter-content filters-container dfr"
            [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
          >
            <!-- Entries And Status Filters Container -->
            <div class="entry-and-status-filters-container dfr">
              <!-- Entries Filter -->
              <div class="show-entries-filter dfr">
                <span class="entries-filter-text">Ver</span>
                <div class="entries-filter-select">
                  <mat-form-field>
                    <mat-select
                      disableOptionCentering
                      [(ngModel)]="selectedEntry"
                      (ngModelChange)="changeEntry($event)"
                    >
                      <mat-option
                        *ngFor="let entry of entriesFilter"
                        [value]="entry"
                        [selected]="entry === 5"
                      >
                        {{ entry }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="entries-filter-text">Resultados</span>
              </div>
              <!-- Status Filter -->
              <div class="status-filter dfr">
                <span class="status-filter-text">Status</span>
                <div class="status-filter-select">
                  <mat-form-field>
                    <mat-select
                      [value]="
                        this.innerScreenWidth <= 810 ? 'Estado' : 'Cualquiera'
                      "
                      disableOptionCentering
                    >
                      <mat-option
                        value="Estado"
                        style="display: none;"
                        *ngIf="this.innerScreenWidth <= 810"
                      >
                        Estado
                      </mat-option>
                      <mat-option value="Cualquiera">
                        Cualquiera
                      </mat-option>
                      <mat-option value="Activo">
                        Activo
                      </mat-option>
                      <mat-option value="Archivado">
                        Archivado
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Search Filter -->
            <div class="search-filter dfr">
              <div class="search-input-filter dfc">
                <input
                  (keyup)="filter($event.target.value)"
                  placeholder="Buscar"
                />
              </div>
              <div class="search-btn-filter">
                <button
                  class="btn waves-effect waves-light dfc"
                  (click)="handleMobileFilter(true)"
                >
                  <i class="material-icons">search</i>
                </button>
              </div>
            </div>
            <!-- Search Filter Mobile -->
            <div
              class="search-filter-mobile dfr"
              [attr.isVisible]="this.mobileFilterActivated"
            >
              <div
                class="go-back-filter-mobile waves-effect waves-light dfc"
                *ngIf="this.mobileFilterActivated"
                (click)="handleMobileFilter(false)"
              >
                <i class="material-icons">arrow_back</i>
              </div>
              <div
                class="search-input-filter-mobile dfc"
                *ngIf="this.mobileFilterActivated"
              >
                <input placeholder="Buscar" />
              </div>
            </div>
          </mat-card>
        </mat-card-header>

        <!-- File Tracking List Container  -->
        <mat-card-content class="tracking-list-content">
          <perfect-scrollbar
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content tracking-list-scroll-content">
              <mat-accordion class="tracking-item-container dfc">
                <mat-expansion-panel
                  class="tracking-item-content"
                  *ngFor="
                    let file of filesAll
                      | filter: filterValue:'case'
                      | paginate
                        : {
                            itemsPerPage: selectedEntry,
                            currentPage: currentPage,
                            id: 'case-pagination'
                          }
                  "
                  disabled
                >
                  <!-- Files Tracking Volumes Header -->
                  <mat-expansion-panel-header class="tracking-item-header">
                    <mat-panel-title
                      class="tracking-item-title tracking-list dfr"
                    >
                      <div class="tracking-item-client-icon centered-img-bg">
                        <img
                          [src]="
                            (file?.assigned_client)[0]?.img | img: 'user':true
                          "
                          alt=""
                        />
                      </div>
                      <div class="tracking-item-body">
                        <div class="tracking-item-file-name volumes dfr">
                          <div class="tracking-item-file-name-text">
                            <span>{{ file?.affair }}</span>
                          </div>
                          <div class="tracking-item-file-status">
                            <span class="">Archivado</span>
                          </div>
                        </div>
                        <div class="tracking-item-client-data">
                          <span
                            >{{ (file?.assigned_client)[0].firstName }}
                            {{ (file?.assigned_client)[0].lastName }}</span
                          >
                        </div>
                      </div>
                      <div class="tracking-item-add-container volumes dfr">
                        <button
                          mat-icon-button
                          (click)="viewCaseTrackingList(file); moveDown($event)"
                          class="add-tracking-btn primary-text light-blue gradient-shadow dfc"
                          matTooltip="Ver lista de seguimientos"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">visibility</i>
                        </button>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- Tracking Cards -->
                  <mat-card
                    *ngFor="let track of file?.tracks"
                    class="tracking-file-container"
                  >
                    <div class="tracking-file-content dfr">
                      <div class="tracking-file-data dfr">
                        <div class="tracking-file-number-box dfc">
                          <div
                            class="tracking-file-main-title tracking-number dfc"
                          >
                            <span>{{ track?.track }}</span>
                          </div>
                          <div class="tracking-date">
                            <span>{{
                              (track?.date | date: "dd") +
                                "/" +
                                (track?.date | date: "MM") +
                                "/" +
                                (track?.date | date: "yyyy")
                            }}</span>
                          </div>
                        </div>
                        <div
                          *ngIf="track?.comment !== ''"
                          class="tracking-file-comment-box dfr"
                        >
                          <div class="tracking-file-subtitle">
                            <perfect-scrollbar
                              class="scroll-container"
                              fxFlex="auto"
                              [config]="config"
                              [scrollIndicators]="false"
                            >
                              <div
                                class="scrollable-content tracking-file-comment-scroll-content"
                              >
                                <p>
                                  {{ track?.comment }}
                                </p>
                              </div>
                            </perfect-scrollbar>
                          </div>
                        </div>
                        <div
                          *ngIf="track?.comment === ''"
                          class="tracking-file-comment-box dfr"
                        >
                          <div
                            class="tracking-file-subtitle tracking-file-comment-scroll-content"
                          >
                            <p>Sin comentarios</p>
                          </div>
                        </div>
                      </div>

                      <div class="dfc">
                        <!-- File Tracking CRUD Button -->
                        <button
                          class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                          mat-icon-button
                          [matMenuTriggerFor]="actionsMenuT"
                        >
                          <i class="material-icons">more_vert</i>
                        </button>

                        <mat-menu #actionsMenuT="matMenu" xPosition="before">
                          <ng-template matMenuContent>
                            <div class="dfc">
                              <button
                                mat-menu-item
                                (click)="editTrack(file, track?._id)"
                              >
                                <i
                                  class="material-icons"
                                  style="color: #1976d2;"
                                  >edit</i
                                >
                                <span>Editar</span>
                              </button>
                              <button
                                mat-menu-item
                                (click)="deleteTrack(track?._id)"
                              >
                                <i
                                  class="material-icons"
                                  style="color: #1976d2;"
                                  >delete</i
                                >
                                <span>Eliminar</span>
                              </button>
                            </div>
                          </ng-template>
                        </mat-menu>
                        <!-- File Tracking Attached Documents Button -->
                        <div class="attached-file-actions">
                          <button
                            (click)="openDocuments(track?.documents)"
                            class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                          >
                            <i class="material-icons">attach_file</i>
                          </button>
                          <div class="attached-files-quantity dfc">
                            {{ track?.documents?.length }}
                          </div>
                        </div>
                        <!-- <button
                          (click)="openDocuments(track?.documents)"
                          class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                        >
                          <i class="material-icons">attach_file</i>
                        </button> -->
                      </div>
                    </div>
                  </mat-card>
                  <mat-card
                    *ngIf="file?.tracks && file?.tracks.length === 0"
                    class="tracking-file-container"
                  >
                    <div class="tracking-file-content dfr">
                      <div class="tracking-file-data dfr">
                        <span>Ningún seguimiento realizado</span>
                      </div>
                    </div>
                  </mat-card>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </perfect-scrollbar>
        </mat-card-content>
        <mat-card-actions class="item-list-pagination-container dfr">
          <pagination-controls
            class="news-pagination"
            (pageChange)="currentPage = $event"
            id="case-pagination"
          ></pagination-controls>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <!-- Case Trackings List -->
  <mat-tab>
    <ng-template mat-tab-label>
      Tracking Details
    </ng-template>
    <div class="tracking-list-container">
      <mat-card class="tracking-list-container dfc">
        <!-- Case Tracking Header  -->
        <mat-card-header class="tracking-list-filter-container">
          <mat-card
            class="tracking-list-filter-content case-tracking dfr"
            [style.height]="this.mobileFilterActivated ? '43px' : '100%'"
          >
            <div class="tracking-item-header case-tracking">
              <div class="tracking-item-title case-tracking-title dfc">
                <div class="tracking-item-title-content dfr">
                  <div
                    class="tracking-item-back waves-effect waves-light dfc"
                    (click)="this.selected.setValue(0)"
                  >
                    <i class="material-icons">arrow_back</i>
                  </div>
                  <div class="tracking-item-client-icon centered-img-bg mobile">
                    <img
                      [src]="
                        (caseTracking?.assigned_client)[0]?.img
                          | img: 'user':true
                      "
                      alt=""
                    />
                  </div>
                  <div class="tracking-item-body mobile">
                    <div class="tracking-item-file-name dfr">
                      <div class="tracking-item-file-name-text volumes">
                        <span>{{ caseTracking?.affair }}</span>
                      </div>
                      <!-- Volume Select -->
                      <mat-form-field
                        class="tracking-item-file-volume waves-effect waves-light dfr"
                        floatLabel="never"
                        matTooltip="Tomos"
                        matTooltipPosition="below"
                      >
                        <mat-select
                          disableOptionCentering
                          value="tomo#1"
                          class="custom-select"
                        >
                          <mat-option
                            value="tomo#1"
                            class="custom-select-icon dfr"
                          >
                            <i class="fas fa-book"></i>
                            Tomo #1
                          </mat-option>
                          <mat-option
                            value="tomo#2"
                            class="custom-select-icon dfr"
                          >
                            <i class="fas fa-book"></i>
                            Tomo #2
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="tracking-item-client-data">
                      <span
                        >{{ (caseTracking?.assigned_client)[0].firstName }}
                        {{ (caseTracking?.assigned_client)[0].lastName }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-card-header>

        <!-- Case Tracking List Container  -->
        <mat-card-content class="tracking-list-content case-tracking">
          <perfect-scrollbar
            class="scroll-container"
            fxFlex="auto"
            [config]="config"
            [scrollIndicators]="false"
          >
            <div class="scrollable-content">
              <!-- Tracking Cards -->
              <mat-card
                *ngFor="
                  let track of caseTracking?.tracks
                    | paginate
                      : {
                          itemsPerPage: 2,
                          currentPage: currentPage2,
                          id: 'tracking-pagination'
                        };
                  let i = index
                "
                class="tracking-file-container"
              >
                <div class="tracking-file-content dfr">
                  <div class="tracking-file-data dfr">
                    <div class="tracking-file-number-box dfc">
                      <div class="tracking-file-main-title tracking-number dfc">
                        <span>{{ i + 1 }}</span>
                      </div>
                      <div class="tracking-date">
                        <span>{{
                          (track?.date | date: "dd") +
                            "/" +
                            (track?.date | date: "MM") +
                            "/" +
                            (track?.date | date: "yyyy")
                        }}</span>
                      </div>
                      <!-- File Tracking Actions Mobile -->
                      <div class="dfr" *ngIf="this.innerScreenWidth <= 520">
                        <!-- File Tracking CRUD Button Trigger -->
                        <button
                          class="filetracking-btn mobile btn waves-effect waves-light light-blue dfc"
                          mat-icon-button
                          [matMenuTriggerFor]="actionsMenuT"
                          matTooltip="Más acciones"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">more_vert</i>
                        </button>
                        <!-- File Tracking CRUD Menu Content -->
                        <mat-menu #actionsMenuT="matMenu" xPosition="before">
                          <ng-template matMenuContent>
                            <div class="dfc">
                              <button
                                mat-menu-item
                                (click)="editTrack(caseTracking, track?._id)"
                              >
                                <i
                                  class="material-icons"
                                  style="color: #1976d2;"
                                  >edit</i
                                >
                                <span>Editar</span>
                              </button>
                              <button
                                mat-menu-item
                                (click)="deleteTrack(track?._id)"
                              >
                                <i
                                  class="material-icons"
                                  style="color: #1976d2;"
                                  >delete</i
                                >
                                <span>Eliminar</span>
                              </button>
                            </div>
                          </ng-template>
                        </mat-menu>
                        <!-- File Tracking Attached Documents Button -->
                        <div class="attached-file-actions">
                          <button
                            (click)="openDocuments(track?.files)"
                            class="filetracking-btn mobile btn waves-effect waves-light light-blue dfc"
                            matTooltip="Archivos adjuntos"
                            matTooltipPosition="above"
                          >
                            <i class="material-icons">attach_file</i>
                          </button>
                          <div
                            class="attached-files-quantity case-tracking dfc"
                          >
                            {{ track?.files?.length }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="track?.comment !== ''"
                      class="tracking-file-comment-box dfr"
                    >
                      <div class="tracking-file-subtitle">
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div
                            class="scrollable-content tracking-file-comment-scroll-content"
                          >
                            <p>
                              {{ track?.comment }}
                            </p>
                          </div>
                        </perfect-scrollbar>
                      </div>
                    </div>
                    <div
                      *ngIf="track?.comment === ''"
                      class="tracking-file-comment-box dfr"
                    >
                      <div
                        class="tracking-file-subtitle tracking-file-comment-scroll-content"
                      >
                        <p>Sin comentarios</p>
                      </div>
                    </div>
                  </div>
                  <!-- File Tracking Actions -->
                  <div class="dfc" *ngIf="this.innerScreenWidth > 520">
                    <!-- File Tracking CRUD Button Trigger -->
                    <button
                      class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                      mat-icon-button
                      [matMenuTriggerFor]="actionsMenuT"
                      matTooltip="Más acciones"
                      matTooltipPosition="above"
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <!-- File Tracking CRUD Menu Content -->
                    <mat-menu #actionsMenuT="matMenu" xPosition="before">
                      <ng-template matMenuContent>
                        <div class="select-content-container dfc">
                          <button
                            mat-menu-item
                            (click)="editTrack(caseTracking, track?._id)"
                          >
                            <i class="material-icons">edit</i>
                            <span>Editar</span>
                          </button>
                          <button
                            mat-menu-item
                            (click)="deleteTrack(track?._id)"
                          >
                            <i class="material-icons">delete</i>
                            <span>Eliminar</span>
                          </button>
                        </div>
                      </ng-template>
                    </mat-menu>
                    <!-- File Tracking Attached Documents Button -->
                    <div class="attached-file-actions">
                      <button
                        (click)="openDocuments(track?.files, caseTracking)"
                        class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                        matTooltip="Archivos adjuntos"
                        matTooltipPosition="above"
                      >
                        <i class="material-icons">attach_file</i>
                      </button>
                      <div class="attached-files-quantity case-tracking dfc">
                        {{ track?.files?.length }}
                      </div>
                    </div>
                    <!-- <button
                          (click)="openDocuments(track?.documents)"
                          class="filetracking-btn btn waves-effect waves-light light-blue dfc"
                        >
                          <i class="material-icons">attach_file</i>
                        </button> -->
                  </div>
                </div>
              </mat-card>
              <mat-card
                *ngIf="caseTracking?.tracks.length === 0"
                class="tracking-file-container"
              >
                <div class="tracking-file-content dfr">
                  <div class="tracking-file-data dfr">
                    <span>Ningún seguimiento realizado</span>
                  </div>
                </div>
              </mat-card>
            </div>
          </perfect-scrollbar>
          <div class="tracking-item-add-container case-tracking-add">
            <button
              mat-icon-button
              class="add-tracking-btn primary-text gradient-45deg-orange gradient-shadow dfc"
              (click)="createTracking(caseTracking); moveDown($event)"
              matTooltip="Nuevo seguimiento"
              matTooltipPosition="above"
            >
              <i class="material-icons">add</i>
            </button>
          </div>
        </mat-card-content>

        <!-- Case Tracking Pagination -->
        <mat-card-actions class="item-list-pagination-container dfr">
          <pagination-controls
            *ngIf="caseTracking?.tracks.length >= 1"
            class="news-pagination"
            (pageChange)="currentPage2 = $event"
            id="tracking-pagination"
          ></pagination-controls>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <!-- File Tracking Creation Tab -->
  <mat-tab>
    <ng-template mat-tab-label class="admin-tab-label">
      Seguimiento Expediente
    </ng-template>
    <div class="seguimiento-expediente-container">
      <div class="card card-container">
        <!-- Files Card Container -->
        <div
          class="file-card-container dfc"
          *ngIf="
            (this._trackingS.fileData !== '' &&
              this._trackingS.fileData !== null) ||
            this._trackingS.fileStorage === true
          "
        >
          <div class="card horizontal user-card">
            <div class="card-stacked" style="max-width: 100%;">
              <!-- Files Content Container -->
              <div class="card-content" style="padding: 0px !important;">
                <!-- Files Header -->
                <div
                  class="card-header card-header-expedient"
                  style="justify-content: space-between;"
                >
                  <div class="add-file-tracking-container dfr">
                    <div
                      class="add-file-tracking-return waves-effect waves-light dfc"
                      (click)="selected.setValue(0)"
                    >
                      <i class="material-icons">arrow_back</i>
                    </div>
                    <div class="add-file-tracking-img centered-img-bg">
                      <img
                        [src]="
                          (this._trackingS.fileData?.assigned_client)[0]?.img
                            | img: 'user':true
                        "
                        alt=""
                      />
                    </div>
                    <div class="add-file-tracking-data dfc">
                      <div class="add-file-tracking-file-name">
                        <span class="expedient-name"
                          >{{ this._trackingS.fileData?.affair }}
                        </span>
                      </div>
                      <div class="add-file-tracking-file-client">
                        <span
                          >{{
                            (this._trackingS.fileData?.assigned_client)[0]
                              ?.firstName
                          }}
                          {{
                            (this._trackingS.fileData?.assigned_client)[0]
                              ?.lastName
                          }}</span
                        >
                      </div>
                      <div class="add-file-tracking-file-key expediente-status">
                        <div class="status-icon">
                          <i class="material-icons mr-2">lock_open</i>
                        </div>
                        <span class="status-text">{{
                          this._trackingS.fileData?.intKey
                        }}</span>
                      </div>
                      <div class="add-file-tracking-file-actions dfr">
                        <!-- Volume Select -->
                        <mat-form-field
                          class="tracking-item-file-volume waves-effect waves-light dfr"
                          floatLabel="never"
                          matTooltip="Tomos"
                          matTooltipPosition="below"
                        >
                          <mat-select
                            disableOptionCentering
                            value="tomo#1"
                            class="custom-select"
                          >
                            <mat-option
                              value="tomo#1"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-book"></i>
                              Tomo #1
                            </mat-option>
                            <mat-option
                              value="tomo#2"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-book"></i>
                              Tomo #2
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Tracking Type Select -->
                        <mat-form-field
                          class="tracking-item-file-volume type waves-effect waves-light dfr"
                          floatLabel="never"
                          matTooltip="Tipo de seguimiento"
                          matTooltipPosition="below"
                        >
                          <mat-select
                            disableOptionCentering
                            value="tomo#1"
                            class="custom-select"
                          >
                            <mat-option
                              value="tomo#1"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-square"></i>
                              Seguimiento Simple
                            </mat-option>
                            <mat-option
                              value="tomo#2"
                              class="custom-select-icon dfr"
                            >
                              <i class="fas fa-clone"></i>
                              Seguimiento Múltiple
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="add-file-tracking-number-and-actions dfc">
                      <div class="add-file-tracking-number dfc">
                        <span>{{
                          "#" +
                            (updating
                              ? noTrack
                              : this._trackingS.fileData?.tracks?.length + 1)
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- File Tracking File Upload & Commentary -->
          <div
            class="card horizontal file-tracking-card dfr"
            *ngIf="this._trackingS.fileData.status === 'ACTIVE'"
          >
            <!-- File Tracking Sidenav -->
            <div class="file-tracking-sidenav dfc">
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(0)"
              >
                <i class="fas fa-paperclip"></i>
                <span>Evidencias</span>
              </div>
              <div class="file-sidenav-divider"></div>
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(1)"
              >
                <i class="fas fa-file-alt"></i>
                <span>Notas</span>
              </div>
              <div class="file-sidenav-divider"></div>
              <div
                class="file-tracking-sidenav-item dfr"
                (click)="trakingActionTab.setValue(2)"
              >
                <i class="fas fa-file-alt"></i>
                <span>Comentarios</span>
              </div>
            </div>
            <!-- File Tracking Content -->
            <div class="file-tracking-content dfc">
              <div
                class="add-tracking-header-actions-container dfr"
                [style.justify-content]="
                  trakingActionTab.value === 2 ? 'flex-end' : ''
                "
              >
                <button
                  class="select-file-btn waves-effect waves-light dfc"
                  (click)="openSelectEvidences()"
                  *ngIf="trakingActionTab.value === 0"
                >
                  Incluir evidencia
                </button>
                <button
                  class="select-file-btn waves-effect waves-light dfc"
                  (click)="openSelectNotes()"
                  *ngIf="trakingActionTab.value === 1"
                >
                  Incluir notas
                </button>
                <button class="select-file-btn waves-effect waves-light dfc">
                  Enviar
                </button>
              </div>
              <mat-tab-group
                class="admin-tab tracking"
                [selectedIndex]="trakingActionTab.value"
                (selectedIndexChange)="trakingActionTab.setValue($event)"
              >
                <!-- Evidences Tab -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    Evidences
                  </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div class="file-chooser-files">
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/word_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      Documento_Word_#1
                                    </span>
                                    <div class="file-format">
                                      <span>DOC</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i
                                  class="remove-file-btn material-icons"
                                  matTooltip="Eliminar"
                                  matTooltipPosition="above"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/pdf_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      Documento_PDF_#1
                                    </span>
                                    <div class="file-format">
                                      <span>PDF</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/word_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      Documento_Word_#2
                                    </span>
                                    <div class="file-format">
                                      <span>DOC</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/pdf_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      Documento_PDF_#2
                                    </span>
                                    <div class="file-format">
                                      <span>PDF</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-icon dfc">
                                    <img
                                      src="../../../assets/images/pdf_icon.png"
                                      alt=""
                                    />
                                  </div>
                                  <div class="file-name-and-format">
                                    <span>
                                      Documento_PDF_#2
                                    </span>
                                    <div class="file-format">
                                      <span>PDF</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
                <!-- Notes Tab -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    Notes
                  </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div class="file-chooser-files">
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-name-and-format notes">
                                    <span>
                                      Nota_#1
                                    </span>
                                    <div class="file-format">
                                      <span>10/08/2020</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i
                                  class="remove-file-btn material-icons"
                                  matTooltip="Eliminar"
                                  matTooltipPosition="above"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-name-and-format notes">
                                    <span>
                                      Nota_#2
                                    </span>
                                    <div class="file-format">
                                      <span>19/09/2020</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-name-and-format notes">
                                    <span>
                                      Nota_#3
                                    </span>
                                    <div class="file-format">
                                      <span>28/09/2020</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                            <div class="file-chooser-file file-box">
                              <div class="file-name">
                                <div class="file-item dfr">
                                  <div class="file-name-and-format notes">
                                    <span>
                                      Nota_#4
                                    </span>
                                    <div class="file-format">
                                      <span>06/11/2020</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="remove-file dfr">
                                <div class="watch-file">
                                  <span>Ver</span>
                                </div>
                                <i class="remove-file-btn material-icons"
                                  >close</i
                                >
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
                <!-- Comments Tab -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    Comments
                  </ng-template>
                  <div class="tracking-list-container">
                    <mat-card class="tracking-list-container add-tracking dfc">
                      <div class="file-comments">
                        <perfect-scrollbar
                          class="scroll-container"
                          fxFlex="auto"
                          [config]="config"
                          [scrollIndicators]="false"
                        >
                          <div class="scrollable-content">
                            <div class="comment-progress">
                              <div class="comment-progress-content">
                                <form
                                  ngNativeValidate
                                  [formGroup]="form"
                                  style="width: 100%;"
                                >
                                  <textarea
                                    class="materialize-textarea expediente-input ng-pristine ng-touched"
                                    name="commentProgress"
                                    formControlName="commentProgress"
                                    id="commentProgress"
                                    placeholder="Escribir comentario..."
                                    autosize
                                    (blur)="addComment()"
                                    required
                                  ></textarea>
                                </form>
                              </div>
                            </div>
                          </div>
                        </perfect-scrollbar>
                      </div>
                    </mat-card>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
