<section id="noticias-main-container" class="pr pt-141">
  <div id="noticias-main-menu">
    <div class="noticias-main-menu-container container">
      <div><span>Últimas Noticias</span></div>
      <nav id="noticias-search" class="grey lighten-4">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input
                id="search"
                type="search"
                placeholder="Buscar..."
                required
              />
              <label
                id="noticias-search-label-icon"
                class="label-icon"
                for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="noticias-search-close-icon material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div id="noticias-content-container" class="container">
    <div
      *ngFor="
        let noticia of noticias
          | paginate: { itemsPerPage: 4, currentPage: paginaActual }
      "
      class="card sticky-action"
      style="width: 100%;"
    >
      <div class="card-header card-content">
        <div class="card-date">
          <div class="card-day">
            <span>{{ noticia.created_at | date: "d" }}</span>
          </div>
          <div class="card-month">
            <span>{{ noticia.created_at | date: "MMM" }}</span>
          </div>
        </div>
        <div class="card-title-new">
          <span class="card-title">{{ noticia.title }}</span>
          <span class="card-autor">{{ noticia.author }}</span>
        </div>
      </div>
      <div class="card-body card-content grey lighten-4">
        <div class="card-img card-image waves-effect waves-block waves-light">
          <img src="../../../assets/images/New_image.jpg" />
        </div>
        <div class="card-information" [innerHtml]="noticia.content">
          {{ noticia.content }}
        </div>
      </div>
      <div class="card-footer card-action">
        <div class="card-social-network">
          <div class="like-dislike-comments-section">
            <div class="like">
              <a>
                <i class="waves-effect material-icons new-like">thumb_up</i>
                <span>201</span>
              </a>
            </div>
            <div class="dislike">
              <a>
                <i class="waves-effect material-icons new-dislike"
                  >thumb_down</i
                >
                <span style="margin-top: -5px;">23</span>
              </a>
            </div>
            <div class="comments">
              <a class="waves-effect" (click)="goToComments(noticia._id)">
                <i class="material-icons">forum</i>
                <span>Comentarios</span>
              </a>
            </div>
          </div>
        </div>

        <div class="card-show-more">
          <a
            class="btn-news waves-effect waves-light btn gradient-45deg-dark-blue"
            [routerLink]="['/noticia-detalle', noticia._id]"
          >
            Mostrar más
          </a>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="paginaActual = $event"
    ></pagination-controls>
  </div>
</section>
