/* News Styling */

/* Media Queries */
@media only screen and (max-width: 499px) {
  .card-body {
    flex-direction: column !important;
  }
  .card-reveal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-reveal-text > p:first-child {
    margin-bottom: 0px !important;
  }
  .card-reveal-img {
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 440px) {
  .like a,
  .dislike a {
    margin-right: 10px !important;
  }
}

/* General Display Styling */
#noticias-main-container,
#noticias-content-container,
.noticias-main-menu-container,
.card-header,
.card-body,
.card-footer,
.card-reveal-header,
.card-reveal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#noticias-main-container,
#noticias-content-container {
  flex-direction: column;
}

#noticias-main-container {
  min-height: 350px;
}

#noticias-content-container {
  padding-top: 25px;
}

/* Card Styling */

.card.sticky-action {
  transition: all 0.3s ease-in-out;
  min-height: 286px;
  max-height: 600px;
  overflow: auto;
  position: relative;
}

.card-header {
  padding: 0;
}

.card-date {
  height: 55px;
  background: #545454;
  color: white;
  border-top-left-radius: 3px;
}

.card-date {
  padding: 8px 15px;
}

.card-date > div {
  padding: 0;
  line-height: 1;
}

.card-day {
  font-size: 22px;
}

.card-month {
  font-size: 14px;
}

.card-title-new {
  padding: 0 15px;
}

.card .card-content .card-title {
  margin: 0;
}

.card-title-new > .card-title {
  font-size: 24px;
  color: #26aee4;
  font-weight: 400;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
}

.card-title-new > .card-title:hover {
  color: #ee6e73;
}

.card-title-new > .card-autor {
  color: #a2a2a2;
  font-style: italic;
  font-weight: 500;
}

.card-img {
  width: 150px;
  min-width: 150px;
}

.card-information {
  padding-left: 15px;
  overflow-y: hidden;
  max-height: 120px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  text-align: justify;
}

.card-footer {
  justify-content: flex-end;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.card-footer .card-social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.like-dislike-comments-section,
.comments a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments a {
  padding: 5px;
  border-radius: 5px;
}

.comments a span {
  text-transform: capitalize;
}

.comments i {
  margin-right: 5px;
}

.card-footer .card-show-more .btn-news {
  width: max-content;
}

.card-footer .card-show-more .btn-news:hover {
  color: aquamarine;
}

#noticias-main-menu {
  width: 100%;
  min-width: 100%;
  height: 75px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #26aee4;
  font-size: 14px;
  box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -moz-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -webkit-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -o-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -ms-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
}

/* Input Search Styling */

#noticias-search {
  height: 45px;
  height: 45px;
}

#noticias-search-label-icon,
#noticias-search-label-icon > i,
.noticias-search-close-icon {
  height: 45px;
  line-height: 45px;
  color: rgb(134, 134, 134);
}

#search::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(134, 134, 134);
  opacity: 1 !important;
}

#search:focus {
  color: black;
}

.nav-wrapper .input-field input[type="search"] {
  color: rgb(134, 134, 134);
}
