/* News Styling */

/* Media Queries */
@media only screen and (max-width: 600px) {
  .card-title-new .author-contact-btn span {
    display: none !important;
  }
  .card-title-new .author-contact-btn i {
    margin-right: 0 !important;
  }
  .card-title-new .card-title-content {
    width: calc(100% - 10px) !important;
  }
  .comments {
    display: none;
  }
}

@media only screen and (max-width: 499px) {
  .card-body {
    flex-direction: column !important;
  }
  .card-reveal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-reveal-text > p:first-child {
    margin-bottom: 0px !important;
  }
  .card-reveal-img {
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 440px) {
  .like a,
  .dislike a {
    margin-right: 10px !important;
  }
  .card .card-action {
    padding: 16px;
  }
}

/* General Display Styling */
.noticias-main-menu-container,
.card-header,
.card-body,
.card-footer,
.card-reveal-header,
.card-reveal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#noticias-main-container {
  min-height: 350px;
}

#noticias-content-container {
  padding-top: 25px;
  flex-wrap: wrap;
}

/* Card Styling */

.card.sticky-action {
  transition: all 0.3s ease-in-out;
  height: auto;
  overflow: auto;
  position: relative;
  flex: calc(50% - 10px);
  min-width: 290px;
  margin: 0.5rem 5px 1rem 5px;
}

.card-header {
  padding: 0;
}

.card-date {
  height: 58px;
  padding: 8px 15px;
  color: #3b3d40;
  border-top-left-radius: 3px;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.card-date > div {
  padding: 0;
  line-height: 1;
}

.card-title-new {
  padding: 0 15px;
  width: 100%;
}

.card-title-new .card-title-content {
  width: calc(100% - 135px);
  align-items: flex-start;
}

.card-title-new .card-title-content .card-title,
.card-title-new .card-title-content .card-autor {
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
}

.card-title-new > .card-title-content .card-title {
  font-size: 24px;
  color: #26aee4;
  font-weight: 400;
  margin: 0;
}

.card-title-new > .card-title-content .card-title:hover {
  color: #ee6e73;
}

.card-title-new > .card-title-content .card-autor {
  color: #a2a2a2;
  font-style: italic;
  font-weight: 500;
}

.card-title-new > .author-contact-btn {
  color: white;
  text-transform: capitalize;
  padding: 5px 10px;
  height: 33px;
  height: 33px;
  border-radius: 5px;
  line-height: initial;
  justify-content: center;
  white-space: nowrap;
}

.card-title-new .author-contact-btn i {
  height: 23px;
  width: 23px;
  font-size: 19px;
  line-height: 0;
  border-radius: 50px;
  padding: 5px;
  margin-right: 3px;
  justify-content: center;
  flex-flow: 2;
}

.card-img {
  width: 150px;
  min-width: 150px;
}

.card-information {
  padding-left: 15px;
  overflow-y: hidden;
  max-height: 120px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  text-align: justify;
}

.card-footer {
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.card-footer .card-social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.comments a {
  padding: 5px;
  border-radius: 5px;
}

.comments a span {
  text-transform: capitalize;
}

.comments i {
  margin-right: 5px;
}

.card-footer .card-show-more .btn-news {
  width: fit-content;
  border-radius: 5px;
}

.card-footer .card-show-more .btn-news:hover {
  color: aquamarine;
}

#noticias-main-menu {
  width: 100%;
  min-width: 100%;
  height: 75px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #26aee4;
  font-size: 14px;
  box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -moz-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -webkit-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -o-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
  -ms-box-shadow: inset 0px 0px 6px 0px #f2f2f2 !important;
}

/* Input Search Styling */

#noticias-search {
  height: 45px;
  height: 45px;
}

#noticias-search-label-icon,
#noticias-search-label-icon > i,
.noticias-search-close-icon {
  height: 45px;
  line-height: 45px;
  color: rgb(134, 134, 134);
}

#search::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(134, 134, 134);
  opacity: 1 !important;
}

#search:focus {
  color: black;
}

.nav-wrapper .input-field input[type="search"] {
  color: rgb(134, 134, 134);
}

/* News Pagination Styling */
.news-pagination {
  flex: 100%;
}
