<!-- Modal Structure -->
<div
  id="selectUser"
  class="modal border-radius-6 modal-fixed-footer"
  style="
    z-index: 1003;
    display: none;
    opacity: 0;
    top: 4%;
    transform: scaleX(0.8) scaleY(0.8);
  "
>
  <div class="modal-header">
    <!-- Table Filter Box -->
    <div class="card horizontal header-card">
      <div class="card-stacked">
        <div class="card-content">
          <div class="filtro-buscador">
            <div class="buscadorAdminUsers input-field">
              <i class="filter-search material-icons">search</i>
              <i class="filter-close material-icons waves-effect transparent-bg color-default">close</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-content">
    <!-- Table List Container -->
    <div class="row" style="margin: 20px 0 0 0">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <table
                id="select-users-tbl"
                class="row-border hover stripe"
                style="width: 100% !important"
              >
                <thead>
                  <tr>
                    <th class="th-custom-checkbox no-sort all"></th>
                    <th class="all no-sort" style="max-width: 68px !important">
                      User
                    </th>
                    <th>Email</th>
                    <th class="all">Nombre</th>
                    <th>Apellidos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td class="dfr" style="width: fit-content">
                      <label class="custom-checkbox dfr">
                        <input
                          name="userGroup"
                          type="radio"
                          (click)="this.isCheckedFunction(user)"
                        />
                        <span></span>
                      </label>
                    </td>
                    <td
                      style="
                        width: 68px !important;
                        justify-content: space-between;
                      "
                    >
                      <div class="tbl-user-icon centered-img-bg">
                        <img [src]="user?.img | img: 'user'" />
                      </div>
                    </td>
                    <td>{{ user?.email }}</td>
                    <td>{{ user?.firstName }}</td>
                    <td>{{ user?.lastName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-actions">
    <button class="modal-close waves-effect waves-light btn modal-close-action">
      Cancelar
    </button>
    <button
      type="submit"
      class="waves-effect waves-light btn modal-submit-action modal-close"
      [class.button-disabled]="!this.isChecked"
      (click)="this.setData()"
    >
      Seleccionar
    </button>
  </div>
</div>
