<!-- Config General Container -->
<div class="card horizontal perfil-card">
  <div class="card-stacked">
    <form
      ngNativeValidate
      #f="ngForm"
      (ngSubmit)="update(f.value)"
      class="col s12"
    >
      <div class="card-content">
        <div class="row">
          <div class="input-field perfil-input-field col s12 dfr">
            <div
              href="#modal-File-Upload"
              class="upload-img modal-trigger centered-img-bg dfc"
            >
              <img
                [src]="
                  this._imgS.fileUrl
                    ? (this._imgS.fileUrl | img: 'user':true)
                    : ''
                "
                alt=""
              />

              <div
                class="select-img dfr"
                [attr.data-active]="this._imgS.file ? 'on' : 'off'"
              >
                <i
                  class="material-icons"
                  [attr.data-active]="this._imgS.file ? 'on' : 'off'"
                  >camera_alt</i
                >
                <input
                  #userImg
                  type="file"
                  style="display: none;"
                  accept="image/png, image/jpg, image/jpeg"
                  (change)="imageValidation($event)"
                />
              </div>
            </div>
            <div
              class="perfil-input-field-content dfc"
              style="width: calc(100% - 190px);"
            >
              <div class="modal-input modal-input-blue">
                <input
                  id="emailU"
                  name="emailU"
                  [ngModel]="user.email"
                  placeholder=" "
                  email="ngModel"
                  type="email"
                  class="validate"
                  required
                />
                <div
                  class="modal-input-placeholder modal-input-placeholder-blue"
                >
                  Email*
                </div>
              </div>
              <div class="modal-input modal-input-blue">
                <input
                  placeholder=" "
                  id="firstName"
                  name="firstName"
                  [ngModel]="user?.firstName"
                  type="text"
                  class="validate"
                  required
                />
                <div
                  class="modal-input-placeholder modal-input-placeholder-blue"
                >
                  Nombre(s)*
                </div>
              </div>
              <div class="modal-input modal-input-blue">
                <input
                  placeholder=" "
                  id="lastName"
                  name="lastName"
                  [ngModel]="user?.lastName"
                  type="text"
                  class="validate"
                  required
                />
                <div
                  class="modal-input-placeholder modal-input-placeholder-blue"
                >
                  Apellidos*
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="input-field col s12"></div> -->
          <!-- <div class="input-field col s12"></div> -->
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                placeholder=" "
                id="cellPhone"
                name="cellPhone"
                [ngModel]="user?.cellPhone"
                type="text"
                class="validate"
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Telefono
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <div class="modal-input modal-input-blue">
              <input
                placeholder=" "
                id="address"
                name="address"
                [ngModel]="user?.address"
                type="text"
                class="validate"
              />
              <div class="modal-input-placeholder modal-input-placeholder-blue">
                Domicilio
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action perfil-card-action">
        <button
          class="btn waves-effect waves-light gradient-45deg-dark-blue"
          type="submit"
          name="action"
          [class.button-disabled]="!f.valid"
        >
          Guardar Cambios
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>