<!-- Config General Container -->
<div class="card horizontal perfil-card">
  <div class="card-stacked">
    <div class="profile-container">
      <perfect-scrollbar
        class="scroll-container"
        fxFlex="auto"
        [config]="config"
        [scrollIndicators]="false"
      >
        <div class="scrollable-content dfr">
          <div class="profile-personal-data-container profile-card dfc">
            <div class="profile-data-header dfr">
              <i class="fas fa-user-circle big-icon"></i>
              <span>Imágen de perfil</span>
            </div>
            <div
              class="profile-image-container"
              matTooltip="Cambiar imagen de perfil"
              matTooltipPosition="below"
            >
              <div
                class="profile-image-fake-bg"
                (click)="userProfileClientImg.click()"
              ></div>
              <div class="profile-image centered-img-bg">
                <img [src]="user?.img | img: 'user'" />
              </div>
              <div
                class="profile-image-upload dfc"
                [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
                (click)="userProfileClientImg.click()"
              >
                <i
                  class="material-icons"
                  [attr.data-active]="this._cloudinaryS.image ? 'on' : 'off'"
                  >camera_alt</i
                >
                <input
                  #userProfileClientImg
                  type="file"
                  ng2FileSelect
                  [uploader]="this._cloudinaryS.uploader"
                  style="display: none"
                  accept="image/png, image/jpg, image/jpeg"
                  (onFileSelected)="this.updateImage()"
                />
              </div>
            </div>
          </div>
          <div class="profile-data-inputs-container dfc">
            <form
              ngNativeValidate
              #fClient="ngForm"
              (ngSubmit)="updateClient(fClient.value)"
              class="col s12"
            >
              <div class="profile-data-inputs-content client profile-card dfc">
                <div class="profile-data-header dfr">
                  <i class="fas fa-user-edit"></i>
                  <span>Información personal</span>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        placeholder=" "
                        id="firstName"
                        name="firstName"
                        [ngModel]="user?.firstName"
                        type="text"
                        class="validate"
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Nombre(s)*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        placeholder=" "
                        id="lastName"
                        name="lastName"
                        [ngModel]="user?.lastName"
                        type="text"
                        class="validate"
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Apellidos*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="emailU"
                        name="emailU"
                        [ngModel]="user?.email"
                        placeholder=" "
                        email="ngModel"
                        type="email"
                        class="validate"
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Email*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        placeholder=" "
                        id="cellPhone"
                        name="cellPhone"
                        [ngModel]="user?.cellPhone"
                        type="text"
                        class="validate"
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Telefono
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        placeholder=" "
                        id="address"
                        name="address"
                        [ngModel]="user?.address"
                        type="text"
                        class="validate"
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Domicilio
                      </div>
                    </div>
                  </div>
                </div>
                <!--Save Data Button -->
                <div class="item-add-container profile-data-save-container">
                  <button
                    mat-icon-button
                    type="submit"
                    name="action"
                    class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
                    [class.button-disabled]="!fClient.valid"
                    matTooltip="Guardar cambios"
                    matTooltipPosition="above"
                  >
                    <i class="material-icons">save</i>
                  </button>
                </div>
              </div>
            </form>
            <form
              ngNativeValidate
              #fA="ngForm"
              (ngSubmit)="updatePass(fA)"
              class="col s12"
            >
              <div class="profile-data-inputs-content client profile-card dfc">
                <div class="profile-data-header dfr">
                  <i class="fas fa-user-lock"></i>
                  <span>Seguridad</span>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="passAct"
                        name="passAct"
                        [ngModel]="passAct"
                        type="password"
                        class="validate"
                        placeholder=" "
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Contraseña actual*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="passNew"
                        name="passNew"
                        [ngModel]="passNew"
                        type="password"
                        class="validate"
                        placeholder=" "
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Contraseña nueva*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <div class="modal-input modal-input-blue">
                      <input
                        id="passNewR"
                        name="passNewR"
                        [ngModel]="passNewR"
                        type="password"
                        class="validate"
                        placeholder=" "
                        required
                      />
                      <div
                        class="modal-input-placeholder modal-input-placeholder-blue"
                      >
                        Repetir contraseña nueva*
                      </div>
                    </div>
                  </div>
                </div>
                <!--Save Data Button -->
                <div class="item-add-container profile-data-save-container">
                  <button
                    type="submit"
                    name="action"
                    mat-icon-button
                    class="item-add-button primary-text gradient-45deg-orange gradient-shadow dfc"
                    [class.button-disabled]="!fA.valid"
                    matTooltip="Guardar cambios"
                    matTooltipPosition="above"
                  >
                    <i class="material-icons">save</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
