<div class="card horizontal perfil-card">
  <div class="card-image"></div>
  <div class="card-stacked">
    <form
      ngNativeValidate
      #f="ngForm"
      (ngSubmit)="actualizar(f.value)"
      class="col s12"
    >
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <input
              placeholder="Email"
              id="emailU"
              name="emailU"
              [ngModel]="usuario.email"
              type="email"
              class="validate"
              required
            />
            <label for="emailU" class="active">Email</label>
          </div>
          <div class="input-field col s12">
            <input
              placeholder="Nombre(s)"
              id="firstName"
              name="firstName"
              [ngModel]="usuario.firstName"
              type="text"
              class="validate"
              required
            />
            <label for="firstName" class="active">Nombre(s)</label>
          </div>
          <div class="input-field col s12">
            <input
              placeholder="Apellidos"
              id="lastName"
              name="lastName"
              [ngModel]="usuario.lastName"
              type="text"
              class="validate"
              required
            />
            <label for="lastName" class="active">Apellidos</label>
          </div>
          <div class="input-field col s12">
            <input
              placeholder="Telefono"
              id="cellPhone"
              name="cellPhone"
              [ngModel]="usuario.cellPhone"
              type="text"
              class="validate"
              required
            />
            <label for="cellPhone" class="active">Telefono</label>
          </div>
          <div class="input-field col s12">
            <input
              placeholder="Domicilio"
              id="address"
              name="address"
              [ngModel]="usuario.address"
              type="text"
              class="validate"
              required
            />
            <label for="address" class="active">Domicilio</label>
          </div>
        </div>
      </div>
      <div class="card-action perfil-card-action">
        <button
          class="btn waves-effect waves-light gradient-45deg-dark-blue"
          type="submit"
          name="action"
          [disabled]="!f.valid"
        >
          Guardar Cambios
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
