<div id="modal-Articulo" class="modal border-radius-6" tabindex="0"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
  <div class="modal-content">
    <h5 class="mt-0">Crear nuevo Articulo</h5>
    <hr />
    <div class="row">
      <form class="col s12" ngNativeValidate [formGroup]="form" (ngSubmit)="crear()">
        <div class="input-field col s12">
          <input id="author" name="author" formControlName="author" type="text" class="validate contact-input"
            required />
          <label for="author">Autor</label>
        </div>
        <div class="input-field col s12">
          <label for="content">Contenido*</label>
          <angular-editor formControlName="content" (viewMode)="true" [config]="editorConfig"></angular-editor>
        </div>
        <div class="input-field col s12">
          <input id="title" name="title" formControlName="title" type="text" class="validate contact-input" />
          <label for="title">Titulo</label>
        </div>
        <button type="submit" id="contact-submit-button" class="waves-effect waves-light btn">
          Crear
        </button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    
  </div>
</div>