<app-expedientes-form></app-expedientes-form>

<div style="margin-left: 20px;">
  <a
    class="btn waves-effect waves-light primary-text blue darken-1"
    (click)="generarClave()"
  >
    <span>Generar Clave</span>
  </a>
  <span class="clave-generada" style="margin-left: 20px; font-size: 18px;">Clave Generada</span>
</div>

<div
  style="bottom: 54px; right: 19px; z-index: 999;"
  class="fixed-action-btn direction-top active"
>
  <a
    class="btn-floating btn-large primary-text pink accent-2 gradient-shadow modal-trigger"
    href="#modal-Expediente"
  >
    <i class="material-icons">person_add</i>
  </a>
</div>
