<!-- Tabla Listado Expedientes -->
<table
  datatable
  id="files-tbl"
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover stripe"
  style="width: 100%"
>
  <thead>
    <tr>
      <th class="files-tbl-intKey-th">Clave Interna</th>
      <th class="files-tbl-extKey-th">Clave Externa</th>
      <th class="files-tbl-client-th">Cliente Asignado</th>
      <th class="files-tbl-affair-th">Asunto</th>
      <th class="files-tbl-actor-th">Actor(es)</th>
      <th class="files-tbl-defendant-th">Demandado(s)</th>
      <th class="files-tbl-third-th">Terceros</th>
      <th class="files-tbl-acc-th all no-sort">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expediente of expedientes">
      <!-- Files IntKey -->
      <td class="files-tbl-intKey-td t-o-h">{{ expediente.intKey }}</td>
      <!-- Files ExtKey -->
      <td class="files-tbl-extKey-td t-o-h">{{ (expediente?.extKey !== '' ? expediente?.extKey : 'N/E') }}</td>
      <!-- Files Assigned Client -->
      <td class="files-tbl-client-td t-o-h">
        {{
          expediente.assigned_client?.firstName +
            " " +
            expediente.assigned_client?.lastName
        }}
      </td>
      <!-- Files Affair -->
      <td class="files-tbl-affair-td">{{ expediente.affair }}</td>
      <!-- Files Actor -->
      <td class="files-tbl-actor-td">{{ expediente.actor }}</td>
      <!-- Files Defendant -->
      <td class="files-tbl-defendant-td">{{ expediente.defendant }}</td>
      <!-- Files Thirds -->
      <td class="files-tbl-third-td">{{ expediente.third }}</td>
      <!-- Files Actions -->
      <td class="files-tbl-acc-td">
        <!-- Actions Dropdown Trigger -->
        <button
          class="btn tbl-action-button waves-effect waves-light indigo darken-1"
          mat-icon-button
          [matMenuTriggerFor]="actionsMenu"
        >
          <i class="material-icons">more_vert</i>
        </button>
        <!-- Actions Dropdown -->
        <mat-menu #actionsMenu="matMenu" xPosition="before">
          <ng-template matMenuContent>
            <div class="dfc">
              <button
                class="modal-trigger"
                mat-menu-item
                href="#modal-Expediente"
                (click)="sendId(expediente._id)"
              >
                <i class="material-icons" style="color: #ff4081;">edit</i>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="borrarExpediente(expediente)">
                <i class="material-icons" style="color: #ff4081;">delete</i>
                <span>Eliminar</span>
              </button>
              <button mat-menu-item>
                <i class="material-icons" style="color: #ff4081;"
                  >star_border</i
                >
                <span>Favorito</span>
              </button>
            </div>
          </ng-template>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Open Modal Button Trigger -->
<div
  style="bottom: 61px; right: 19px; z-index: 999;"
  class="fixed-action-btn direction-top active"
>
  <a
    class="btn-floating btn-large primary-text pink accent-2 gradient-shadow modal-trigger"
    href="#modal-Expediente"
  >
    <i class="material-icons">contact_mail</i>
  </a>
</div>
