/* - - - - - - - - - - - - - - - - - |
/*        GLOBAL MEDIA QUERIES       |
/* - - - - - - - - - - - - - - - - - |

/* Global Media Queries */
@media (min-width: 900px) {
  .sidenav-overlay {
    display: none !important;
    opacity: 0 !important;
  }
}
/* @media only screen and (max-width: 992px) {
  .sidenav-overlay {
    z-index: 995;
  }
} */
@media only screen and (max-width: 899px) {
  .sidebar
    .sidebar-content
    .sidebar-header
    .sidebar-details
    .sidebar-cuantity
    .sidebar-cuantity-text {
    display: none !important;
  }
  .ng-scroll-content {
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info {
    margin: auto;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin: auto;
    padding: 0 0 10px 0 !important;
  }
}

/* - - - - - - - - - - - - - - - - - |
/*            GLOBAL FONTS           |
/* - - - - - - - - - - - - - - - - - |

/* Roboto Regular */
@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

/* - - - - - - - - - - - - - - - - - |
/*            GLOBAL CLASES          |
/* - - - - - - - - - - - - - - - - - |*/

html,
body {
  height: 100%;
}

/* Global Font */
html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ff-tss {
  font-family: "Titillium Web", sans-serif;
}

.ff-ss {
  font-family: sans-serif;
}

.ff-rr {
  font-family: "Roboto Regular";
}

/* Global Styling Clases */

/* Links Hover Styling */
a:hover {
  color: #ee6e73;
}

/* Positive 45Deg Light-Blue Gradient */
.gradient-pos-45deg-light-blue {
  background: linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: -moz-linear-gradient(45deg, #0288d1, #26c6da) !important;
}

/* Negative 45Deg Light-Blue Gradient */
.gradient-neg-45deg-light-blue {
  background: linear-gradient(-45deg, #0288d1, #26c6da) !important;
  background: -moz-linear-gradient(-45deg, #0288d1, #26c6da) !important;
}

/* 45Deg Normal-Blue Gradient */
.gradient-45deg-normal-blue {
  background: linear-gradient(45deg, #0288d1, #099ed9) !important;
  background: -moz-linear-gradient(45deg, #0288d1, #099ed9) !important;
}

/* 45Deg Dark-Blue Gradient */
.gradient-45deg-dark-blue {
  background: linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(-45deg, #303f9f, #1976d2) !important;
}

/* 45Deg Dark-Blue Gradient */
.gradient-pos-45deg-dark-blue {
  background: linear-gradient(45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #1976d2) !important;
}

/* 45Deg Indigo-Purple Gradient */
.gradient-45deg-indigo-purple {
  background: #303f9f;
  background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -moz- oldlinear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -o-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
}

small {
  font-size: 0.8rem;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #333;
}

.m-0 {
  margin: 0 !important;
}

.mr-2 {
  margin-right: 2% !important;
}

.mt-10 {
  margin-top: 10% !important;
}

p {
  font-family: "Muli", sans-serif;
}

.pt-2 {
  padding-top: 2% !important;
}

.pt-141 {
  padding-top: 141px;
}

.pr {
  position: relative;
}

.delay-1 {
  -webkit-animation-delay: 0.3s !important;
  -moz-animation-delay: 0.3s !important;
  -o-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}

.display-grid {
  display: grid;
}

.dfc {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.dfr {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.border-radius-6 {
  border-radius: 6px;
}

/* Button Disabled Styling */

.button-disabled {
  background: rgba(0, 0, 0, 0.09) !important;
  color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

button[disabled] {
  background: rgba(0, 0, 0, 0.09) !important;
  color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

/* Font Awesome Icons Styling */
.font-awesome-icons {
  font-size: 22px;
  height: 24px;
  width: 34px;
}

/* Global Animation */
.animate.fadeLeft {
  -webkit-animation: fadeLeft;
  -moz-animation: fadeLeft;
  -o-animation: fadeLeft;
  animation: fadeLeft;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* - - - - - - - - - - - - - - - - - - |
/*         GLOBAL OVERLAY INDEX        |
/* - - - - - - - - - - - - - - - - - - |*/

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

/* - - - - - - - - - - - - - - - - - |
/*        CUSTOM SCROLLBAR           |
/* - - - - - - - - - - - - - - - - - |*/

/* Scroll Y */
.custom-scroll-y {
  overflow-y: overlay;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Scrollbar Track */
.custom-scroll-y::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Scrollbar */
.custom-scroll-y::-webkit-scrollbar {
  width: 11px;
  height: 18px;
  overflow: overlay;
  position: absolute;
  background: transparent;
  opacity: 0;
  box-shadow: none;
  border: none;
}

.custom-scroll-y::-webkit-scrollbar-track-piece:start {
  background-color: transparent;
}

.custom-scroll-y::-webkit-scrollbar-track-piece:end {
  background-color: transparent;
}

/* Scrollbar Thumb */
.custom-scroll-y::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 7px;
  position: absolute;
}

.custom-scroll-y:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: #1e88e5;
}

/* - - - - - - - - - - - - - - - - - - |
/*        GLOBAL CUSTOM CHECKBOX       |
/* - - - - - - - - - - - - - - - - - - |*/

.th-custom-checkbox {
  width: 50px !important;
}

.custom-checkbox {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.custom-checkbox span::before,
.custom-checkbox span::after {
  opacity: 0.5;
  border-radius: 4px !important;
}

[type="checkbox"] + span:not(.lever):before {
  width: 20px !important;
  height: 20px !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px !important;
  height: 22px !important;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  border-top: 2px solid transparent;
  border-right: 2px solid #ff4081;
  border-bottom: 2px solid #ff4081;
  border-left: 2px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* - - - - - - - - - - - - - - - - - - |
/*  CLIENT VIEW SOCIAL MEDIA STYLING   |
/* - - - - - - - - - - - - - - - - - - |

/* Social Network Options*/
.social-media-item {
  position: relative;
  line-height: initial;
  width: 42px;
  height: 40px;
  overflow: hidden;
  display: flex;
  margin: 0 1px;
  padding: 0;
  background: transparent;
  box-shadow: none !important;
  color: #949ba1;
}

.social-media-item > i {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}

.social-media-item > a {
  padding: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: currentColor;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.social-media-item:hover > a {
  transform: translateX(-100%);
  box-shadow: none;
}

.social-media-item > a > i {
  text-align: center;
  font-size: 16px;
  line-height: 0;
  height: fit-content;
  width: 42px;
}

.social-network {
  margin: 0;
}

.social-hidden {
  color: white !important;
}

/* Social Network Tooltips*/
.material-tooltip {
  font-size: 12px;
  top: 37px !important;
  padding: 2px 8px 5px;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.7);
  height: fit-content;
  line-height: initial;
  min-height: fit-content;
  border-radius: 3px;
  overflow: visible;
  border: none;
}

.material-tooltip::before {
  display: block;
  z-index: 1000;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  justify-content: center;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

/* Redes Sociales Styling*/
#Facebook:hover {
  color: white;
  background: #3b5998;
  transition: background-color 0.3s ease-in;
}

#Google:hover {
  color: white;
  background: #d24a30;
  transition: background-color 0.3s ease-in;
}

#LinkedIn:hover {
  color: white;
  background: #005886;
  transition: background-color 0.3s ease-in;
}

#Twitter:hover {
  color: white;
  background: #35c9f9;
  transition: background-color 0.3s ease-in;
}

#Youtube:hover {
  color: white;
  background: #cb322c;
  transition: background-color 0.3s ease-in;
}

/* - - - - - - - - - - - - - - - - - - |
/*  GLOBAL BLUE WAVES EFFECT STYLING   |
/* - - - - - - - - - - - - - - - - - - |

/* Waves Styling Effect */
.waves-effect.waves-blue .waves-ripple {
  background-color: #26aee4;
}

/* Carousel Image Overflow Hidden */
.material-placeholder {
  overflow: hidden;
}

/* - - - - - - - - - - - - - - - - - - |
/*         GLOBAL INPUTS STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Vista Cliente Inputs Margin */
.input-field {
  margin: 5px 0;
}

/* Vista Cliente Input + Label Focus Color */
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="number"]:focus + label,
.input-field input[type="password"]:focus + label,
.materialize-textarea:focus + label {
  color: #26aee4 !important;
}

/* Vista Cliente Label Underline Focus Color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="number"]:focus,
.input-field input[type="password"]:focus,
.materialize-textarea:focus {
  border-bottom: 1.5px solid #26aee4 !important;
  box-shadow: none !important;
}

/* Vista Admin Label Underline Focus Color */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-bottom: 1px solid #ff4081 !important;
  box-shadow: 0 1px 0 0 #ff4081 !important;
}

/* Valid Color */
.input-field input[type="text"].valid,
.input-field input[type="email"].valid,
.input-field input[type="number"].valid,
.input-field input[type="password"].valid,
.materialize-textarea.valid {
  border-bottom: 1.5px solid #26aee4 !important;
  box-shadow: none !important;
}
/* Invalid Color */
.input-field input[type="text"].invalid,
.input-field input[type="email"].invalid,
.input-field input[type="number"].invalid,
.input-field input[type="password"].invalid,
.materialize-textarea.invalid {
  border-bottom: 1.5px solid #e45c26 !important;
  box-shadow: none !important;
}

/* - - - - - - - - - - - - - - - - - - |
/*   GLOBAL PERFIL DROPDOWN STYLING    |
/* - - - - - - - - - - - - - - - - - - |

/* Admin / Client Perfil Dropdown Styling */
#profile-dropdown,
.perfilMenu {
  width: 300px;
  min-width: 300px;
  overflow: hidden;
}

.perfil-info {
  padding: 16px;
}

.perfil-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.perfil-text {
  align-items: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.perfil-text .perfil-name {
  font-weight: 600;
  font-size: 17px;
}

.perfil-text .perfil-email {
  font-size: 14px;
}

.perfil-text .perfil-name,
.perfil-text .perfil-email {
  line-height: 1.5rem;
}

/* - - - - - - - - - - - - - - - - - - |
/*         ADMIN SIDEBAR STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Admin Sidebar Styling */
.sidebar-title {
  color: white;
}

.sidebar-title i {
  font-size: 2.3rem;
  vertical-align: bottom;
}

/* - - - - - - - - - - - - - - - - - - |
/*         GLOBAL TABLES STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Tables Styling */
table {
  border-color: rgba(0, 0, 0, 0.12) !important;
  /* width: 100% !important; */
  margin-bottom: 5px !important;
}

table thead th {
  font-weight: 300 !important;
  padding: 17px 14px !important;
  white-space: nowrap;
  border-bottom: 1px solid #cfd8dc !important;
  color: #616161;
}

tbody {
  font-family: Muli, sans-serif !important;
  font-weight: 300;
  line-height: 1.5;
  color: #6b6f82;
}

tr {
  border-bottom: none !important;
}

td {
  padding: 17px 14px !important;
  white-space: nowrap;
  border: none !important;
}

/* - - - - - - - - - - - - - - - - - - |
/*       GLOBAL DATATABLES STYLING     |
/* - - - - - - - - - - - - - - - - - - |

/* Angular Datatables Styling */

.dataTables_info {
  margin-left: 18px;
  color: #616161 !important;
}

.dataTables_paginate {
  margin-right: 3.8rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.25em 0.65em;
}

.datatables_wrapper.datatables_paginate.paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #2196f3;
  border-radius: 6px;
  background: linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -webkit-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -o-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  box-shadow: 0 0 8px 0 #2196f3;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #2196f3;
  border-radius: 6px;
  background: linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -webkit-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -o-linear-gradient(-45deg, #303f9f, #1976d2) !important;
  box-shadow: 0 0 8px 0 #2196f3;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  border: 1px solid #2196f3;
  border-radius: 6px;
  background: #2196f3;
  box-shadow: 0 0 8px 0 #2196f3;
}

.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 10px;
}

.dataTables_wrapper .dataTables_filter label input {
  background-image: url(../src/assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 0px center !important;
  background-size: 20px;
  padding-left: 30px;
  width: 100%;
  max-width: calc(100% - 50px);
  border-bottom: none;
  caret-color: #2196f3;
}

.dataTables_wrapper .dataTables_filter label input:focus,
.dataTables_wrapper .dataTables_filter label input:active {
  border-bottom: none !important;
  box-shadow: none !important;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  line-height: 15px;
  top: 19px;
  text-indent: -1px !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  position: relative;
  padding-left: 30px !important;
  cursor: pointer;
}

.dataTables_scrollBody > table > thead > tr {
  visibility: collapse;
  height: 0px !important;
}

.dataTables_scrollHead {
  height: 61px;
  border-bottom: 1px solid #d8d8d8;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #d8d8d8;
}

/* - - - - - - - - - - - - - - - - - - |
/*    DATATABLES PAGINATION STYLING    |
/* - - - - - - - - - - - - - - - - - - |

/* Datatable Pagination Styling */
.dataTables_wrapper .dataTables_info {
  padding: 15px 0;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 10px;
}

#chat-users-tbl_paginate {
  width: 100%;
  margin: 0 !important;
  text-align: center !important;
  padding: 10px 0 !important;
}

/* - - - - - - - - - - - - - - - - - - |
/*      ADMIN DATATABLES STYLING       |
/* - - - - - - - - - - - - - - - - - - |

/* Datatables Search Box Styling */
.buscadorExpediente .dataTables_filter,
.buscadorAdminFiles .dataTables_filter,
.buscadorAdminUsers .dataTables_filter {
  height: 100%;
  width: 100%;
}

.buscadorExpediente .dataTables_filter label input,
.buscadorAdminFiles .dataTables_filter label input,
.buscadorAdminUsers .dataTables_filter label input {
  color: white;
  height: 100%;
  width: calc(100% - 50px);
  border: none;
  padding-right: 15px;
  padding-left: 35px;
  margin: 0;
  box-shadow: none;
  border-radius: 2px;
}

.buscadorExpediente .dataTables_filter label input {
  background: linear-gradient(-45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(-45deg, #303f9f, #1976d2) !important;
}

.buscadorExpediente .dataTables_filter label input:focus {
  background: white !important;
}

.buscadorAdminFiles .dataTables_filter label input,
.buscadorAdminUsers .dataTables_filter label input {
  background: rgba(230, 230, 230, 0.3);
}

.buscadorExpediente .dataTables_filter label input::placeholder,
.buscadorAdminFiles .dataTables_filter label input::placeholder,
.buscadorAdminUsers .dataTables_filter label input::placeholder {
  color: white;
  opacity: 1;
}

.buscadorExpediente:focus-within i,
.buscadorAdminFiles:focus-within i,
.buscadorAdminUsers:focus-within i {
  color: rgba(0, 0, 0, 0.5) !important;
}

.buscadorExpediente .dataTables_filter label input:focus::placeholder,
.buscadorAdminFiles .dataTables_filter label input:focus::placeholder,
.buscadorAdminUsers .dataTables_filter label input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Mensajes Datatable Styling */
#chat-users-tbl_filter {
  width: 100%;
}

#chat-users-tbl_filter label input {
  margin: 0;
  border-bottom: none;
}

#chat-users-tbl_filter label input:focus {
  border-bottom: none;
  box-shadow: none;
}

#chat-users-tbl_wrapper {
  height: 100%;
  width: calc(100% + 11px);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* - - - - - - - - - - - - - - - - - - |
/*      CLIENT VIEW NAVBAR STYLING     |
/* - - - - - - - - - - - - - - - - - - |

/* Navbar Dropdown Styling */
.dropdown-content li > a,
.dropdown-content li > span {
  color: #26aee4;
}

.mat-menu-panel {
  max-width: fit-content !important;
}

.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-menu-content button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #757575;
}

.mat-menu-content button:focus,
.mat-menu-content button:active {
  background: none;
}

.mat-menu-content button span:first-child {
  width: inherit;
}

.mat-menu-content button i {
  padding-right: 5px;
}

span.badge {
  border-radius: 10px;
  color: white;
  min-width: fit-content;
}

span.badge.new:after {
  content: " nuevas";
}

.mat-button-focus-overlay {
  background: white;
}

#nav-menu-items > ul > li > button {
  background: none;
  height: 64px;
  border-radius: 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #949ba1;
}

#nav-menu-items > ul > li > button:hover {
  background-color: #e7e7e7;
}

#nav-menu-items > ul > li > button:hover span {
  color: #26ade4;
}

#mobile-demo
  .ng-star-inserted
  .mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-content {
  background: rgba(241, 241, 241, 0.605);
}

#mobile-demo
  .ng-star-inserted
  .mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header {
  padding: 0 32px;
}

#mobile-demo
  .ng-star-inserted
  .mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-content
  .mat-expansion-panel-header-title {
  font-size: 14px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
}

#mobile-demo
  .ng-star-inserted
  .mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-content
  .mat-expansion-panel-header-title
  i {
  color: rgba(0, 0, 0, 0.54);
}

#mobile-demo
  .ng-star-inserted
  .mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-content
  .mat-expansion-panel-body
  ul
  li
  a {
  padding: 0 10px;
}

/* - - - - - - - - - - - - - - - - - - |
/*          DATEPICKER STYLING         |
/* - - - - - - - - - - - - - - - - - - |

/* DatePicker Styling */
.month-prev:focus,
.month-next:focus {
  background-color: #26aee4;
}

.datepicker-date-display {
  background-color: #26aee4;
}

.datepicker-table td.is-today {
  color: #26aee4;
}

.datepicker-table td.is-selected {
  background-color: #26aee4;
  color: white;
}

.datepicker-table thead th {
  padding: 10px 5px !important;
}

.datepicker-table td {
  padding: 0 !important;
}

.datepicker-table td:focus {
  background-color: red !important;
  color: red !important;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  text-transform: capitalize;
  color: #26aee4;
}

/* - - - - - - - - - - - - - - - - - - |
/*  ADMIN VIEW ANGULAR EDITOR STYLING  |
/* - - - - - - - - - - - - - - - - - - |

/* Admin Angular Editor Styling */
.articuloEditor .angular-editor {
  margin: 10px 0 5px 0;
}

.angular-editor-textarea:focus {
  outline-color: #ff4081 !important;
}

/* - - - - - - - - - - - - - - - - - - - - - |
/*  CLIENT VIEW LIKE/DISLIKE BUTTONS STYLING |
/* - - - - - - - - - - - - - - - - - - - - - |

/* Like and Dislike Thumbs Styling */

.like,
.dislike {
  color: rgb(144, 144, 144);
}

.like a,
.dislike a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like i,
.dislike i {
  font-size: 22px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - |
/*       CLIENT VIEW USER ICON STYLING       |
/* - - - - - - - - - - - - - - - - - - - - - |
/* User Icon */
.user-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 8px;
  overflow: hidden;
}

.user-icon img {
  width: 100%;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - |
/*      CLIENT VIEW PERFIL CARD STYLING      |
/* - - - - - - - - - - - - - - - - - - - - - |
/* User Icon */
.perfil-card {
  border-radius: 6px;
}

.perfil-card-action {
  display: flex;
  flex-direction: row-reverse;
}

.perfil-card-action button {
  text-transform: capitalize;
  font-weight: 500;
  color: white;
}

.perfil-card-action button:hover {
  color: aquamarine;
}
