<div style="height: 100%;">
  <!-- Client View NavBar Container -->
  <app-navbar *ngIf="!this.router.url.includes('perfil')"></app-navbar>

  <!-- Client View Main Container -->
  <router-outlet></router-outlet>

  <!-- Client View Footer Container -->
  <app-footer
    *ngIf="
      this.router.url !== '/contacto' && !this.router.url.includes('perfil')
    "
  ></app-footer>

  <!-- WhatsApp Button Trigger -->
  <div
    *ngIf="!this.router.url.includes('perfil')"
    class="fixed-action-btn direction-top active"
    style="bottom: 54px; right: 19px; z-index: 997;"
  >
    <a
      id="btn-whatsapp"
      class="btn-floating btn-large primary-text gradient-shadow btn-whatsapp pulse"
      ><i class="fab fa-whatsapp"></i
    ></a>
  </div>

  <!-- WhatsApp Dialog Container -->
  <div
    *ngIf="!this.router.url.includes('perfil')"
    class="card horizontal whatsAppCard"
  >
    <div class="card-stacked">
      <div class="card-title">
        <i class="fab fa-whatsapp"></i>WhatsApp
        <div class="btn-whatsApp-close">
          <i _ngcontent-mob-c3="" class="material-icons">close </i>
        </div>
      </div>
      <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="enviar()">
          <div class="row">
            <div class="input-field col s12 whatsAppMessage">
              <!-- <input
                id="message"
                type="text"
                name="message"
                formControlName="message"
                class="validate"
              /> -->
              <textarea
                class="materialize-textarea whatsApp-input ng-pristine ng-valid ng-touched validate"
                formcontrolname="message"
                id="message"
                name="message"
                ng-reflect-name="message"
                placeholder="Enscribe un mensaje"
              ></textarea>
            </div>
          </div>
          <div class="card-action">
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >
              <i class="material-icons right">send</i>
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
