<mat-sidenav-container class="sidenav-container">
  <!-- Main Site SideNav -->
  <mat-sidenav #mainSidenav mode="push" class="main-site-sidenav dfc">
    <ul class="sidenav-main nav-collapsible" id="main-client-sidebar">
      <!-- Sidebar Logo -->
      <li class="sidenav-logo dfc">
        <div class="sidenav-logo-after"></div>
        <div class="sidenav-logo-wrapper">
          <a
            class="brand-logo darken-1 dfc"
            routerLink="/inicio"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <img
              [src]="
                this.isDarkThemeActive
                  ? '../../../assets/images/brand.png'
                  : '../../../assets/images/brand_black.png'
              "
              alt="site logo"
            />
          </a>
        </div>
      </li>
      <div class="sidenav-options-container">
        <!-- Home Option -->
        <li [attr.data-active]="this.router.url === '/inicio' ? 'on' : 'off'">
          <a
            routerLink="/inicio"
            class="sidenav-option"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <i class="material-icons">home</i>
            <span>Inicio</span>
          </a>
        </li>
        <!-- About Us Option -->
        <li [attr.data-active]="this.router.url === '/nosotros' ? 'on' : 'off'">
          <a class="sidenav-option" [matMenuTriggerFor]="mobileUsMenu">
            <i class="fas fa-users"></i>
            <span>Nosotros</span>
          </a>
          <!-- Dropdown Content -->
          <mat-menu class="mainMenu" #mobileUsMenu="matMenu" xPosition="after">
            <div
              class="notificationsMenu us normalMenu"
              (click)="$event.stopPropagation()"
            >
              <button mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span
                      class="fas fa-bullseye icon-bg-circle small dfc"
                    ></span>
                    <span> Misión </span>
                  </div>
                </div>
              </button>
              <button mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="far fa-eye icon-bg-circle small dfc"></span>
                    <span>Visión</span>
                  </div>
                </div>
              </button>
              <button mat-menu-item>
                <div class="notificationMenu-item">
                  <div class="notificationMenu-item-content">
                    <span class="fas fa-hands icon-bg-circle small dfc"></span>
                    <span>Valores</span>
                  </div>
                </div>
              </button>
            </div>
          </mat-menu>
        </li>
        <!-- Lawyers Option -->
        <li
          [attr.data-active]="
            this.router.url === '/abogados' ||
            this.router.url.includes('abogado-detalle')
              ? 'on'
              : 'off'
          "
        >
          <a
            routerLink="/abogados"
            class="sidenav-option"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <i class="fas fa-user-tie"></i>
            <span>Abogados</span>
          </a>
        </li>
        <!-- Practice Areas Option -->
        <li
          [attr.data-active]="
            this.router.url === '/areas-practica' ||
            this.router.url.includes('area-detalle')
              ? 'on'
              : 'off'
          "
        >
          <a
            routerLink="/areas-practica"
            class="sidenav-option"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <i class="fas fa-gavel"></i>
            <span class="small-text">Áreas de práctica</span>
          </a>
        </li>
        <!-- Posts Option -->
        <li
          [attr.data-active]="
            this.router.url === '/articulos' ||
            this.router.url.includes('articulo-detalle')
              ? 'on'
              : 'off'
          "
        >
          <a
            routerLink="/articulos"
            class="sidenav-option"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <i class="material-icons">import_contacts</i>
            <span>Articulos</span>
          </a>
        </li>
        <!-- Contact Option -->
        <li [attr.data-active]="this.router.url === '/contacto' ? 'on' : 'off'">
          <a
            routerLink="/contacto"
            class="sidenav-option"
            (click)="scrollToTop(); toogleMainSidenav()"
          >
            <i class="material-icons">contact_phone</i>
            <span>Contacto</span>
          </a>
        </li>
        <!-- Sidebar Option -->
        <!-- <li [attr.data-active]="this.router.url === '/blog' ? 'on' : 'off'">
           <a routerLink="/blog" class="sidenav-close" (click)="scrollToTop()"
            >Blog</a>
        </li> -->
        <!-- Sidebar Option -->
        <!-- <li
          [attr.data-active]="this.router.url === '/transparencia' ? 'on' : 'off'"
          >
          <a
            routerLink="/transparencia"
            class="sidenav-close"
            (click)="scrollToTop()"
            >Transparencia</a
          >
        </li> -->
      </div>
    </ul>
  </mat-sidenav>

  <!-- Chat Sidenav -->
  <mat-sidenav
    #mainChatSidenav
    mode="over"
    position="end"
    [autoFocus]="false"
    class="chat-sidenav"
  >
    <app-chat-sidenav *ngIf="this._usersS.isLogged()"></app-chat-sidenav>
  </mat-sidenav>

  <!-- Main Site Content -->
  <mat-sidenav-content>
    <!-- Client View NavBar Container -->
    <app-navbar *ngIf="!this.router.url.includes('perfil')"></app-navbar>

    <!-- Client View Main Container -->
    <router-outlet></router-outlet>

    <!-- Client View Footer Container -->
    <app-footer *ngIf="!this.router.url.includes('perfil')"></app-footer>

    <!-- WhatsApp Button Trigger -->
    <div
      *ngIf="
        !this.router.url.includes('perfil') &&
        !this.router.url.includes('articulo-detalle') &&
        this.router.url !== '/articulos' &&
        this.router.url !== '/abogados' &&
        !this.router.url.includes('abogado-detalle')
      "
      class="fixed-action-btn direction-top active"
      style="bottom: 90px; right: 20px; z-index: 997"
    >
      <a
        id="btn-whatsapp"
        class="btn-floating btn-large primary-text gradient-shadow btn-whatsapp"
        href="https://api.whatsapp.com/send?phone=523481036143&text=Hola Haizen, &nbsp;podrían&nbsp;ayudarme?"
        target="_blank"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
      <!-- <a
        id="btn-whatsapp"
        class="btn-floating btn-large primary-text gradient-shadow btn-whatsapp pulse"
        ><i class="fab fa-whatsapp"></i
      ></a> -->
    </div>

    <!-- WhatsApp Dialog Container -->
    <div
      *ngIf="
        !this.router.url.includes('perfil') &&
        !this.router.url.includes('articulo-detalle') &&
        this.router.url !== '/articulos' &&
        this.router.url !== '/abogados' &&
        !this.router.url.includes('abogado-detalle')
      "
      class="card horizontal whatsAppCard"
    >
      <div class="card-stacked">
        <div class="card-title">
          <i class="fab fa-whatsapp"></i>WhatsApp
          <div class="btn-whatsApp-close">
            <i _ngcontent-mob-c3="" class="material-icons">close </i>
          </div>
        </div>
        <div class="card-content">
          <form [formGroup]="form" (ngSubmit)="sendM()">
            <div class="row">
              <div class="input-field col s12 whatsAppMessage">
                <textarea
                  class="materialize-textarea whatsApp-input ng-pristine ng-touched"
                  formcontrolname="message"
                  id="message"
                  name="message"
                  ng-reflect-name="message"
                  placeholder="Enscribe un mensaje"
                ></textarea>
              </div>
            </div>
            <div class="card-action">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                <i class="material-icons right">send</i>
                Enviar
              </button>
            </div>
          </form>
          <div class="whatsApp-bg centered-img-bg">
            <img src="../../assets/images/whatsApp_appi_bg.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
