<!-- Modal Structure -->
<mat-dialog-content class="mat-typography admin-modal-container files-modal">
  <!-- Modal Content -->
  <div class="modal-content admin-modal-content">
    <!-- Close Modal -->
    <i
      mat-dialog-close
      class="modal-exit attached-files material-icons normal-orange waves-effect waves-light dfr"
      >close</i
    >
    <app-evidences></app-evidences>
  </div>

  <!-- <div class="modal-footer modal-actions admin-modal-footer">
    <ng-container>
      <div class="modal-actions-container dfr">
        <div class="modal-actions-content">
          <button
            type="button"
            class="waves-effect waves-light btn modal-close-action"
            mat-dialog-close
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="waves-effect waves-light btn modal-submit-action"
          >
            Guardar
          </button>
        </div>
      </div>
    </ng-container>
  </div> -->
</mat-dialog-content>
