<!-- Modal Structure -->
<mat-dialog-content class="mat-typography admin-modal-container files-modal">
  <!-- Modal Content -->
  <div
    class="modal-content admin-modal-content"
    [attr.data-details]="modalViewType === 'trackingDetails' ? 'true' : 'false'"
  >
    <!-- Close Modal -->
    <i
      mat-dialog-close
      class="modal-exit attached-files transparent-bg color-default material-icons waves-effect waves-light dfr"
      >close</i
    >
    <app-evidences
      [modeV]="modalViewType !== null ? modalViewType : 'select'"
      [currentCase]="modalCurrentCase ? modalCurrentCase : ''"
      [currentTracking]="modalCurrentTracking ? modalCurrentTracking : ''"
    ></app-evidences>
  </div>
</mat-dialog-content>
