/* Media Queries */

@media only screen and (max-width: 672px) {
  #superior-container .container {
    flex-direction: column !important;
    align-items: center;
  }

  #middle-container .footer-image {
    width: 250px !important;
    margin: auto;
  }

  #middle-container .footer-image img {
    position: relative;
  }

  .row .col.s5 {
    width: 100%;
  }

  .row .col.offset-s2 {
    margin-left: 0;
  }

  #middle-container .container {
    flex-direction: column !important;
    margin-bottom: 0;
  }

  #middle-container .container > .col:first-child {
    padding-bottom: 20px;
  }

  #middle-container .middle-content-boxes {
    flex-direction: column-reverse;
  }

  #middle-container .middle-content-box {
    width: 100%;
  }

  #middle-container .middle-content-box:first-child {
    margin-top: 25px;
  }

  .row .col.s6 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .main-footer .container {
    justify-content: center;
  }
}

/* General Styling */
#page-footer {
  color: white;
  z-index: 1;
}

#superior-container,
#middle-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#middle-container .footer-image {
  width: 200px;
}

#middle-container .footer-image > img {
  width: 100%;
}

#middle-container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #3e3e3e;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #3e3e3e;
  padding: 35px 25px !important;
}

#middle-container .footer-brand-description {
  max-width: 500px;
}

.middle-content-boxes {
  align-items: stretch;
}

.middle-content-box {
  width: calc(50% - 26px);
  padding: 0 15px;
}

.footer-vertical-divider {
  width: 1px;
  border-right-style: dotted;
  border-right-width: 2px;
  border-color: #555555;
  margin: 0 25px;
}

.middle-content-box.sites {
  justify-content: space-between;
  align-items: flex-start;
}

.middle-content-box .box-item,
.middle-content-box .box-item span {
  width: 100%;
  text-align: left;
}

.middle-content-box .box-item.left {
  align-items: flex-start;
}

.middle-content-box .box-item .box-item-title {
  font-size: 24px;
  letter-spacing: 0.3px;
  font-weight: 600;
  margin-bottom: 10px;
}

.middle-content-box .box-item .box-item-title.small {
  font-size: 18px;
}

.middle-content-box .box-item .box-item-subtitle,
.middle-content-box .box-item .box-item-site {
  color: #b0b3b8;
}

.middle-content-box .box-item .box-item-site {
  margin-bottom: 5px;
  position: relative;
}

.middle-content-box .box-item .box-item-site:hover {
  color: hsl(214, 100%, 59%);
  cursor: pointer;
}

.middle-content-box .box-item .box-item-site:not(:last-child) {
  margin-bottom: 5px;
  padding: 0 0 2px;
  position: relative;
  font-size: 16px;
}

/* .middle-content-box .box-item .box-item-site .site-separator {
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  left: 0;
  top: 6.1px;
  position: absolute;
  border-color: #2ea3f2;
} */

.middle-content-box .input-box,
.middle-content-box .social-media-box {
  margin-top: 15px;
  justify-content: flex-start;
}

.middle-content-box .input-box input {
  margin: 0 5px 0 0;
  max-width: 300px;
  width: calc(100% - 200px);
}

.middle-content-box .social-media-item {
  width: calc(50% - 5px);
  max-width: 210px;
  height: 50px;
  color: white;
  background: #393939;
  border-style: solid;
  border-width: 1px;
  border-color: #3b3738;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.middle-content-box .social-media-item:first-child {
  margin-right: 10px;
}

.middle-content-box .social-media-item:hover {
  background-color: hsl(214, 100%, 59%);
}

.middle-content-box .social-media-item .social-media-icon {
  font-size: 25px;
  margin-right: 10px;
}

.middle-content-box .social-media-item .social-media-icon.big {
  font-size: 30px;
}

#page-footer .btn {
  color: white !important;
}

#page-footer .btn:hover {
  color: #ff5a92;
}

#page-footer
  #footer-container
  #superior-container
  #footer-button-container
  #btn-footer-contacto {
  width: fit-content;
  position: relative;
  bottom: -20px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.9);
  background: white;
  color: rgb(63, 63, 63);
  font-weight: 600;
}

#btn-footer-contacto:hover > span {
  color: aquamarine;
}

#footer-contact-location {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 20px;
}

#footer-contact-location span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

#footer-contact-location span > i {
  padding-right: 10px;
}

#footer-contact-location span > a {
  color: rgb(63, 63, 63);
  font-weight: 600;
  text-align: left;
}

#footer-contact-location span > a:hover {
  color: white;
  text-decoration: underline;
}

#footer-newsletter-input {
  color: white;
  border: 2px solid #3b3738;
  height: 2.5rem;
  padding: 10px;
  height: fit-content;
  margin-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #393939;
}

#footer-newsletter-btn {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.3px;
  height: fit-content;
  background: hsl(214, 100%, 59%) !important;
  padding: 3px 12px 3px 16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

#footer-newsletter-input:hover,
#footer-newsletter-input:active,
#footer-newsletter-input:focus {
  box-shadow: none !important;
}
