/* Media Queries */

@media only screen and (max-width: 672px) {
  #superior-container .container {
    flex-direction: column !important;
    align-items: center;
  }

  #superior-container .container .col .footer-image {
    width: 250px !important;
    margin: auto;
  }

  #superior-container .container .col img {
    position: relative;
  }

  .row .col.s5 {
    width: 100%;
  }

  .row .col.offset-s2 {
    margin-left: 0;
  }

  #middle-container .container {
    flex-direction: column !important;
    margin-bottom: 0;
  }

  #middle-container .container > .col:first-child {
    padding-bottom: 20px;
  }

  .row .col.s6 {
    width: 100%;
  }
}

/* General Styling */
#page-footer {
  color: white;
  z-index: 1;
}

#superior-container,
#middle-container,
#bottom-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#superior-container .container .col .footer-image {
  width: 200px;
}

#superior-container .container .col .footer-image > img {
  width: 100%;
}

#middle-container {
  border-top: 2px solid black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.164);
  padding: 50px 0 45px 0 !important;
}

#bottom-container {
  padding: 15px 0 !important;
}

#page-footer > div > div {
  padding: 25px 0;
}

#page-footer .btn {
  color: white !important;
}

#page-footer .btn:hover {
  color: #ff5a92;
}

#page-footer
  #footer-container
  #superior-container
  #footer-button-container
  #btn-footer-contacto {
  width: fit-content;
  position: relative;
  bottom: -20px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.9);
  background: white;
  color: rgb(63, 63, 63);
  font-weight: 600;
}

#btn-footer-contacto:hover > span {
  color: aquamarine;
}

#footer-contact-location {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 20px;
}

#footer-contact-location span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

#footer-contact-location span > i {
  padding-right: 10px;
}

#footer-contact-location span > a {
  color: rgb(63, 63, 63);
  font-weight: 600;
  text-align: left;
}

#footer-contact-location span > a:hover {
  color: white;
  text-decoration: underline;
}

#footer-newsletter-input {
  color: white;
  border: 2px solid #3b3738;
  height: 2.5rem;
  padding: 10px;
  height: fit-content;
  margin-right: 5px;
  border-radius: 5px;
}

#footer-newsletter-btn {
  height: fit-content;
  padding: 3px 12px 3px 16px;
}

#footer-newsletter-input:hover,
#footer-newsletter-input:active,
#footer-newsletter-input:focus {
  border: 2px solid #26aee4 !important;
  box-shadow: none !important;
}
