<footer id="page-footer" class="footer">
  <!-- Footer Links -->
  <div id="footer-container" class="text-center text-md-left">
    <div id="middle-container" class="grey darken-4">
      <div class="middle-content-boxes dfr">
        <div class="middle-content-box dfc">
          <div class="box-item dfc">
            <span class="box-item-title">Suscríbete a nuestro boletín</span>
            <span class="box-item-subtitle"
              >Noticias y actualizaciones sobre lo que estamos haciendo</span
            >
          </div>
          <form
            class="col s12 dfc w-full"
            ngNativeValidate
            [formGroup]="newsLetterForm"
            (ngSubmit)="suscribeToNewsLetter()"
          >
            <div class="box-item input-box dfr">
              <input
                id="footer-newsletter-input"
                name="emailSender"
                type="email"
                formControlName="emailSender"
                placeholder="Ingresa tu email"
                required
                email
              />
              <button
                id="footer-newsletter-btn"
                type="submit"
                class="waves-effect waves-light btn dfc"
              >
                <span>Suscribirme</span>
              </button>
            </div>
          </form>
          <div class="box-item social-media-box dfc">
            <div class="box-item-title small w-full">Contactanos</div>
            <span class="box-item-subtitle mb-10"
              >¿Tienes una duda? Contactanos directamente mediante:</span
            >
            <div class="dfr w-full">
              <div
                class="social-media-item dfr"
                (click)="
                  TawkService.SetChatVisibility(true);
                  TawkService.ExpandChatWindow(true)
                "
              >
                <div class="social-media-icon">
                  <i class="fas fa-comment"></i>
                </div>
                <span>Chat en Tiempo Real</span>
              </div>
              <div
                class="social-media-item dfr"
                (click)="_utilitiesS.openWhatsApp()"
              >
                <div class="social-media-icon big">
                  <i class="fab fa-whatsapp"></i>
                </div>
                <span>WhatsApp</span>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-vertical-divider"></div>
        <div class="middle-content-box sites dfr">
          <div class="box-item left dfc">
            <div class="box-item-title small">Áreas de práctica</div>
            <div
              *ngFor="let practiceArea of practiceAreasList"
              class="box-item-site"
            >
              <div class="site-separator"></div>
              <span (click)="goToAreaDetail(practiceArea._id)">{{
                practiceArea.name
              }}</span>
            </div>
          </div>
          <div class="box-item left dfc">
            <div class="box-item-title small">Legal</div>
            <div class="box-item-site">
              <div class="site-separator"></div>
              <span>Términos de servicio</span>
            </div>
            <div class="box-item-site">
              <div class="site-separator"></div>
              <span>Aviso de Privacidad</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container grey darken-4 main-footer dfc">
      <div class="container dfr">
        <span>
          © 2020 - 2021
          <span class="footer-author"> Haizen</span>
          All rights reserved.
        </span>
        <span class="hide-on-small-only">
          Web Design by
          <span class="footer-author">Armando Lara</span>
        </span>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
