<!-- Modal Structure -->
<div mat-dialog-title class="modal-header admin-modal-header dfc">
  <div class="modal-icon dfc">
    <i class="material-icons">contact_mail</i>
  </div>
  <span>
    <span class="client-action">{{ this.userModalTitle }}</span>
    {{ this._usersS.user.role === "ADMIN" ? "Usuario" : "Cliente" }}
  </span>
  <i
    mat-dialog-close
    class="modal-exit material-icons transparent-bg waves-effect waves-light dfr"
    >close</i
  >
</div>

<mat-dialog-content class="mat-typography admin-modal-container">
  <!-- Modal Content -->
  <div
    class="modal-content admin-modal-content"
    [attr.data-saving]="
      this._cloudinaryS.uploader?.isUploading ? 'true' : 'false'
    "
  >
    <div class="row">
      <form
        id="formUsers"
        class="col s12"
        style="padding: 0 30px; height: 100%"
        ngNativeValidate
        [formGroup]="form"
      >
        <!-- Inputs Container -->
        <div class="inputs-container">
          <!-- Select / Change Post Image Trigger -->
          <div
            class="profile-image-field mb-10 w-full dfr"
            (click)="userImg.click()"
          >
            <div class="profile-image-description dfc">
              <span class="profile-image-title">Imágen del usuario</span>
              <span class="profile-image-subtitle"
                >{{
                  this.userModalTitle === "Crear" ? "Seleccionar" : "Actualizar"
                }}
                imagen del usuario</span
              >
            </div>
            <div class="profile-image dfc">
              <div class="profile-image-wrapper centered-img-bg">
                <img [src]="this._cloudinaryS.image | img: 'user'" />
                <i class="material-icons">camera_alt</i>
              </div>
            </div>
            <input
              #userImg
              type="file"
              ng2FileSelect
              [uploader]="this._cloudinaryS.uploader"
              style="display: none"
              accept="image/*"
            />
          </div>
          <!-- Email Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="email"
              formControlName="email"
              type="email"
              placeholder=" "
              required
              (ngModelChange)="this.userEmail.next($event)"
              email
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Email*
            </div>
          </div>
          <div
            class="emailError"
            [ngStyle]="errorEmail ? { height: '23px' } : ''"
          >
            <div
              *ngIf="errorEmail && this.form.value._id === null"
              style="margin-top: 5px"
            >
              El email ya esta en uso
            </div>
          </div>
          <!-- First Name Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="firstName"
              formControlName="firstName"
              type="text"
              placeholder=" "
              required
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Nombre(s)*
            </div>
          </div>
          <!-- Last Name Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="lastName"
              formControlName="lastName"
              type="text"
              placeholder=" "
              required
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Apellido*
            </div>
          </div>
          <!-- CellPhone Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="cellPhone"
              formControlName="cellPhone"
              type="tel"
              placeholder=" "
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Teléfono
            </div>
          </div>
          <!-- Address Input Field -->
          <div class="modal-input modal-input-pink">
            <input
              name="address"
              formControlName="address"
              type="text"
              placeholder=" "
              autocomplete="new-password"
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Domicilio
            </div>
          </div>
          <!-- Password Input Field -->
          <div
            *ngIf="this.data.action === 'Crear'"
            id="userPassInput"
            class="modal-input modal-input-pink"
          >
            <input
              id="userPassword"
              name="password"
              formControlName="password1"
              type="password"
              placeholder=" "
              autocomplete="new-password"
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Contraseña*
            </div>
          </div>
          <!-- At Least 9 Characters Error Message -->
          <div
            [ngStyle]="
              this.form.get('password1').errors?.minlength
                ? { height: '23px', margin: '-5px 0px 5px' }
                : ''
            "
            class="form-control-feedback"
          >
            Por lo menos 9 caracteres
          </div>
          <!-- Password2 Input Field -->
          <div
            *ngIf="this.data.action === 'Crear'"
            id="userPassInput2"
            class="modal-input modal-input-pink"
          >
            <input
              id="userPassword2"
              name="password2"
              formControlName="password2"
              type="password"
              placeholder=" "
            />
            <div class="modal-input-placeholder modal-input-placeholder-pink">
              Repetir la Contraseña*
            </div>
          </div>
          <!-- Password Not Equal -->
          <div
            *ngIf="this.form.get('password2').errors?.notEqual"
            class="form-control-feedback"
          >
            Las contraseñas deben ser iguales
          </div>
          <!-- Rol Select -->
          <div
            *ngIf="_usersS.user.role === 'ADMIN'"
            class="modal-input modal-input-pink"
          >
            <mat-form-field>
              <mat-select
                name="role"
                formControlName="role"
                disableOptionCentering
              >
                <mat-option *ngFor="let role of roleList" [value]="role.value">
                  {{ role.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <!-- Progress Bar Container -->
    <div
      *ngIf="isUserSaving && !isUserSaved"
      class="upload-progress-container inner-progress dfc"
    >
      <div class="upload-progress-title dfr w-full">
        <span>{{
          userModalTitle === "Editar" ? "Guardando Cambios" : "Creando Usuario"
        }}</span>
      </div>
      <!-- Loading Preview Icon -->
      <div
        class="loading-preview"
        [attr.data-loaded]="isUserSaved ? 'true' : 'false'"
      >
        <mat-spinner class="loading-preview-spinner" strokeWidth="8">
        </mat-spinner>
        <div class="loading-preview-img centered-img-bg">
          <img src="../../../assets/images/brand.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer modal-actions admin-modal-footer">
    <ng-container>
      <div class="modal-actions-container dfr">
        <div class="modal-actions-content">
          <button
            type="button"
            [class.button-disabled]="isUserSaving"
            class="mwaves-effect waves-light btn modal-close-action"
            mat-dialog-close
            (click)="clearImg()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            [class.button-disabled]="
              !form.valid || errorEmail === true || isUserSaving
            "
            class="waves-effect waves-light btn modal-submit-action"
            (click)="create()"
          >
            Guardar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
