<div
  id="modal-Articulo"
  class="modal border-radius-6 modal-fixed-footer"
  style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);"
>
  <!--Modal Fixed Header-->
  <div class="modal-header dfc">
    <div class="modal-icon dfc">
      <i class="material-icons">import_contacts</i>
    </div>
    <span><span class="article-action">Crear</span> Articulo</span>
    <i
      class="modal-close modal-exit material-icons pink accent-2 waves-effect waves-light dfr"
      >close</i
    >
  </div>

  <div class="modal-content">
    <div class="row" style="margin: 20px 0 0 0; height: calc(100% - 20px);">
      <form
        id="formArticulos"
        class="col s12"
        style="padding: 0 30px; height: 100%;"
        ngNativeValidate
        [formGroup]="form"
        (ngSubmit)="crear()"
      >
        <!-- Inputs Container -->
        <div class="inputs-container">
          <div class="dfr">
            <div class="article-img">
              <img src="../../../assets/images/New_image.jpg" />
            </div>
            <div class="dfc" style="width: 100%;">
              <div class="modal-input modal-input-pink">
                <input
                  id="title"
                  name="title"
                  formControlName="title"
                  [(ngModel)]="titleLabel"
                  type="text"
                  required
                />
                <div
                  class="modal-input-placeholder modal-input-placeholder-pink"
                  [class.modal-input-focused]="titleLabel"
                >
                  Titulo*
                </div>
              </div>
              <div class="modal-input modal-input-pink">
                <input
                  id="author"
                  name="author"
                  formControlName="author"
                  [(ngModel)]="authorLabel"
                  type="text"
                  required
                />
                <div
                  class="modal-input-placeholder modal-input-placeholder-pink"
                  [class.modal-input-focused]="authorLabel"
                >
                  Autor*
                </div>
              </div>
            </div>
          </div>

          <angular-editor
            name="content"
            formControlName="content"
            (viewMode)="(true)"
            [config]="editorConfig"
            class="articuloEditor"
            required
          ></angular-editor>
        </div>
        <div class="modal-actions">
          <button
            type="button"
            class="modal-close waves-effect waves-light btn modal-close-action"
          >
            Cancelar
          </button>
          <button
            id="contact-submit-button"
            type="submit"
            class="waves-effect waves-light btn modal-submit-action"
            [class.button-disabled]="!form.valid"
          >
            <span class="article-action">Crear</span> articulo
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
