// -------------------------------------------------- //
//               ADMIN VIEW DARK THEME                //
// -------------------------------------------------- //

// Backgrounds
$dark-smoke-bg: #181818 !default;
$light-dark-bg: #909090 !default;
$medium-dark-bg: #212121 !default;
$dark-bg: #121212 !default;
$dark-bg-odd: rgba(99, 99, 99, 0.13) !default;

// Text Color
$white-color: #ffffff !default;
$light-gray: #909090 !default;
$medium-gray: #80868b !default;
$dark-disabled-button-color: #aaa !default;

// Borders
$medium-dark-border: 1px solid #212121 !default;
$dark-border: 1px solid #303030 !default;
$dark-bottom-border: 1px solid #3e3e3e !default;

// Box Shadow
$dark-box-shadow: 0 0 4px 2px #3030304d !default;

// Divider
$dark-divider: #444444 !default;

// Hover / Active Backgorunds
$light-dark-bg-hover: rgba(255, 255, 255, 0.1) !default;
$medium-dark-bg-hover: #393939 !default;
$dark-bg-odd-hover: rgba(214, 214, 214, 0.1) !default;

// Disabled Buttons
$dark-disabled-button-bg: rgba(255, 255, 255, 0.1) !default;
